[2016-11-03 23:38] adg opened #10 "Implement "init""
In stages:

- [x] write an empty manifest
- [x] analyze deps, and write them to manifest

[2016-11-30 05:12] sdboyer opened #15 "Sort information in lock and manifest before output"
There are three basic approaches to dealing with output order of information in config files like our manifest and lock, I think:

1. Just sort it, all, always
2. Ignore order, and let the maps we use internally wreak havoc on diffs
3. Try to split the difference by sometimes sorting and sometimes trying to preserve user input

2 is just obviously a non-starter. 1 can be frustrating; people don't

[2016-12-01 14:50] sdboyer opened #19 "Introduce a transactional, "safe group writer""
There are three basic things that dep writes to disk:

1. Manifest
2. Lock
3. Dep source code (i.e. `vendor`)

One component of correct operation of the tool is keeping these three states in sync. Or, at minimum, not letting them go out of sync unintentionally. That basically entails taking a transaction-style approach to state changes:

1. If writing one of the states to disk, the existing state

[2016-12-02 04:42] sdboyer opened #20 "Replace isStdLib() stub"
In #18, we introduced an `isStdLib()` stub method and hardcoded what we needed into it. This is something that gps really should be addressing, though, so I opened sdboyer/gps#113. Once that's done, we can scrap our stub and rely on gps.

[2016-12-02 04:49] sdboyer opened #21 "Replace versionInWorkspace() stub"
In #18, we introduced a `versionInWorkspace()` stub function that is supposed to inspect a GOPATH workspace and determine the version of a provided project root. Right now, we've just hardcoded versions for the dep tool's own external deps, but this needs to be actually addressed.

@freeformz said he might be able to take a stab at this, so I'm assigning him.

[2016-12-02 04:56] sdboyer opened #22 "Start handling gps solve failures"
#18 introduces our first gps solve run, which means it's also our first exposure to solve failures. There's a whole menagerie of possibilities there. It's a big enough problem that I've barely even put up issues about it - just sdboyer/gps#20.

I've not invested a ton of time really making errors great in gps so far primarily because it's just hard to do so without a) other people and b) a real to

[2016-12-02 05:03] sdboyer opened #23 "Implement the analyzer's DeriveManifestAndLock()"
To start actually dealing properly with transitive deps, we have to implement our analyzer's DeriveManifestAndLock method. Should be quite simple, at least for now - we check for our manifest and optionally a lock (if we want to use [preferred versions](https://github.com/sdboyer/gps/wiki/gps-for-Implementors#preferred-versions)), in the provided directory, load them up if found, and return them.

[2016-12-03 00:07] sdboyer opened #25 "Names"
`dep` works for now. But do we want to stick with it?

This is, of course, the bikesheddiest of bikesheds. I'm planting it here early so we can let it percolate in the background, rather than trying to go at it full tilt later.

[2016-12-03 00:19] sdboyer opened #26 "Move to the format we actually intend for the manifest and lock"
I _think_ there's general agreement among us four that JSON is not what we want to use. I know that @freeformz and I both lean TOML. But we're gonna have to do this, and probably sooner rather than later.

Unfortunately, there's a wrinkle: one of the major arguments for using YAML or TOML over JSON is that both of those formats support comments, and JSON does not. However, neither `BurntSushi/toml

[2016-12-03 00:24] #20 closed, assigned to nobody

[2016-12-05 21:28] #15 closed, assigned to nobody

[2016-12-05 23:16] jessfraz opened #30 "There are a bunch of functions with ProjectRoot"
...But they all have different purposes and kind of have a different definition of "project root"

[2016-12-06 01:29] #30 closed, assigned to nobody

[2016-12-06 02:17] #21 closed, assigned to freeformz

[2016-12-07 04:06] sdboyer opened #35 "Implement "ensure""
not much to say here rn but it's happening already in #34

[2016-12-09 01:13] #23 closed, assigned to nobody

[2016-12-09 18:07] #10 closed, assigned to nobody

[2016-12-09 19:36] jessfraz opened #36 "ensure: handle if dep is unused?"
I kinda like the behavior now but we should decide on it.

if you run dep ensure now with a dep you are not currently using it will add it to the manifest but not the lock.

After you've added your code using the dep, you can rerun dep ensure and it will be in the lock as well.

I personally like this because i like to checkout packages locally before starting coding for goimports and code complet

[2016-12-09 19:40] jessfraz opened #38 "ensure: custom logger for solve"
something pretty with maybe levels

[2016-12-09 19:44] jessfraz opened #39 "ensure: handle when no version is passed"
right now it will either error or fall through to god knows what, so we should handle it as the default branch which might not be master

[2016-12-09 19:47] jessfraz opened #40 "ensure: add --override"

[2016-12-09 19:53] jessfraz opened #41 "tests: better coverage across the board"
- [ ] add integration tests ensuring all the behavior we have outlined in the design spec
- [ ] better unit test coverage

Adding the good-first-pr label, because test could be added for any function, big or small, we also have a framework for integration testing where you could easily copy paste another test and change some things to test something else.

Here is an example of an integration test

[2016-12-09 19:54] jessfraz opened #42 "add rm"

[2016-12-14 00:10] #40 closed, assigned to nobody

[2016-12-15 01:23] #35 closed, assigned to nobody

[2016-12-15 04:55] sdboyer opened #47 "TestInit depends on golang.org/x/sys not moving"
The expected lock contains the hash of the tip of `master`, `478fcf54317e52ab69f40bb4c7a1520288d7f7ea`. Or rather, what WAS the tip of master, until 10 hours ago.

We either need to rely on something else that we can guarantee won't move, or look up the current tip of `golang.org/x/sys` in the test and use that in the lock.

[2016-12-16 21:50] jessfraz opened #50 "tests: repos we can eventually test on"
These are some of my small ones we can try before attacking something like k8s ;)
they all currently use gvt

- [ ] apk-file: https://github.com/jessfraz/apk-file
- [ ] audit: https://github.com/jessfraz/audit
- [ ] bane: https://github.com/jessfraz/bane
- [ ] battery: https://github.com/jessfraz/battery
- [ ] binctr: https://github.com/jessfraz/binctr
- [ ] certok: https://github.com/jessfraz/cer

[2016-12-16 22:39] jessfraz opened #52 "dep -v causes a panic"
I'm going to fix this I'm just reminding myself in case I get distracted in the next ten minutes.

[code]

[2016-12-17 00:06] #47 closed, assigned to nobody

[2016-12-17 03:22] #52 closed, assigned to nobody

[2016-12-21 00:42] sdboyer opened #57 "TODOs before we open up"
Just opening a meta-issue where we can drop in things that we need to do before opening this up to the public. Everyone please feel free to edit

- [ ] Write a README
- [ ] Clear guidelines for use - e.g., "please don't commit code using this yet, manifest format may still change."
- [ ] Guidelines for giving feedback
- [ ] Write up issues for major areas that we feel others could reasonably jump

[2016-12-21 00:43] #39 closed, assigned to nobody

[2016-12-23 04:56] sdboyer opened #59 "tests: stop wiping memo"
Gotta do it sooner or later, preferably sooner

[2016-12-27 11:09] peterbourgon opened #61 "Feedback: make help output consistent and pithy"
This is based on my first run with the tool. Here is what I propose...

- Refactor `dep -h`, `dep help` slightly
- Make `dep init -h` work the same as `dep help init`
- Refactor and shorten `dep help init` significantly
- Implement `dep status -h` to work the same as `dep help status`
- Refactor and shorten `dep help status` significantly
- Refactor and shorten `dep help ensure` significantly
- Mo

[2016-12-27 11:20] peterbourgon opened #62 "Feedback: init and status should provide some user feedback"
This is based on my first run with the tool. I propose that `dep init` and `dep status` should give some kind of immediate feedback to the user, to indicate they're going out to the network and the operation may take a little time. At the moment I don't have much confidence in what's going on.

What do we think? Should this be hidden behind a `-v` flag?

[2016-12-27 11:22] peterbourgon opened #63 "Feedback: dep ensure output creeps to the right"
This is based on my first run with the tool. Running `dep ensure` would make this funny tree/waterfall thing in ASCII.

[code]

I guess it shouldn't do that.

[2016-12-27 11:24] peterbourgon opened #64 "Feedback: make sure terminal output doesn't exceed some width"
This is based on my first run with the tool. Some commands can dump output that stretches arbitrarily wide across the terminal. Even though I had fullscreen on a 27" monitor with a small font, it was wrapping. Not good. We should ensure that doesn't happen, either by having some kind of max-width formatting terminal output writer (tricky; would involve word wrap logic, etc.) — or by being more car

[2016-12-27 11:27] peterbourgon opened #65 "always prune unused packages"
This is a question from my first run with the tool. I imported package A, which lives in repo R. Repo R also contains package B, which I don't use. Should/could `dep` prune B?

[2016-12-27 11:30] peterbourgon opened #66 "Feedback: dep ensure must not fail catastrophically if operations time out"
This is feedback from my first run with the tool. It happens very often that github.com will start timing out https operations if I make a bunch of them in a row. And `dep ensure` makes a bunch of them in a row. When the timeouts start happening, it basically corrupts and kills the entire `ensure` run, which could invalidate many seconds/minutes worth of work, which is very frustrating.

Just thro

[2016-12-27 11:37] peterbourgon opened #67 "Question: does ensure need to reach out to the network as much as it does?"
This is feedback based on my first run with the tool. I was surprised that ensure seemed to always re/query each dep's source of truth, and re/solve the entire graph, even if I was just updating a single dep. It led to significant frustration due to mismatched expectations. Is this necessary? Can it be improved with e.g. a local cache?

[2016-12-27 11:39] peterbourgon opened #68 "Feedback: dep status headers should be CAPITALIZED"
Really simple one, instead of

[code]

it should be

[code]

in the grand tradition. If there's consensus I'm happy to do this.

[2016-12-29 03:26] #63 closed, assigned to nobody

[2016-12-29 17:52] sdboyer opened #69 "Write a README"
because READMEs

[2016-12-29 17:52] sdboyer opened #70 "docs: write usage guidelines"
Write up some clear guidelines for initial use - e.g., "please don't commit code using this yet, manifest format may still change."

[2016-12-29 17:53] sdboyer opened #71 "docs: write feedback guidelines"
Maybe it's a CONTRIBUTING.md, or maybe it's something else, but we should outline what kind of feedback we're looking for, and how we're looking to get it, before we open up.

[2016-12-29 17:56] sdboyer opened #72 "Issue writeups"
To facilitate contributions, and minimize frustration and duplication, we should do writeups of major known/planned issues, and make judicious application of the "help wanted" label.

[2016-12-29 17:58] sdboyer opened #73 "Make the help text not suck"
Help text is currently fairly awful, as it was really just copied out from the spec doc. It needs to be made proper before we open up.

[2016-12-29 18:02] sdboyer opened #74 "ensure: don't panic when no version spec is provided"
ensure panics right now if the user doesn't provide a version specifier, e.g.:

[code]

panic currently occurs in manifest.go:155

[2016-12-29 18:02] #57 closed, assigned to nobody

[2016-12-29 19:07] #61 closed, assigned to nobody

[2016-12-30 14:23] #68 closed, assigned to nobody

[2016-12-30 15:49] peterbourgon opened #77 "depcache usability concerns"
These are just some things I noticed, they should probably be folded into a larger ticket to refactor the depcache.

- Default directory $HOME/depcache is no good; you probably want $HOME/.config/dep/cache
- Ctrl-C during an init (for example) leaves a stale sm.lock; that should be cleaned up

[2017-01-04 00:53] #74 closed, assigned to sdboyer

[2017-01-04 16:32] #73 closed, assigned to peterbourgon

[2017-01-05 01:19] #19 closed, assigned to nobody

[2017-01-05 02:36] sdboyer opened #82 "Handle failures better in txn writer"
Right now, the "safe" writer pretty much just drops errors made when attempting to rollback on the floor, but keeps on trying anyway. Quoting @freeformz in #60:

This definitely makes a lot of sense. One possible avenue for improvement in the current implementation would be to look for errors on rollback attempts, and if we encounter some, stop further rollback attempts and just dump a bunch of in

[2017-01-05 02:47] sdboyer opened #83 "Implement "update" behavior"
There's no way, at present, for users to update deps within existing constraints, at all. That includes both updating all deps, and updating just specific individual deps. The spec doc includes this functionality under `ensure`, and has this to say:

For updating all deps at once:
[code]

For updating just targeted deps:
[code]

I actually asked @peterbourgon to basically cut these out of the impr

[2017-01-10 01:26] freeformz opened #88 "dep: Lock comparison check issues"
locksAreEquivalent compares the two Memo fields of the locks, but AFAICT both new and old locks that we pass in have the same memo, when they should have been different (in the case of an `ensure -update` on dep itself ATM). I suspect gps is creating a memo for the existing lock file, not the new one because a new vendor is not as of yet written out.

[2017-01-11 03:37] sdboyer opened #90 "CONTRIBUTING.md says use Gerrit"
The CONTRIBUTING.md says we use Gerrit, but we clearly don't.

We should either update that file prior to opening up, or actually switch to Gerrit.

[2017-01-13 00:40] #77 closed, assigned to nobody

[2017-01-13 01:32] #25 closed, assigned to nobody

[2017-01-13 18:50] jessfraz opened #91 "CI"
I'll be working on this for going public and supporting multi-arch

- [x] Linux (Travis) #92
- [x] OSX #96
- [x] Windows #95, #103, #104
- [ ] ARM?

[2017-01-13 19:39] jessfraz opened #93 "we need a CLA bot"
I will look at how to set this up internally

[2017-01-13 20:43] #93 closed, assigned to jessfraz

[2017-01-14 01:20] #90 closed, assigned to peterbourgon

[2017-01-17 13:15] peterbourgon opened #100 "ensure: without args, should create+populate the vendor folder"
1. Have repo without manifest, lock, or vendor folder
2. `dep init`
3. `dep ensure`

What I expected: the vendor folder populated with the deps listed in the lock file.

What happened instead: the repo was solved, but no vendor folder was created.

[2017-01-17 18:36] jessfraz opened #101 "ci: test if people update vendor"
This is what a lot of projects would need as well and we should test it on our project as well:

- use ci to test if changes to vendor appropriately update the manifest and lock & vice versa

[2017-01-17 19:31] jessfraz opened #103 "Panic `TestInit()` windows"
see https://github.com/sdboyer/gps/issues/146

related: https://github.com/golang/hoard/pull/96

happening on solve when packages are nested in root project:

[code]

[2017-01-17 19:42] #91 closed, assigned to jessfraz

[2017-01-17 22:58] #42 closed, assigned to nobody

[2017-01-17 23:04] #69 closed, assigned to peterbourgon

[2017-01-17 23:05] #83 closed, assigned to nobody

[2017-01-18 22:39] jessfraz opened #109 "status on freshly cloned repo does nothing"
running status without first running ensure on this repo, freshly cloned returns nothing

[2017-01-18 23:12] jessfraz opened #110 "converting k8s and testing"
Here is how I'm testing it, right now k8s uses `godep` so I did this:

[code]
now we wait

[2017-01-19 00:19] #59 closed, assigned to nobody

[2017-01-19 00:27] #100 closed, assigned to nobody

[2017-01-19 01:42] adg opened #114 "gps doesn't handle directories with multiple packages"
A common idiom for packages with generated code is to include a file named something like `gen.go` that contains

[code]

These are then invoked with `go generate`. When doing a `gps.ListPackages`, the analysis of that package will fail with a `*build.MultiplePackageError`.

We need to be able to handle this. Should `build ignore` be handled specially?

[2017-01-19 19:36] jessfraz opened #115 "big projects have a tendency to be rate limited by github"
unsure how to fix this....

[2017-01-19 20:21] #101 closed, assigned to nobody

[2017-01-20 00:21] jessfraz opened #116 "docker/docker: panic"
running init on docker/docker after nuking vendor gives:

[code]

[2017-01-23 17:44] sdboyer opened #119 "Move to TOML for manifest and lock"
**DECISION IS MADE** - we'll be using TOML.

---

At the time dep went public, the committee was generally in agreement that we would prefer to use TOML or YAML over JSON for the manifest and lock files. There are a few reasons for this, but the primary one is that those formats, unlike JSON, allow users to include arbitrary comments. Because the manifest is the locus of dependency decisionmaking

[2017-01-23 17:44] #26 closed, assigned to nobody

[2017-01-23 17:58] sdboyer opened #120 "Vendor pruning"
*NB: keep in mind that the we see `vendor/` as a temporary solution, and expect to eventually move to some newer, better version of GOPATH that largely obviates the need for it.*

Currently, dep naively copies dependent repositories into `vendor/` in their entirety. This may produce a `vendor/` directory with a lot of unnecessary files, and many projects relying on existing community tools use som

[2017-01-23 17:59] sdboyer opened #121 "vendor/ verification"
dep needs a way of verifying that the contents of `vendor/` are what's expected. This serves three purposes:

1. **Performance:** without a verification mechanism, the only safe choice dep can make is to drop and recreate vendor in its entirety on every operation. This is wasteful and slow; any operation that avoids unnecessary disk writes to determine if vendor *needs* updating will be faster, an

[2017-01-23 19:45] #110 closed, assigned to nobody

[2017-01-23 23:12] #50 closed, assigned to nobody

[2017-01-24 01:32] #72 closed, assigned to sdboyer

[2017-01-24 12:32] #71 closed, assigned to peterbourgon

[2017-01-24 12:32] #70 closed, assigned to peterbourgon

[2017-01-24 16:39] kevinburke commented on #119
Funny, I wrote about this recently - this is out of left field, but the only Go parsers I found that preserved comments were for HCL and Go source files themselves, and they are about equally difficult to work with. https://kev.inburke.com/kevin/more-comment-preserving-configuration-parsers/

Here's a parser that finds a version number in a Go source file and bumps it: https://github.com/shyp/bump

[2017-01-24 16:44] #116 closed

[2017-01-24 16:45] rogpeppe opened #125 "dep --help doesn't work if not in GOPATH"
$ dep --help
    project not in a GOPATH$

It should be possible to get help whereever the command is run from.
(also the error should print a newline)

[2017-01-24 16:48] rogpeppe opened #126 "fix gopkg path parsing"
dep does not correctly understand the valid gopkg.in path "gopkg.in/juju/charm.v6-unstable".

It prints:

    	% dep init
	sm.DeduceProjectRoot: could not parse "6-unstable" as a gopkg.in major version

[2017-01-24 16:48] calebthompson commented on #121
I've tackled some verification of binaries in the past for a tool I built using GPG and SHA256: https://github.com/thoughtbot/ftree/tree/master/dist#verifying

[2017-01-24 16:51] nathany commented on #119
There is also [JSON5](http://json5.org/), which does allow comments, though I don't think it's anywhere near a standard.

Though I prefer the readability of TOML > YAML > JSON, another consideration is the licensing and CLA if `dep` is later incorporated into the `go` toolchain. As far as I understand, the TOML or YAML libraries would need to be contributed under the Google CLA or rewritten (with

[2017-01-24 16:54] sdboyer commented on #121
@calebthompson Thanks for the link! I'll have a look through your stuff as soon as I can. Quickly, though - our goal here is verifying a source tree, not the compiled binary (maybe that matters, maybe it doesn't). I suspect we also have some thinking to do about what we're verifying *against*.

[2017-01-24 17:00] kevinburke commented on #119
I'll just put this out there: I'm available for hire as a contractor, and would love to work on a CLA-compliant, Go TOML parser that can preserve comments and allow AST manipulation, if anyone's interested. https://burke.services

[2017-01-24 17:01] calebthompson commented on #121
Definitely. We could pipe the entire tree into either tool to generate the signatures.

[code]

[2017-01-24 17:08] andrew commented on #119
+1 for a non-executable format for manifest+lockfile, this will allow third party services (like https://libraries.io) to analyse the dependencies without needing to execute arbitrary code download from the internet.

Also YAML is basically a superset of JSON, so you could mix and match, but just because you can doesn't mean you should,

Aside from that, allowing comments to explain _why_ you swit

[2017-01-24 17:09] LK4D4 opened #128 "dep fails if there is directories in repo for which I have no permissions for"
The error looks like:
[code]

[2017-01-24 17:15] sdboyer commented on #128
Hm, yeah, I suppose there's not much we can do here. Better to just make it transparently ignore such directories.

The fix for this is going to be entirely over in gps (sdboyer/gps#154)

[2017-01-24 17:18] LK4D4 commented on #128
@sdboyer yeah, ignore would be ok(with warning).
Thanks!

[2017-01-24 17:20] LK4D4 opened #129 "dep fails to init docker"
[code]
[code]
I've removed vendor dir before doing init :)

[2017-01-24 17:23] calmh opened #131 "Feedback: things take a long time"
I've been playing with this for literally less than ten minutes, so take this with a huge grain of salt. And please temper any criticism with a background of YAY THIS IS HAPPENING I'M SO EXCITED!

The first thing that strikes me when trying it out is "wow, this is slow". I suspect this is because there are a lot of network operations, and there is perhaps limited or no caching yet? I'm on a fast f

[2017-01-24 17:41] sdboyer commented on #126
Ahh, yeah. This is entirely a gps thing - see referenced issue.

[2017-01-24 17:51] sdboyer commented on #131
🎉 🎉 🎉 🎉 🎉 🎉 🎉

totally, got it :) thanks for the feedback!!

Yep, and this is a one-time cost (unless you flush out the cache dir) - basically unavoidable.

Only two things that should be happening there are, yes, getting the latest version info for all your deps, and

In general, we have a LOT of headroom for performance improvements. Some more details in #67, but we're moving towards some cachin

[2017-01-24 17:52] jpudney commented on #115
Composer (PHP) get's around this by requesting that the user enters their GitHub credentials or [generate an oauth token](https://getcomposer.org/doc/articles/troubleshooting.md#api-rate-limit-and-oauth-tokens) which is then stored on the system.

[2017-01-24 17:57] sdboyer commented on #128
Warnings are a tricky with this, as the work here is done by gps, and we can't print directly from the library. I've added it to the running list I have, though - sdboyer/gps#77

[2017-01-24 17:59] jessfraz commented on #129
I have another issue for this and tried again after a merge of a fix this
morning and it worked

On Tue, Jan 24, 2017, 09:20 Alexander Morozov <notifications@github.com>
wrote:

[2017-01-24 18:00] jessfraz commented on #129
https://github.com/golang/dep/issues/116

[2017-01-24 18:01] jessfraz commented on #129
I wonder if this is hitting the rate limiting problem and just had it all locally

[2017-01-24 18:01] sdboyer commented on #115
@jpudney yeah, i suspect something like that is probably going to be the path of least resistance.

[2017-01-24 18:03] jessfraz commented on #129
If you try with -v it will give more output but will try again when I get
to the office

On Tue, Jan 24, 2017, 10:02 Jess Frazelle <notifications@github.com> wrote:

[2017-01-24 18:04] sdboyer commented on #129
[code]

Errors like this are vaguely familiar to me - protobuf generated code. I don't have an immediate solution, but this was the original root problem in the solve, and doesn't look like it would have been caused by API rate limiting. That package just wasn't there in master.

[2017-01-24 18:14] LK4D4 commented on #129
@sdboyer It looks like it's in master though
https://github.com/gogo/protobuf/tree/master/types

[2017-01-24 18:17] sdboyer commented on #129
Indeed, and since Aug 26. Might be a bug, then. Curious...did @jessfraz suggestions help? If not, did you have `github.com/gogo/protobuf` on your GOPATH when you ran `dep init`? If so, what branch/rev was it at?

[2017-01-24 18:19] LK4D4 commented on #129
On second run I've encountered another error:
[code]
Both packages are exist at the master of distribution.
I wonder if there is way to specify versions first and then vendor them.
I have `github.com/gogo/protobuf`in GOPATH indeed and it has `74b6e9deaff6ba6da1389ec97351d337f0d08b06` revision where there is no `types` package. On other side it's quite weird to depend on any package in GOPATH for `

[2017-01-24 18:21] jessfraz commented on #125
seems like a fun one for a new contributor :)

[2017-01-24 18:23] jessfraz commented on #103
this is fixed

[2017-01-24 18:23] #103 closed

[2017-01-24 18:24] jessfraz commented on #129
yeah ok when the errors change like that, in the past for me it means rate limiting :(

[2017-01-24 18:25] LK4D4 commented on #129
@jessfraz Cool. So, we need ratelimit in tool and better error reporting :)

[2017-01-24 18:28] jessfraz commented on #109
this worked the last time I tried it so idk what changed to fix it but closing

[2017-01-24 18:28] #109 closed

[2017-01-24 18:28] sdboyer commented on #129
This is one of the issues I need to write up - yes, we've discussed and would like to add some different init modes, rather than just inferring from GOPATH.

Depends on your perspective :) In the simple/vanilla Go user case that still just uses GOPATH, it's certainly the right approach. For people who use a tool, something else is needed. Which is what those different import modes is about.

If yo

[2017-01-24 18:30] sdboyer commented on #129
yep! ratelimit over at #115; error reporting in #22 as a placeholder, and I'm writing a bigger issue about it, too.

[2017-01-24 18:31] jessfraz commented on #41
adding the good first pr label, because test could be added for any function, big or small, we also have a framework for integration testing where you could easily copy paste another test and change some things to test something else

[2017-01-24 18:31] jessfraz commented on #41
here is an example of an integration test: https://github.com/golang/dep/blob/master/remove_test.go#L9

[2017-01-24 18:31] LK4D4 commented on #129
[code]
Heh, it's not really a cool option. I can try in empty gopath instead.

[2017-01-24 18:32] LK4D4 commented on #129
I'm closing this as dupe of #115 to reduce noise.

[2017-01-24 18:32] #129 closed

[2017-01-24 18:32] sdboyer commented on #129
Totally fair - state mutation in GOPATH is never really an option. It's why we're in this mess! :)

That should do it!

[2017-01-24 18:35] jessfraz commented on #41
if you want to write a test, just write here what you wish to test so no one takes the same one :)

[2017-01-24 18:36] kris-nova commented on #125
Can I try to take a stab at this? Would like to get a PR in to learn the process, but have been waiting on something with a smaller scope for my first one.

[2017-01-24 18:41] jessfraz commented on #125
yes! please!

On Tue, Jan 24, 2017 at 10:36 AM Kris Nova <notifications@github.com> wrote:

[2017-01-24 18:42] kevinburke opened #133 "add a Makefile?"
The test tool people might be used to running (`go test ./...`) both iterates over the `vendor` directory and is slow (98 seconds on my machine).

maybe we could add some targets for e.g. `make test`, `make race-test`, `make unit`, `make vet` to tell people how to run the tests in various circumstances? Also could use those targets in the `.travis.yml` file.

[2017-01-24 18:44] jessfraz commented on #133
hahha I tried this: https://github.com/golang/dep/pull/51

but to be honest the go team seems to be pretty against makefiles and running tests is as easy as `go test` w no args same goes for `install` and `build` so i dont really see an issue

[2017-01-24 18:45] kevinburke commented on #133
ok

[2017-01-24 18:45] #133 closed

[2017-01-24 18:51] jessfraz commented on #125
for some context on what the problem may be, I think this is calling `newContext()` before displaying output :)

[2017-01-24 18:57] jessfraz commented on #129
this is terrible advice but if you want it to eventually work for now just continually running it after like 2 times w the rate limit and waiting should work, well it did for me, but yeah sad story

[2017-01-24 18:59] #125 closed

[2017-01-24 19:01] sdboyer commented on #114
Should be all fixed up now

[2017-01-24 19:01] #114 closed

[2017-01-24 19:15] sdboyer commented on #65
this basically expanded on in #120

[2017-01-24 19:19] sdboyer commented on #120
Yeah, that makes a ton of sense, and I think it's complementary to the other approaches. I'm now reminded that @freeformz has definitely brought this up in past discussions, too.

Updating the original issue to include this...

[2017-01-24 19:33] kr commented on #119
There is a format that supports arbitrary comments, with regeneration preserving the comment positions, is supported by the Go standard library, and has syntax familiar to all Go programmers: Go source code.

Imagine a `manifest` file (with no `.go` filename extension) in a subset of Go syntax:

[code]

Something along these lines wouldn't be too hard to put through ParseExpr and get an AST out, w

[2017-01-24 19:36] jessfraz commented on #119
Your level of bizarre reminds me of myself :)

On Tue, Jan 24, 2017, 11:33 Keith Rarick <notifications@github.com> wrote:

[2017-01-24 19:58] pquerna commented on #119
FWIW, I had the same issues with preserving comments in config files for a project, and ended up using [HCL](https://github.com/hashicorp/hcl) with some wrapper code for my use case.

[2017-01-24 20:00] jgeiger commented on #115
I'd just have users create their own github api token.

https://github.com/shurcooL/Go-Package-Store/issues/54

[2017-01-24 20:06] freeformz commented on #119
@kr Something similar was discussed early on, here was my attempt at the time (which was a little more aggressive than yours)....

[code]

I don't remember why we didn't go down this route, possibly because my example wasn't a limited subset, but trying to do way more.

I do think @kr suggestion would be interesting to explore.

[2017-01-24 20:37] kardianos commented on #119
@kr @freeformz I'm skeptical of that route, but if it were to be pursued, make those top level vars part of a type so the fields can be looked up / autocomplete type things can assist.

[2017-01-24 20:39] franciscocpg opened #136 "fatal error: concurrent map writes"
I run `dep init` in one of my projects and after sometime (it took a long time, https://github.com/golang/dep/issues/131#issuecomment-274881771) it generated `lock.json` and `manifest.json`.

Then I removed these two files and run again but now using time to measure: `time dep init`
And I got this:
[code]

Trying to run again, I get this
[code]

So I removed `$GOPATH/pkg/dep/sm.lock` and after run

[2017-01-24 20:44] sdboyer commented on #136
Yep, known issue - see sdboyer/gps#156. I'll keep this one open here so that we have a reference point on this side.

Thanks for the detailed report!

[2017-01-24 20:53] mitsuhiko commented on #119
I hate toml but I must admit that the choice of Toml was good in Rust land. It diffa very well which makes resolving conflicts much nicer than a json file would allow.

[2017-01-24 21:53] whoisjake commented on #115
homebrew `brew search` uses `HOMEBREW_GITHUB_API_TOKEN`

[2017-01-24 22:00] dcelasun opened #138 "Feedback: Existing project using gvt vs. dep"
Just tried this on an existing project. I've only been playing with this for a few minutes, so it's quite possible I'm doing something wrong. That said, I'm *really* excited to see official progress on dependency management! Thank you for working on this!

Quick thoughts:

- `dep init` is slow. It took more than 2 minutes to complete on a high-end machine with a 100Mbps connection. I didn't check

[2017-01-24 22:35] F21 opened #139 "Force init to always fetch from the network"
It would be nice if there is an option to force init to fetch from the network.

In my case, I might have dependencies on libraries that I might have in my GOPATH I've previously submitted some patches to. My work flow for submitting patches to Go projects is to:

- Create $GOPATH/src/projectowner/projectrepo
- Exec `git add remote fork github.com/F21/myfork`.

Because these already exist in my GO

[2017-01-24 22:53] sdboyer commented on #138
Thanks for trying it out and providing feedback! 🎉 🎉

Some of that time is initial repository clones - a one-time cost. But yeah, we've not overly prioritized towards performance just yet. That said, there is a plan, and there's a lot of headroom here: #67

This is weird. Could you open an issue specifically for this, please, and provide a little more context about the state of your GOPATH when yo

[2017-01-24 22:55] sdboyer commented on #139
Totally reasonable request, sure. We definitely want to add more modes to init - e.g. reading just from the network, doing interactive prompting, importing from existing tooling. It's on my TODO list to do a bigger writeup of that requirement.

[2017-01-24 22:57] jessfraz commented on #138
fwict i think gvt is just pulling in whole repos and their deps but idk,
there was a later version in gvt that i started using and was confused
because it was pulling in more than an ealier one, and it kinda made me
sad, but i'm in a pro-prune all the things camp

On Tue, Jan 24, 2017 at 2:53 PM sam boyer <notifications@github.com> wrote:

[2017-01-25 00:19] olekukonko commented on #120
`Removing by build tag. Files with a particular build (or os/arch) ` does this not affect cross compilation?

[2017-01-25 00:23] jessfraz commented on #120
It would, I don't think that level (os/arch tags) of pruning should be on by default, but pruning of unused packages should.

[2017-01-25 00:26] olekukonko commented on #120
@jessfraz I couldn’t agree more  ...

[2017-01-25 00:29] sdboyer commented on #120
@olekukonko for sure, and that's what that's intended to mean - if we add such a feature, then the user could choose to enable pruning out dependencies entailed by a particular build tag.

To be clear, though, this would only affect the deps that actually get written out to `vendor/`. It would not have any bearing on the way that dependency _selection_ works - the plan there remains to always cons

[2017-01-25 00:32] kris-nova commented on #120
So speaking of pruning.. 1 concern that I hit while trying to vendor [kops](https://github.com/kubernetes/kops) out as a library (I know I am crazy.. don't ask..)

The project used [go-bindata](https://github.com/jteeuwen/go-bindata) to generate a file that was clobbered by pruning.. It was a fairly big deal that the file was in the vendor directory to use the tool as a library..

Not advocating t

[2017-01-25 00:47] sdboyer commented on #120
@kris-nova oh, this is a great question! Though...i actually can't quite picture the exact workflow you're describing with this:

i think the answer depends considerably on the details. Could you be a little more specific about how this worked, what "the project" refers to (your attempt to vendor kops, or some dep that kops had with this weird requirement), where these generated files were, etc.?

[2017-01-25 01:59] ChrisHines opened #144 "dep ensure fails on non-git repositories"
go version go1.7.3 windows/amd64

Steps to reproduce:

1. `go get github.com/ChrisHines/dep-test`
2. `dep init`
3. `dep ensure`

Expected to see package bitbucket.org/zombiezen/gopdf/pdf in the vendor folder.

Instead I got this error:

[code]

Additional hints:

I first encountered this on a bigger (private) project. The error can also occur for packages hosted in Bazaar repos on launchpad.net. H

[2017-01-25 02:08] sdboyer commented on #144
Oh gooooood, thank you! We definitely need help on the non git(hub) tests. I cover the basics in gps' tests for bzr and hg, but it's much harder to find good cases in the wild to really put it through its paces.

Do you mind replicating this issue over on gps, so we can get it fixed there?

[2017-01-25 02:23] typeless commented on #119
The composability with other existing tools does make JSON desirable, which also makes it easier to be 'scriptable' (with the help of `jq` for example).

Not sure if that really matters in the end though.

[2017-01-25 05:08] pbennett opened #145 "dep ensure -n isn't actually a no-op"
Go 1.8 rc1 / osx
ensure -n is documented as a dry-run, but still does all the work, populating the vendor folder if it's not already there.
With no vendor/ directory present:

vendor/ is created as if -n was never specified.
Since there is no output normally, I'm assuming this is meant to be used alongside with the -v option.
(as of commit 1b193f4)

[2017-01-25 05:57] pbennett opened #148 "dep init fails if in not in $GOPATH[...]/src/{somedir..}"
If GOPATH is foo/bar/ then running dep init from /foo/bar/src
yields:
determineProjectRoot: /foo/bar/src not in any $GOPATH
yet it most certainly is in the GOPATH.

I'll leave the commentary off about why I want this, but if this is going to be disallowed for now, a better error is needed.

[2017-01-25 06:17] vasi commented on #119
An awful but effective workaround I've used in the past: Just have a key that is specced to be used for comments, and nothing else. Eg:

[code]

This comment will clearly be preserved even if the structure is programmatically modified.

Caveats:
*  Can get awkward if keys are reordered. But usually it's easier to preserve key order than to preserve comments.
* Only one comment is possible per dict

[2017-01-25 06:28] sdboyer commented on #144
actually nvm, it's nbd - i'll fix it over there in the morning, then we can just close this out :)

[2017-01-25 06:53] dcelasun opened #149 "manifest.json is empty after dep init"
I was asked to open this issue in [this](https://github.com/golang/dep/issues/138#issuecomment-274965773) thread.

After running `dep init` with an existing project (located at `$GOPATH/src/bitbucket.org/company_name/project_name`), `manifest.json` has an empty JSON object (`{}`), but `lock.json` has all the correct dependencies.

[code]

I can provide more info if needed.

[2017-01-25 06:55] dcelasun commented on #138
Opened #149.

Yes, `gvt` is recursively vendoring all dependencies, so that probably explains the difference. I'm all for pruning though, so I'm not complaining :)

[2017-01-25 07:28] rakyll opened #151 "remove the "cute" error messages"
[code]

Go tools have a specific tone and style (simple comprehensive and precise), hence we don't see them return errors in such an unlikely style. Follow the Go tool conventions, please. This is a candidate to be an official tool.

[2017-01-25 07:43] flibustenet commented on #131
It could be more verbose, specially in the alpha stage. I thought it freezed on the first run.

[2017-01-25 07:49] rakyll opened #154 "explain the roadmap"
Could you add on README what is the roadmap for the dep tool?

Should we consider this to proposed to the core project once it is mature enough? What are the next steps once the proposal is accepted? What happens if the proposal is not accepted? Can I depend `dep` on an actual use case right now?

[2017-01-25 08:14] disq commented on #149
Same thing here, project located at `$GOPATH/src/github.com/company/project`
Retried after `rm -rf vendor`, same results. `lock.json` looks cool and correct but `manifest.json` has just `{}` in it.

[code]

[2017-01-25 10:48] 4ad commented on #119
@kr I like your suggestion (although I have no interest in Go dependency management) because it would encourage and make it easy for other projects to use the same configuration language.

[2017-01-25 12:06] sdboyer commented on #151
Oh, of course. The places where we don't follow that convention, like the one you've cited, exist more or less because it gives the clear indication that it's an area that is unfinished. There's no way we'd let them into the final tool. (let's not forget - pre-alpha!)

[2017-01-25 12:07] sdboyer commented on #131
@flibustenet did you run with `-v`?

[2017-01-25 12:09] pksunkara commented on #149
Just confirming that I also hit this and wrote about it in the google group. I can verify that `dep init` command here is in migration mode according to the spec written down previously.

[2017-01-25 12:17] sdboyer commented on #154
I'll answer what of this I can off the cuff...

I suspect we can add as much as we know right now, and keep it up to date. Not everything's clear yet, though. (We may also end up keeping that information somewhere other than the README.)

Yes, though you should also expect that it will not make a direct, 1:1 migration into the toolchain. So, no `go dep ensure`. @rsc doesn't want to see sub-sub-com

[2017-01-25 12:25] Dr-Terrible commented on #120
Speaking of pruning unnecessary files, a while ago I was hit by annoying issues with dependency managers (specifically GB) that blindly trim everything except *.go files: there is a high change you wipe out files used by `pkg/text/template.ParseFiles()`¹ just because they don't have a *.go extension, thus breaking compilation or run-time execution due to missing files.

So far, I encountered only

[2017-01-25 12:50] raytung commented on #149
Are your dependencies under `$GOPATH`?
Looks like `dep` is only adding dependencies under `$GOPATH` and ignoring existing dependencies under `vendor/`.
See [init.go#L302](https://github.com/golang/dep/blob/1b193f4439655572d59fe1b87035870f1a7344ca/init.go#L302) and [context.go#L128](https://github.com/golang/dep/blob/1b193f4439655572d59fe1b87035870f1a7344ca/context.go#L128)

[2017-01-25 12:58] peterbourgon commented on #131
This is repeated feedback. I think we need to have `init` print out what it's doing, even at a coarse level ("cloning foo/bar/baz") and even without `-v`.

[2017-01-25 13:15] pksunkara commented on #149
Nope, I have an empty project with a fresh install of go. So, dependencies are nowhere to be found. Cloned https://github.com/pksunkara/whitespaces and ran `dep init`

[2017-01-25 13:43] raytung commented on #149
@pksunkara Yep, that's it I think! It wouldn't save into the `manifest.json` file if the source doesn't already exist under `$GOPATH/src`.

## Steps to reproduce:

- Remove all dependencies from my `$GOPATH/src`
- Run `dep init`.
- It created an empty `manifest.json`

## How I got around it

- Run `go get` before running `dep init`

[2017-01-25 13:46] pksunkara commented on #149
Well, `dep init` did pull the source into vendor repo, so, shouldn't it take that code after that step? Or shouldn't it take from github directly? I am not looking for a workaround. I am trying to determine how the tool should behave in this case.

I guess, first of all, we probably need to separate `dep init` and `dep migrate` out.

[2017-01-25 14:07] sdboyer commented on #131
That seems fair to me. It does feel like other go tooling generally eschews such informational output. But, as @flibustenet pointed out, this is alpha - I think we can not worry about that right now.

[2017-01-25 14:15] Dr-Terrible commented on #121
Some time ago the folks at Gentoo had to tackle the [same exact problem](https://wiki.gentoo.org/wiki/GLEP:58#Abstract) for their package manager, Portage; they ended up with the generation of a digest for every first-level directory's content of their package manager's tree (which is file-based and quite huge).

That is completely unnecessary. `golang/dep` can use the same solution of Gentoo's Po

[2017-01-25 14:41] kardianos opened #158 "dep init fails, cause unknown, entire state rolls back so cannot adjust anything"
I removed the existing `vendor` directory.

Running `dep init` on a project fails with the following:

std out
[code]

std err
[code]

Problem 1: I don't know what the underlying problem is.
Problem 2: I don't know how to fix it if the entire state is rolled back on init error.
Problem 3: The error is repeated on both std out and std err.
Problem 4: The length of errors will be proportional to the

[2017-01-25 14:43] hectorj2f opened #159 "dep init fails: cannot introduce some golang pkgs due to multiple problematic subpackages"
Firstly, I want to thanks the developers of this new tool. I started to play with it and seems quite easy and helpful.

On the other hand, I wanted to inform you about an error that I faced. With glide, it seems to be solved in a straightforward manner . I don't know if I am doing something wrong.

**Golang: v1.7.3**

[code]

While using glide, it is solved adding the required sub-packages.
[code]

[2017-01-25 14:50] sdboyer commented on #121
This is great info and context - thanks. Some quick thoughts:

I'm not sure it's exactly the same. This process is occurring on a user's system, probably when a `lock.json` is generated. The first sentence of that link reads:

So, that's central-to-user; we have a user-to-user problem. That may not end up mattering, if only because there's no uniform, reliable way to verify a trusted upstream sour

[2017-01-25 14:51] kardianos opened #160 "signal handling should happen in dep, not gps"
Currently gps handles the signals. This is probably inappropriate for a dep library unless dep is just a shell over the real project.

Cancelation should be handled with context. Any gps method that writes multiple files or hits the network should take a context that can be canceled. Completion of rollback or cancel can be signaled by the called function returning.

[2017-01-25 14:56] kardianos opened #161 "dep status is not useful if memo is out of date, not even a warning"
I've tried dep on a number of projects, some have main packages, others don't.

After I ran `dep init`, I expected `dep status [-v, -detail, etc]` to produce some list of packages. Each time I've gotten nothing.

At dep rev `1b193f4439655572d59fe1b87035870f1a7344ca`

[2017-01-25 15:19] Kegsay commented on #119
I would love to see TOML used instead of JSON or YAML.

Hand-rolling JSON files is incredibly fiddly: I find I always miss a `,` or a `:`. The lack of being able to justify your versions (as mentioned by the OP) are infuriating when working with package managers like NPM which use `package.json`. It does parse easily though.

YAML is a lovely format to write in, but [extremely complicated](http://

[2017-01-25 15:27] BurntSushi commented on #119
@Kegsay I'd expect comment preserving transformations to be a pretty significant change. I haven't done well with keeping the TOML implementation up to date with the latest spec either. I would personally support a replacement fork (i.e., we retire or move BurntSushi/toml) if you found it useful to start with the existing code.

[2017-01-25 15:29] jrick commented on #119
It may be too late in the design phase to change something like this, but I am completely ok with dropping the requirement of being able to modify the manifest through the tool instead of just hand editing it.  Especially if the manifest is in an easily readable and writable format such as TOML.  If the manifest is never rewritten by the tool, then there's no need to make it preserve comments.

[2017-01-25 15:32] Kegsay commented on #119
@BurntSushi thanks for the quick reply! I feel that your TOML parser is the most "battle-worn" out of the available parsers in that it superficially seems to have the most usage, and therefore has been tested in a large amount of real-world scenarios. For that reason, I'd be reluctant to do a complete rewrite unless the change was sufficiently large that you'd end up doing a rewrite in order to im

[2017-01-25 15:33] sdboyer commented on #160
So, it would be quite feasible to modify the way that signal handling works to have:

1. make `gps.NewSourceManager()` take a `Context`
2. Internally attach its current signal handling logic instead to the context's cancellation/done channel
3. dep registers signal handlers itself, and attaches them to the context it passes into `gps.NewSourceManager()`

This would be along the lines of [suggestio

[2017-01-25 15:38] kardianos commented on #161
Okay, so status won't show anything if the memo field is out of date.

[2017-01-25 15:46] BurntSushi commented on #119
It's not just the parser that needs attention. It's also the printer too. You need some way to carry comments through both parsing and commenting. There may be other issues, like preserving the order of keys, but I can't quite remember. I can't really be any more specific than "significant change" as to what's required. Comments were given precisely zero thought other than dropping them from the l

[2017-01-25 15:48] groob commented on #119
Has anyone considered HCL yet? https://github.com/hashicorp/hcl
It's a bit like JSON but supports human readable comments.

[2017-01-25 16:00] sdboyer commented on #159
Almost certainly what's happening is that `dep init` is reading older versions of those "multiple problematic subpackages" projects from your GOPATH, and the solver is then complaining because they lack the subpackages. If you create a new, empty GOPATH and put your project in there, then try `dep init` on it, does it work better?

(We've got a couple issues open about adding more/different approa

[2017-01-25 16:09] kardianos commented on #160
If you hit the network, it can/will hang. if you hit the disk, disks can be super slow at times in envs.

Using context can let you create a more robust design. You can have dep start many tasks at once, if there is a long running task you can allow the user to cancel that specific task. It allows you to expose dep and gps as a generic library that could be used from long running services. I could

[2017-01-25 16:13] kardianos commented on #120
@Dr-Terrible govendor normally only copies *.go files and README / LICENSE style files.

However you can also specify grab everything in the repo. I think normal trimming is important. I also think being able to grab everything is an important out. Concrete uses are C interop and out of file resources (html for a web site).

[2017-01-25 16:15] sdboyer commented on #160
Hmm, yeah, that's certainly the goal. OK - a significant refactor of that subsystem is already needed. I can incorporate explicit context/cancellation control in method signatures as part of it. 👍

[2017-01-25 16:27] calmh commented on #131
I think it's a passing phase. At the moment no one knows what to expect. Once the tool is established and its operation generally understood it probably make sense to adopt a less verbose default.

[2017-01-25 18:35] alecha opened #162 "Running twice the same dep ensure -update causes a panic"
goversion: 1.7.3

Scenario:
- new project, run
  - `dep init`
  - `dep ensure -update`
  - `dep ensure github.com/dgrijalva/jwt-go@^3.0.0`

At this point I expected the vendor folder to be created and the package downloaded (but only the folder was created).

Then if I run again

`dep ensure github.com/dgrijalva/jwt-go@^3.0.0`

it panics

[code]

[2017-01-25 19:36] Oxyrus commented on #154
Will this be included as dependency manager in future releases of Golang?

[2017-01-25 20:54] rakyll commented on #151
I can sign up to fix these as I see.

It is good to align with the Go project as soon as possible to making the blessing of this tool or reusing of its code easier if succeeds. It'd be a shame if we had to re-rewrite this tool.

[2017-01-25 20:58] rakyll commented on #154
@sdboyer, I think these types of FAQ questions needs be answered on the README.

Currently, the tool looks like it is the new blessed solution which happened to be in pre-alpha state. (Even pre-alpha is vague because the Go project doesn't have an alpha/beta/stable labelling.) FWIW, people who don't follow the Go news on a daily basis don't often have context about what's going on and might end dr

[2017-01-25 21:01] jbrodriguez commented on #119
FWIW, I think the current manifest syntax is too verbose.

if the comments requirement is dropped, I'd prefer something more minimalistic

Node (package.json)
[code]

[2017-01-25 21:11] sdboyer commented on #151
🎉 🎉

so long as there's a clear `TODO` (or equivalent) left behind, i'm all 👍 to that.

for sure. and, like i noted elsewhere (too many issues flying around right now), this is something that just gets harder as time goes on.

tbh, i'm less concerned about that for this tool than i am for gps. i've put a lot more deliberate effort into it than the parts of dep i've written (which has generally bee

[2017-01-25 21:29] cespare commented on #119
Hi! I help maintain github.com/BurntSushi/toml and I use TOML in a fair number of projects. I also have a strong interest in Go dependency management (I even wrote a few tools in the past, though these days I just use govendor + the vendor directory).

I support using TOML as the configuration language for this tool, but if dep needs to be able to rewrite the config file while supporting comments

[2017-01-25 21:36] jbrodriguez commented on #149
It happened to me too.

So, I did:

- ```dep init```
manifest.json: only dependencies that exist in $GOPATH/src
lock.json: ok

- ```dep ensure -update```
creates/populates vendor

- ```mv vendor vendor.old```
(actually had to move it one folder up the hierarchy, otherwise the next dep ensure would get confused)
This simulates leaving vendor out of source control, then cloning the repo back

- ```d

[2017-01-25 21:38] pksunkara commented on #149
This analogy with npm helps me remember.

`package.json` => `manifest.json`
`npm-shrinkwrap.json` => `lock.json`
`node_modules` => `vendor`

[2017-01-25 21:43] seh commented on #119
I agree with @cespare here: the manifest is _my_ artifact; the lock file is derived from it. No tool should touch my manifest without me explicitly requesting that it do so as a convenience.

For most operations Glide works this way. When I decide to invoke an operation that might have it change my manifest, I have to manually restore the comments that it drops (not to mention reordering entries t

[2017-01-25 21:44] jbrodriguez commented on #149
Right, but package.json does hold all dependencies.

I know dep is pre-alpha, just wondering if manifest.json will also hold all dependencies  as it matures.

[2017-01-25 21:45] pksunkara commented on #149
Yeah, according to the design spec I read previously, it is supposed to.

[2017-01-25 21:54] freeformz commented on #119
FWIW: `dep` only alters the manifest based on commands the user issues as a convenience, aside from `dep init` anyway which does some discovery of existing deps and writes out the initial manifest file. You could alter it manually and run `dep ensure`.

My personal opinion is that I'd much rather have the tool do the alteration when I run a command and the work to enact the alteration instead of h

[2017-01-25 22:03] BurntSushi commented on #119
In case it's not clear: I completely defer to @cespare with respect to the fate of `BurntSushi/toml`.

[2017-01-25 22:47] davecheney commented on #154
Seconded. You're carrying the hopes and dreams of all gophers, keep it classy.

[2017-01-25 23:54] sdboyer commented on #154
@rakyll these are great points. I'll update the language tonight.

@davecheney 😱 🎩 🎩 👍

[2017-01-26 00:34] Kegsay commented on #119
The problem with the JSON-style comments of the form:
[code]

is that it breaks down a lot the moment you want to have any kind of extended prose (you can't have literal new lines), and you need to escape characters (e.g `"`), making it rather frustrating to put anything more than a quick one-liner. One can argue that is a good thing since it encourages people to only put comments if they really h

[2017-01-26 00:42] sdboyer commented on #161
Yeah, `dep status` was one of the first things we implemented, and it's been largely neglected since. Some of that is because waiting on things in gps, but those things are almost all resolved now (sdboyer/gps#127 is the big outstanding one). In any case, though `status` really needs a full pass.

Would be a great place for someone really wanting to grok this thing/get their hands dirty to dig in

[2017-01-26 00:44] rakyll opened #165 "test outputs are too verbose that it is hard to see what is failing"
See https://ci.appveyor.com/project/jessfraz/dep/build/52 for an example output of the tests.

Each test is logging all the events happens during the test rather than just printing out what has failed. It is impossible to find out what actually failed.

Log only the failure case with helpful context.

[2017-01-26 00:54] sdboyer commented on #165
Heh, I was just making the same note in #155 . Yes, we definitely need to get the testing output under control.

[2017-01-26 01:01] sdboyer opened #166 "Separate code into subpackage(s)"
To keep things moving quickly, our initial work on dep clustered everything into a single package. That's not ideal for the long term, though. I can imagine at least two discrete subsystems that need separating:

* Manifest and Locks, plus the txn writer that works with them.
* The analyzer. This is tiny right now, but may get a fair bit bigger over time, especially if we choose to teach it to rea

[2017-01-26 01:05] rakyll commented on #166
It would be nice to work with lock and manifest files programmatically! Moving things out of the main package is something I am looking for.

[2017-01-26 01:26] rakyll commented on #145
To be clear, -n is doing nothing right. This needs to be implemented for `ensure` and `remove`.

[2017-01-26 01:48] pbennett commented on #145
Correct, -n is basically being ignored and it's still running everything normally.

[2017-01-26 03:24] sdboyer commented on #158
In reverse order!

This is a fine, fine question, and I don't have an immediate answer. Ordinarily, I'd guess that it's a problem with not updating the repo in the cache - e.g., https://github.com/golang/dep/pull/97#issuecomment-273257048 . But, a) I fixed the bug that caused that for Jessie, and b) The commit it claims is missing there is _really_ old, like six months old, so I can't imagine how

[2017-01-26 06:08] sdboyer commented on #144
Taking a bit longer than expected - windows problems.

[2017-01-26 06:09] sdboyer commented on #154
s/tonight/tomorrow/. need 🛌

[2017-01-26 08:58] Mahito commented on #148
I could got same issue.
[code]
This issue is happened every time in $GOPATH/src.
https://github.com/golang/dep/blob/master/context.go#L115 create srcprefix(`$GOPATH/src/`) .
[Next line](https://github.com/golang/dep/blob/master/context.go#L116) compare path (`$GOPATH/src`)  and srcprefix(`$GOPATH/src/`)  and get `false`, because `len(path)` is less length than `len(srcprefix)`.

[2017-01-26 12:11] hectorj2f commented on #159
@sdboyer  yep, it worked it out in a clean GOPATH.

[2017-01-26 12:46] sdboyer commented on #159
Great. Closing this, as we've got a few issues open already where the issue was the same.

[2017-01-26 12:46] #159 closed

[2017-01-26 13:07] bradleyfalzon opened #168 "Discuss renaming lock.json and manifest.json"
Raising an issue to ensure this is tracked and closed.

As discussed in the Go Package Management mailing list (https://groups.google.com/forum/#!topic/go-package-management/et1qFUjrkP4), there were some thoughts about names and locations of the lock and manifest files. Broadly speaking:

- There was some concern with storing the files in the root repository directory, others have suggested other

[2017-01-26 13:11] Machiel commented on #148
Yes, I've got the same issue, for private projects we work with `$GOPATH` as the project git root. Trying to do a dep init in `$GOPATH` yields:

determineProjectRoot: `$GOPATH` not in any `$GOPATH`

[2017-01-26 13:21] flibustenet commented on #131
I was so excited i didn't try -v and -h ! (to put in the readme ?)

[2017-01-26 13:30] sdboyer commented on #148
I *think* this approach to things should work fine, though because it's not a design case we've had in mind, there's likely to be at least a few hinky issues related to the base project root being empty. (Yeah...I can think of a few now.) The only important note to make is that the resulting repository will be useless for anyone trying to import it...but I imagine that's not a concern for anyone t

[2017-01-26 14:02] sdboyer commented on #168
Yeah, thanks for writing this up.

This does concern me. I've always been annoyed that e.g. `package.json`'s name doesn't have any obvious linkage to npm. Potential file collisions are an issue as well.

Of course, WHAT we name it is...the mother of all bikesheds. It kinda brings us back to #25 (which we ultimately rolled back), except that it's even more permanent, because even if/when this tool

[2017-01-26 14:27] punya commented on #119
If we used YAML but with a comment field as opposed to an actual comment, we'd get preservation for free as well as support for multi-line prose

[code]

The downside is that this will confuse people who are used to the native comment syntax.

[2017-01-26 17:01] joeshaw opened #169 "dep <command> --help doesn't work outside of $GOPATH"
A minor UX issue.

[code]

This is similar to #125 but for individual subcommands, not the toplevel.  If this is your first time trying `dep` it's helpful to read the docs regardless of your current working directory.

[2017-01-26 17:29] eparis opened #170 "panic: canary - shouldn't be possible package"
checkout github.com/kubernetes/kubernetes @ db2dc78e6398ba673e68e94bd17d28a97dd4a902
run `godep restore` to make GOPATH == what's in vendor
inside kubernetes `rm -rf vendor Godeps`
`dep init` from version 21f357ac6ce7cb25b95bc5b8e4216bb2639084d4

[code]

[2017-01-26 17:40] jessfraz commented on #170
btw there was an old issue too from when I tried: https://github.com/golang/dep/issues/110

[2017-01-26 17:41] jessfraz commented on #170
might also be https://github.com/golang/dep/issues/115

[2017-01-26 17:55] eparis commented on #170
https://github.com/chai2010/gettext-go/blob/master/gettext/hello.go has 2 interesting things:
`import "github.com/chai2010/gettext-go"`
and it has:
`// +build ignore`

So the repo is not really broken, since the hello.go file doesn't actually ever get built, but that file does claim to import its parent directory. It's parent does not, in fact, have any .go files.

So while I'm guessing this could

[2017-01-26 18:09] eparis opened #171 "dep init: panic: runtime error: slice bounds out of range"
checkout github.com/kubernetes/kubernetes @ db2dc78e6398ba673e68e94bd17d28a97dd4a902
run `godep restore` to make GOPATH == what's in vendor
inside kubernetes `rm -rf vendor Godeps`
inside $GOPATH/src/github.com/chai2010/gettext-go make sure that https://github.com/chai2010/gettext-go/pull/7 has been applied
`dep init` from version 21f357a

[code]

[2017-01-26 18:19] sdboyer commented on #119
catching up...

### A new/custom format

I think it would be unwise to invent any new format for this purpose, a la @kr's [proposal](https://github.com/golang/dep/issues/119#issuecomment-274912263). Comment preservation is nice, but it's not required, and IMO is less important than all of the following:

1. This tool already involves creating a lot of new things that are essential to the problem.

[2017-01-26 19:06] freeformz commented on #162
I merged #163, but I'm not sure why a lock wouldn't have been written. Can you provide any more details about the "new project" ? was there any code? or was this simply:

[code]

Or was there already code that you were trying this on? If so is that available to test against?

[2017-01-26 19:56] groob commented on #162
I've been able to duplicate the panic under different circumstances, but it looks like after I updated `dep` with #163, I can't dupe it any longer.
Hope that helps.

[2017-01-26 20:47] alecha commented on #162
@freeformz it was the scenario you described in the code snippet, but I've tried again and now it doesn't panic

[2017-01-26 21:24] erizocosmico commented on #166
Yes, it would be really nice to move everything out of the main package. If no one is on it I can work on it tomorrow. I'd only need to know if I should put everything in one non-main subpackage or go for the multi-package approach.

[2017-01-26 22:18] sdboyer commented on #166
@erizocosmico awesome! i think just one is good to start with. I suspect it'll be as much updating the supporting/CI scripts as it is actually moving code around.

[2017-01-26 22:31] mikkeloscar opened #174 "Support for private repositories e.g. Github Enterprise"
I didn't see this addressed in any of the docs, so I'll raise the question
here.

Have you considered support for private repositories?

Many of the existing vendor tools does not handle private repositories very
well or at all. `godep` and `govender` can sort of handle it because they get
the dependencies from your $GOPATH. But existing tools that fetches directly
from the remote does not work wi

[2017-01-26 22:36] terah opened #175 "Central packaging registry"
Hi,

I just read https://blog.gopheracademy.com/advent-2016/saga-go-dependency-management/ and thought I'd add some ideas.

Sorry if this has been discussed before or is outside the scope of this project.

Private packaging registry

It is common to use a mix of publicly accessible deps and deps that come from privately hosted repos.  I work in an organisation that has many private packages and it

[2017-01-26 22:44] terah opened #176 "Security service"
Hi,

I just read https://blog.gopheracademy.com/advent-2016/saga-go-dependency-management/ and thought I'd add some ideas.

Sorry if this has been discussed before or is outside the scope of this project.

PHP has this security advisory service for packages: https://github.com/FriendsOfPHP/security-advisories

It would be useful for your dep tool to tell you that certain deps have known security i

[2017-01-26 23:07] zevdg commented on #174
At my company, we solve this exact problem using go's vanity imports.  We have something like https://github.com/dominikh/go-vanity which serves up the appropriate protocol depending on various factors and we use the url of the vanity server instead of our ghe url in our import paths.

[2017-01-26 23:11] kr commented on #119
I agree with @sdboyer's response. (But note that I was not proposing an imperative format.)

[2017-01-26 23:31] nathany commented on #119
@kr If I saw that the manifest looked like Go code, I would expect to be able to use imperative code as I could with Ruby Bundler or Elixir Mix. Then be disappointed when it didn't work, or worse, confuse what the dep tool doesn't allow in the manifest with what Go allows. The familiarity is nice, but probably best to avoid (IMO).

[2017-01-27 01:32] sdboyer commented on #176
It's a great suggestion, and not out of scope at all! We _definitely_ need something like this.

Up until now, I've been more focused on the mechanics of dealing with insecure versions within the solver itself (I intend to model it after Cargo's yanking system). I haven't done a ton of thinking about what the service would look like that provides the information - obviously, we don't have anything

[2017-01-27 02:05] sdboyer commented on #175
Ah, I didn't see you'd posted this when I was responding to #176 :)

A registry is one of those topics that's been through the bikeshedding mill quite a bit. Some of my thoughts on it:

1. We should probably have one eventually
2. We do not **NEED** it now, we can slot it in later, and it would be an error to block any current progress on having it (which I know you're not suggesting - just being

[2017-01-27 04:36] freeformz commented on #174
This is part of our spec (https://docs.google.com/document/d/1qnmjwfMmvSCDaY4jxPmLAccaaUI5FfySNE90gB0pTKQ/edit#). Search for "alt location".

Does that work, at least basically for your needs?

With that said it doesn't exist atm.

[2017-01-27 04:42] freeformz commented on #169
@kris-nova Did you want to take this one as well?

[2017-01-27 04:44] sdboyer commented on #174
First - solving this with vanity imports via an external system, as @zevdg describes, is far easier. (I didn't know about go-vanity - that's awesome.) That said, vanity imports still have some of the same issues as what's described here.

We didn't talk about it much directly within the committee as it wasn't an immediate necessity, but I've thought about this quite a lot. It's in the top three na

[2017-01-27 04:57] freeformz commented on #162
Great

[2017-01-27 04:57] #162 closed

[2017-01-27 04:59] pbennett commented on #168
I think at a minimum, the prefix of the two files should be the same.
godep[_-]lock.json, godep[_-]manifest.json.  That sort of thing.
manifest.json and lock.json are IMO far too generic and there's nothing to indicate they have anything to do with each other.

[2017-01-27 05:06] sdboyer commented on #174
Oh! I forgot to mention...

All of this ugliness is my own single strongest motivation for creating a registry (#175): we can impose meta-rules on a subset of import paths. For example, imagine this pattern:

[code]

* The leading `p` indicates it's a registry source type
* The second part is the base domain where the registry is hosted. This would allow the _crucial_ feature of allowing people to

[2017-01-27 05:12] sdboyer commented on #119
@kr glad you agree :) and yeah, sorry, I know you weren't proposing imperative - I was lumping things together for brevity. As @nathany points out, it's much more about the expectation. That the conversation after your comment slid so quickly towards real .go files/syntax is evidence of how strong that expectation would be.

[2017-01-27 05:24] sdboyer commented on #171
iiiiinteresting.

[code]

This means an internal bookkeeping bug in the solver. ...except that there doesn't appear to be a slice access on that line.

[2017-01-27 05:29] davecheney commented on #171
Almost certain that
https://github.com/golang/dep/blob/master/vendor/github.com/sdboyer/gps/selection.go#L58
was inlined into unselectLast.

On Fri, Jan 27, 2017 at 4:24 PM, sam boyer <notifications@github.com> wrote:

[2017-01-27 05:37] sdboyer commented on #170
For sure not :) We're trying to hash out a bunch of questions right now related to which imports we include from static analysis. It'd probably be good for me/someone to open an issue for this more specifically on gps.

On balance, though, this is kinda good - I hit that panic once six months ago while experimenting with k8s, but I hadn't yet eliminated nondeterminism in solve order, so I couldn't

[2017-01-27 05:38] sdboyer commented on #171
derp. totally. thanks :)

[2017-01-27 05:46] davecheney commented on #171
roll on the dev.inline branch, which will solve this (we all hope)

On Fri, Jan 27, 2017 at 4:38 PM, sam boyer <notifications@github.com> wrote:

[2017-01-27 09:00] erizocosmico commented on #166
Nice, I'll do it asap.

[2017-01-27 15:36] eparis commented on #171
I put some printf's to dig around a bit. In fact it is `popDep` not `pushDep` that was panicing.
[code]
Gave me:
[code]

[2017-01-27 15:57] sdboyer commented on #171
That also makes more sense than a slice bounds error on an `append` :) Doesn't change anything about the inlining observation, of course.

I'm pretty sure I see the problem here. likely related to the fix for #116, which allowed project-level cyclic dependencies involving the root project. I'm pretty sure I didn't encounter this because the additional test case I wrote didn't cause the solver to b

[2017-01-27 19:05] VojtechVitek opened #183 "`go get`-like CLI API"
Proposal:

The `dep` CLI commands and flags to be much more similar to `go get`.

`dep get github.com/pkg/errors@^0.8.0`
`dep get -u github.com/pkg/errors` (latest)

[2017-01-27 20:36] sdboyer commented on #183
We (the committee) went back and forth over [the naming of the verbs and flags](https://gist.github.com/jessfraz/315db91b272441f510e81e449f675a8b) quite a lot, and settled intentionally on `ensure`. It's not even that it does more than `go get` does - it's that their behavior really only has partial overlap:

1. `dep` has nothing to do with `go install`-ing code; it will never generate a binary. A

[2017-01-27 20:54] sdboyer commented on #149
(sorry, I've not had time to get to this one yet)

Standard constraint declarations in `manifest.json` (under the `dependencies` key) are only applied to direct dependencies of the current project. It's important to understand, though, that if you declare a constraint in `manifest.json`, but don't actually import it, that constraint will be ignored. This is still Go - the import graph is queen. (I

[2017-01-27 20:57] pksunkara commented on #149
Ah, my above statement was ambiguous. I meant that according to the spec manifest.json was supposed to hold the top level dependencies and any other overrides. Sorry about the wording "all dependencies"

[2017-01-27 21:10] jbrodriguez commented on #149
Sure, that's the most important thing. As it stands right now, this is not fulfilled, as it expects these direct dependencies to exist in $GOPATH/src.

In any case, the project is awesome and I feel it's going in the right direction, so I'll keep trying to poke holes in it (in a very friendly manner :) 👍

[2017-01-27 21:16] pdalpra commented on #120
IMHO, I think that what [LK4D4/vndr cleans up](https://github.com/LK4D4/vndr/blob/master/clean.go) is good enough, especially the pruning of `_test.go` files.

[2017-01-27 22:06] sdboyer commented on #149
@raytung

Oh wait...maybe this is it. If this is all it is, then it's a super-easy fix. I'll look tonight :)

[2017-01-27 22:23] #183 closed

[2017-01-27 22:25] sdboyer commented on #183
I'm closing this, as the design goal is a non-starter. Please feel free to open specific issues about particular verbs or flags, though!

[2017-01-27 22:47] erizocosmico commented on #120
Maybe the manifest could have an option for telling what prunning policy do you want and by default just copies `*.go` and legal/license stuff. Since dependencies can have manifests themselves, they can take care of that. In the end, it would be the responsibility of the dependency's developers to ensure it can be correctly vendored.

TL;DR: IMHO, copying README/LICENSE/etc and all files that can

[2017-01-27 23:08] VojtechVitek commented on #183
Closing after 4h doesn't look like very nice approach to the community.

[2017-01-27 23:50] zevdg commented on #174
Thanks for the background!  Glad I'm not the only person thinking about this.

The problem that vanity imports don't solve for us is having a centralized cache of 3rd party libraries.  We use [artifactory](https://www.jfrog.com/artifactory/) to do this from nearly every other language, but since go uses the import path to uniquely identify both the package and its source url, the existing go tool

[2017-01-28 00:30] sdboyer commented on #183
The issue's not locked, just closed. I'm not preventing you from discussing it. I'm just trying to clearly signal that we believe this is a settled question; leaving the issue open indicates that the maintainers consider something unresolved here.

To reiterate, there are lots of rough edges and things needing improvement with the current verbs and flags. And I, really truly seriously, invite you

[2017-01-28 00:40] sdboyer commented on #120
I'm pretty certain it's the right thing to do to have the pruning policy set in the current project's manifest; otherwise, there's no way of knowing which subset of files to hash (assuming we do a subset). Plus, teams that commit `vendor/` would be constantly annoyed at superfluous diffs in their `vendor/` resulting from different people setting different pruning policies on the CLI.

I'm less sur

[2017-01-28 02:07] sdboyer opened #185 "Report more about what init is doing"
From @peterbourgon in https://github.com/golang/dep/issues/131#issuecomment-275101643:

It'd be great to have someone go through and weave in some of this additional output. If anyone's interested, please feel free to ask questions here, or over in [the gopher slack](https://gophers.slack.com/messages/vendor/)!

[2017-01-28 04:58] sdboyer opened #186 "Alternate init modes"
To accommodate the variety of ways people currently manage their Go code and make the transition to `dep` as easy as possible, we want to give `dep init` different operational modes. This is a meta-issue for discussing and tracking all these different modes we might implement.

Currently, `dep init` works by:

1. Analyzing the imports in your project
2. Searching the GOPATH in which your project i

[2017-01-28 05:00] sdboyer commented on #186
Let's do feedback and discussion on the general question of init modes here, but open up spinoff issues/PRs for each of the discrete parts.

[2017-01-28 07:09] sdboyer commented on #149
Ah, so, it seems like we actually did this intentionally for the first round with `init` - if it's not on disk, we don't put a constraint in the manifest. So, I want to check in with @adg before we go changing that.

[2017-01-28 09:17] zolotov commented on #168
+1 for less generic names for these files to avoid collisions while determining whether the project is backed by `dep` tool. `gomanifest`/`golock` looks good to me.

[2017-01-28 11:33] erizocosmico commented on #169
This has been solved as a result of merging #173

[2017-01-28 14:31] #169 closed

[2017-01-28 15:36] mattn commented on #186
I can write the converter of gom (my self) if you want.

[2017-01-28 18:16] sdboyer commented on #186
@mattn sounds great to me :) Open a new PR whenever you're ready, and just link it to this? I'll also probably create a label at some point.

[2017-01-28 18:18] sdboyer commented on #166
#178 is merged, so marking this done. We can make a new issue if we want to further subdivide the primary lib package later.

[2017-01-28 18:18] #166 closed

[2017-01-28 18:57] davidbarsky opened #191 "Idea: Allow creation of aliases in Manifest.json"
First of, thank you so much for your hard work on this project. Y'all are doing great work on this issue. Second of all, my apologies is this isn't the right place to open this issue.

My idea is to an introduce an `alias` keyword in `manifest.json`. For instance:
[code]

This command would place the `chi` package under `/vendor/chi` instead of `/vendor/github.com/pressly/chi`. Therefore, packages

[2017-01-28 19:09] flibustenet commented on #186
Why `init` doesn't look in `vendor` folder before GOPATH (like the app) ?

[2017-01-28 21:08] sdboyer commented on #186
@flibustenet `init` relies on vcs metadata to determine versions. That metadata is usually present on GOPATH, and usually _NOT_ present in `vendor` (most tools don't preserve it). Inferring versions without having vcs metadata is absurdly difficult in the general case.

More generally, though, `init` considers `vendor` to be a volatile - a place where code can be dumped. It does not represent user

[2017-01-28 21:51] xmattstrongx commented on #185
Id like to help out with this one. Just cloned the repo so grocking the code now.

[2017-01-28 23:15] xmattstrongx commented on #185
Ok. I get the flow of init. I added some basic logic to range through all the Manifest dependencies after a successful call to `sw.WriteAllSafe` and print out `Cloning: github.com/hulk-hogan/legdrop`.

[code]

[2017-01-29 04:11] sdboyer commented on #185
@xmattstrongx from that description, it sounds like it's not quite what we're looking for with this - it'll probably be printing after all the time-consuming work is already done. But put up what you have as a PR, and we can take a more in-depth look.

[2017-01-29 05:17] sdboyer commented on #191
Thanks for making the suggestion :) I quite understand the impulse for it, and have had a similar thought myself. Unfortunately, though, I don't think this would be workable. There's a few things I could point to, but one is most clearly disqualifying: conflicts. There are (at least) four classes of conflict such aliases would allow.

Let's think about how this would have to work. A manifest decla

[2017-01-29 05:17] #191 closed

[2017-01-29 08:04] flibustenet commented on #186
@sdboyer Thanks for your explanation, it is obvious.

[2017-01-29 10:44] catatsuy opened #193 "Error handling when running `dep init` from project subdirectory"
I tried to adopt `dep` instead of https://github.com/Masterminds/glide in https://github.com/isucon/isucon6-final/tree/master/bench.

`glide.yml` did not include the own repository (`github.com/isucon/isucon6-final`), but `manifest.json` contains the own repository.

glide.yml
[code]

manifest.json
[code]

It is generated by `dep init` on the directory of https://github.com/isucon/isucon6-final/tr

[2017-01-29 13:02] sdboyer commented on #193
Hm, that's odd. When you ran `dep init`, was it from the directory `$GOPATH/src/github.com/isucon/isucon6-final`?

[2017-01-29 14:42] kris-nova commented on #154
Isn't the tool at least a candidate to becoming *official/blessed*? If so would it make sense to call that our in the README?

[2017-01-29 17:56] sdboyer commented on #154
@kris-nova it is indeed a candidate, and that's very much the path we're on. I tried to indicate as much:

[2017-01-29 19:26] davidbarsky commented on #191
You've raised great points that in my haste I didn't consider (partially the conflicts in /vendor). Your explanation has taught me a lot about the complication model, and I'm really thankful for that ❤️.

[2017-01-29 22:18] terah commented on #176
Hi Sam,

This is a project I'd enjoy getting my teeth into however I'm over committed for the next couple of months and it'd be irresponsible for me to take on another project right now.   I will follow golang/dep but if someone else wants to pick up this component of it then go right ahead.

[2017-01-30 00:09] sdboyer commented on #176
of course, i totally understand. i'd much rather people be honest about what their commitments are than overextend. the latter just ends up putting me in an awkward position!

hopefully we'll have it well underway by a couple months from now, but if not, well :)

[2017-01-30 03:47] sdboyer commented on #128
This is now fixed in gps. I'm going to try to finish the last things in [the next gps milestone](https://github.com/sdboyer/gps/milestone/6) before updating dep, so that we can get off the branch dependency. Couple days, I think.

[2017-01-30 07:51] catatsuy commented on #193
@sdboyer No. I ran `dep init` from the directory `$GOPATH/src/github.com/isucon/isucon6-final/bench`.

[2017-01-30 08:38] mattn commented on #193
I tried this on the subdirectory `bench` on `github.com/isucon/isucon6-final`.

manifest.json
[code]

lock.json
[code]

[2017-01-30 12:33] sdboyer commented on #193
@catatsuy it's expected that you run `dep init` from the project root. From `dep init -help`:

Subsequent commands can be run from anywhere beneath the top-level directory, but the initial run has to be in the directory you want to initialize, or pointing to it. This is also how git works - `git init` either takes the target dir to init, or uses cwd, and then you can run `git` from anywhere beneat

[2017-01-30 14:37] tro3 commented on #41
Looks like Context.LoadProject is uncovered.  Any particular reason?  If not, I can work on a unit test for that one after I figure out who you've all set up / torn down test files for os calls in other tests.  Sound okay?

[2017-01-30 15:42] fnouama commented on #174
👍

[2017-01-30 18:06] sdboyer commented on #174
Yep yep!

Oh for sure - but I'll go two steps stronger.

Step 1: it's not just that it requires discipline for devs. It's that you effectively leave to individual developers what may, to meet the workflow/legal/whatever reqs of your organization, need to be questions of _policy_.

Step 2: when you explicitly record the source values in `manifest.json`, you're creating a new vector for conflicts -

[2017-01-30 18:16] sdboyer commented on #41
@tro3 no reason for it :) that's be a great help - you'd effectively be codifying some very important rules about how we decide what the boundaries of projects. Thanks!

[2017-01-30 19:28] tro3 commented on #41
No problem.  Do you have a doc as to what the intended behavior is, or would you prefer I use the existing code as the "spec" and write tests to cover it and guard against future breakage?

[2017-01-31 00:32] sdboyer commented on #41
@tro3 nope, no actual spec for it, so best to take code as spec and work from there.

ideally...if you have time 😄 ...you could also write up some docs explaining how it works, so that we can sorta retro-spec it. would ease discussions about it in the future, and/or contribute to the docs that we are sorely lacking

[2017-01-31 00:54] tro3 commented on #41
Will do.  One question - I assume the lock file is supposed to always be in the same directory as the manifest?  If so, there is a bug when locating the root while ascending.

[2017-01-31 01:10] tro3 opened #198 "Lock file location and add test coverage and doc for LoadProject"
Spinning off a specific case from #41.

While adding a unit test for Ctx.LoadProject, I found that in the case where the lock file is in the same directory as the manifest but the dirtree had to be ascended to find it, the lock will not be loaded.  If the lock file is always located alongside the manifest, this is a bug and I can fix alongside the test additions.  Just let me know.

Also, I assume

[2017-01-31 02:21] sdboyer commented on #198
Yup, that's definitely a bug - the manifest and lock should always be colocated in the same directory. (I think about it as the manifest defining the location of the root, then the lock and vendor being derived from there)

I was going to say that we might want it in a separate place somewhere, but now that `LoadProject` is exported (after #178), I think the docstring is plenty for now.

[2017-01-31 02:56] mem commented on #41
I was just working on some initial tests for LoadProject. I can create a PR for that if that's ok, and expand cases from there.

[2017-01-31 02:59] sdboyer commented on #41
@mem ah, thanks, that'd be great! though it looks like @tro3 is already working on some for `LoadProject`. Maybe have a look at their PR, see if you can suggest some of those additional cases? Or if not, I'm _sure_ we can find something else :)

[2017-01-31 03:02] mem commented on #41
Sure, no problem. It was more of an accident. I looked at the open issues, spotted this one and started working on that function just to get a feeling of the code structure, etc. I'll look at the coverage for other functions and post here *before* writing anything else :-)

[2017-01-31 03:42] peterbourgon commented on #136
I just got this. Does gps need to be updated?

[2017-01-31 04:00] tro3 commented on #41
No worries, @mem - I just looked at #199 and they could be pulled and not step on each other.  I'll leave it up to @sdboyer.  My PR tonight or tomorrow will also include the ascending bug fix, which I moved to #198, and a (slightly) improved docstring.

[2017-01-31 04:10] sdboyer commented on #136
I've been trying to get my 0.14.0 milestone done before merging in the latest version, just so that we can get off tracking the branch. But that's likely to take another day or two, so I can just roll a PR that brings us to the latest in the meantime.

[2017-01-31 04:53] tro3 commented on #198
Documentation would improve with the above as well, as I'd start with a behavioral doc for you to sign off on as a spec, then go from there.

[2017-01-31 16:54] tro3 opened #201 "LoadProject can't handle some relative paths"
For example, for a directory .../src/test that contains manifest.json, `LoadProject("./test")` will fail if launched from .../src.  I'll start a branch/PR to go after this and do a more complete docstring, if indeed this behavior is not desired.  If this is outside the use case, feel free to close the issue.

[2017-01-31 17:05] sdboyer commented on #201
I don't think we have any cases where we actually pass a relative path to the function intentionally, but I also don't know if there's any scenarios in which `os.Getwd()` might return a relative path. So, yes, probably best to cover this. Thanks!

Might this be the cause behind #148?

[2017-01-31 17:05] tro3 commented on #201
I'll take a look

[2017-01-31 17:09] tro3 commented on #148
Yeah, this looks related to #201.  I'll add an integration test for the cases described above then clean up the code.

[2017-01-31 17:54] sdboyer commented on #139
Closing this in favor of #186, as that issue encompasses this one.

[2017-01-31 17:54] #139 closed

[2017-01-31 18:44] tro3 commented on #148
Actually, this is not the same issue as #201 after all.  This is more of a defintion question.  The dependency import path is calculated as everything past `$GOPATH/src`, becuase that is where Go will look for the imports anyway.  So if you start a project in `$GOPATH/src`, it can't figure out the import path.  (I'm a little curious what `$GOPATH/src/src` would do.)  I am too new to the subtlties

[2017-01-31 18:51] sdboyer opened #202 "Command/flags for updating only named deps"
Right now, `dep ensure -update` is the way to update existing dependencies - it will disregard the lock, and update dependencies to the latest version allowed by constraints in the manifest. Problem is, `-update` is global - there's no way to say, "only update this specific dependency; keep the others the same as what's in my lock." (I feel this pain every time I go to update gps in dep)

We need

[2017-01-31 19:18] sdboyer commented on #185
I think we can call this closed now; can make a new one if specific new changes are needed.

[2017-01-31 19:18] #185 closed

[2017-01-31 19:35] sdboyer opened #204 "Use 'golden' files pattern instead of hardcoding test output"
A bunch of our tests contain hardcoded output that we match against. This is OK for simple cases, but we've got fairly complex outputs to test, so it'd be much better to separate them out.

Let's follow the basic pattern of ["golden files" used in stdlib](https://golang.org/src/cmd/gofmt/gofmt_test.go) - keep the output in a pre-named file that's committed, and have a flag we can use to update tha

[2017-01-31 20:12] Machiel commented on #148
Just to clarify, I don't put my sourcecode directly in `GOPATH`.

My tree for most of my projects look somewhat like this: (Or vendor directly in `GOPATH`, if I use `gb`)

Hope this clear some things up :)

[code]

[2017-01-31 20:19] sdboyer commented on #148
@tro3 yeah, this issue describes an alternate use pattern to what's typical; @Machiel's description is a good description of one variant of it. It can work within the general model of dep, sliding through on a technicality (actually, more like a carefully-left-open door).

However, fixing the handling to make the "GOPATH/src as root" case work is more involved, more or less because of what you not

[2017-01-31 20:30] jbrodriguez commented on #186
Just the network please 👍

[2017-01-31 20:32] jbrodriguez commented on #202
@sdboyer Just to understand ... is it ok to assume that given a manifest with fixed dependencies constraints (tied to a specific tag or commit), dep ensure -update will produce an exact copy of the vendor folder (thinking about CI environments and reproducible builds) ?

[2017-01-31 20:46] sdboyer commented on #202
@jbrodriguez that's is a wholly separate thing. Reproducibility about making sure that `vendor/` has what it's supposed to - aka, what's indicated in the lock. `-update` is expressly about _changing_ what's in the lock (`vendor` is then changed as well, but it's more of an afterthought).

I need to make some other issues for e.g. `dep ensure --vendor-only`, which specifically skips anything that m

[2017-01-31 20:47] nathany commented on #168
The other Go tools put these files in `vendor/`. I don't really care where they go, but the discrepancy is one of the first things I noticed. Unless there is a reason in a FAQ somewhere, I suspect the question will be raised multiple times. Guess we can wait and see.

[2017-01-31 20:51] sdboyer commented on #168
@nathany that's fine - we can write up the reasons elsewhere. I just don't want to derail this issue.

[2017-01-31 21:05] nathany commented on #62
My first run of `dep init` took 93 seconds without any feedback.
That's okay, but I don't see `-v` documented in `dep help`.

I tried `-v` and it worked. However, `-v` spams me with "no buildable Go source files in x" warnings. Looking for goldilocks verbosity.

[2017-01-31 21:12] nathany commented on #131
Is `git init` reaching out to the network? It seems like it's shelling out to `git` quite a lot.

If it was possible to make it significantly faster, I don't think the feedback (#62) without `-v` would be necessary.

[2017-01-31 21:17] jbrodriguez commented on #202
@sdboyer Fair enough ! I'll keep looking how it evolves 👍

[2017-01-31 21:17] nathany commented on #168
Regarding the naming...

How important is it to have `.json` as the extension? Bundler (Ruby) and Hex (Elixir) use `.lock` as the extension for the lock file.

If the tool is going to be `dep` going forward (e.g. `go dep ...`), then how about `dep.json`? And perhaps `dep.lock` or `dep.lock.json`?

[2017-01-31 21:25] sdboyer commented on #62
Hm - does your local testing version include https://github.com/golang/dep/pull/194, which was merged this morning? That should provide more incremental feedback - perhaps more in the goldilocks zone.

[2017-01-31 21:27] nathany commented on #186
When running `dep init` on a project previously managed with `gvt`, my hope would be to read in the gvt `vendor/manifest` and use the commit sha from that file for the new lock.json file instead of basing it on SHAs in the GOPATH.

That's the only part that I feel needs importing in this case, matching the lock file to what exists in vendor based on metadata from an existing tool.

I'd actually pr

[2017-01-31 21:28] sdboyer commented on #131
First runs are often quite slow, as there's a lot of initial cloning/bzr branching/whatever to do. Not much we'll really be able to do there, ever. But subsequent `dep init`s of the same project should be much faster - the clone is a one-time thing. And there's a lot more potential speedups in the works - #67

[2017-01-31 21:39] nathany opened #206 "Warning: dep ensure removes unmanaged files from vendor"
Running `dep ensure` removes files from `vendor/` that is doesn't manage.

For example, I had a third-party shell script contained under `vendor`, and of course the manifest file from the vendor tool I was previously using. Both were deleted.

<img width="386" alt="ensure" src="https://cloud.githubusercontent.com/assets/4566/22485378/c1a8a0e4-e7c2-11e6-9aa8-424dc7ee7828.png">

Experienced with dep

[2017-01-31 21:53] nathany commented on #62
Looks like it didn't. I was on 76df5ce06d34253ce16abb2204b577ce14efc587, pulled earlier today. Things change so fast around here. 😉

[2017-01-31 22:35] tro3 commented on #148
Oh, I see.  Actually, I kind of like that use case, though presumably $GOPATH is then set per-project.  (Still a newbie, here.)

So if it works as-is for $GOPATH (thru the door left ajar :-)) and as intended for $GOPATH/src/x, maybe just a better error message for `dep init` run in $GOPATH/src is needed?  In any case, #201 is a different beast.  If you want an explicit error called for this case,

[2017-01-31 23:00] erizocosmico commented on #131
Couldn't the clones be run concurrently? That would certainly speed things up (don't really know if you can clone two repos at the sime time, though).

[2017-01-31 23:08] nathany opened #207 "Location of manifest and lock file (document)"
May be worth documenting the reasoning in an FAQ for whoever asks.

Split off from #168 (naming of those files).

[2017-01-31 23:15] nathany commented on #186
On the flip side, if `dep init` or specific mode of init is focused around using the SHAs from GOPATH or whatever the latest version is from the network, then I think the `vendor` folder should be updated on `init`.

The problem I saw was that `dep init` was locking in commit SHAs that didn't match what was in my vendor folder -- not what was already there, and not updating what was there to match

[2017-01-31 23:24] nathany commented on #175
I do wonder if a central registry in the typical sense is necessary. That is, a place that stores the actual code in case it goes away.

Some sort of central index that references GitHub, etc. may be sufficient as a place to distribute security information. Right now godoc.org servers this purpose, more or less.

[2017-01-31 23:34] nathany opened #208 "Use of dep in libraries (manifest)"
Does it make sense to use `dep` in repositories that are primarily libraries for others to use?

If I run `dep init`, the manifest only lists the dependencies:

[code]

But what about information about the project itself?

If there is a central registry/index in the future (#175), can all the necessary metadata be extracted from godoc comments, git tags, LICENSE files, etc.?

If not, this could al

[2017-01-31 23:48] nathany opened #209 "dep version"
It would be helpful to know which version of `dep` I'm using when reporting issues. Right now the best I can do is use `go log -1` in the `golang/dep` folder.

That doesn't always work though, as I recently [failed to install the new version of dep](https://github.com/golang/dep/issues/62#issuecomment-276504769).

Usually I'd use `-ldflags` with `git rev-parse --short HEAD` and such when building

[2017-02-01 00:12] sdboyer commented on #175
Sure, and having a registry doesn't necessarily entail storing actual code with it. There are lot of useful properties registries might provide without that - for example: https://github.com/golang/dep/issues/174#issuecomment-275589961

[2017-02-01 00:22] sdboyer commented on #208
Yep, `dep` is intended for projects of all stripes - pure libraries, mixed libraries and apps, pure apps, to share or not to share. If you write Go, `dep` should be useful, period.

It is especially weighted in favor of code that's intended to be shared. We've focused there first because that's the harder problem, and the problem we have to address for not just awesome projects of our own, but a h

[2017-02-01 00:23] tro3 commented on #204
Ok - I'll take this one on, being a newbie in the area (but having a pretty hardcore verification background in other languages & technical fields).  My plan, to mimic stdlib, would be to create `testdata` (if needed) and `cmd/dep/testdata` directories (definitely needed) and move all hard-wired files in current tests to those directories.  In the process, I'll learn the integration test scheme yo

[2017-02-01 01:06] nathany commented on #119
If the manifest is intended to be human-editable or not, the location (#207) and name (#168) could help suggest which is the case, even without needing to read documentation.

[2017-02-01 01:16] nathany commented on #208
Maybe it would be worth listing the metadata projects might declare so consider if everything can be retrieved via static analysis. If it can, that may be preferable.

* name (git repo name or godoc?)
* version (git tag)
* license (based on LICENSE file contents)
* summary (godoc package description)
* authors (git committers or AUTHORs file if this is needed?)
* homepage (nicety, may not be neces

[2017-02-01 01:35] nathany commented on #119
With a human-editable format, I'd most likely specify constraints similar to the existing ones, either provided by `dep init` or others working on the project.

If the commands are simple, the CLI wins, but editing a file has the advantage of being self-documenting. I can see the existing constraints and copy-pasta to get things working, rather than memorizing the UI to the CLI. That, and the abil

[2017-02-01 01:40] sdboyer commented on #208
IIRC @mattfarina put together a google doc that tried to itemize just such a list of properties...can't put my hands on it right now, though.

[2017-02-01 01:48] sdboyer commented on #131
Yeah, they're already concurrent. No wins to be had there, unfortunately.

I'll point to #67 again - it really lays out most of the paths forward here :)

[2017-02-01 01:52] nathany opened #211 "make help easier to find"
`dep` shows some help, but doesn't mention `-h`. to get more help on subcommands, only one form works:

* `dep init -h` ✅
* `dep -h init` ❌ "-h: no such command"
* `dep help init` ❌ "help: no such command"
* `dep help`  ✅ so there is such a command?

[2017-02-01 02:14] sdboyer commented on #204
sounds exactly like what i had in mind! awesome!

[2017-02-01 03:04] nathany commented on #168
Manifest may not be the right name.

Unlike other tools, `dep` treats imports in the code as the source of truth.

The file we've called manifest thus far really could (and probably should) be a human-editable file to wrangle with the solver, specifying constraints when the defaults aren't enough. It doesn't need to contain the full details, certainly not the transitive list of dependencies (that

[2017-02-01 03:35] nathany commented on #119
After more discussion and consideration, my opinion is that the "manifest" (#168) should be a human-editable format (preferably not JSON) that can be generated on `init` but shouldn't be modified or mucked with by the tool.

That means comments and order is preserved because the file is only ever parsed.

[2017-02-01 03:39] bradleyfalzon commented on #168
Important if:

Then it could be easy to double-click a file to open an editor and the editor knows what the format is.

[2017-02-01 05:05] nathany opened #213 "The dep workflow: default constraints, minimal manifest?"
This is a meta-issue after some discussion with @sdboyer on [#vendor](https://invite.slack.golangbridge.org/) to better understand the `dep` tool and to both explain my understanding and present what I think the workflow could be like based on what I currently know. Currently I'm only tackling the simple case of building a new app.

The `dep` tool is unique compared to its contemporaries because i

[2017-02-01 13:43] dmitris commented on #186
I would love for `dep init` to have an option to pick up the "source" origin (in Glide - `repo` field such as `repo: git@opensource.mirror.tld.com:golang/net.git`) from the current GOPATH and insert it into the manifest file so that you would not have to do it manually for each of the many mirrored repos.

[2017-02-01 14:23] sdboyer commented on #186
@dmitris that's doable, though it would be a bit of work with the way things are currently split up. Would your use case not be better served simply by being able to convert a `glide.yaml`?

[2017-02-01 15:52] tro3 opened #214 "Integration tests failing?"
In trying to move the hard-wired files to a separate directory, I found I could not get the integration tests to pass, even on the current `master`.  Before I go digging, is anyone else having this problem?  (Trying to rule out my setup.)  I am running `go test github.com/golang/dep/cmd/dep` on go1.7.4 windows/amd64.

FWIW, I notice appveyor produced the same error on my PR - it can't remove a tem

[2017-02-01 16:39] dmitris commented on #186
@sdboyer - that would mean that when starting a new project, I would need to manually add to the manifest the `repo` or `source` field to every "external" (github.com, golang.org/x etc.) dependency to point to the mirror (have to do the same thing with glide now as well).

[2017-02-01 19:05] #198 closed

[2017-02-01 19:06] #201 closed

[2017-02-01 21:58] groob opened #216 "dep init fails if GOPATH has a checked out branch not present in remote"
Today, I tried to run `dep init` on a new repo https://github.com/groob/autopkgd which resulted in the following errors:

[code]

turns out, `$GOPATH/src/github.com/groob/plist` had a branch other than `master` checked out and the changes in that branch were not pushed to github.

`git checkout master` on the plist repo, and then running `dep init` again worked.

This issue sounds similar to #158

[2017-02-02 14:32] sdboyer commented on #213
First, this is an awesome writeup. Thanks for doing this!

I still have some unspecified dread about it being recommended - or at least, standard operating procedure - that constraints are omitted from that manifest. I can't point to a concrete reason for it, but this is a new (to my mind) way of thinking about how we could operate given the unique properties of the tool we have. And in a complex

[2017-02-02 17:08] ajessup opened #218 "`dep ensure` fails when working directory includes a symlink"
When running `dep ensure` for the first time in the root of a project cloned from git, I get a cryptic response:
`ensure Prepare: at least one package must be present in the PackageTree`

This is with a fresh installation of Go (1.7.5) and dep. The project is in my GOPATH.

My `manifest.json` file is:
[code]

My lock.json file is:
[code]

[2017-02-02 18:16] sdboyer commented on #218
Odd. Obvious question, but there's at least one directory with `*.go` files in it in that repo, right?

Is the project you're cloning public, so that I can attempt to replicate?

[2017-02-02 18:22] ajessup commented on #218
There's a couple of subdirectories that have `*.go` files within them. Unfortunately the repo isn't public, but it's also not especially sensitive. I've attached an archive of the repo that reproduces the bug.
[dep-bug-208.tar.gz](https://github.com/golang/dep/files/748632/dep-bug-208.tar.gz)

[2017-02-02 20:10] sdboyer commented on #218
Seems to work fine for me when I place it at `$GOPATH/src/GoogleCloudPlatform/k8s-render-demo` (which I inferred was the expected spot, based on the internal imports) and run `dep ensure`. Not sure what's going on.

[2017-02-02 21:52] ajessup commented on #218
Out of interest, what version of Go were you testing with?

[2017-02-02 22:00] sdboyer commented on #218
That vm had 1.7.3, looks like

[2017-02-02 23:13] #136 closed

[2017-02-02 23:52] #211 closed

[2017-02-02 23:53] nathany commented on #211
thanks!

[2017-02-03 00:03] activeshadow opened #219 "solve error: No versions of github.com/micro/consistent met constraints"
[code]

Full error output was as follows:

[code]

As a test, `go get github.com/micro/consistent` seems to work just fine.

[2017-02-03 00:17] peterbourgon commented on #209
We don't have versions, nor (IMO) should we, until we get a bit more stable.

[2017-02-03 00:47] sdboyer commented on #219
Thanks for the detailed report! I'll have a look at `github.com/micro/consistent` - we have to use a custom implementation of `go/parser` for our static analysis, and it's an ongoing project.

[2017-02-03 01:21] sdboyer commented on #219
Oh, yeah - the problem is the relative import: https://github.com/micro/consistent/blob/master/example_test.go#L8

Short term: if that import is fixed to be `github.com/micro/consistent` instead of `../consistent`, then it should be fine.

Longer term: Relative imports...well, they sorta work within the go toolchain now, but support can be spotty. We have a harder, more global analysis problem to

[2017-02-03 01:29] peterbourgon commented on #206
AFAIU, dep assumes complete control of vendor/, and may indeed blow things away if it feels like it. @sdboyer is this correct? If yes, my intuition is to document that better, somehow.

[2017-02-03 01:31] peterbourgon commented on #214
@jessfraz any ideas here?

[2017-02-03 01:33] peterbourgon commented on #219
I'm gonna call this a wontfix, feel free to reopen if you think that's the wrong call.

[2017-02-03 01:33] #219 closed

[2017-02-03 01:34] jessfraz commented on #214
Has the file not been closed?

On Thu, Feb 2, 2017, 17:31 Peter Bourgon <notifications@github.com> wrote:

[2017-02-03 01:37] mattn opened #220 "discuss: production & development"
Note: This may be early discussion.

AFAIK, dep install all of dependencies into vendor directory without looking build constraints. This is useful to build binaries for each targets. But there are people who want to build with build tag.

https://github.com/mattn/go-sqlite3

In the case of go-sqlite3, dependencies changes with build tag. I believe this use-case is not a little. For example, Ruby'

[2017-02-03 01:53] tro3 commented on #214
FWIW, I have it nailed down to specifically the RemoveTest, lines 90 and/or 114.  (Each launch a process/thread that does not terminate.)  Both try to 'remove' `github.com/not/used`.  (Note: line 82 `go remove -unused` runs fine, even with `github.com/not/used` present.)  In `remove.go`, it *appears* to be line 181 (`s.Solve()`) that launches the non-terminating processes, but I can't yet confirm

[2017-02-03 02:57] activeshadow commented on #219
Roger, thanks!

[2017-02-03 03:34] sdboyer commented on #206
Yep, @peterbourgon is correct - we treat `vendor/` as entirely volatile. It's very hard to do otherwise and keep the tool consistent - especially before we have #121 figured out.

[2017-02-03 03:34] sdboyer commented on #206
It is definitely worth documenting, though - I'll leave this open for docs purposes?

[2017-02-03 03:35] nathany commented on #213
Thanks. I'll pretend that I understand half of that, but I think I get the gist, and I appreciate the experimentation in this direction.

The reason behind this line of though for me is the confusion I see when there is a CLI command to add dependencies to the manifest. That suggests a different workflow that is competing with what the import graph brings. Unions of the manifest and import graph,

[2017-02-03 03:51] nathany commented on #119
This issue is a big deal for how `dep` operates in practice.

Is the `dep` UI primarily a CLI that maintains a machine-readable manifest for you?

Or is the primary UI a human-editable manifest file with a few simple CLI commands that enforce it?

In both cases, the third and currently most important input into dep is the import graph derived from the code it is operating on. I ponder this more in

[2017-02-03 03:57] sdboyer commented on #216
Yeah, thanks for reporting this one. I think this issue is actually the tip of a potentially large iceberg. For every version (branch or tag) we pull from GOPATH, we should ideally:

1. Verify that the named ref exists in the upstream source; if it doesn't, solve failure is guaranteed
2. For tags, verify that (if it makes sense for the vcs type), the revision is as expected - e.g., the revision be

[2017-02-03 03:57] nathany commented on #209
Thanks @Mattn for giving it a go. I was thinking more along the lines of the git sha in the binary to start, along with an issue template. Fine by me to hold off though.

[2017-02-03 04:32] sdboyer commented on #214
The `s.Solve()` call could initiate some processes that don't complete. Improved process management is one of my ongoing goals in gps...though there is handling in place that _should_ prevent the test from ending before all subprocesses have terminated.

What's path to the tempfile that it's complaining about not being able to remove?

@mattn's already been great in help tracking down some of thes

[2017-02-03 05:23] nathany commented on #213
Apologies for the wall of text. I'm thinking "out loud" and had another thought.

Consider this not-so-uncommon diamond scenario where two packages have the same dependency. My project depends on `food` and `power` which both depend on `sun` v1.0.0. After the release of `sun` v2.0.0 the `power` library adopts the new version immediately, but `food` is still happily using the 1st generation `sun` l

[2017-02-03 05:33] nathany opened #221 "installing development tools"
One thing the import graph doesn't provide is an easy way to install the tools used to work with a particular project.

Maybe this is worth considering as a future enhancement to dep. A list of dependencies in the manifest that aren't imported, but have binaries that the project uses.

[code]

In projects I've worked on, this is just a sequence of `go get` commands in a Makefile, which certainly i

[2017-02-03 05:39] groob commented on #221
I've been thinking about this one lately. We had a CI dependency which was being pulled with `go get` in our Makefile, and it eventually lead to a broken build because the tool changed upstream to depend on 1.8 beta features.

[2017-02-03 06:07] nathany commented on #221
This could solve that, but in the longterm there could be other solutions. Assuming `go get` sticks around, maybe it would eventually allow `go get -u github.com/jstemmer/go-junit-report@^0.8.0`.

[2017-02-03 06:41] nvcnvn opened #222 "Can dep resolve dependencies in other tools format (glide or godep for example)?"
Can dep read the configuration from Glide, Godep, GB, GOM, and GPM (currently Glide can do this)?

We now using Glide for all internal packages, if dep can read the configuration from some of the current popular community tools, this will help the transition to this new tool (in some day).

[2017-02-03 13:14] sdboyer commented on #222
Not right now, but it easily could. Initially, implementing reading other tools is all about `init` - #186. However, code that's written for `init` is likely to be trivially adaptable to also be used at dependency resolution time.

In discussions about this prior to opening up the dep project, the committee was generally more in favor of _not_ supporting old tooling at all (except at `init`), with

[2017-02-03 15:33] sdboyer commented on #221
First, there's two cases here to delineate:

* Tools used for e.g. code generation like github.com/tinylib/msgp, where both the supporting binary and your code need to import some library, and need to use the same version of the lib
* Fully external tooling, like a linter, that needn't be entwined with your project's depgraph

(I talked in greater detail about this difference in this glide issue:

[2017-02-03 15:37] sdboyer opened #223 "Deal with lang/stdlib versions"
Right now, dep blithely ignores Go versions. This is maybe not the best idea. From https://github.com/golang/dep/issues/221#issuecomment-277169036:

[2017-02-03 15:41] sdboyer commented on #207
There's lots of reasons we could give, but IMO the one you quoted is pretty definitive - if there's a real possibility of moving away from `vendor` (and there is), then that's pretty much disqualifying.

So the only real question for this issue is _where_ we document it. Right?

[2017-02-03 16:07] joeshaw commented on #168
On the topic of renaming the manifest and lock files (which I support), here are uses of files named `manifest.json` and `lock.json` among existing Go files on GitHub:

https://github.com/search?utf8=%E2%9C%93&q=%22manifest.json%22&type=Code&ref=searchresults&l=go

https://github.com/search?utf8=%E2%9C%93&q=%22lock.json%22&type=Code&ref=searchresults&l=go

`lock.json` appears to not be an issue, b

[2017-02-03 16:30] tro3 commented on #214
The "file in use" is always `(tempdir)\src\github.com\golang\notexist`.  The two Runs that cause the issue don't actually reference this directory, though.  The first is `remove github.com/not/used` and the other is `remove -force github.com/pkg/errors github.com/not/used`.  I'll dig some more today.

[2017-02-03 17:10] mattn commented on #214
Yes, seems to be running multiple tests. Sometimes running git on the directory when the error occured.

[2017-02-03 17:31] nathany commented on #223
Would this involve looking at build tags?

The thing is, some libraries will have source files for both old and new versions of Go, in which case you don't need to do anything. It just works™

Maybe the library should declare in the manifest what the minimum Go version is for the whole repository?

[2017-02-03 18:09] sdboyer commented on #223
It would probably have to factor in, yeah - but as you note, the interesting thing about having release tags is that it's more likely to make toolchain version NOT actually matter.

I think this is probably simplest. Unfortunately, it's also error-prone :(

[2017-02-03 18:37] peterbourgon commented on #222
tl;dr: dep probably won't _read_ Glide config out of the box, but probably will _convert from_ Glide config.

[2017-02-03 18:44] peterbourgon commented on #119
Yes.

No.

[2017-02-03 18:46] nathany commented on #207
FAQ in the README?

Maybe some other reasons are worth documenting too. Actually having them located somewhere other than past Go tools could be a benefit (avoid name collisions).

[2017-02-03 18:49] nathany commented on #223
Possibly doing the former evaluation on `dep init` to put the appropriate Go version in the manifest? Still a bit error prone though, as that value can change. Also not sure if it's worth the effort.

I think it's okay to demand a little more of library authors than end-users.

[2017-02-03 18:57] nathany commented on #119
@peterbourgon Well, that's almost what it is now. But is that what it should be?

Why have two separate .json files not intended for the user to touch?

Using a CLI requires memorizing syntax and consulting help, whereas a file-based UI can provides example usage just by having constraints already specified, not to mention comments for documentation right there.

Personally, I think a simpler CLI

[2017-02-03 19:01] peterbourgon commented on #119
There are reasonable technical arguments for every position you've enumerated. We've gone through a lot of deliberation internally, and settled on separate manifest and lock files, and the tool as the primary mechanism of interaction. It's on me for not documenting that reasoning process sufficiently, and I'll work on that in the coming weeks in a Wiki.

[2017-02-03 19:31] nathany commented on #119
It's possible that it's documented somewhere that I just haven't read yet. Thanks for clarifying @peterbourgon.

[2017-02-03 19:32] nathany commented on #213
Closed based on https://github.com/golang/dep/issues/119#issuecomment-277332485. Will require some rethinking.

[2017-02-04 16:54] nathany commented on #119
@peterbourgon Having a separate file for the user to express their intent is great.

What I'm really not so sure about is having that be a machine-modified manifest file modified exclusively by CLI commands.

Please see #213 for some example workflows that utilize a human-editable file.

[2017-02-04 17:59] mh-cbon commented on #221
npm does put a .bin folder under its vendor folder. Its great thing because if a project rely on some binaries, it matters that the version remains consistent across all the builds.
Now, it means that somehow for all OS, it is possible to update PATH with ./vendor/.bin (assuming the dest folder is ./vendor/.bin). I did not dig in npm to see how they manage that, i believe it is not trivial.
It als

[2017-02-04 18:02] peterbourgon commented on #213
I'm sorry, I'm having trouble following all of the exposition. Do you think you could pare down the "walls of text" to the specific workflow[s] you have in mind?

[2017-02-05 02:10] F21 opened #224 "Visualize vendor tree"
It would be nice if there is a command that can generate a visualized tree of the dependencies in a project.

This would allow us to see what the dependencies of our dependencies (and so on) are.

[2017-02-05 03:39] nathany commented on #213
This has been an exploration of the UX of using dep in one particular direction.

The gist of everything above is to have two inputs into the solver. The import graph and a human-managed "manifest". In the cases above, "manifest" is essentially optional, and can be used to override the default common case (which would be designed to be what people usually want).

This makes the manifest fairly min

[2017-02-05 04:02] nathany commented on #168
@bradleyfalzon Yes, the editor knowing the format could be of some benefit, especially if the manifest is human-editable.

A counter-argument is that if the files aren't intended for human consumption, the names and location (#207) could reflect that. E.g. `deps.lock` is a file that I'm not expected to look at or modify.

[2017-02-05 04:09] nathany commented on #186
Based on #222, would `dep init` have a mode that operates transitively on a mix of legacy tool formats to extract constraints and the git SHAs in order to prepare the initial manifest and lock file?

[2017-02-05 07:36] bradleyfalzon commented on #168
Yes agreed @nathany, my thought was something like godep.json and godep.lock (or along those lines)

[2017-02-05 20:32] sdboyer commented on #186
@dmitris it sounds like you're trying to automate adherence to an organizational policy around using internal mirrors of external deps. If so, I think that's more the class of problem we're discussing in #174. That discussion doesn't necessarily obviate the case for reading in remote source info for the manifest. But, doing that heads further into "making sense of what's in GOPATH" territory, whic

[2017-02-05 20:39] sdboyer commented on #213
Just to be clear, this is [how it _actually_ works](https://godoc.org/github.com/sdboyer/gps#SolveParameters) now. The current project's import graph is represented in `SolveParameters.RootPackageTree`, and manifest in `SolveParameters.Manifest`.

[2017-02-05 20:44] sdboyer commented on #224
The committee talked about having something like this as part of `dep status` we certainly see the value in it. PRs welcome to generate graphviz output, that can be piped to e.g. `dot` and render an SVG :)

[2017-02-06 18:35] freeformz opened #225 "Default to caret"
In our discussions we were in favor of adopting Rust's [carat default](http://doc.crates.io/specifying-dependencies.html#specifying-dependencies-from-cratesio) although it's not implemented yet, so I'm opening this issue to track it.

There is a related issue here: https://github.com/Masterminds/semver/issues/41

[2017-02-06 18:51] freeformz commented on #225
PS: We already default detected, on disk packages to `^<tag>` during [init](https://github.com/golang/dep/blob/466bb309ccc4c1dbd67c5d7f00aa2daa28a71b36/cmd/dep/init.go#L297)

[2017-02-06 20:23] Rhymond commented on #224
I'd like to help out with this one. Repo was cloned and checking the code right now.

[2017-02-06 23:07] nathany commented on #186
@sdboyer After reading #222, I was imaging this is more complex than I originally thought. 😊 But do any existing libraries have manifests that other tools use for resolving dependencies? And would those need to be considered, or could it be a simpler conversion of manifest formats for a single project?

[2017-02-06 23:12] nathany commented on #213
@sdboyer I'm concerned with how it feels to use and what expectations users are having when using the tool. How does the UX of working with the CLI and manifest (if applicable) convey how it actually works?

When users see `dep ensure github.com/pkg/errors@^0.8.0` in the README and then wonder why running said command didn't lock & vendor pkg/errors, there is a disconnect between the UX as present

[2017-02-07 00:07] freeformz opened #226 "init should populate vendor or just create a manifest"
I know we focused on init doing some initial work, including maybe migrations and the like, but after trying to think about how to explain some of the motivations I found it difficult to explain why init doesn't populate vendor after constructing a manifest and lock file.

ATM, I think that init should either:

a. populate vendor after generating a lock + manifest
b. just create a manifest and lea

[2017-02-07 01:05] sdboyer commented on #226
I'm in agreement. The fact that I can scarcely even remember our original motivations for the design we chose suggests to me that practical experience is telling us something.

I'd prefer a).

[2017-02-07 01:07] sdboyer commented on #144
Should be fixed now (actually, back when #205 was merged). Do you mind retrying the case that gave you trouble?

[2017-02-07 01:07] sdboyer commented on #128
Should be fixed now (actually, back when #205 was merged). Do you mind retrying the case that gave you trouble?

[2017-02-07 05:16] jimmysmith95 commented on #226
I'd like to help with this one, cloning the repo now

[2017-02-07 06:09] ChrisHines commented on #144
It may be partially fixed, but it still fails during `dep ensure`. Below is a full transcript of a session on the same test repo starting from scratch using dep built from 466bb309ccc4c1dbd67c5d7f00aa2daa28a71b36:

[code]

[2017-02-07 12:56] sdboyer commented on #144
Great, thanks for checking in on it again - I've got a space in which I should be able to poke more seriously at windows testing now, so I should be able to get ahead of this better.

[2017-02-07 13:25] sdboyer commented on #144
Oh, also, to be clear - did you test hg repositories as well, or just bzr? If not, would you mind renaming this issue appropriately?

[2017-02-07 13:25] sdboyer commented on #144
Oh, also - did you test hg repositories as well, or just bzr? If not, would you mind renaming this issue appropriately?

[2017-02-07 15:18] jimmysmith95 opened #228 "TestEnsureEmptyRepoNoArgs test is failing"
Because this test expects a specific logrus version (0.11.0) but there are newer patches to that version, the TestEnsureEmptyRepoNoArgs test in ensure_test.go is failing. I'd like to just change the version in that test to 0.10.0 for now in order to get the CI build working again.

Edit: wasn't really thinking all the way through about that at first, can't just change the version since this test i

[2017-02-07 15:20] jimmysmith95 commented on #228
Here's some output from the failing test:
`	ensure_test.go:158: expected {
		    "memo": "d4a7b45d366ece090464407f4038cdb62a031c29ef3254f197b8a3d5e6993cca",
		    "projects": [
		        {
		            "name": "github.com/Sirupsen/logrus",
		            "version": "v0.11.0",
		            "revision": "c078b1e43f58d563c74cebe63c85789e76ddb627",
		            "packages": [
		                "."

[2017-02-07 15:40] sdboyer commented on #228
Crap, I thought we'd gotten rid of all of these - yeah, it's not safe to have tests that depend on some external state that is known to change.

You could replace with https://github.com/sdboyer/dep-test - that one's structure will never change. (I have a few of these that, once I create them, I leave absolutely static).

Of course, It'd be much better for us to create a harness that lets us work

[2017-02-07 18:15] LK4D4 commented on #128
I have no permission error now, but I think now it's not even reaching that point. Will try later.

[2017-02-07 22:44] carolynvs commented on #202
@sdboyer What do you mean by "If, after becoming accustomed to `dep`, you still feel compelled to pin dependencies in your manifest for safety/control/whatever, then IMO we've done a really poor job with `dep`"?

Am I missing something key about `dep`? With other dependency managers, I regularly pin to major versions (of libraries that follow semver) and then use update to bump the contents of my

[2017-02-08 00:38] dlsniper commented on #120
Hi,

First of all, I would like to start by saying that I'm baffled by this note:

We don't have a tool that works good, out of the box with the current solution but we already deprecate the one that we are building... It's unfortunate and confusing to say the least.

Now, back on track to my issue. I've described this in Slack but here's the description of the issue again.

My colleague was using

[2017-02-08 02:25] ChrisHines commented on #144
I've seen the problem with both hg and bzr, but my test repo only imports one of them. I can track down a package of the other type of add it as a dependency to the test repo. I'll post back here when it is ready.

[2017-02-08 03:59] sdboyer commented on #120
The entire purpose of this issue is to discuss what is safe to do, starting with some structured possible suggestions. If your perception of the proposal is that it's already decided we're doing all these things, then I'd encourage you to reread the proposal. In particular, this line:

Maybe that latter half isn't explicit enough: my own guideline is that safety comes _first_.

Personally, I'm bec

[2017-02-08 04:13] sdboyer commented on #202
@carolynvs i think the word "pin" is a bit ambiguous. Maybe I'm missing a clear, commonly accepted meaning, but...in the bit from me you quoted, I'm using it to mean, "specify exactly one allowable version." Needless to say, the tool's `update`-type behaviors are no-ops in that situation. So many of the go dep managers have historically worked solely with e.g. git commit SHA1s that that's the ment

[2017-02-08 04:15] sdboyer commented on #128
It should just skip over a dir the user lacks access to. If the change is causing issues on directories you DO have access to, though, then there's certainly something wrong...let me know!

[2017-02-08 05:02] carolynvs commented on #202
Yeah I'm probably using the word "pin" wrong and as you said, most people think of pinning as selecting with a single version without a range. Thanks for the clarification!

I would like to contribute to this issue, if that's okay? Sounds like there is a bit more planning to be done though. Not sure if my opinion counts but here are my thoughts. 😊

* "Follow the original model, where a bare `ensur

[2017-02-08 14:14] tappoz opened #230 "Go v1.7+ seems to be a requirement"
On Windows 10 using `cygwin`:
[code]
According to this https://golang.org/doc/go1.7#minor_library_changes that `enc.SetIndent` has been introduced in go v 1.7.

I am not 100% sure about this issue as I am quite new to `go`, however if this is true then it could be mentioned in the docs, perhaps in the `README.md` near `go get -u github.com/golang/dep/...`.
I can not find anywhere this information

[2017-02-08 14:46] sdboyer commented on #230
I don't think that was intentional, but we also haven't established that we plan to support any older versions of Go, either. In any case, thanks, and good suggestion - I'll update the README.

[2017-02-08 14:47] #230 closed

[2017-02-08 15:18] sdboyer commented on #202
Absolutely. I think some of the confusion here is also because "pin" gets used a lot in an npm context (where shrinkwrapping isn't necessarily the norm), folks will sometimes attach to a single, specific version. Because the lock is a non-optional part of our system but provides that same class of guarantee, I think of us as "pinning by default."

✨ ❤️ 👍 👍! 🕺 🥇!! 😄 😄!!!!!

Yep, that's what I was t

[2017-02-08 16:58] carolynvs commented on #202
💯 👍

Excellent, I love rabbit holes. Also a big fan of yaks.

You had me at ✨ ❤️! Yes, I'd love to take a crack at it.

[2017-02-08 18:28] UkiahSmith commented on #119
We can not be sure, with 100% certainty, that a a manifest file, the goal of which is user intent, actually expresses user intent when that file is updated by CLI commands.

It is far easier to accidentally run an unwanted CLI command, or to run a command twice, than it is to manually edit the manifest file.

Having a manifest file untouched by automation means that there is a very clear separatio

[2017-02-08 19:30] peterbourgon commented on #119
Your point is taken, but putting manifest files in unexpected or undesired states is just as easy with bad edits as it is with bad commands, especially given the state of config file formats.

[2017-02-08 20:10] #228 closed

[2017-02-09 02:15] ajessup commented on #218
Curiously, removing the manifest.json and lock.json files and running
[code]
yields the same error

[2017-02-09 13:46] sdboyer commented on #218
And the dir root is at `$GOPATH/src/github.com/GoogleCloudPlatform/k8s-render-demo`, right?

[2017-02-09 15:56] tro3 opened #231 "Ambiguous lock memo error"
Not sure if this is an issue or not.  While adding test coverage to lock.go, I found that if you modify the memo value, but leave it as a valid hash (ie same length), the ReadLock function returns an error "lock file specified both a branch (master) and version (v0.12.0) for ...".  To the uninitiated like myself, that message would not lead me to suspect a corrupted hash.  Is the above message goo

[2017-02-09 16:06] tro3 commented on #231
Geez.  Driver error.

[2017-02-09 16:06] #231 closed

[2017-02-09 16:21] tro3 opened #232 "Clarification - lock.memo is only for id?"
In adding test coverage to lock.go, I've found that modifying the memo value, but leaving it as a valid hash (ie the correct length), does not trigger an error.  Is this the correct behavior?  If the hash is only being used as an identification value, then it would seem so.  But if it is also intended for verification, it seems a "corrupt memo" error should be thrown?

[2017-02-09 18:03] sdboyer commented on #232
That's surprising - I figured we were doing byte-for-byte comparison of the JSON, and if there's differences in the memo, that should certainly trigger an error. Could you point me a little more precisely to where this is happening?

If we assume the memoization system works here, then the memo field definitely should be checked as part of tests. We've had problems with it changing pointlessly in

[2017-02-09 18:14] tro3 commented on #232
This is just testing the ReadLock function, so perhaps the verification happens downstream if that function?

[2017-02-09 19:03] ajessup commented on #218
Yes

On Thu, Feb 9, 2017 at 5:46 AM sam boyer <notifications@github.com> wrote:

[2017-02-09 19:12] rfliam commented on #186
I think you will also eventually want a `-prompt-conflicting`. If we march the graph and find that (for example) a library demands >2.0 and one demands <2.0 there is no proper resolution. But a developer should be able to say "I actually know >2.0" works.

Also the mode I see the _most_ used in canticle is `-ondisk`. That just says "i know what I have works, save it please". I still warn about con

[2017-02-09 19:49] sdboyer commented on #218
Well, this is really odd. There's gotta be some bit of context/environment that I'm missing here, but I'm not sure what it is.

While I'm waiting for an idea to come to me, all I can really think to do is ask you to instrument the code a bit and report what you see. So, if you could insert a `fmt.Println(p, params)` (or, better, a `pretty.Println(p, params)`, using github.com/kr/pretty) right befo

[2017-02-10 01:11] sdboyer commented on #174
Just bumping this to see if you've had any more thoughts on separating out some issues, @zevdg 😄

[2017-02-10 01:31] freeformz commented on #213
I was the squeeky wheel here so I want to explain my reasons for championing having `dep ensure foo.com/bar/baz@~1.2.3` be a thing. The main motivation was that of **convenience**. The thought being: *Why have to edit the file, manually type in the constraints and then run a command to apply the changes when I can have the tool do the work for me?* I've seen that this has caused a lot of concern b

[2017-02-10 01:35] ChrisHines commented on #144
I've updated my test repo. It now has two external dependencies, one is hg hosted, the other is bzr hosted. They are imported with _ imports, so there is no actual code needed. The minimal reproducer is:

[code]

[2017-02-10 01:49] adg commented on #213
Just wanted to add my thanks to @nathany for pushing in this direction. I think it's a good outcome.

[2017-02-10 02:03] sdboyer opened #233 "Manifests - to constrain, or not constrain"
With the acceptance and closure of #213, we're clearly saying that we want our experiments to head in the direction of a hand-edited manifest. However, we're not so sure about a workflow in which it's "normal" not to list constraints in the manifest. So, this issue is to discuss that specific workflow.

Being that "discussing a workflow" is a bit interminable for a real issue, though, let's have t

[2017-02-10 02:03] sdboyer commented on #213
Echoing @adg here - very glad you pushed through with this, @nathany 😄

Given this general change in direction in favor of one of the broader goals (hand-edited manifests), I'm going to close this issue. Now that we're heading at least in this general direction, this issue is too broad to be helpful for further discussion. So, let's replace it with some more specific follow ups, as needed. I've ki

[2017-02-10 02:03] #213 closed

[2017-02-10 02:21] sdboyer commented on #119
Big update here: as described in https://github.com/golang/dep/issues/213#issuecomment-278831924, we're going to start moving away from having the CLI UI be the main manipulator of the manifest, and instead move the ongoing experiment that is `dep` towards hand-editing of the manifest (outside of `dep init`) and a terser command set.

In other words, the new direction mostly obviates the need for

[2017-02-10 04:37] sdboyer commented on #232
So `TestReadLock()`? Yeah, that shouldn't be it - the check there is `reflect.DeepEqual()`, which should definitely complain if there's a discrepancy in the memos.

The SUT here is really that the file gets loaded correctly. If changes in the memo field aren't being complained about, then it means something's wrong with the loading process, so a failure is appropriate. Unless I'm misunderstanding

[2017-02-10 04:40] tro3 commented on #232
Nope - you've got it.  Will leave as-is.

[2017-02-10 04:40] #232 closed

[2017-02-10 05:49] shadowmint opened #234 "`dep ensure` seems to do nothing if there is an empty vendor folder."
I've put a mini repo here that shows the issue: https://github.com/shadowmint/go-dep-tests

Just run `dep ensure` and look in vendor; it'll be empty.

Basically; it seems like if an empty vendor folder already exists, the tool simply does nothing.

[code]

By comparison,  when there is no vendor folder it works fine:

[code]

[2017-02-10 15:22] tro3 commented on #232
@sdboyer, I may have misread this when I closed the issue. Do you want ReadLock to check for memo consistency?  I would tend to vote for it, in that we now check for valid hash length, so it seems reasonable to check the hash consistency as well. When I first read your comment, I interpreted it as "that check is done somewhere else", but on reread I see that's not the case.

If you want me to add

[2017-02-10 16:01] sdboyer commented on #232
Hmm...feels like we're going in circles, I'm confused again. Let me try to use some code excerpts, to clear it up.

`readLock()` opens up like this:

[code]

So, the validation done there is solely that the string contained in the lock is valid hex. That's all we should be doing there. gps is what generates the actual data used in the memo - right now, that's a byte slice containing a SHA256 hash

[2017-02-10 16:24] tro3 commented on #232
Got it. Then there is no issue, and this should stay closed.

[2017-02-10 17:01] sdboyer commented on #186
I think, @rfliam, those ideas start taking us a bit off topic, because the `dep init` algorithm (on which this issue is focused) is very different from that of `dep ensure`. So yeah, let's avoid derailing this by discussing that in slack, then potentially opening a separate issue for it.

[2017-02-10 17:11] jimmysmith95 commented on #234
I can work on this

[2017-02-11 02:37] tj commented on #168
Fewer files would be nice if possible, not a huge deal but nice to do before it's too late!

[2017-02-11 16:23] tro3 commented on #214
Okay, I've tracked it down.  During the TestRemove test in `gps/deduce.go`, line 558, `maybeSource.try` is being called inside a closure with an internal go routine:

	srcfut := func(mb maybeSource) partialSourceFuture {
		return func(cachedir string, an ProjectAnalyzer) sourceFuture {
			var src source
			var ident string
			var err error

			c := make(chan struct{}, 1)
			go func() {
				defer c

[2017-02-11 20:17] mikkeloscar commented on #174
I'm glad I'm not the only one who have thought about these things :)

I had this thought maybe 8 months ago but went away from it for reasons I can't quite remember. I think I imagined it would be inconvenient to use a different import url. But looking at it now I see more benefits than trade-offs.

One minor thing that this doesn't solve as far as I can tell is when you want to vendor for the fir

[2017-02-11 21:50] bzvestey opened #238 "dep init error on windows when drive letter is lowercase in GOPATH"
Go Version: go version go1.7.5 windows/amd64
OS Information: Windows 10 Pro
Processor Architecture: x64
What did I do:  ran ```dep init``` in project folder
What did I expect: for ```dep init``` to run properly
What did I see: the command returned ```project not in a GOPATH```

Explanation of issue:
When running ```dep init``` on windows you get ```project not in a GOPATH``` when the drive letter

[2017-02-11 23:16] sdboyer commented on #238
I think I'm fine with normalizing the case of the drive letter so that the user doesn't have to care about this detail.

However, if there's anything analogous to this kind of problem in the go toolchain (I have no idea if there is), I'd prefer to follow the pattern there. @adg, any idea?

[2017-02-13 02:46] mattn commented on #238
AFAIK, go toolchain should works fine for case-insensitive.

[2017-02-13 02:55] adg commented on #238
As long as we're using `filepath.HasPrefix` then it should just work.

[2017-02-13 05:12] sdboyer commented on #204
#215 is merged; closing.

[2017-02-13 05:12] #204 closed

[2017-02-13 07:32] sdboyer commented on #234
Fixed by #236.

[2017-02-13 07:32] #234 closed

[2017-02-13 11:31] nkovacs commented on #221
Npm adds node_modules/.bin to PATH when running scripts in package.json (https://docs.npmjs.com/misc/scripts#path) using npm run.

The other common solution is to install a tool globally and also install it locally as a dependency of the package. The two versions might be wildly different, so if you invoke the global version (which is in your PATH), it'll complain but still run (gulp does this), o

[2017-02-13 12:55] sdboyer commented on #214
Great sleuthing @tro3! (side note, I'm curious what you did to track that down

I'm guessing it's not just on Windows where we have an underlying problem with [calls hanging on a password request](https://travis-ci.org/golang/dep/jobs/201049817#L193). The only difference on *nix-y platforms is that such hanging calls don't appear to cause the same issues with directory handles, so it doesn't resul

[2017-02-13 16:07] tro3 commented on #214
I set up a more direct test case, targeting `removeCommand` with proper setup instead of the build-and-run pattern.  Then I was able to get to it through a combo of debugger and good old-fashioned test code insertion.  Glad it paid off.

[2017-02-13 22:39] nathany commented on #119
Hand-editing the manifest gets around the need for comment preservation while allowing comments (not so much with JSON though).

Comments are handy for several reasons. One is to explain why a particular user intent is declared. For example, locking "foo/bar" at an older version due to an incompatibility, LICENSE change, etc.

Comments also could be used my `dep init` to provide some basic documen

[2017-02-13 23:10] nathany commented on #233
My current take is that:
* Adding an import (Go code) without a constraint (manifest) could just mean use the "best version" of that import with a smart default. No busy work of amending the manifest for the common case. Best version being:
  * Use "master" if the imported dependency currently has no tagged versions.
  * Prefer the "latest stable version" if tags are available.
  * Other constrain

[2017-02-14 01:36] lavalamp opened #241 "dep silently fails if no .go files are present"
In an empty dir in an empty GOPATH, I ran `dep ensure`, and it made a lock and a manifest file, but did not actually download any dependencies. I added a .go file and it started behaving as expected.

[2017-02-14 02:04] sdboyer commented on #241
Yeah, it's probably worth adding a check to make sure there's at least one valid dir/pkg of go files, and error out if not.

[2017-02-14 03:42] #202 closed

[2017-02-14 13:55] mh-cbon commented on #221
right! https://github.com/timoxley/npm-path/blob/master/index.js#L131

[2017-02-14 14:39] AlekSi opened #242 "Data race"
Commit 82f15142736267690ad3dad1f8075643b13c2e7b.

[code]

Installed `dep` with `go get -u -race github.com/golang/dep/...`.

[code]

[2017-02-14 14:49] AlekSi commented on #242
Probably due to https://github.com/sdboyer/gps/issues/170.

[2017-02-14 16:16] tro3 opened #243 "CRLF in golden files"
Git on PC's has an autoCRLF feature - automatically converting to CRLF line endings when populating files, but storing those files with Unix-style LF-only endings.  This is an issue with the golden-file test pattern - the golden files on a PC with autoCRLF on will have CRLF endings, but the internal generation being tested only has LF endings, and the tests fail.  If we ask PC users to drop autoCR

[2017-02-14 16:44] carolynvs commented on #243
A repo level `.gitattributes` file can override autocrlf, either just for a few files or the entire repo. We could add a config file and tell windows to not dork up the golden files.

[2017-02-14 16:45] carolynvs commented on #243
If playing with Windows line endings isn't your cup of tea, I can help test this out and submit a PR with the `testdata/` dirs excluded from being rewritten.

[2017-02-14 16:58] tro3 commented on #243
If there is a git configuration that can be checked into the repo to fix the problem, that would indeed seem better than a code fix. I have a pipe running, but it feels like a hack.

[2017-02-14 16:59] carolynvs commented on #243
I'll work on that today.

[2017-02-14 18:18] lavalamp commented on #241
Having it work anyway would be fine by me, too ;)

[2017-02-14 20:20] mh-cbon commented on #221
lets summarize,

q1

I can t really understand that.
If you use `go get` then it means you do use Go,
you should understand what you are doing.
If not, better to read the doc or to do something else.
It s a reasonable behavior, and hygienic, to always double check the repo
you are installing before doing it,
i can only think of heavy windows users of the get-blind-then-click method.

Should unreas

[2017-02-14 21:35] carolynvs commented on #145
Is this a good candidate for me to pick up and take a crack at?

[2017-02-16 04:08] ziyouchutuwenwu opened #248 "wish to add mirror support"
as title, i wish to add mirror support, for the gfw, somethinig can like glide mirror setting

mirror just mean，in china, the gfw always block the access from google, if i want to use some google deps, mirror from github is the best choice, here is my configfile of glide
[code]

[2017-02-16 06:38] elvizlai opened #249 "impossible happened --> panic"
[code]

[2017-02-16 15:41] kris-nova opened #250 "Panic (maybe a race?) when `init` on kops"
Trying to play with `dep` + `kops` (again) today!

Anyway just hit this weird panic where I had to manually remove the lockfile to try again. (Note, that `dep init` worked on the second try!)

[code]

[2017-02-17 00:14] nathany commented on #175
There is that.

[2017-02-17 15:35] mlukasch commented on #241
Maybe Im doing sthg wrong. But I dont see that dep downloads anything to the vendor-folder at all although there is sthg in the manifest. Can you please explain the meaning of lock.json? Thanks

[2017-02-17 20:59] Alex-Wauters commented on #176
For similar examples, node has https://nodesecurity.io/ and for Java there's Owasp Dependency Checker. The latter is quite cumbersome as it needs to download the entire NIST NVD Data Feeds.

[2017-02-17 21:15] nathany commented on #176
So what would this be? A Go-specific list of CVEs for version tags that dep caches locally and uses when resolving dependencies? Essentially an exclusion list with a specific purpose and error messages.

Something like that could provide the equivalent behaviour of a yanked package, but without having a central repository for the actual code.

Perhaps only slightly related, there are a few securit

[2017-02-17 23:23] nathany commented on #119
Perhaps of note, one of the more popular YAML packages is from Canonical which is under an Apache license. https://github.com/go-yaml/yaml/tree/v2.

Kubernetes, Docker's libcompose, and [countless other projects](https://godoc.org/gopkg.in/yaml.v2?importers) import it. That suggests it's had a fair bit of use (battle tested).

Perhaps it's too early to worry about licensing, but I wonder if @nieme

[2017-02-18 12:54] Alex-Wauters commented on #176
Another option which scanners such as GoASTScanner could include is to provide an api which, for a list of dependencies, can provide which versions are insecure and link to the relevant advisories. Someone does have to maintain the highly available list (as builds will depend on it) & ensure it is secure (to avoid DoS by including every package/version).

What the previously mentioned examples don

[2017-02-18 16:10] sdboyer commented on #176
There's a similar need for this independent of the security considerations - simply, being able to indicate (or have the tool infer) the version of Go required by a project. Ideally, I'd like to see us deal with both of these at once.

If we treat them together, though, then it needs its own issue, as the handling of the toolchain version information itself is orthogonal to the security service.

[2017-02-18 16:13] sdboyer commented on #176
Something like that, yeah. I'm more inclined towards an HA service.

[2017-02-18 16:20] sdboyer commented on #249
Mm, that's a new canary panic (as opposed to the ones in #171 and #174).

If the project/repo you were working on is public, could you provide detailed steps for reproduction? I'm pretty sure I know where the problem is even without detailed steps, but it still helps 😄

[2017-02-18 16:25] sdboyer commented on #250
Hmm, this must be an oversight in how we modified `dep init` to prefetch information in #194. Looks like some version of use-after-free...

[2017-02-19 23:57] davecheney commented on #250
Lock files on disk :(

On Sun, Feb 19, 2017 at 3:25 AM, sam boyer <notifications@github.com> wrote:

[2017-02-20 01:37] mem commented on #224
@Rhymond do you have any ideas for an implementation that you might want to share?

[2017-02-20 14:04] johnnyluo586 opened #254 "It should be panic here"
➜ git:(master) ✗ dep ensure -update github.com/Sirupsen/logrus
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x50 pc=0x133dfcc]

goroutine 58 [running]:
github.com/golang/dep/vendor/github.com/sdboyer/gps.(*SourceMgr).SyncSourceFor(0xc42009ee40, 0xc420171a20, 0x10, 0x0, 0x0, 0x0, 0x0)
	/go/src/github.com/golang/dep/ven

[2017-02-20 15:05] sdboyer commented on #250
#254 is a dupe of this, but it shows the underlying problem isn't the changes we made - there's a bug in gps.

[2017-02-20 15:05] sdboyer commented on #250
Agree 😄 suggestions welcome! (in another issue - should actually be a gps issue)

[2017-02-20 15:29] jasonkeene commented on #224
I would be nice to see the dependency graph output as text as to not require:

1. `dot` installed to convert to an image file
1. something to be able to view image files
1. a process such as `dep graph | dot -Tsvg > graph.svg && open graph.svg; rm graph.svg`

The use case I am thinking of is debugging a build issue in a container in CI where `dot` wouldn't be installed and getting the generated st

[2017-02-20 18:42] Rhymond commented on #224
hi @mem,

My first and a current idea is to create a string which you can pipe to `dot` and generate output.
Additional parameters are required by User in process to create output:
* Output directory (Where to store generated image)
* Type [optional] (Output format e.g. png, svg or etc.) (Default: svg)

Now I'm looking how to get dependency **tree** for project.
Because [https://github.com/mem/dep

[2017-02-20 19:33] sdboyer commented on #224
First, a quick clarification - there are two visualizations we might generate: the _project dependency_ graph, and the _package/import_ graph. To this point, I was assuming we were discussing a project dependency graph, but both of these have their uses, so it's worth distinguishing between them.

One reason to draw the line is because they differ in a crucial property: no valid package/import gra

[2017-02-20 23:10] sdboyer commented on #241
@lavalamp i think probably better to error, as demonstrated by @mlukasch's confusion here.

@mlukasch unlike tools in other languages, dependencies are only required if they actually appear in the import graph (or if they appear in the `requires` section of the manifest). The `dependencies` section in the manifest merely specifies constraints on projects IF they are required.

[2017-02-21 04:28] sdboyer opened #255 "Use only fixture repositories in tests"
We currently have a number of tests that use real projects, like `github.com/Sirupsen/logrus`. When generating lock files resulting from solves involving these projects, there can be variability that results from these real repositories having new commits.

This variation doesn't add any value, and it makes our tests sloppier. We need to replace these instances of real projects with fixture reposi

[2017-02-21 04:45] #243 closed

[2017-02-21 05:18] sdboyer commented on #242
Yeah, that's likely the cause. Unfortunately, there are a few issues in the way of making progress there 😞 Trying to get to it as fast as I can!

Did the issue reliably re-occur, or just the once?

[2017-02-21 05:35] sdboyer commented on #145
@carolynvs yeah, I think this should be a good one to pick up. Might be as simple as a single `if` statement :)

[2017-02-21 06:19] #238 closed

[2017-02-21 12:05] sdboyer commented on #241
This should be a pretty straightforward fix, if anyone wants to tackle it :)

[2017-02-21 16:21] jasonkeene commented on #224
Agreed. I've looked into git's algorithm for representing the DAG and it is not trivial. I was thinking more from the perspective of user. The points I outlined above would make for a bad user experience.

[2017-02-21 16:23] eleijonmarck opened #257 "Mode for dep status to output just a list of dependencies"
I would like to have a alternative to status. In which I would just like to have all the dependencies for the go project.

Is the installing of dependencies suppose to be:

```go install $(dep status | awk {1} )```

Instead of :

```go install $(dep list)```

[2017-02-21 18:49] mylk13 commented on #241
I would like to tackle this! :)

[2017-02-21 19:21] sdboyer commented on #241
@mylk13 awesome!  🎉🎉

The most important direction I can give here is that you'll be looking for the results of a call to `gps.ListPackages()` - a [`gps.PackageTree`](https://godoc.org/github.com/sdboyer/gps#PackageTree). If the `PackageTree.Packages` map is empty, then it means no packages were found.

Of course, the map also might have some elements, but [`gps.PackageOrErr`](https://godoc.org/gi

[2017-02-21 20:07] viridicist commented on #218
My working directory is `$GOPATH/src/foo.com/bar/baz`, where `baz` is a symlink pointing outside of the GOPATH, and I received this error. Swapping the symlink for an actual copy of the code made the error go away. I'm not sure if Go generally supports this symlinky setup, but I believe this is the first time I've run into problems with it.

[2017-02-21 21:01] ajessup commented on #218
Ah, it turns out I had the same issue, and avoiding the symlink fixed the problem.

[2017-02-21 22:13] sdboyer commented on #218
If the case here is supporting the project root being a symlink to elsewhere, then I believe #247 should fix that.

[2017-02-21 22:17] sdboyer commented on #257
Sure, that would be a bit more convenient. Unfortunately, adding more commands isn't something we're likely to do just for convenience, as it would hamper eventual integration into the `go` toolchain later on.

We do, however, plan to have more `go list`-style templateable output for `dep status`. It'll be more to type than `dep list`, but it's also much more flexible.

[2017-02-21 22:33] eleijonmarck commented on #257
A perfect! Yea maybe like configurable output dependant on flags.

[2017-02-22 01:58] sdboyer commented on #255
@tro3 any chance i could get you to work on this one? :)

[2017-02-22 03:21] tro3 commented on #255
I certainly can, but where to create the repos?

[2017-02-22 03:34] tro3 commented on #255
I'm going to patch the sysCommit problem quickly first.

[2017-02-22 03:36] tro3 opened #259 "sysCommit in golden files needs to be replaced on update"
A temporary fix before permanent repos go in.  The -update option for golden file generation is overwriting the sysCommit placeholder.  This needs to be put back in on update.

[2017-02-22 03:37] sdboyer commented on #255
@tro3 if you want to, sure - I think it might be better just to make the fix here, though, and avoid the need for variation entirely.

I've created `github.com/sdboyer/deptest` and `github.com/sdboyer/deptestdos`. The latter imports the former. Both have one tag and one branch, each pointing at a different commit. That should provide enough basic variability, I think.

[2017-02-22 03:39] sdboyer commented on #255
Note - eventually I'd like to stop using external fixtures altogether and create some kind of testing harness that lets us just store the source repos locally. Doing this will increase reliability and speed of tests.

That won't work until we have something like local mirror support in gps, though, which is not the highest priority.

[2017-02-22 03:52] tro3 commented on #255
Okay, I have a sysCommit patch running already, though.  I'll PR it for use until I get to the above (likely a couple of days).  If you don't want the patch, reject and no worries.

[2017-02-22 04:13] tro3 commented on #255
All right - I see your test repos and will start working the golden files.  Don't have a ton of time the next few days, but will get a PR started the next few days for you to give early feedback on.

[2017-02-22 04:41] sdboyer commented on #259
Yeah, #260 was fine to do this as a stopgap for #255.

[2017-02-22 04:41] #259 closed

[2017-02-22 04:56] tro3 commented on #255
@sdboyer, can you pls add an 0.8.0 tag to the deptest repo to check the init versioning generation?

[2017-02-22 05:38] sdboyer commented on #255
@tro3 sure, added

[2017-02-22 06:41] nvcnvn commented on #248
I think this is a must have feature, maybe something like:
[code]
will overide the manifest and for later time we don't need to specific the fork address and vcs type.

[2017-02-22 06:52] sdboyer commented on #248
@nvcnvn support for specifying an alternate location exists today. In a glide context, "mirrors" means something else - it's a _local_ path to what's presumed to be a mirror of an upstream repository. That's what I'm assuming @ziyouchutuwenwu is asking about.

It may be possible to support the local mirror case, but doing so is enmeshed with a bunch of other considerations, and I'm hesitant to add

[2017-02-22 14:22] sdboyer commented on #36
Closing this out, as I think the new direction defined in #213 obviates it.

[2017-02-22 14:22] #36 closed

[2017-02-22 17:25] zevdg commented on #233
Given the import graph is the real datasource here.  I don't see this as problem as much as an aesthetic choice.  In terms of visibility/discovery, as long as dep or guru or some other tool can analyze the import graph and manifest and print out the top-level dependency information that people coming from other languages would expect in the manifest, then I don't see a real UX advantage to persist

[2017-02-22 17:56] zevdg commented on #174
Ok, so my main concerns around rewrite rules for alternate sources seem to be much less pressing due to the paradigm shift that seems to be happening around #213 .  If the manifests will not be edited by dep, then we can just make our own manifest generation tooling that writes to the manifest and not have to worry about conflicting with or hooking into dep.  If implemented, #221 could help ensure

[2017-02-22 22:09] zevdg opened #263 "Workflow: local cache servers for remote packages"
Spinning this item out of #174

In general, this issue is to discus avoiding leftpad-type outages while using the dep tool.  Historically in go, the advice has been to check in your vendor directory to ensure that you can always rebuild.  Dep stores enough metadata to reproduce builds without needing to commit your vendor folder, however choosing to do this forces us to find a different way to ens

[2017-02-22 22:37] zevdg opened #264 "Http authentication for private repositories"
Spinning this item out of #174

I'm specifically looking for something along the lines of [what composer does](https://getcomposer.org/doc/articles/http-basic-authentication.md).  Go get has always been painful to work with for private repositories for this reason.  You generally have to manually clone the project to your gopath to get around this issue.  Being able to configure dep with a persona

[2017-02-22 22:41] zevdg commented on #264
Oh, there are also some [sorta sketchy workarounds](https://gist.github.com/shurcooL/6927554) for this that involve configuring git to rewrite http requests into ssh requests, but we can definitely improve on this.

[2017-02-23 22:53] zevdg commented on #263
Just noticed this seems to be a dupe of #248

[2017-02-25 01:08] rmg commented on #175
@nathany

@sdboyer

It would probably be useful to make a conscious effort to distinguish between **registry** (index/metadata) and **repository** (source/binaries/content) here.

[2017-02-25 03:31] sdboyer commented on #175
@rmg I agree that it's a worthwhile distinction, but in our current context, **repository** would be trading one ambiguity for another, as here it's generally be assumed to refer to a version control repository.

[2017-02-25 05:26] shadowmint opened #269 "Native cgo support infrastructure"
So, as a summary for this issue, I tried to use https://github.com/therecipe/qt, with dep, and it didn't work; although it downloaded the dependency, it didn't generate all the required files to actually be able to run.

In order to work, the qt binding uses a setup script `qtbuild` to setup various go packages and generate the various files that cgo can bind to.

This is not an uncommon issue; ht

[2017-02-25 05:50] shadowmint commented on #269
## One possible solution...

So, now I've kind of framed the issue, here's one possible solution I imagine:

If we consider a dependency chain as being something akin to a migration list to a database; you need to run the migrations before you can use the code you've installed in `vendor`; then perhaps we can standardize on allowing packages to specify arbitrary executable commands that need to be

[2017-02-25 13:55] m8m5 commented on #269
Did you mean [qtsetup](https://github.com/therecipe/qt/tree/master/cmd/qtsetup)? qt uses it to setup binding.

Let him know about the issue :smile_cat: @therecipe

[2017-02-25 19:31] viridicist commented on #218
fwiw, #247 doesn't support my situation where the symlink points outside `$GOPATH`

[2017-02-25 21:39] Rhymond commented on #224
Hi,

I generated https://github.com/wallix/awless` output.
Does it look correct? Any updates needed?

![hello](https://cloud.githubusercontent.com/assets/3577968/23334974/776b7f12-fba2-11e6-9a3c-a3179d6eb7cc.png)

[2017-02-26 00:26] sdboyer commented on #224
That's generated by an implementation you wrote? Cool! Seems like it's probably pretty good, except that it lacks version numbers.

[2017-02-26 13:56] elisarver opened #270 "dep init failed within another package and the error is unclear"
Included is the output from a `dep init` call on [reach](https://github.com/elisarver/reach). It appears to be dying on a "self-dependency" of [typewriter](https://github.com/clipperhouse/typewriter)

` package github.com/clipperhouse/typewriter depends on some other package within github.com/clipperhouse/typewriter with errors`

I can build typewriter without error in its own directory. I can als

[2017-02-26 19:53] tro3 commented on #255
@sdboyer - sorry to bug, but can you please add a minor rev tag to one of the repos?  (e.g. add 0.8.1 to a repo with 0.8.0).  Needed for ensure test.

[2017-02-27 01:34] dlsniper opened #272 "proposal:rework approach for tool release along with Go 1.9"
Hi all,

I would like to gauge the interest of this team and contributors for taking a different path in order to get this released with Go 1.9.

By the looks of the things now, there are many outstanding problems in various parts of the solution, and while I'm not saying it's an easy problem to fix, there are definitely different approaches that can be taken to solve it.

My personal interest is

[2017-02-27 11:04] Rhymond commented on #224
@sdboyer version number was added and PR created

[2017-02-27 14:26] adrianlzt opened #273 "doc: complete using example"
As a newcomer to this lib, I feel a little bit lost.
Some example setting up a project will be useful.

[2017-02-28 13:00] ganglio opened #274 "index out of range"
Hello there,

I'm experiencing the following error while executing:

`dep ensure -update`

Output:

[code]

I have a pretty simple manifest:

[code]

and no lock file.

Any idea?

The version I'm on is  9a24cac

Thanks!

[2017-02-28 17:23] therecipe commented on #269
@m8m5
Thanks for letting me know :)

Yes, I would love to be able to specify a build script to make things more simple to setup.

I think these build script(s) will be mainly used to solve these two cgo related problems:
1. To download (and compile) additional C dependencies such as C headers, libs and maybe (cross) compilers (if these dependencies can't live inside the repo)
2. To generate *.go f

[2017-02-28 21:19] fnouama commented on #272
+1

[2017-02-28 23:19] adg commented on #272
We are not even close to "trying to solve all the problems at once." We have whittled down the list of requirements to a very small set of achievable features.

Furthermore, nobody is going to switch to a tool that doesn't give them some baseline feature set. If nobody switches, the effort is totally in vain.

Scope was a major part of the discussion from day one. We made a lot of careful decision

[2017-02-28 23:19] #272 closed

[2017-03-01 16:46] zbintliff commented on #274
Seems to be an issue with the downstream dep `gps`: https://github.com/sdboyer/gps/blob/master/selection.go#L190

While I don't know much about that package it seems like there needs to be a check on the `bimodalIdentifier` to check the size of the `projectList`

[2017-03-02 00:26] nathany commented on #119
💯

Comment-preservation may still be a consideration if the manifest has a `gofmt`-like tool. For example, HCL can be reformatted via Terraform's `terraform fmt`. /cc @mitchellh

[2017-03-02 02:08] nathany commented on #119
As a next step, I think it would be worth doing a comparison of various formats that the manifest/lock could use (JSON, YAML, TOML, HCL). I'm willing to take this on.

Possible factors to consider:

* Human readability, comments, what might it look like in use.
* Pretty-printing (fmt) with comment preservation.
* Widespread usage of format, familiarity with the format, simplicity of the format, im

[2017-03-02 03:23] sdboyer opened #275 "Report solver version and analyzer info in lock"
Analyzer info is currently incorporated in gps' input hashing logic, but that information isn't exposed anywhere. Consequently, if two people were to work on the same project with different versions of dep's analyzer, they would constantly get lock memo mismatches, but with no idea _why_ the mismatch is occurring.

To provide better guidance to users when such a situation arises, we should explici

[2017-03-02 03:28] sdboyer opened #276 "Stabilize manifest and lock"
A crucial early goalpost for `dep` is to have stable, committable manifest and lock files. It's a "1.0"-ish moment: once we have an implementation that we're satisfied with, we will make a backwards-compatibility guarantee that will be good throughout `dep`'s lifetime: from that point on, any version of `dep` will be able to read and operate from any manifest+lock generated from that point, or lat

[2017-03-02 03:33] omeid commented on #119
Comment persistence from my understanding requires some form of AST-like IR which rules out majority of encoding that follow in the paths of `encoding/json` et al that takes a direct route of data to Go type.
That would mean working with an AST-like representation of Manifest and Lock instead of a simple Go struct, is that acceptable?

The other issue to consider is that all the encodings discusse

[2017-03-02 03:47] nathany commented on #119
Based on https://github.com/golang/dep/issues/119#issuecomment-278839601, comment preservation isn't a requirement. It would be nice for a `fmt` like tool, which may or may not be implemented as part of the `dep` toolchain (e.g. text editors have pretty printing for JSON, etc.).

I think a *.go derived format was sufficiently debunked already. https://github.com/golang/dep/issues/119#issuecomment-

[2017-03-02 03:48] sdboyer commented on #119
This would be great, but I want to make a decision here and close this issue, soon. So, let's keep that analysis brief and strictly factual?

Ah, let's back this up a sec - with [the changes to our requirements](https://github.com/golang/dep/issues/119#issuecomment-278839601), we can safely assume that the tool needn't write out the manifest, except on `init`. That means comment preservation is no

[2017-03-02 04:04] sdboyer opened #277 "(re)Spec and implement command set"
In [the original spec](https://docs.google.com/document/d/1qnmjwfMmvSCDaY4jxPmLAccaaUI5FfySNE90gB0pTKQ), the committee elected to aim for explicit commands and an entirely CLI-driven UI for `dep`. However, after some discussion and getting our hands dirty, we decided (https://github.com/golang/dep/issues/213#issuecomment-278831924) to change course and focus instead on a workflow that presumes han

[2017-03-02 04:09] sdboyer opened #278 "Security model"
To date, we've generally deferred the harder security questions in the interest of figuring out what we actually want the tool to be. With the basic vision now settled, security is now at the forefront of our considerations.

To start, we need to articulate a security model for `dep`; this is just a stub/sketch to get us started.

The essential task of a dependency management system is to select a

[2017-03-02 04:10] omeid commented on #119
My two cents,
comments are really useful, so JSON is out.
YAML is extremely complex, and since there is no yaml codec in standard library, the cost of contributing one is pretty high.
HCL is not that common, and not many people use it.
TOML seems like the winner.

[2017-03-02 04:11] sdboyer commented on #278
/cc @Alex-Wauters

[2017-03-02 10:05] peterbourgon commented on #119
I see more HCL than TOML in my daily life.

[2017-03-02 18:39] arthurnn commented on #222
I agree with that.
I think having some tools to convert from X to Dep would make sense.. those tools dont need to be part of dep even, they could be open source tools some create.

[2017-03-02 19:03] kirs commented on #274
I'm getting the same issue. It prevents me from using `dep ensure`

[2017-03-03 12:17] sdboyer commented on #274
hi folks, thanks for the issue report. yep, this is def a bug in gps (the solver engine that powers basically everything dep does). this one does actually look pretty straightforward - if the lengths differ on those slices, then we don't even need to make it into the loop to know they're not a match.

side note -
[code]

This isn't a valid project name - `dep` really shouldn't even let you run wit

[2017-03-03 12:48] ganglio commented on #274
I wrote it by hand after the error and before the issue report. Sorry about that. It's unrelated to the issue, tho.

[2017-03-03 13:26] sdboyer commented on #274
For sure, definitely unrelated to the issue. It just confirms to me that we need some validation there. It's part of a bigger set of feedback we need to provide to the user, probably (generally, constraints that aren't going to be used b/c there are no corresponding imports)

[2017-03-03 15:08] zbintliff commented on #274
#280

[2017-03-03 16:08] sdboyer commented on #274
This should now be fixed - if someone could confirm, that'd be great.

[2017-03-03 17:13] nathany commented on #176
https://opensource.googleblog.com/2017/03/operation-rosehub.html?m=1

[2017-03-03 20:14] sdboyer commented on #176
From the [link she linked to in that post](http://www.geekinasuit.com/2016/12/keep-maven-safe-from-mad-gadget.html), it seems like we shouldn't have the "lurking in transitive deps" problem if we design this right.

[2017-03-04 01:54] variadico opened #281 "Question: Why does dep generate two manifests?"
Hello.

Why does `dep` generate `manifest.json` _and_ `lock.json`? I'm not a packaging expert, but as a user I'm a little confused because they seem to have very similar information.

`manifest.json`
[code]

`lock.json`
[code]

It seems like `lock.json` contains all the information that `manifest.json` has, and then some. I can definitely see why we don't want to manually edit `lock.json`, but are

[2017-03-04 02:05] sdboyer commented on #281
Hi - totally reasonable question. Briefly - `manifest.json` describes user intent, and `lock.json` describes computed outputs. There's flexibility in manifests that isn't present in locks - not super-obvious in yours, but still there, as the `"branch": "master"` constraint will match whatever revision `master` HAPPENS to be at right now, whereas the lock is nailed down to a specific revision.

Thi

[2017-03-04 02:05] #281 closed

[2017-03-04 02:07] sdboyer commented on #222
@arthurnn at present I'm hoping we can do it within `dep`, as I think that'll make for the smoothest community migration process - that's what #186 is about. But there are reasons that might not work out; if it doesn't, falling back to separate tools would be just fine.

[2017-03-04 02:09] sdboyer commented on #218
ughhh symlinks. Yeah, and #247 is stalled a bit right now.

We need a clear, comprehensive plan for this :/ While I've experienced versions of this pain myself plenty of times, I'm really wary about introducing too much symlink magickery without an understanding of the consequences.

[2017-03-04 02:13] sdboyer commented on #273
Yeah, our docs definitely need work. I mean, they mostly don't exist right now 😞

That said, general usage really oughtn't be much more complicated than what's [described in the README](https://github.com/golang/dep#usage). That's optimized for an existing project, but still, the `dep init` helptext should indicate that there's not a lot more to setting up a new project (basically, run `dep init`)

[2017-03-04 02:42] sdboyer commented on #171
This should now be fixed upstream - we'll get it in to dep with the next gps update.

[2017-03-04 02:42] sdboyer commented on #249
bump - i have a sec to work on this soon, but again, it'd be easier if there's a public repo I could work from to replicate.

[2017-03-04 02:45] sdboyer commented on #254
Thanks for the bug report - closing this as dupe of #250

[2017-03-04 02:45] #254 closed

[2017-03-04 03:34] gyuho commented on #120
Could `dep` support features in https://github.com/sgotti/glide-vc? Removing nested vendors, stripping test, example files with sub-dependencies are necessary for large projects.

e.g.

https://github.com/coreos/etcd/blob/master/scripts/updatedep.sh

We are evaluating `dep` as an alternative to `glide`, but `dep` does not seem to strip out anything, so `/vendor` directory size becomes too large.

[2017-03-04 04:21] sdboyer commented on #120
@gyuho really, that's much of the question at hand here. We certainly _could_ do a lot of things, but there are steep tradeoffs to doing anything more than very basic removal. For correctness purposes, we have to prune out any nested `vendor` dirs (which we already do). Beyond that, though, I'm increasingly inclined to not do anything, and leave the responsibility to a separate tool (analogous to

[2017-03-04 14:27] tro3 opened #282 "Abstract integration test harness"
Starting this issue to track definition and execution of an abstract test harness for the integration tests.  Came from discussion in #265.  My initial thoughts are below, all of which are open to discussion/debate:

Goal: Create an integration test system that moves the individual test case definitions to the file system instead of in code.  The test code would simply search the file system to di

[2017-03-04 15:05] tro3 opened #283 "Possible init manifest bug"
An unexpected behavior found during adding integration tests.  Test cases mentioned are in #265, which will make this hard to follow.  I just want to log it here so it is not buried in the #265 discussion.

In the test cases `init/case2` and  `init/case3`, there are two code files, the first of which references the second and one of two fixed remote repos.  That repo and the second code file each

[2017-03-04 15:08] tro3 opened #284 "Possible ensure bug"
An unexpected behavior found during adding integration tests. Test cases mentioned are in #265.

In the `ensure/update` test case, the initial manifest points at a fixed remote repo with version `~0.8.0`.  The remote repo contains both an 0.8.1 and a 1.0.0.  When `ensure -update` is run on this case, the lock file updates to 1.0.0, but the manifest remains at ~0.8.0.  I don't know the expected beh

[2017-03-05 00:26] sdboyer commented on #88
I believe this is resolved now - reopen if not

[2017-03-05 00:26] #88 closed

[2017-03-05 00:30] sdboyer commented on #65
Closing this in favor of #120

[2017-03-05 00:30] #65 closed

[2017-03-05 00:32] sdboyer commented on #165
Relevant to testing improvements - #282

[2017-03-05 01:39] sdboyer opened #285 "Allow defining project {black,white}list policies"
One of the things that organizations may want to do internally is define policies for either allowing or disallowing projects - perhaps projects as a whole, or just some subset of their versions. There are many possible reasons for doing this:

* Exclude versions of dependencies that have not yet been audited to meet with internal or compliance-required standards
* Exclude software from an untrust

[2017-03-05 01:39] sdboyer commented on #285
There's at least one question, though - should the policies be incorporated when computing the memo value (run `dep hash-inputs` to see the raw inputs to the hasher for a given project)? Probably yes, but that could also get pretty annoying to develop if policies are updated regularly.

[2017-03-05 01:43] sdboyer opened #286 "Support for private/enterprise patterns"
Today, `dep`'s primary target is Go's public, FLOSS ecosystem. The public ecosystem is the necessary shared baseline use case that must be satisfied.

Necessary...but not sufficient. Supporting private ecosystems and workflows not only makes things easier for Go users, but it can make it easier to convert private code to open source down the line.

There are a number of things enterprise organizat

[2017-03-05 02:01] sdboyer commented on #218
I wrote up a first stab at a detailed plan for handling symlinks in #247. Should cover this case, I think, though I'm also pretty sure it's got some weak spots as-written.

[2017-03-05 02:17] carolynvs commented on #284
That was introduced by my PR. I think there's still some confusion on when dep should modify the manifest?

https://github.com/golang/dep/pull/235#pullrequestreview-21438086

[2017-03-05 15:35] tro3 commented on #165
I wired a "-logs" flag into the test harness branch I'm working on.  Without -logs set, the stdio pipes will be silent.  The WIP PR should be submitted today.

[2017-03-05 16:01] kirs commented on #274
Thanks for fixing it! I confirm that it doesn't panic with `runtime error: index out of range` anymore.

I can't make it work with [kubernetes/client-go](https://github.com/kubernetes/client-go) yet, but I'm sure must be the package issue.

[2017-03-05 16:02] kirs commented on #274
Unless @ganglio reports that they still experience the problem, I think it's safe to close the issue.

[2017-03-05 17:27] sdboyer commented on #274
I'll close it then, and @ganglio can reopen if need be :)

@kirs is there an issue open for the problem you're experiencing there? maybe #170 or #171?

[2017-03-05 17:29] sdboyer commented on #274
also...makes me think it'd be useful if we had a fully separate integration test, perhaps even protected by a build tag, that we use to assess the init/ensure-ability of certain larger projects.

[2017-03-05 23:39] willfaught commented on #119
Can't the JSON format allow an optional comment attribute that gets parsed and preserved automatically?

Please don't choose TOML. It's weird and verbose and no one knows it. Use YAML instead of TOML.

[2017-03-06 01:47] adg commented on #282
This seems like a sound approach to me.

It's not a problem IMO.

[2017-03-06 02:56] tro3 commented on #282
Thx.  You can see hte progress, open for comment, on #287.  The latest thing I am working is a more structured way of populating `vendor/` before the test and seeing the effects.  Will commit first steps soon, but I am seeing some oddity and want to verify it is not the tests first.

[2017-03-06 03:17] jostyee commented on #119
@willfaught maybe it just you don't know toml only, plz don't represent everyone except yourself.

[2017-03-06 07:25] willfaught commented on #119
Everything I write only represents myself unless I explicitly say otherwise. That's true...implicitly :)...for everybody.

I know all 3 formats. I hadn't even heard of TOML until a few months ago.

[2017-03-06 14:47] sdboyer opened #288 "Error and failure reporting"
Dependency management is a complex problem. We have tried to eliminate incidental complexities in `dep`, but the fundamental challenges remain. Consequently, `dep` has complex failure modes. We need to mitigate the confusion arising from such failures by making errors and failures as comprehensible as possible.

The primary difficulty with these errors is reporting them to the user in a way that l

[2017-03-06 14:49] sdboyer commented on #286
/cc @pbennett this would be a great place for you to summarize some of the requirements you have that we've discussed :)

[2017-03-06 14:59] sdboyer opened #289 "Improve performance"
`dep` is pretty slow right now. The initial costs are hard to defray - we have to clone down repositories - but for subsequent runs, there's [a lot of potential for speedups via
caching](https://github.com/golang/dep/issues/67#issuecomment-269580970).

All of the work to be done here is [in gps](https://github.com/sdboyer/gps/issues/130), but there's a [series](https://github.com/sdboyer/gps/issue

[2017-03-06 15:27] sdboyer commented on #67
Closing this in favor of the more formal #289

[2017-03-06 15:27] #67 closed

[2017-03-06 17:16] gregory-m opened #290 "ensure does not fully populate vendor/"
The bug sometimes happens on our ci machines like 1 per 20 builds.
dep doesn't install github.com/namsral/flag package.

Here some logs from our CI machines:

[code]

[code]

And github.com/namsral/flag indeed not in vendor directory:
(in step 9 I do `ls vendor/*/*`)
[code]

Also I attach manifest.json and lock.json:
[dep.zip](https://github.com/golang/dep/files/821910/dep.zip)

[2017-03-06 19:26] sdboyer commented on #270
Sorry for the delayed response - busy week!

I haven't had time to reproduce this yet, but it's possible we could be falling into a hole here related to code generation. `dep` is built around the assumption that the dependencies you pull in need no post-processing (codegen) of any kind - that everything that _might_ be needed is committed. This isn't necessarily the best assumption, but it's held

[2017-03-06 20:16] elisarver commented on #270
The output isn't much different save for the fact the the command completes in half the time now.

[dep2.txt](https://github.com/golang/dep/files/822363/dep2.txt)

As far as design, the go tool by design ignores files starting with underscore, so I expected the same behavior here, for the sake of consistency. Might be worth considering, since underscore files are technically not required for build

[2017-03-06 20:49] sdboyer opened #291 "Parameterization: OS/Arch/build tags"
To this point, `dep` has completely sidestepped the question of build tags. This is a big thing we need to deal with, and may affect the structure of lock and manifest files.

The basic issue: whereas the toolchain today operates within a concrete build environment (for any given run, there is one `GOOS`, one `GOARCH`, and a finite set of applied build tags), `dep` produces more broadly useful res

[2017-03-06 21:22] sdboyer commented on #270
The leading underscores thing is interesting, and isn't something we've accounted for in the parser thus far. Adding something to skip them would be trivial, but it could have complicated effects - if there's any circumstance in which you actually DO need those deps (e.g., to build a supporting tool for codegen), and at a reliable version, then they do need to be included in analysis. Computing de

[2017-03-06 21:42] ankitm123 commented on #290
Hey @sdboyer, if it is fine with you, I would like to jump on this issue, and see if I can fix it.

[2017-03-06 21:50] sdboyer commented on #290
@ankitm123 that'd be great!

[2017-03-07 00:39] sdboyer commented on #278
also maybe of interest to @raggi

[2017-03-07 06:13] sgamerw opened #292 "could not deduce project root for golang.org/x/sys/unix: unable to deduce repository and source type for: "golang.org/x/sys/unix""
could not deduce project root for golang.org/x/sys/unix: unable to deduce repository and source type for: "golang.org/x/sys/unix"

[2017-03-07 07:53] sdboyer commented on #292
Please re-file a proper bug report, including:

* The command you ran when experiencing the error
* Any other output that you saw alongside the error
* The directory from which you ran the command
* The output of `go env`

That said, being that your profile location says "Beijing," I'm pretty sure this is the GFW blocking HTTP metadata requests to `golang.org` to resolve the vanity URL. We may dev

[2017-03-07 07:53] #292 closed

[2017-03-07 07:53] #274 closed

[2017-03-07 10:36] gregory-m commented on #290
@ankitm123 ping me if you need more info.

I'am unable to reproduce issue on my dev box (MacOS). Our CI agents runs inside docker containers on debian.

[2017-03-07 11:13] sdboyer commented on #154
Took much longer than I'd hoped (sorry!), but here's the promised roadmap: https://github.com/golang/dep/wiki/Roadmap

I'll be updating the README presently.

[2017-03-07 11:13] #154 closed

[2017-03-07 11:26] sdboyer commented on #128
I think this is fixed, so closing it out. Please reopen if need be

[2017-03-07 11:26] #128 closed

[2017-03-07 12:24] luna-duclos opened #293 "Make sure `go dep` can also be ran easily outside the toolchain"
It'd be very useful if we could make sure that `go dep` can also easily be executed outside the go toolchain.
This implies making sure that it doesn't rely on any toolchain internals but can also be built as a standalone binary.
This would mean that users can update the tool outside of the usual go release cycle to get features they care about that were merged in recently.

[2017-03-07 12:33] ankitm123 commented on #290
@gregory-m. I run ubuntu on my machine. I will see if I can reproduce it. I will let you know soon, if I need more info from you.

[2017-03-07 13:17] flibustenet opened #294 "Changelog"
When I want to follow this project I look at the issues and the commits but it's not easy to see quickly what we have to test or eventually to change if needed.
I'd like to see a changelog (or a blog ?) that can help us to test and comment...

[2017-03-07 13:31] frou commented on #168
Regardless of their extension, IMO it is a no-brainer for their names to have a common prefix, to communicate that they are a pair of related files.

[2017-03-07 14:24] sdboyer commented on #294
Hmm, good thought.

I think a blog might be more than we could manage right now, but a changelog might be more doable. The goal there is just to be able to glance through and see a summary of what's changed since you last looked, right?

[2017-03-07 14:25] pkieltyka opened #295 "Manifest and lock file location"
Hello,

Im just trying `dep` for the first time - thanks very much for the work and efforts.

I noticed that `dep init` produces ./lock.json and ./manifest.json in the project root. Would the committee consider moving those files to ./vendor/lock.json and ./vendor/manifest.json? I believe they are better suited there to stay in their own domain and also keep the file structure much cleaner.

[2017-03-07 14:26] tj commented on #168
Does there have to be two files? Similar prefix would be nice if you have to go with two, at least they'll sort together, gets a little gross having dozens of things like this in a project.

[2017-03-07 14:44] ankitm123 opened #296 "Deprecated filepath.HasPrefix"
While trying to solve the issue #290, I took a look at the dep source code. I see multiple instances of filepath.HasPrefix. The function is deprecated, so should we not remove/replace it from the source code? Take a look at this link:
https://golang.org/pkg/path/filepath/#HasPrefix

Ankit

[2017-03-07 14:50] flibustenet commented on #294
Yes, exactly, somewhere you could even write what you wait for us to test/try/comment. It could be a changelog in the project or an issue...

[2017-03-07 14:52] sdboyer commented on #295
Sorry, we're set on them being in the root. #207 and/or #168 have more information.

[2017-03-07 14:52] #295 closed

[2017-03-07 15:02] pkieltyka commented on #295
@sdboyer ah I see. Thats unfortunate to hear the lack of confidence in keeping `vendor/` around.

[2017-03-07 15:06] pkieltyka commented on #168
I'd also prefer to see a single file, like `dep.json` as well. Or just put the files in `./vendor/`, but I've heard thats been ruled out.

[2017-03-07 15:12] kris-nova opened #297 "dep version command"
I am trying to figure out what version of `dep` I am running, and it doesn't look like there is a `dep version` command.. Any thoughts here on a quick way to tell (from the binary) which version you are running?

I know I can check my repo and recompile.. I am just asking if there is anything baked in (if not should we add it?)

[2017-03-07 15:15] ankitm123 commented on #168
@tj and @pkieltyka, @sdboyer explains it pretty well in [#281](https://github.com/golang/dep/issues/281).
Having a lock file helps when working with a collaboration (the lock file locks it down to a specific version of a package). The composer package in php uses a similar pair of files to accomplish this: composer.json and composer.lock.

[2017-03-07 15:20] tj commented on #168
I understand the use-case, just thought it might be worth considering not having two distinct files. Maybe that would be confusing I'm not sure, I don't see myself editing the manifest manually often if ever really.

[2017-03-07 15:26] pkieltyka commented on #168
I second that, I also understand the use-case and for the spirit of simplicity, I'd prefer to just have `dep.json` be the lock file and not edit it by hand unless I absolutely necessary. I would instead rely on the `dep` tool to manage it properly for me. But, I also second if there must be two files then `dep.json` and `dep.lock` feel the best so far :S

[2017-03-07 15:42] sdboyer commented on #168
Right, so, single-file was more of a possibility earlier in the process, when we were imagining that the manifest and lock were both going to be managed by the tool. But we decided to move away from that model (https://github.com/golang/dep/issues/213#issuecomment-278831924), as it was starting to make the commands and flags themselves look absurd. (What's the valency of `-update`? Is it the same

[2017-03-07 15:46] sdboyer commented on #168
Also, point of order - at some point soon I'm gonna put a clock on this discussion, after which the committee will just make a fiat decision. Folks are welcome to throw suggestions in the meantime. I hope we can all understand that a question like "what do we name these files" could go in circles for years, so this is a time when it's better to just drop a hammer.

[2017-03-07 15:47] sdboyer commented on #295
Oh, hopefully that's not too big a worry. I sorta doubt `vendor/` will ever actually go away, but I am confident that anything we layer on top of it will be demonstrably better.

[2017-03-07 15:50] sdboyer commented on #297
see #210 and #51 :)

we could, though we've deferred it a couple times already. tagging some prereleases might help.

[2017-03-07 15:54] sdboyer opened #298 "Ignore testdata, .* and _* dirs when scanning in init"
`dep init` currently scans the contents of `testdata` dirs, as well as dirs with leading `_` and `.` when doing its initial search for imports. This is mostly because gps didn't have the kind of granular parameters dep needed when we originally wrote the implementation. Those params exist now, though; refactoring to use that will solve this bug, and pull out some unnecessary duplicate code, too.

[2017-03-07 15:57] kardianos commented on #291
This "feature" appears to be contradicting someone wanting to check-in the vendor folder and them wanting the vendor folder to be useful across platforms.

Is that correct? Or am I misinterpreting this?

[2017-03-07 16:01] pkieltyka commented on #168
I don't mean to come off negative here, but saying something like "more possible earlier in the process" doesn't jive with striving to make something great and lasting - everything should be possible during development (IMO), even if it means throwing code away, that is the point of design, implementation, evaluation, iteration.

The interface to the dep tool and its file structure will be fundame

[2017-03-07 16:10] sdboyer commented on #291
@kardianos ach, if that's your takeaway, then i probably need to wordsmith some more - sorry, this is a complex thing, and my first pass at a summary is rambly and probably needs more examples.

The baseline behavior here is what you describe - `vendor/` gets populated with a dependency set that's complete for all os/arch. This feature is primarily about putting enough metadata into the lock that

[2017-03-07 16:17] kardianos commented on #291
@sdboyer Okay, thanks for the clarification.

To repeat what you said for clarification, this is a proposal to project the build tags from the go files (transversed from the local project go source outwards to leaf dependencies, noting each build tag set as they are encountered) into the lock file. That way if you are fetching sources on say a CI builder you can say "dep ensure -specific-os-arch"

[2017-03-07 16:27] sdboyer commented on #291
@kardianos eeeexactly. For those not committing `vendor/`, keeping your CI from downloading more deps than it needs to is a big plus.

Another use case would be, say, annotating visualizations with this information - e.g., #271

[2017-03-07 16:31] fatih commented on #119
I also think HCL is great. I'm biased of course because I've wrote the initial Go parser and printer for HCL. It's now transfered to the great people of @hashicorp and used for months and is also battle tested in various projects, such as Terraform, Vault, Nomad, etc.

The most I like is that HCL is also JSON compatible. So you can always use a JSON instead of an HCL file as well if you don't like

[2017-03-07 16:32] kardianos commented on #291
@sdboyer Okay, thanks for the clarification. :) That does make sense in those use cases.

[2017-03-07 16:44] kardianos opened #300 "project structure: move gps into a dep internal directory"
Right now development is in two places: dep and gps. Also gps has to satisfy two customers: dep and glide.

If it is a goal of dep a) become the standard and b) be developed quickly, I suspect pulling gps into an internal directory for now, allowing the API to change quickly and atomically, would speed up development. It would also put all issues in a single location. Let glide continue to use the

[2017-03-07 16:59] flibustenet commented on #119
json is not perfect but it just work now with stdlib. When no other toml/hcl/yaml... parser will be include in the stdlib it seems more reliable to stay with json and don't worry about compatibility promise.
Imagine the situation in some years where we must say that dep files should be read with this version of this parser !
Keep it simple, we should work with what we have instead of looking at wh

[2017-03-07 17:25] willfaught commented on #119
I'm not sure depending on a non-stdlib package to parse is an issue, since
dep would (hopefully) be built into the Go tool. Even if it's not, go get
would handle the dep seamlessly.

On Tue, Mar 7, 2017 at 8:59 AM Wilk <notifications@github.com> wrote:

[2017-03-07 17:27] sdboyer commented on #168
Sure, I agree that everything is possible - when you first start. But as you progress with any project, you discover that you have to make tradeoffs. This is a tradeoff we chose to make.

I don't think the two-file approach qualifies in the category of not having a singular goal, or including complexity/knobs beyond the minimum.

I hope, if you can find the time to investigate and wrap your head a

[2017-03-07 17:32] jrick commented on #119
@flibustenet

This is precisely the problem that dep solves.i

[2017-03-07 17:55] gregory-m commented on #290
I made debug session, and its looks like docker storage driver issue and not dep.
I can't 100% confirm, and I will dig deeper tomorrow.

@ankitm123  If you can't reproduce it, I think its good Idea to stop trying to find not existing bug.
Sorry for wasting your time.

I will update issue tomorrow.

[2017-03-07 17:59] sdboyer commented on #300
I feel like this has been raised before, but I can't find it in the queue...maybe it was in slack, or something.

glide isn't actually using gps right now - the integration branch that I was working on hasn't moved in months. So the two customers thing isn't really an issue (though the requirements haven't really diverged, either).

It's not totally clear to me that having gps in a separate reposi

[2017-03-07 18:02] sdboyer commented on #296
@adg could you speak to this one?

[2017-03-07 18:13] jfcorsini commented on #274
@ganglio , what is the version of you git? I was having this problem with git 1.9 (yeah, that old) and I just updated to 2.11 and the problems disappeared. Maybe that can help :)

[2017-03-07 18:32] ankitm123 commented on #290
@gregory-m, no problem. I will wait for your update. In the meantime, I will dive a bit deeper into the source code.

[2017-03-07 18:45] sdboyer opened #301 "Re-enable TestRemove on windows once it works reliably"
We've got intermittent failures on windows builds due to how gps handles its `git` invocations (@tro3 tracked it down here - https://github.com/golang/dep/issues/214#issuecomment-279156911) - but only on `TestRemove`. I've disabled the test on windows for now; this issue is to remind us that we need to re-enable the test once gps fixes its underlying issue.