[2017-06-07 09:45] ibrasho commented on #581
@sdboyer Somehow this issue is not reproducible using `dep` `v0.1.0-88-gce194b4fb9f3`.

I'm getting the following error instead of a panic: `ensure Solve(): unable to deduce repository and source type for "golang.org/x/sys": unable to read metadata: unable to fetch raw metadata: failed HTTP request to URL "http://golang.org/x/sys?go-get=1": Get http://golang.org/x/sys?go-get=1: dial tcp 127.0.0.1:

[2017-06-07 12:59] jmank88 commented on #431
I can work on this issue.

I've started sketching out a Bolt `singleSourceCache` implementation, and the main open question is how to encode the complex structs/interfaces. @sdboyer Do you have any ideas/preferences for serializing: `Manifest/RootManifest`, `Lock`, `pkgtree.PackageOrErr`, and `UnpairedVersion` (and their underlying types - e.g. `Constraint`, maybe `typedString()`)?

[2017-06-07 13:58] jmank88 commented on #431
Looking at `dep`'s `rawManifest` for inspiration makes me think that most of the underlying types can be cleanly converted to string fields anyways, so I'll experiment with how far I can get with native Bolt structure (nested buckets, and/or composite keys ending in field name suffixes), before introducing another encoding layer.

[2017-06-07 14:35] carolynvs commented on #731
`dep` is designed to only be run at the project root. We have https://github.com/golang/dep/issues/193#issuecomment-276051825 open to show a better error message when dep is run from a sub-directory.

@sdboyer Is it always the case that project root = root of repo? I tried making a simple project and put my go code in a subdir and ran `dep init` from there and nothing blew up. I assume that's beca

[2017-06-07 18:16] alecholmez commented on #618
For a little extra light... I get the same failure on `golang.org/x/text/`:
[code]

[2017-06-07 23:10] sdboyer commented on #731
It doesn't _have_ to be - strictly speaking, you can manually create a `Gopkg.toml` in any subdirectory, then `dep ensure` will treat that as the project root. Or `dep init` at the root, then move it into the desired subdir. This is fine in a monorepo-type environment, or if there's no expectation that the project will ever be _used_ as something else's dependency.

However, moving the `Gopkg.toml

[2017-06-08 00:03] sdboyer commented on #431
AMAZING!! 🎉 🎉 🎉 🎊  - this is something that would make a huge difference for users, and i've got nothing even close to the time required to work on it.

Unfortunately, while that's adequate for a written file manifest/lock's purposes (by design), it likely won't be for gps' internal purposes. There are two issues I can think of off the top of my head:

* `branchVersion` has the `default` field, wh

[2017-06-08 00:47] sdboyer commented on #302
@mikijov hi, sorry for delay - i'm just busy and getting busier these days :/

I think you're trying to reach further than is necessary with this 😄

I think the goal here is a func, with a signature something like this:

[code]

Where the returned map is all the projects that have constraints declared which will have no effect on solving. That function can then be called from anywhere, and the cal

[2017-06-08 19:10] ibrasho commented on #701
It seems `dep ensure` doesn't pick the source from `constraint` for its arguments.

You can try either just running `dep ensure` with no arguments (since you updated `Gopkg.toml` manually) or `dep ensure -v -n github.com/getsentry/raven-go:https://github.com/cockroachdb/raven-go@aa4f14680cc759ef40791558d93c90c6f629c10f`.

@sdboyer : Any pointers? Or if this is the intended behavior?

[2017-06-08 20:52] #702 closed

[2017-06-09 04:07] elvizlai opened #734 "dep constraint not work correct"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 darwin/amd64

v1.1-3647-g30908ea5

### What `dep` command did you run?

`dep ensure -update -v`

[code]
### What did you expect to see?

I modifed `Gopkg.toml` to set grpc to version v1.2.1

[code]

I also tried set

Tring use `override`, but still not work.

### What did you see instead?

Bu

[2017-06-09 06:28] elvizlai commented on #734
I changed my constraint =1.2.1 and fixed. Maybe this can close?

[code]

[2017-06-09 08:51] kron4eg commented on #734
@elvizlai I saw this behavior is "documented" (quotas because probably it should be in FAQ.md, besides PR description) here: https://github.com/golang/dep/pull/644

[2017-06-09 09:43] meilihao opened #735 "`dep init/status` get `not in any GOPATH` when working directory includes a symlink"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8.3 linux/amd64
gep v0.1.0-100-g22b825a
### What `dep` command did you run?
dep init & dep status
### What did you expect to see?
dep commands work.
### What did you see instead?
[code]

[2017-06-09 09:46] JelteF commented on #221
Just wanted to post the tool here that I've been working on to solve this at my company which integrates with dep: https://github.com/getstream/vg

After installation you can just add the following to `Gopkg.toml` to install all the required packages:
[code]

[2017-06-09 09:51] elvizlai commented on #734
@kron4eg  Not the constraint, but the `=` notation

[2017-06-09 09:53] kron4eg commented on #734
@elvizlai I meant this comment from #644

[2017-06-09 10:19] darkowlzz commented on #734
@elvizlai Thanks for reporting and @kron4eg thanks for pointing out the document.

Created #736 for adding the same in FAQ.

[2017-06-09 12:34] mikijov commented on #302
Hi @sdboyer. No worries, it's not a simple codebase, so I understand we should keep it as clean/simple as possible.

I did hear your directon the first time. Bit I thought I would have to expose too much of gps' internals if I went that way. You helped a bit by suggesting different signature. So I was able to come up with something (see below). However, second part of the getApplicableConstraints

[2017-06-09 17:45] sdboyer commented on #735
hi, thanks for the issue! dep does not support this sort of symbolic link pattern - see the FAQ: https://github.com/golang/dep/blob/master/FAQ.md#how-does-dep-handle-symbolic-links.

[2017-06-09 17:45] #735 closed

[2017-06-09 18:08] machzqcq commented on #731
The below results in this for me. Is this related to the same issue ?
`mymac:go-experiments pmacharl$ go get -u github.com/golang/dep/cmd/dep
mymac:go-experiments pmacharl$ echo $GOPATH
/Users/pmacharl/code/go;/Users/pmacharl/git-projects/go-experiments
mymac:go-experiments pmacharl$ dep init
"/Users/pmacharl/git-projects/go-experiments" not in any GOPATH: "/Users/pmacharl/git-projects/go-ex
perim

[2017-06-09 20:14] sdboyer commented on #731
@machzqcq nope, that's a different thing. First, your cwd has to be under `GOPATH/src` - and then some further subdir - #148.

[2017-06-09 20:35] sdboyer commented on #302
@mikijov thanks for sticking with it 😄

I think we can ignore all of that. The goal of this func isn't actually to do any of that complex overriding behavior - it's just to identify which `ProjectRoot`s have constraints that aren't going to have any effect. So (sorry) I think we could even revise the signature again:

[code]

Because all we want is that list.

Hmm...good question. This really ends

[2017-06-09 21:22] dt opened #737 "`dep ensure foo@rev` not altering transitive-only dependencies"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
[code]
### What `dep` command did you run?
I made two example repos, one `depdemolib` that depends on `pkg/errors`, another `depdemoleaf` that depend on, and only on, `depdemollib` (and thus has a transitive-only dependency on `pkg/errors`).

Neither have a hard constraint on a particular version of `pkg/errors`

[2017-06-09 21:30] dt opened #738 ""latest" revision for purposes of `dep ensure -update`"
[code]

The help text for `dep ensure -update` says:
[code]

If I have no constraints in my manifest (e.g. https://github.com/dt/depdemolib), I'd expect `-update` to pick the "latest version", which, if not constrained to a branch, seems like it should be `master` (or whatever `go get -u` would end up with). Instead it looks like if there's a tagged release, that is picked instead, even though I h

[2017-06-10 15:02] kmz913 opened #740 "Cannot run `dep ensure` in working directories linking to project directories under GOPATH"
[code]

Hi, thanks for development of the great tool.

I want to run `dep ensure` in working directories which link to real project directories under GOPATH.
The current dep implementation doesn't allow it.

For example, I want to run `dep ensure` at `/home/username/someproject` in the below directory structure.
[code]

Would you allow to run `dep ensure` in such symbolic linked working directorie

[2017-06-10 15:20] keitax commented on #740
I made PR #741 which solves this issue. I would happy if you could check it!

[2017-06-11 04:17] ofpiyush opened #743 "resolve project root is linked to another path within a GOPATH"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8.3 linux/amd64

dep v0.1.0-103-gba5773d

### What `dep` command did you run?
 dep ensure -v

### What did you expect to see?
A successful ensure

### What did you see instead?
[code]
### More context
I am trying to set up my cloud builder to use dep ensure.

[This line](https://github.com/GoogleC

[2017-06-11 04:18] ofpiyush commented on #743
@sdboyer @brianstarke I have another case for symlinks at least within the same GOPATH.
I fork project at `github.com/cool-people/project` to `github.com/wannabe-cool/project`
I want it to exist at `${GOPATH}/src/github.com/wannabe-cool/project` in my file system. So I symlink it.

Now I can't use dep :-/

[2017-06-11 11:30] niranjan92 commented on #659
@sdboyer  as we don't have a centralised package registry, how will the backend fetch the list of valid versions? Would we query github for a list of tags and branches and cache the results in some way?

[2017-06-11 13:17] #734 closed

[2017-06-12 02:15] sdboyer commented on #659
@niranjan92 Yes, we query the upstream. The `SourceManager` [has facilities](https://godoc.org/github.com/golang/dep/internal/gps#SourceMgr.ListVersions) for doing exactly that.

Caching it would probably be wise. That's actually likely to be the trickiest part in all this, as the `SourceManager` is not currently designed for use in long-lived processes, and it already does cache - but that cache

[2017-06-12 22:04] #577 closed

[2017-06-12 22:11] zmb3 opened #745 "UX feedback around ensure"
Greetings,

I'm just starting to give `dep` a whirl and have run into some behavior I can't explain.
I may be doing something wrong, or I may just not understand the tool, but I thought I'd share my initial experience.  For reference, I have mostly used glide for dependency management up until now.

I started a project, ran `dep init`, and then added a single dependency with `dep ensure`.  All wor

[2017-06-13 05:48] #723 closed

[2017-06-13 08:46] ibrasho commented on #745
Hi @zmb3 .

Thanks for sharing your feedback. I have a few comments:

(https://github.com/golang/dep/blob/master/FAQ.md#why-is-it-dep-ensure-instead-of-dep-install): `dep ensure` doesn't add dependencies. It merely ensures that the project state is consistent. You can either import the dependency in a `*.go` file or add it to the `required` field in `Gopkg.toml`.

If you have time please read the

[2017-06-13 08:46] #745 closed

[2017-06-13 10:03] inoc603 opened #747 "Get source from git metadata when searching local GOPATH"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 linux/amd64
v0.1.0-113-gd2ead1d

### What `dep` command did you run?
[code]

The project I ran this imports a library `github.com/a/repo`. I have a fork of that library `github.com/b/repo`, and I cloned it to `$GOPATH/src/github.com/a/repo` with the same import path.

### What did you expect

[2017-06-13 12:32] zmb3 commented on #745
Thanks for the claification @ibrasho.

I actually did see that particular question in the FAQ, but it came off to me as explaining why you settled on a particular naming convention as opposed to explaining why the tool doesn't add dependencies.

I think what was confusing to me is that the help message states otherwise:

[code]

Perhaps the last section of the help message could be improved.

One

[2017-06-13 13:21] darkowlzz opened #749 ""unable to read metadata" error"
Ran `dep init` in `github.com/kubernetes/kubernetes` repo. After godep import phase in init, gps solver failed with error:

[code]

[2017-06-13 15:28] sdboyer commented on #745
hi @zmb3, thanks for the issue. as @ibrasho noted, we don't currently support this - however, for many of the reasons you cite here (and as previously raised in e.g. #303), we are planning to add some behaviors that'll be more along these lines. #489 will be the first draft at those, hopefully to be merged this week.

The CLI docs you note are definitely out of sync with the behavior of the tool.

[2017-06-13 16:05] zmb3 commented on #745
Thanks for the history Sam. I appreciate the work you all are doing. It's clear from reading these issues that this is a much harder problem to solve than it would appear on the surface.

[2017-06-13 17:30] carolynvs commented on #749
haha https://github.com/golang/dep/blob/master/internal/gps/solver.go#L548 😀

I was just chatting with @sttts about if k8's could try out the importer now that we support godep.  He mentioned that k8's does some "fixing" after running godep, and that the revisions in the godep lock may not be the actual revs used during a build. So it sounds like more work would be necessary (beyond the staging is

[2017-06-13 17:58] carolynvs commented on #747
It sounds useful to me!

It may require a bit of work to implement though. The place where we would need to detect the current remote and set the source would be around here https://github.com/golang/dep/blob/master/cmd/dep/gopath_scanner.go#L244. But it looks like the library that we use to handle repos (Masterminds/vcs) doesn't currently implement reading the remote from the local repository and

[2017-06-13 18:02] sttts commented on #749
Actually, the kube godep-save.sh is still pretty sane: https://github.com/kubernetes/kubernetes/blob/master/hack/godep-save.sh

OpenShift's has plenty of workarounds for godeps: https://github.com/openshift/origin/blob/master/hack/godep-save.sh (178 lines of bash). Vendoring kube will be the real challenge.

Will give the new import a try after my vacation.

About the error: apiextensions-apiserve

[2017-06-13 18:03] ibrasho commented on #749
https://k8s.io/apiextensions-apiserver/examples/client-go/apis/cr/v1?go-get=1 doesn't return failed meta tags, so `dep` doesn't know how to find the repository.

[2017-06-13 18:16] sttts commented on #749
I double checked what we check in nowadays into the lock files: the staging repos are all filtered out in the main Godeps.json, so they are not wrong, but just missing. The staging **directories** have fake sha1s, e.g. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/Godeps/Godeps.json, but dep will probably not care about those. Hence, dep will pick up the staging

[2017-06-14 02:55] inoc603 commented on #747
Thanks for pointing me at the right spot! It really helps a newcomer like me getting started.

 I'll take a look and try to implement it. It might take me some time to get familiar with the code base.

[2017-06-14 03:37] sdboyer commented on #747
I can certainly see how this would be useful, but there are some dragons here to be aware of (in addition to what @carolynvs already noted).

* As @ibrasho [noted in slack](https://gophers.slack.com/archives/C0M5YP9LN/p1497345920507853), while it's easy to imagine this working in simple cases, when there are multiple remotes, it gets harder to figure out what the user intends.
* IMO, false positiv

[2017-06-14 04:28] inoc603 commented on #747
@sdboyer Good points.

After thinking carefully again I think multiple remotes is a problem we can't solve easily. I thought we could use `origin` as default remote, which is not robust at all. Automatically get the source of the dependency is indeed problematic.

I look back on my case, the reason my init didn't pass is that the fork I'm using was on a new branch which the origin didn't have, and

[2017-06-14 06:23] ofpiyush commented on #743
Closing as merging #641 will close it.

[2017-06-14 06:23] #743 closed

[2017-06-14 15:53] sdboyer commented on #749
Sorry, #697 not being merged is the cause of the panic here (though the underlying issue remains). Working on pushing that forward 😄

[2017-06-14 15:54] m1ome opened #751 "Seems dep init broken on tip"
Have some strange behaviour on running `dep init`.

### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8.1 darwin/amd64
v0.1.0-117-g83d792f

### What `dep` command did you run?
dep init

### What did you expect to see?
Created dependency files

### What did you see instead?
[code]

[2017-06-14 16:02] sdboyer commented on #751
The context cancellation is pretty weird, though it's probably just because of some early termination caused by the actual failure - which is a go-get metadata error.

And that's weird, because i just did `curl https://go.uber.org/zap`, and it came back with metadata.

This error persists for you - it's not just the once?

[2017-06-14 16:28] m1ome commented on #751
Yes, always the same result.
Seems `go.uber.go/zap` have a bug.

[code]

But `dep` error message is kinda weird.

[2017-06-14 16:33] m1ome commented on #751
Created issue on `uber/zap` https://github.com/uber-go/zap/issues/451

[2017-06-14 16:48] sdboyer commented on #751
ah, they must've messed up their metadata server. ok, this one's not us 😄

[2017-06-14 16:48] #751 closed

[2017-06-15 00:10] xmattstrongx commented on #722
I can take this on if it is still unclaimed.

[2017-06-15 00:29] sdboyer commented on #722
sure, have at it 😄

[2017-06-15 00:30] xmattstrongx commented on #722
Cool. Should have a PR up this weekend then.

[2017-06-15 01:16] sdboyer opened #757 "Require Go 1.8 for dep"
Right now, we retain support for Go 1.7. The main pain point this causes is that we have a bunch of junk sorting types, just itching to be replaced by `sort.Slice()`.

I'd like to replace these once we think it's safe to do so. One reasonable measure for "safe" could be the state of the RHEL repositories (or at least EPEL). CentOS [seems to have 1.6](https://rpmfind.net/linux/rpm2html/search.php?q

[2017-06-15 01:20] sdboyer commented on #429
Doing this is mostly about removing the method from the interface, then removing implementations of it. There'll also be a bit of removing dead code intended to merge together test and non-test constraints.

[2017-06-15 02:07] ibrasho commented on #706
Closing this since we've updated the FAQs in #755 to include an answer to this question.

[2017-06-15 02:07] #706 closed

[2017-06-15 11:21] mikijov commented on #302
Hi @sdboyer. I'm back. :-) So, first off, I have to say that I thought of you few times while trying to work out what various 1-2 letter variables mean. But I will persist.

So, let's talk ineffectuals. Do you mind taking a quick look if the direction I am taking is close to what you had in mind. I think I am fairly close. However, I am stuck on one point. Constraints by definition point to root f

[2017-06-15 14:30] timothysc commented on #757
I'd absolutely never depend on a distros version of golang unless you want to be sorely disappointed.  I create a clean GOPATH and vendor my deps and use https://github.com/travis-ci/gimme to manage my golang versions.

As an ex-hatter this is how we managed our own non-containerized builds.  For containerized builds, this just goes away...

[2017-06-15 20:14] ibrasho opened #760 "init fails when root has a direct dependency that is also a constrained transitive dependency."
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8 darwin/amd64
v0.1.0-127-g33120009b61b

### What `dep` command did you run?
I created 2 packages:

* `github.com/ibrasho/deplib`
[code]
And ran `dep init` successfully.

* `github.com/ibrasho/deptest`
[code]

`$ dep init -v`

[code]

### What did you expect to see?
`github.com/pkg/errors` to have

[2017-06-16 01:33] sdboyer commented on #760
This sort of thing is a lot of why I prefer to not initialize from GOPATH - because there's absolutely no guarantees about GOPATH having any kind of sane input set, it seems more likely to produce circumstances like these.

Tools, while being far from perfect, still at least have a better _chance_ of being consistent.

More generally, though, I think the real problem we're facing here is that `ini

[2017-06-16 14:42] ibrasho commented on #760
I was expecting the behavior in option 2.

Let's assume we go with option 1, what constraint would get written to `Gopkg.toml`? The one inferred from GOPATH or the one defined downstream? (assuming they don't overlap)

[2017-06-16 18:09] sdboyer commented on #760
There's a lot more than just those two failure scenarios, unfortunately - it could be that multiple downstream ones don't intersect with each other, or that a constraint imported from a tool doesn't intersect with some downstream.

Given that, the best answer is probably to not write a constraint into `Gopkg.toml` at all - just leave it open.

[2017-06-17 01:02] sdboyer commented on #747
Yeah, we 💯 need to handle `init` failure better. Giving the user at least a partial `Gopkg.toml` is preferable to bailing out with nothing, and forcing them to try black magic to make further progress. We're talking about it a bit over in #760, as well - that's another case where such a failure can occur.

[2017-06-17 02:58] #218 closed

[2017-06-17 03:16] ibrasho commented on #684
Closing this since #641 is merged now.

[2017-06-17 03:16] #684 closed

[2017-06-17 03:19] ibrasho commented on #372
Closing this since #641 is merged. We should be handling symlinks according to https://github.com/golang/dep/pull/247#issuecomment-284181879.

[2017-06-17 03:19] #372 closed

[2017-06-17 03:21] ibrasho commented on #632
Closing this since #634 is merged.

[2017-06-17 03:21] #632 closed

[2017-06-17 14:32] mikijov opened #762 "Suggest creating "claimed" tag for issues."
I have seen some repos use "claimed" tag for issues. This makes it easier to track if someone is working on it or not. To ease clean-up of stale claimed tags, we can also add policy that claimed tag is removed 30 days or some such after last update to the issue.

[2017-06-17 16:57] carolynvs commented on #747
Agreed that a single failure preventing anything from being written is not a great experience.

With respect to the multiple remotes, I was thinking of using the tracking branch information. So if the local copy's branch was tracking, "upstream/master", or "origin/mycoolbranch" then then we wouldn't need to guess which remote to use.

[2017-06-17 16:59] carolynvs commented on #762
That would certainly make it easier to find help wanted issues that no one has started on yet.

[2017-06-17 20:04] carolynvs opened #763 "TestMonitoredCmd is flaky"
This test fails intermittently with the following error. This time I saw it fail on go tip, but haven't noticed if it fails on other versions as well.

[code]

[2017-06-17 20:12] #496 closed

[2017-06-17 21:57] ibrasho commented on #762
I agree that we need a better way of allowing contributors to claim issues. But I'm not sure the overhead of managing additional tags is worth it.

It is easier to track progress on claimed issues if the commit messages reference the issue and a PR is created soon after claiming. And we can apply the policy for PRs instead, if the PR is not updated for a week or so, a new claim should be expected.

[2017-06-18 10:51] #722 closed

[2017-06-18 20:52] carolynvs commented on #762
I used waffle.io at a previous job and when a PR was opened for an issue it would automatically apply the "in-progress" label. I don't know if zenhub can do something similar?

I would prefer not manually managing labels, but a label would help people filter instead of checking each potential issue for an open PR.

[2017-06-18 21:33] carolynvs commented on #376
Closing now that the original question (dep vs go get) has been answered in the FAQ.

[2017-06-18 21:33] #376 closed

[2017-06-19 00:04] mikijov commented on #434
Hi @cmlicata. Just wanted to check if you are still looking into this. I am looking for an easy issue to dig into, and this caught my eye.

[2017-06-19 00:09] mikijov commented on #762
One of the reasons for liking tags is that it's easy to search/filter for them. Does anyone know if it is possible to search for issues by providing condition on activity of the related PR's?

Hmm, if a search like this is possible, then automating tag maintenance/removal would also be possible.

[2017-06-19 00:09] mikijov commented on #429
I will take this one.

[2017-06-19 01:03] sdboyer commented on #747
@carolynvs tracking branches would give us an improved signal, but it still seems like the benefit here is outweighed by the complexity cost.

[2017-06-19 01:05] sdboyer commented on #763
This flaky test been a thorn in my side for some months now. I managed to make it a bit less flaky by playing with the timeouts, but the issues still occur.

I'd love to find a way to achieve the same or similar guarantees from the test, while avoiding the issues related to timing.

[2017-06-19 01:14] sdboyer commented on #762
I tend to agree with @ibrasho that the overhead of keeping these labels up to date and correct makes the value of this questionable - if nothing else, it'd impose on maintainers the requirement of going back through the queue and ensuring that everything marked "claimed" is actually seeing active progress.

I don't know if there's anything zenhub can do to help with this, but if so, that could mak

[2017-06-19 01:22] carolynvs commented on #747
Closing for now since we don't plan on tackling this feature at this time.

[2017-06-19 01:22] #747 closed

[2017-06-19 01:37] mikijov commented on #264
How about using authentication callback. When solver requires credentials, it would call the callback (if one is registered). dep or another front end can then return credendials from any available source. Moreover, text mode driver can ensure to serialize text prompts, and ask the user for one credential at a time. This would require calling solve() in async way, but that should be easy I think.

[2017-06-19 03:19] cmlicata commented on #434
Yea, still at it. I was off the grid for a bit for job interview stuff but yea.

Sent from my iPhone

[2017-06-19 10:05] calmh opened #767 "Down repository prevents vendoring of other packages"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

Go 1.9beta1, v0.1.0-172-gdbd910b (latest as of right now)

### What `dep` command did you run?

`dep ensure golang.org/x/net@master`

### What did you expect to see?

The package should have been ensured.

### What did you see instead?

[code]

The `(some private repo)` package depends on `stvn.cc/broadcaster`.

[2017-06-19 10:41] mikijov commented on #762
No problem.

I will dig a bit if I can find a nice way to query for (non)active issues. If anyone else knows a way to query this, please post it here.

[2017-06-19 14:51] tamird opened #769 "canary panic on `dep ensure -update -v`"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
`go version go1.8.3 darwin/amd64`, dep: f4027efdd10ab0e7561e53f92953d71f3d8c52a9

### What `dep` command did you run?
`./bin/dep ensure -update -v` on https://github.com/cockroachdb/cockroach/commit/f7b7398e1de8b955d65e5031a291ada582db21e0 (we vendor dep itself)

[code]

### What did you expect to see?
Success

[2017-06-19 16:07] tamird commented on #769
Ah, I was incorrectly using an old version of dep.

[2017-06-19 16:07] #769 closed

[2017-06-19 19:16] carolynvs commented on #380
Fixed by #500

[2017-06-19 19:16] #380 closed

[2017-06-19 19:33] carolynvs commented on #193
@wslulciuc Are you still working on this one?

[2017-06-19 19:45] wslulciuc commented on #193
@carolynvs : Yeah, still plan to patch this, just haven't had the time I'd hoped to focus on this issue. Finally have some free time now, so I'll be visiting this issue later tonight!

[2017-06-20 01:56] sdboyer commented on #767
hi, thanks for the feedback! 😄

there's a few things going on here.

unfortunately, this is fundamental to the problem here: we can't know _a priori_ that `stvn.cc/broadcaster` isn't a dependency of `golang.org/x/net`, or that they don't have some mutual shared dependency. the only way for us to guarantee the overall consistency of any `ensure` operation is to recompute the entire solution. that n

[2017-06-20 03:02] Konstantin8105 opened #771 "Will or not"
Hello,
On page https://github.com/golang/dep - "dep is **NOT** an official tool".
On page https://github.com/golang/go/wiki/PackageManagementTools - "dep, **will be** the official dependency tool".

Please clarify the true.

[2017-06-20 03:44] F21 opened #772 "ctx.DetectProjectGOPATH: both C:\Work\src\github.com\F21\some_project are in the same GOPATH C:\Work\src\github.com\F21\some_project with Git Bash"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
Go 1.9-Beta1 and dep c79b048e07eccf76d323d4c2e88d7c6d72ea735f
Git is 2.13.1.windows.1

### What `dep` command did you run?
I have a project with this structure
- cmd
  - some_executable
    - main.go
- some_package (imports the some_project package)
- something.go (package is some_project)
[code]
### What did yo

[2017-06-20 03:54] sdboyer commented on #771
hi! thanks for posting the issue.

both are true. the full line in the README is:

the next word is "Yet," which should resolve the apparent issue.

basically, dep is "the official experimental tool," but being the official experiment is not the same as being an official, basically complete, Go team-supported tool.

[2017-06-20 03:57] sdboyer commented on #772
@ibrasho i think we may have broken windows support :(

[2017-06-20 04:11] F21 commented on #772
Git repro demonstrating the issue here: https://github.com/F21/dep-gopath-err

[2017-06-20 04:27] F21 opened #773 "Symlink issue on Windows: A required privilege is not held by the client."
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
Go 1.9-Beta1 and dep c79b048e07eccf76d323d4c2e88d7c6d72ea735f on Windows 10 64-bit

### What `dep` command did you run?
$ dep init

I am using dep init to import the dependency `github.com/grpc-ecosystem/go-grpc-middleware` into my project. The dependency has a symlink which breaks dep: `https://github.com/grpc-

[2017-06-20 05:19] F21 opened #774 "Chmod fails on Windows"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
Go 1.9-Beta1 and dep c79b048 on Windows 10 64-bit

### What `dep` command did you run?
[code]
My projects are in `D:/Work/`. My `GOPATH` is also `D:/Work`.

The dependency causing issues is https://github.com/prometheus/procfs . It contains folders and files with `@colon@` in the path: https://github.com/prometh

[2017-06-20 05:52] calmh commented on #767
Hi!

Yeah, I can see that. But the `golang.org/x/net` part of it is available, and the other dependencies are already vendored. I get the part about needing to talk to the vanity domain to figure out the root etc, but my complaint is that these packages are already vendored and the information it needs is cached in the constraints and lock files (I think? at least I expect it should be.).

Perhaps

[2017-06-20 06:46] ibrasho commented on #772
This error makes no sense. 😕

What's the value of GOPATH in Git Bash and the command prompt (`echo %GOPATH%`)?

[2017-06-20 08:28] F21 commented on #772
@ibrasho In both Git Bash and CMD, the GOPATH are set to `C:\Work`. I confirmed this by echoing the respective `GOPATH` environment variable in each shell.

[2017-06-20 11:37] andreynering opened #775 "dep prune is deleting the entire folder (on Windows only)"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

[code]

### Description

On Windows only, `dep prune` is deleting everything inside `vendor` leaving the folder empty. On Linux, it's working as intended.

I tried on two different projects. These are the files of one of them:

- [Gopkg.toml](https://gist.githubusercontent.com/andreynering/08e94ad54b3f7

[2017-06-20 11:47] andreynering opened #776 ""panic: version queue is empty, should not happen" while trying to use "develop" branch of "github.com/gin-gonic/gin""
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

[code]

### Description

I first run `dep init -v`. Here the files:

- [Gopkg.toml](https://gist.githubusercontent.com/andreynering/08e94ad54b3f7c341cf838b31c28486a/raw/62cb734b036c91b3ee49ffab2e7fb3bac55c458b/Gopkg.toml)
- [Gopkg.lock](https://gist.githubusercontent.com/andreynering/08e94ad54b3f7c341cf

[2017-06-20 12:26] sdboyer commented on #767
For the most part, talking to other upstreams can be avoided, given some cleverness. Maybe half of that cleverness is currently in place.

But, in general, the problem that dep solves is deceptively difficult. In the complex world of dependency management, our primary concern is _safety_.

[2017-06-20 13:01] calmh commented on #767
Gotcha. Early days and so on. the offline story is something to consider though. As it is, I've switched over to manual `cp -r` managing of the vendor folder as `dep` can no longer operate on this project.

[2017-06-20 15:34] ibrasho commented on #772
Copying from Slack:

[2017-06-20 16:09] ibrasho commented on #774
This issue happened with this version https://github.com/prometheus/procfs/tree/f13c2fcbe05e5f76f69fe0d7e3eabc6679347033/sysfs/fixtures.src

Reading https://github.com/prometheus/procfs/issues/57 should give some context.

[2017-06-20 16:34] ibrasho commented on #773
@sdboyer This one is definitely caused by #657.

Creating a symlink of Windows requires additional permissions, so maybe we should fall back to copying?

I would change https://github.com/ibrasho-forks/dep/blob/4d224bd556135823bbc4512aac32a206244c4ab0/internal/fs/fs.go#L244-L250 to:
[code]

to use `fs.copySymlink` only when not on Windows.

[2017-06-20 21:03] dcelasun opened #777 "Using dep with a project depending on "gomail" results in unbuildable package"
### Repro steps

See minimal repro [here](https://github.com/dcelasun/depbug).

### Description

The problem is `dep` resolves `gopkg.in/gomail.v2` to an ancient commit ([#41f3572](https://github.com/go-gomail/gomail/commit/41f3572)), which doesn't have the `NewDialer` function. `go get`, however, does the right thing with `go get gopkg.in/gomail.v2`.

### What version of Go (`go version`) and `de

[2017-06-20 22:02] ibrasho commented on #777
Hello @dcelasun.

Semver tags are preferred to branches. `gopkg.in/gomail.v2` has a tag `2.0.0` and that is the version `dep` selects in this case.

This answer in the [FAQs](https://github.com/golang/dep/blob/master/FAQ.md#how-does-dep-decide-what-version-of-a-dependency-to-use) should help you understand how `dep` selects versions.

The solution is to update the constraints in `Gopkg.toml` to us

[2017-06-20 22:22] ibrasho commented on #772
Varible | Value
--- | ---
`Project.AbsRoot` | `C:\Work\src\github.com\F21\some_project`
`Project.ResolvedAbsRoot` | `C:\Work\src\github.com\F21\some_project`
`Ctx.GOPATH` | `C:/Work/`

[2017-06-20 22:32] ibrasho commented on #772
`ctx.DetectProjectGOPATH: both C:\Work\src\github.com\F21\some_project and C:\Work\src\github.com\F21\some_project are in the same GOPATH C:/Work/`

This error message means the following values were set and detected:

Varible | Value
--- | ---
`Project.AbsRoot` | `C:\Work\src\github.com\F21\some_project`
`Project.ResolvedAbsRoot` | `C:\Work\src\github.com\F21\some_project`
`Ctx.GOPATH` | `C:/Work

[2017-06-20 23:09] ibrasho commented on #763
Found a race condition that could happen on `activityBuffer.buf` (occurred after ~300 runs of the test). I've opened #779 with a possible fix.

This is a different failure reason than the one @carolynvs reported. I'd love if we could document the failing builds here to collect the *possible other* reasons that could cause this to fail.

And I'm still thinking of ways to figure out an alternative t

[2017-06-20 23:17] F21 commented on #773
@ibrasho

I replaced https://github.com/golang/dep/blob/master/internal/fs/fs.go#L271-L277 with your snippet and built a copy using `go install`.

With the path, the symlink does not appear to be a problem, but it throws another error:

[code]

[2017-06-20 23:23] F21 commented on #772
@ibrasho

Just tried this on my dev machine with git bash:

[code]

[2017-06-21 00:07] ibrasho commented on #773
Does `C:\Users\user\AppData\Local\Temp\dep659169247\vendor\github.com\prometheus\procfs\fixtures\26231\exe` exist?

[2017-06-21 00:15] F21 commented on #773
I just tried a `dep init` from scratch again. It seems that after the command terminates, the temp folder `C:\Users\user\AppData\Local\Temp\dep283388003` is removed, so there doesn't seem to be a way to inspect it.

[2017-06-21 00:41] ibrasho commented on #773
I just noticed this seems to be similar to the error in #774. I'll assume the fix I proposed resolved the bug with symlinks.

[2017-06-21 00:42] ibrasho commented on #774
What does `echo %PATH% return in Git Bash and CMD?

[2017-06-21 00:53] F21 commented on #774
This is from our slack conversation:

This is the path in git bash:

[code]

This is the path in cmd (using cmder)

[code]

I am using my dev machine, so the GOPATH is `D:/10-workspace/go`.

[2017-06-21 01:25] sdboyer commented on #763
The current approach relies on unsynchronized clocks to agree, so it's pretty much always going to be flaky. We need to figure out how to get rid of the clock in the invoked process if there's going to be any hope of making it not flaky.

[2017-06-21 01:35] ibrasho commented on #774
I hope we've found the root cause and it doesn't seem to be directly related to `dep`.

@F21 seems to have `core.symlinks` set to `true` in [git config](https://www.kernel.org/pub/software/scm/git/docs/git-config.html) which is might be causing this issue.

Currently, `%GOPATH%\src\github.com\prometheus\procfs\fixtures\26231\exe` is getting created as `%GOPATH%\src\github.com\prometheus\procfs\fix

[2017-06-21 04:20] ibrasho commented on #775
@andreynering could you please try the PR and confirm if it solves the issue?

[2017-06-21 04:43] F21 commented on #774
I am still seeing the same problem.

Here's what I did:
[code]
The file `%GOPATH%\src\github.com\prometheus\procfs\fixtures\26231\exe` still exists.

Running the code produced the following output:

[code]

[2017-06-21 04:50] ibrasho commented on #774
Could you check if `%GOPATH%\src\github.com\prometheus\procfs\fixtures\26231\exe` still has a `.symlink` extension?

[2017-06-21 04:52] F21 commented on #774
If I turn on file extensions in explorer, it does not have a `.symlink` extension. But under `Type`, the file type is listed as `.symlink`.

[2017-06-21 05:06] ibrasho commented on #774
Was this also the case before switching `core.symlinks` off?

[2017-06-21 05:13] F21 commented on #774
Yes, I before switching it off, the `Type` as `.symlink`, and the symlink file had no extension.

[2017-06-21 09:13] #581 closed

[2017-06-21 11:34] andreynering commented on #775
@ibrasho Sorry, it's not fixed yet. But the behavior changed a little.

Before I had an empty vendor:

[code]

Now I have the next level of folder, but they're empty:

[code]

[2017-06-21 12:03] ibrasho commented on #775
What does `dep prune -v` output?

[2017-06-21 14:14] ringrid opened #782 "dep init cannot support multi GOPATH on Windows 10"
my go version: go1.8.1 windows/amd64
go env:
[code]

I had multi GOPATH on windows 10，the command 'dep init'  was correctly in first GOPATH, but failed in other GOPATH:
[code]

[2017-06-21 16:29] carolynvs commented on #777
I think this is the same init problem that #715 is attempting to fix by having init detect the `v2` branch and uses it instead of the semver.

[2017-06-21 16:34] dcelasun commented on #777
It definitely looks related, but #715 only applies to configs imported from other tools, right? The question is how it should behave when the only information available is the import path. I don't think there is a solution that'll satisfy every use case :/

[2017-06-21 17:06] carolynvs commented on #776
Seems like the root problem is that https://github.com/gin-contrib/sse doesn't have any tags or branches with version names. dep isn't handling gopkg.in's [Version Zero](http://labix.org/gopkg.in#VersionZero) correctly, which should resolve to the default branch.

[2017-06-21 17:38] carolynvs commented on #777
Yeah they are not exact same problem but are quite similar. In this case, dep isn't following gopkg.in's sorting rules, where a branch named `v2` is less than a tag named `v2.0.0`, and therefore is preferred when deciding what "gopkg.in/foo.v2" should resolve to.

[2017-06-21 17:42] carolynvs commented on #776
I'm going to work on this (and #777) as they are both related to how we sort/resolve gopkg.in versions.

[2017-06-21 17:43] carolynvs commented on #777
I'm going to work on this (and #776) as they are both related to how we sort/resolve gopkg.in versions.

[2017-06-21 18:38] dt opened #783 "init fails when transitive dep specifies source"
[code]

**What did you do?**

Depended on a lib both directly and transitively, with the transitive dep having a `source` constraint.

**What did you expect to see?**
`source` constraint picked up from transitive dep's constraint.

**What did you see instead?**
Failed to resolve.

**Details**

I made a little dummy lib at github.com/dt/depdemoraven which has a constraint:
[code]

If I make a new p

[2017-06-21 18:46] alexflint commented on #731
So just to confirm: I created my Gopkg.toml in a directory that was not the root of my repository and ran all `dep` commands from that same directory, but that did not work (whereas when I moved those files to the root of the repo and re-ran the same command then everything worked as expected)

[2017-06-21 19:01] andreynering commented on #775
@ibrasho Seems to be fixed now. 😄

[Log here](https://gist.githubusercontent.com/andreynering/84c2c63a0cc5052e79ebc77bfcfd5be2/raw/6baf8695fdf7822f9e0ce294f3893e8e4e06dd57/prune.log) if still needed.

[2017-06-21 19:57] ibrasho commented on #777
@carolynvs Do we have anything documented on how we handle `gopkg.in` packages?

It seems like it doesn't (or at least should not) follow the same rules as other sources, probably because `gopkg.in` URLs hold version information...

[2017-06-21 20:18] carolynvs commented on #777
There's no doc that I'm aware of. I am basing my understanding of things on the source code for dep https://github.com/golang/dep/blob/master/internal/gps/vcs_source.go#L285 and gopkg https://github.com/niemeyer/gopkg/blob/master/version.go#L9.

In my opinion, during init dep should follow the same version matching rules that gopkg uses when parsing a gopkg URL.

[2017-06-22 00:41] ibrasho commented on #731
@alexflint Could you please provide more context? What commands did you try and what was the output (and error message if applicable)?

[2017-06-22 02:41] wslulciuc commented on #193
@carolynvs : After further reviewing this issue, I think more details around what specifically we are attempting to resolve is needed. That is, any attempts to determine whether `dep init` is executed in a subdirectory assumes user intent (more specifically, that the current directory is not the intended `root` directory). So my question is can we reasonably determine the project `root` directory?

[2017-06-22 03:23] meilihao opened #784 "get golang.org/x/??? : remote repository does not exist or is inaccessible"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.9beta1 linux/amd64
dep v0.1.0-175-gc79b048

### What `dep` command did you run?
dep init

### What did you expect to see?
everything is ok.

### What did you see instead?
[code]

we need mirror, or other solution?

[2017-06-22 09:20] ibrasho commented on #193
I still can't think of any **reliable** method to detect if we are in the project directory or not.

`Gopkg.toml` and `Gopkg.lock` only exists after `dep init` (unless the user creates them manually). So relying on these files is not enough in this case (This is what [findProjectRoot](https://github.com/golang/dep/blob/master/project.go#L21) does, but we only we that function after `dep init`).

I

[2017-06-22 09:25] ibrasho commented on #784
Can you access `https://go.googlesource.com/crypto`?

Refer to https://github.com/golang/dep/issues/292 for more info on what **might** cause this.

[2017-06-22 18:57] ibrasho commented on #774
So I spent a while yesterday installing Windows 10 and trying to see what issues will face me. I'll document these issues here for future reference.

* I used Git Bash (and Cmder).
* Git `core.symlinks` is disabled (the default).
* I created a new project that imports `github.com/prometheus/procfs` only. Since it was updated, this issue no longer happens when running `dep init`.
* I updated the co

[2017-06-22 21:01] nathany commented on #174
Good questions.

Though I'm starting to wonder if we could split up this issue? Personally I'd just like a way to support GitHub  Enterprise for dependencies written within the organization.

Transitively mirroring third-party deps is absolutely an important feature, but not one I need where I'm at.

I just don't want one to slow down the implementation of the other... and it becomes a bit difficu

[2017-06-22 21:48] ibrasho commented on #772
Could you try running [this gist](https://gist.github.com/ibrasho/448efec92fa4119f3442a8bc36e981b1) and report what it outputs?

[2017-06-22 21:48] ibrasho commented on #782
Thanks for reporting this @ringrid. `dep` should support multiple GOPATH. This seems to be a bug on windows.

Could you try running [this gist](https://gist.github.com/ibrasho/448efec92fa4119f3442a8bc36e981b1) and report what it outputs?

[2017-06-22 23:08] F21 commented on #772
Running it in git bash:

[code]
Running it in cmder/cmd
[code]

[2017-06-22 23:32] ibrasho commented on #772
Could you update `dep` and try `dep init` in that directory?

[2017-06-22 23:39] F21 commented on #774
@ibrasho Thanks for taking the time to look into it!

I noticed that it still fails with long path support enabled and `core.longpaths` enabled with a clean cache through the following steps (only tried in cmder/cmd):

1. Turn on [long path support](https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing/1119980#1119980) in Windows and reboot.
2. Enable `cor

[2017-06-22 23:48] F21 commented on #772
Updated dep to ec50ada83b429446ce79591220fbfa1db4fd128b

here's what I get:
[code]

[2017-06-23 00:31] ibrasho commented on #772
I assume this is `Git Bash`? What about `cmder`?

[2017-06-23 00:47] ibrasho commented on #774
I'm already clearing the `dep` cache and `dep ensure -v` is succeeding with no errors.

I'd love to know more about your setup. Disk partitions layout, file systems and anything else you think might help. If anyone else has a Windows machine and can try this, please do and report your results.

[2017-06-23 00:47] wslulciuc commented on #193
@ibrasho : Thanks. That's helpful. What you outlined were possible approaches I was also considering. I'll work on adding them to `dep init`.

[2017-06-23 00:49] ibrasho commented on #738
@carolynvs I remember the argument for defaulting to this behavior was to direct the community to use semver-complaint releases. Are we still holding that position? I remember there was another issue about this but I can't find it now...

[2017-06-23 00:56] F21 commented on #772
Yes, it's only failing in git bash. Cmder/cmd works fine.

[2017-06-23 00:59] ibrasho commented on #783
The workaround: Create the following `Gopkg.toml` manually the run `dep ensure`:

[code]

In `github.com/dt/depdemoraven`, `source` is prefixed with `https://` so this one has to match it.

[2017-06-23 01:00] F21 commented on #774
Tested against dep master and still seeing the problem.

In my case, my temp dir is located in `C:/`. My GOPATH is `D:/10-workspace`. The dep cache is cleared before running `dep ensure`. All my disks are NTFS.

[2017-06-23 01:01] ibrasho commented on #783
Fixing the underlaying issue seems to be more complex. How is `dep` supposed to select which source is the correct one? What if both sources could provide the selected version? 😩

[2017-06-23 03:32] meilihao commented on #784
@ibrasho  Thanks. It is  GFW blocking.

[2017-06-23 03:32] #784 closed

[2017-06-23 05:45] politician opened #786 "How do I build this repository?"
I'm having trouble building `dep` locally on my MacBook Pro.  Below is a trace of what I've tried, some facts about my environment, and the errors raised.  In particular, I cannot get past downloading dep's dependencies using `dep`. Hopefully, someone can point out what's wrong with my setup.

[code]

I'm running Go 1.8.  Neither GOPATH nor GOROOT are set.  I fetch `dep` per the README. It lands i

[2017-06-23 09:00] ringrid commented on #782
@ibrasho I had tried it, the outputs were:
[code]

[2017-06-23 09:06] ringrid commented on #782
by the way, I have already upgrade to r1.8.3 yesterday, this problem still exists.

[2017-06-23 10:54] ringrid commented on #782
@ibrasho I think I have found the reason of this problem. In [https://github.com/golang/dep/blob/master/internal/fs/fs.go#L69](this code). because of c.PATHs
[code]

in go windows version, the definition of os.PathSeparator is
[code]

not '/', so in previous code,
[code]

[2017-06-23 11:16] mikijov commented on #441
I will give this a stab.

[2017-06-23 12:53] #429 closed

[2017-06-23 13:23] ibrasho commented on #786
@politician Welcome to `dep`! Thanks for the detailed issue.

I assume you are trying to compile `dep`? Just doing `go get -u github.com/golang/dep/cmd/dep` is enough to compile a binary in  `GOPATH/bin`.

You don't need to get the dependencies of `dep` using `dep ensure` since our vendor directory is already committed.

At the moment, you can't run `dep` in a project that doesn't exist within a `

[2017-06-23 13:34] darkowlzz commented on #786
@ibrasho hahaha, you commented again just while I was drafting mine 😄
Anyway, since I have drafted it, I'm posting it. Just my attempt to help.

-----------------------

Hi and welcome,

Thanks for trying dep. I'll share experiences from my workflow and try to help you out 😊

To get the code, I use `go get -u` and it clones the project to my default GOPATH workspace. Once I have the code, I use th

[2017-06-23 14:33] dt commented on #783
I guess my expectation would be that since I don't currently have any constraints on raven (or indeed any constraints at all), the only `source` constraint for it would be the transitive one via `depdemoraven` and thus that's what would be resolved?

[2017-06-23 15:30] carolynvs commented on #738
Yes, in my opinion, a big goal of dep is to nudge the community to tag releases, and get everyone on to well-known releases (instead of whatever happened to be in master that day). If someone wants to follow master, the way to do so is to manually set a constraint. We don't do that by default because it's more important to encourage using releases than replacing/keeping the status quo of `go get`.

[2017-06-23 15:49] aajtodd commented on #174
@nathany I'm happy to move/split however maintainers see fit. The question seemed to fit under "private repository" usage patterns to me.

As an update though on actually trying this out:

`dep ensure golang.org/x/sys:git.internal.com/external/golang.org/x/sys`
Did not quite work for me, I hit the following

[code]
Appears I would need to setup a page to serve the correct metadata?

Modifying `Gop

[2017-06-23 16:26] carolynvs commented on #193
I am hesitant to have init implement heuristics to detect the root of a repo, e.g. checking for `.git` and other tricks. We already have similar logic which I am hoping could be used to detect this scenario, e.g. `dep.Context.SplitAbsoluteProjectRoot` and `gps.SourceManager.DeduceProjectRoot`.

[2017-06-23 17:36] politician commented on #786
@ibrasho @darkowlzz Thanks for the quick response!  I think I'm beginning to understand what's gone wrong.

@ibrasho said,

Ok, I've found [line 247 in context.go](https://github.com/golang/dep/blob/ec50ada83b429446ce79591220fbfa1db4fd128b/context.go#L247) that makes the assumption that GOPATH is the default location referred to in the Go documentation.  The way I use Go is different from the Go d

[2017-06-23 18:10] politician commented on #786
Would you guys be interested in entertaining a patch that allowed my use case to work?

I haven't thought deeply about it.  Perhaps one could enable dep to discover `Gopkg.toml` and add it to the GOPATH in a subshell, or perhaps one could add a command-line flag that overrides the default behavior in some way.

[2017-06-23 18:52] ibrasho commented on #786
[`dep` is being developed with the goal of being absorbed in the `go` toolchain](https://github.com/golang/dep/wiki/Roadmap). So I not sure we want to support cases that don't comply with the toolchain assumptions. The final call of this is left to @sdboyer though. 😁

It seems `gb` is a *totally* different way for working with Go. I can propose the following workaround to keep you preferred struct

[2017-06-23 19:07] politician commented on #786
Thank you for that clarification and the workaround.

[2017-06-23 19:58] ibrasho commented on #774
I'm still puzzled by how the ("The system cannot find the path specified") error could happen or what it means.

I have one last hypothesis before giving in to not call `os.Chmod` under Windows.

Could you try adding the following [code](https://github.com/ibrasho-forks/dep/blob/close-file-before-calling-chmod/internal/fs/fs.go#L305-L308) and trying `dep` again? I don't have high hopes for this on

[2017-06-23 20:01] ibrasho commented on #772
We are reaching somewhere at least. 😁

Do you have any idea why `Git Bash` handles paths differently?

[2017-06-23 20:15] ibrasho commented on #783
The *default* source is still implied in the import path. 😕

Allowing transitive dependencies to override the source for any package without the user consensual opt-in will allow packages to introduce unexpected behavior (and it a possible attack vector with scary outcomes).

[2017-06-23 21:39] ibrasho commented on #782
You are quite welcome. I submitted that for another issue and happy to hear it solves yours too. 😄

Closing this since it's fixed by #778.

[2017-06-23 21:39] #782 closed

[2017-06-24 02:50] F21 commented on #772
I quick guess is probably that backward slashes do not work in git bash.

For example, if I have `D:/some/path`, if I am in the `D` drive and type `some\pa`, pressing `tab` to autocomplete does not work.

[2017-06-24 03:13] F21 commented on #774
This is what I get after applying the patch:

[code]

The dependencies do not install correctly and the `vendor` folder is missing from the project.

[2017-06-24 10:44] ibrasho commented on #774
Oh, sorry I missed that. You will need to delete [these lines](https://github.com/ibrasho-forks/dep/blob/close-file-before-calling-chmod/internal/fs/fs.go#L289-L293) too before that works.

[2017-06-24 17:20] wslulciuc commented on #193
@carolynvs : I'll explore the possibility of reusing the logic defined in [`SplitAbsoluteProjectRoot()`](https://github.com/golang/dep/blob/master/context.go#L242) and  [`DeduceProjectRoot()`](https://github.com/golang/dep/blob/master/internal/gps/bridge.go#L181) as a solution.

[2017-06-25 01:35] ibrasho commented on #174
@aajtodd Won't an `[[override]]` allow you to do that?

[code]

This should ensure that `golang.org/x/sys` (regardless if it's direct or transitive dep) uses `http://git.internal.org/external/golang.org/x/sys.git` as its source.

[2017-06-25 02:58] sdboyer commented on #264
a callback is interesting - it's in keeping with a number of other tools that I'm aware of.

it might have to take a few different forms, though. e.g., ssh creds, https token vs user/pass, etc. but it would open up integration with system keychains, which is what we need.

let's spec it out.

[2017-06-25 03:45] F21 commented on #774
Here are the results after updating those lines:

[code]

[2017-06-25 13:15] ibrasho commented on #774
Ok, I give up. 😩 I"m not able to replicate this locally and all my guesses of why this error could happen have failed. I suggest that we drop os.Chmod for Windows **until** we figure out while this error is happening.

I would love to hear about it if more people are facing this same issue on Windows.

[2017-06-25 13:31] ibrasho commented on #174
Also, the error you are getting is to be expected since `dep` cannot tell where the project repository exist since the URL is not serving the required `go-import` metadata:

[code]

@sdboyer It seems we have more cases where people might not be able to run `dep init` in a current project (when it's not possible to solve with default params). Most cases require creating the manifest and filling in

[2017-06-25 15:40] nathany opened #789 "Faster TOML parser?"
This is just your information, not an actual issue.

The TOML parser from @BurntSushi recently switched to an MIT license:
https://github.com/BurntSushi/toml/issues/183
The previous license kept it from being selected for dep initially.

Hugo switched back to BurntSushi/toml because it ~~is~~ <ins>was found to be</ins> faster than pelletier/go-toml @pelletier:
https://github.com/gohugoio/hugo/comm

[2017-06-25 17:55] #775 closed

[2017-06-25 19:19] carolynvs commented on #789
Thanks for the heads up!

[2017-06-25 20:04] pelletier commented on #789
Do you still see the performance issues on that branch https://github.com/pelletier/go-toml/pull/176 ? Performance seems to me on par with BurntSushi's.

[2017-06-26 08:43] stub42 opened #790 "Cannot vendor github.com/lib/pq"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 linux/amd64

### What `dep` command did you run?

In a hello world example:
[code]

I ran:

[code]

### What did you expect to see?

github.com/lib/pq vendored like any other dependency

### What did you see instead?

A confusing failure. Not a git repository, but enough of a git repository t

[2017-06-26 09:32] stub42 commented on #790
Cleaning out $GOPATH (removing $GOPATH/pkg and everything in $GOPATH/src that isn't mine) got it working. Something being used as a cache in here must have been bogus.

[2017-06-26 12:43] sdboyer commented on #786
hi @politician, thanks for such a patient and detailed writeup!

Being able to work from anywhere, not just within GOPATH, is certainly something we'd like to support. But it has deep implications and, as @ibrasho notes, takes us out of alignment with the go toolchain in a way that we can't currently afford to do. We do have some plans about how we might resolve it eventually, but unfortunately, t

[2017-06-26 12:43] #786 closed

[2017-06-26 13:20] aajtodd commented on #174
@ibrasho

I don't know haven't tried it, I will attempt to it sometime this week (admittedly golang.org/x/sys was a bad example as it has no transitive dependencies). The documentation on the manifest format and what constraints vs override behavior was not 100% clear to me.

I do find `init` behavior slightly over presumptuous.  Perhaps `dep init` should just create the empty manifest and allow y

[2017-06-26 18:11] mikijov commented on #441
I will have to come back to this one later. The solver code is still a bit over my head. If anyone else is looking, feel free to take it.

[2017-06-26 22:19] nathany commented on #789
@pelletier It may be worth checking with @bep on the Hugo project. Maybe he can share more details regarding his benchmarks.

[2017-06-26 22:26] bep commented on #789
I have not looked at Hugo's benchmarks in relation to the recent tunings in `go-toml`: But remember this: Hugo have very different requirements in this area than `deps` -- handling **one** TOML file should be really, really fast with both of them -- and functionally both should be equal.

[2017-06-26 22:36] nathany commented on #789
Is dep parsing one TOML file or transitively for each dependency?

[2017-06-26 22:39] carolynvs commented on #789
`dep` detects if a dependency uses dep as well, and reads in the Gopkg.toml file.

[2017-06-26 23:28] mikijov commented on #553
I thought that the goal here is to defend against any kind of dirtyness or corruption in the vendored repo. Why not simply use a combination of `git clean -fxd :/' and `git checkout -f`, and if those fail destroy and re-clone? Am I missing something that requires us to know how the repo was dirtied?

[2017-06-27 00:00] sdboyer commented on #789
Indeed. Though, that operation is likely to get permanently cached at some point, though - #431 -  so still not a terribly big concern.

[2017-06-27 00:02] mikijov commented on #618
@carolynvs, from what I can see, we are calling git directly in vcs_repo.go. You should be able to call `git clean -fxd :/` or anything you want. I see runFromCwd and runFromRepoDir being used for this purpose.

@elliots I am unable to reproduce this either by following your steps, nor by manually adding and editing files in the azure vendor or GOPATH location. Can you plese confirm if you still s

[2017-06-27 00:03] sdboyer commented on #777
Confirming @carolynvs' answer to your question, @ibrasho - i wrote the gopkg.in implementation quite some time ago, but never did document it anywhere.

We should probably create a documentation area specifically for how import path deduction works. Analogous to the [go docs on remote import paths](https://golang.org/cmd/go/#hdr-Remote_import_paths), but necessarily more detailed.

[2017-06-27 00:04] sdboyer commented on #762
@mikijov for that, AFAIK all you can really do is sort by how recently updated an issue was 😢

[2017-06-27 04:32] sdboyer commented on #772
Does #780 fix this?

[2017-06-27 04:37] sdboyer commented on #773
...ugh. Falling back to copying as a general solution here makes me very uncomfortable.

Will discuss more on the PR.

[2017-06-27 04:45] F21 commented on #772
Build the latest master, but still seeing the same issue with git bash.

[2017-06-27 10:55] stub42 opened #792 "Vendoring depenencies from $GOPATH"
I have two packages being developed:

    $GOPATH/src/shared
    $GOPATH/src/mystuff

packages in mystuff import packages in shared as 'import "shared"'. These are private branches, inaccessible to 'go get'.

'dep ensure' in mystuff seems to ignore $GOPATH/src/shared entirely. $GOPATH/src/shared is not vendored into $GOPATH/src/mystuff/vendor, nor are its dependencies vendored.

This causes build

[2017-06-27 11:06] ibrasho commented on #772
#780 only effects `dep prune`. This one is a bit complicated and I'm not able to determine the root cause yet.

It works fine on `Cmder/cmd` but it doesn't on `Git Bash`. [The gist output on Git Bash](https://github.com/golang/dep/issues/772#issuecomment-310526612) doesn't make much sense. 😕

[2017-06-27 11:52] mikijov commented on #121
I wonder if we need to tackle security at all? We inherit security from the underlying vcs. We inherit both vulnerabilities and future improvements this way. But more specifically, if security is paramount, user should commit vendored code into own repo. In this situation the only two posibilities for the code to be comprimised is during initial clone or in users repo. If initial clone is a suspec

[2017-06-27 12:20] ibrasho commented on #773
I don't like it either 😞. I would prefer to come up with a solution that adapts to the current constraints. So if the user is privileged, clone the symlinks files. Otherwise, fall back to copying the symlinks.

I think a good starting point might be to replicate `git` behavior since that what `go get` rely currently on (at least in respect to how symlinks are persisted on the fs).

I'm skipping ho

[2017-06-27 21:04] mikijov commented on #488
I will take this one.

[2017-06-28 05:32] ibrasho commented on #774
Just gave this another attempt and I believe I found the cause and it's not pretty. 💀

[`Chmod` on Windows](
https://github.com/golang/go/blob/master/src/syscall/syscall_windows.go#L524-L542) doesn't handle long paths (>=248). Other filesystem calls implemented in `os` use [`os.fixLongPath`](https://github.com/golang/go/blob/master/src/os/path_windows.go#L131-L209) to "fix" the path (check [file_w

[2017-06-28 09:48] mkozjak opened #793 "dep ensure hangs on consul@v0.8.4 (macos)"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

MacOS 10.12.5
go version go1.8.3 darwin/amd64
Latest `dep` as of June 28th with `go get -u github.com/golang/dep/cmd/dep`

### What `dep` command did you run?

[code]

### What did you expect to see?

echo $?  -> 0

### What did you see instead?

A hanged process.
[code]

An example project to reproduce this:
[

[2017-06-28 09:54] mkozjak commented on #793
Later on it succeeded after a few minutes:
[code]
4 minutes?

[2017-06-28 10:43] ibrasho commented on #793
Hi @mkozjak . Thanks for reporting this.

I'm trying to clone the example project but it doesn't exists on Github. Are you sure it's not a private repo?

[2017-06-28 10:50] mkozjak commented on #793
Oh, sorry, it is private! Here is the lock file so you can try reproducing:

[code]

[2017-06-28 21:29] mikijov commented on #488
@sdboyer can you please take a look at the proposal. By using messagediff and go-diff for struct and string comparisonst, it is actually quite easy to get better results. The question is only if you are OK with bringing in two dependencies for just test purposes.

BTW, I broke golden.toml on purpose to show how the diffs are displayed. I also changed only manifest_tests. If you are OK with this ap

[2017-06-29 06:22] dhui opened #795 "Speed up dep"
The FAQ for why `dep` is slow is misleading: https://github.com/golang/dep/blob/master/FAQ.md#why-is-dep-slow

Clones, at least with `git` (I'm not familiar with `hg`), can be sped up if you don't need the full commit history by specifying: `--depth 1` to `git clone`. With newer versions of `git` (2.9.0+), `--shallow-submodules` can also be specified thus speeding up clones even more. https://gith

[2017-06-29 14:11] darkowlzz commented on #790
Thanks for reporting. I think we had similar issues before dep v0.1.0, which was fixed before the release.
@stub42 can you check your version of dep? (`git describe --tags` in `$GOPATH/src/github.com/golang/dep` directory)

[2017-06-30 06:02] stub42 commented on #790
I have been testing trunk, so probably 77df563b6a79bfe62932d91ed37e587c68878a56 .

govendor and 'go get' where the other tools that might have pulled things in.

[2017-06-30 08:11] stub42 commented on #790
No submodules or containers involved. Per https://github.com/golang/dep/issues/790#issuecomment-311010012 vendoring with dep worked again after I cleared out $GOPATH/pkg, so I'm assuming something non-standard ended up in here (like an empty directory where dep expected a git repo). Any evidence has been destroyed, so maybe just close this issue unless recovery can be done (ignore or remove the br

[2017-06-30 13:58] lclarkmichalek opened #796 "Dep ensure without any go code in directories"
I'd like to be able to do a `dep ensure` in a directory with just a `Gopkg.lock` and a `Gopkg.toml`. All of my dependencies are specified in `Gopkg.lock` like a good citizen, and I'd like to claim my docker-build-time-tax rebate. This means when I have a Dockerfile like

[code]

At the moment, this is nicht sehr gut, as dep replies `all dirs lacked any go code`. I'd love it if dep could install fr

[2017-07-01 21:12] ibrasho commented on #796
Reminder to self: Usage scenarios for build pipeline should be added to the FAQ.

[2017-07-03 01:49] omeid commented on #158
tl;dr fix: You probably have local commits that aren't pushed upstream.

[2017-07-03 10:04] Skarlso opened #797 "Error while writing out vendor tree because of sirupsen/logrus"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
[code]
[code]

### What `dep` command did you run?
[code]

Full Log:

[code]

### What did you expect to see?
For it to work.
### What did you see instead?
Did not work and failed with error message.

[code]

[2017-07-03 17:47] ibrasho commented on #797
You have `github.com/sirupsen/logrus` and `github.com/Sirupsen/logrus` in your dependency graph (note the difference in cases) since some of your dependencies still import `github.com/Sirupsen/logrus`.

We had an approach to this as described in  https://github.com/sirupsen/logrus/issues/553#issuecomment-307486868 but no one got to implement it yet. 😩

[2017-07-03 19:20] Skarlso commented on #797
Well my dependencies have that. Damn that's not nice. :-( is there any kind of workaround for that?

[2017-07-04 15:42] emersion opened #799 "Cannot import gopkg.in package from glide"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

### What `dep` command did you run?

[code]

### What did you expect to see?

Not an error.

### What did you see instead?

An error: ` is not a valid version for the package gopkg.in/macaron.v1()`

Here is my `glide.yaml`:

[code]

And here is my `glide.lock`:

[code]

[2017-07-05 15:31] carolynvs commented on #799
Thanks for reporting this bug! 👍

[2017-07-05 20:27] ibrasho commented on #797
I'm afraid that you can't solve this without updating dependencies at the moment (until we handle this case in `dep`).

[2017-07-06 04:02] Skarlso commented on #797
But it's a transient dependency. I can't fix it. :( I don't depend on it. Some of my dependencies depend on it. How can I fix THAT? :)

[2017-07-06 23:01] carolynvs opened #800 "Improve revision detection in DeduceConstraint"
`DeduceConstraint` currently uses a simple check to determine if a string is a revision. But we can do better!

https://github.com/golang/dep/pull/761/files#r122593455

___
This is for after #761 is merged, which moves `DeduceConstraint` from the ensure command into `SourceManager`. Also note that #715 also touches the function, so waiting for that to settle down would be best.

[2017-07-07 02:20] zh794390558 opened #801 "dep init -gopath analysis all repos in my gopath."
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8.3 linux/amd64

dep v0.1.0-196-g5c02575

### What `dep` command did you run?
dep init -gopath -v

### What did you expect to see?
analysis dependence from my gopath, which is related to my porject.

### What did you see instead?
it reslove dependence with all repo in gopath, but also including re

[2017-07-07 04:17] carolynvs commented on #801
Sorry, it's not clear to me what you expected vs. what occurred? It would really help if you could provide the URL of the repository you ran dep against, the output from running the command, and point out where you believe the behavior is incorrect/unexpected.

[2017-07-07 04:26] sdboyer commented on #793
Hmm, that is a surprisingly long to be spending in `b-list-pkgs`. Do subsequent `dep ensure -v` operations take as long?

[2017-07-07 04:46] sdboyer commented on #795
hi! welcome, thanks for the issue, and sorry for the slow turnaround!

Yep, we've certainly considered this. There are several problems with it:

1. We often do need the full history, as we need to be able to enumerate, and potentially check out, all of a repo's refs.
2. We actually use `git ls-remote` to enumerate versions prior to cloning, and we could delay cloning further until we actually nee

[2017-07-07 04:46] #795 closed

[2017-07-07 06:05] dhui commented on #795
Thanks for the thorough answer!

[2017-07-07 10:27] #710 closed

[2017-07-07 10:38] ibrasho commented on #801
Also, in what path did you run `dep init -gopath -v`?

[2017-07-07 20:49] Jamie-sas commented on #286
Imagine this scenario...

A developer is working in his local playpen, using 'go get' willy-nilly to pull packages from all other the world.

However, when he is ready to submit his code to the corporate build pipeline, all of his imports will be fetched from internal mirrors of what is APPROVED for use by the corporate legal department, explicitly including specific branch/version numbers.  The c

[2017-07-07 21:41] sdboyer commented on #797
@Skarlso yeah, until we fix it and fold cases together correctly, the only recourse you have is asking upstream to make the fix. Or, forking upstream and fixing it yourself, then pointing the import path to your fork with a `source:` directive in `Gopkg.toml`.

[2017-07-07 22:57] Skarlso commented on #797
Oh I see. Thanks @sdboyer. :-)

[2017-07-08 02:21] Groxx opened #802 "`dep init` fails when looking up a repository times out"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
[code]
### What `dep` command did you run?
`dep init` (and `dep init -skip-tools`)
(with some scrubbing due to internal names.  "internal-A" and "internal-B" are not .git suffixed and this happens both with and without "vcs: git" in glide.yaml)
[code]
[code]

And the two failing packages are defined in glide.yam

[2017-07-08 03:03] Groxx commented on #802
Ah, I guess this belongs behind some kind of private-repo support like #174 .  I'll close it, and revisit after that's a bit more supported :)
And thanks zevdg!  go-vanity might be a workaround in the meantime, I hadn't heard of it.

[2017-07-08 03:03] #802 closed

[2017-07-08 04:27] nathany commented on #797
Would case folding require changes to the `go` tool or compiler?

(Assuming import paths remained mixed case).

[2017-07-08 06:38] ibrasho commented on #797
@sdboyer's [proposed solution](https://gophers.slack.com/archives/C0M5YP9LN/p1492818893205806) doesn't require any changes to `go` toolchain or compiler. We can handle this within `dep` (more specifically, within `gps`).

[2017-07-08 06:49] ibrasho commented on #433
I'll try to summarize [the discussion that happened in Slack](https://gophers.slack.com/archives/C0M5YP9LN/p1492818893205806):

Sam detailed the following solution:

[2017-07-08 06:55] ibrasho commented on #433
The following was also proposed:

[2017-07-08 06:58] Skarlso commented on #797
So, Glide solves this with a `--force` flag, which detects if there was a change in a repo path, and if yes, it overrides the previous one and uses that. It's dirty, but it does work. :) For brevity, and because I dislike slack (:P) I'm going to put the proposed solution here as well.

[2017-07-08 07:00] ibrasho commented on #433
The issue I found with these solutions is that the solver will select 2 (most likely different) versions for each of `github.com/Sirupsen/logrus` and `github.com/sirupsen/logrus`. It also requires that we switch the source cache lock to be at the repository level, instead of a global lock.

The issue I see here is not orchestrating the source gateways but ensuring that the solver understands that

[2017-07-08 07:36] ibrasho commented on #797
Even glide has a similar issue. You won't be able to install the dependencies for the code below if you are on a case-insensitive file system. And the real issue for me is that version selection was done *twice* (once for each case), and therefore you could have 2 versions of the same dependency.

[code]

[2017-07-08 07:39] Skarlso commented on #797
Ahhh totally forgot that that doesn't work. Right you are @ibrasho.

[2017-07-08 08:15] ibrasho commented on #433
I'm not sure if the compiler is case-sensitive wrt import paths, but I'd assume it relies on the file system for that.

We can consider the lower-case path the *canonical* import path for packages on Github (and other sources with the same issue) but the compiler will still expect to find 2 directories `github.com/sirupsen/logrus` and `github.com/Sirupsen/logrus` on the file system if it's case-in

[2017-07-08 20:38] sdboyer commented on #790
yeah, this is most likely a case of failure to terminate subprocesses gracefully on interrupt. it's a known issue - we just went for a lowest-common-denominator that would work cross platform, but it's too harsh, using `os.Process.Kill()`, which doesn't give e.g. git a chance to clean up after itself.

[2017-07-10 12:21] pierrre opened #804 "Constraint inheritance between projects"
Are dependencies constraints inherited between projects ?
Does dep read `Gopkg.toml` from dependencies ?

I have 2 projects `A` and `B`.
Both use golang/dep, with a `Gopkg.toml` file.
`B` requires a library `lib`, with constraint `branch = master`.
`A` requires project `B`.

If I run `dep status` on `B`, I see the constraint rule `branch master` for `lib`.
However if I do the same on `A`, I see `*

[2017-07-10 15:49] #642 closed

[2017-07-11 08:12] ibrasho commented on #804
Yes. `dep` uses the dependencies `constraint`s when attempting to solve.

If you tried `dep status -h`, will see the following:
[code]

What `dep status` prints is what's in the manifest (`Gopkg.toml`) and lock (`Gopkg.lock`). So even though `dep` reads and tries to satisfy the constraints of the dependencies, unless you add it to your manifest it won't appear in `dep status`.

[2017-07-11 08:42] pierrre commented on #804
OK, that answers my question.
Thank you ! 👍

[2017-07-11 08:42] #804 closed

[2017-07-11 13:26] smyrman commented on #289
Since there is a lot of network wait, and since this is _Go_, is there not room for increased concurrency? Caching is good, but while waiting for a network resource, why not do something else...

[2017-07-11 14:00] sdboyer commented on #289
@smyrman yep, there's a lot of concurrency already happening 😄

There's two main issues here:

1. The fundamental nature of the solving algorithm precludes doing too much predictive lookahead with network activity
2. There are also happy paths where we can largely avoid touching the network at all; we also have as an eventual goal that we want to be able to run in offline/local-only data mode

So,

[2017-07-11 21:05] sas1024 opened #805 "Cannot use dep ensure on Windows"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8.3 windows/amd64
dep v0.1.0-206-ge99676b

### What `dep` command did you run?
dep ensure -v

### What did you expect to see?
Normal working of dep ensure :)

### What did you see instead?
An error: `both d:\Documents\Projects\Go\src\github.com\sas1024\project and D:\Documents\Projects\Go\src\gith

[2017-07-11 22:40] VojtechVitek opened #806 "Sirupsen/logrus uppercase->lowercase rename breaks golang/dep"
github.com/Sirupsen/logrus (uppercase) recently renamed to github.com/sirupsen/logrus (lowercase)
- see https://github.com/sirupsen/logrus/issues/570

Since one of our transitive dependencies switched to the new name, I was forced to switch as well.

So, I've renamed all the imports in our project to the new lowercase logrus and I've also updated the `Gopkg.toml` file manually.

But running `dep e

[2017-07-11 23:09] VojtechVitek commented on #806
Ok, I resolved all of the issues locally. There was one more transitive dependency relying on the old upprecase logrus repository name.

Also, I had to `rm -f $GOPATH/pkg/dep` (on MacOS).

---

Can we please error out early if we see conflicting `strings.ToLower(repositoryURL)` for the sake of Windows and MacOS users?

[2017-07-12 00:49] sdboyer commented on #433
aaaghhhh... yes, good point. we'd still need to record both/all casings in the lock, then determine at vendor write time whether the fs is case sensitive, and if it is, write them all instead of just the canonical lowercase one.

that potentially breaks other parts of the model, too - particularly related to vendor verification.

so yeah, the simplest thing right now probably is detecting the situ

[2017-07-12 00:53] sdboyer commented on #806
hi! thanks for the detailed issue.

definitely a known problem here - see #433. (the rename happened quite a while ago). erroring out, as you suggest, is probably our simplest recourse while we weigh the more complex solutions.

(closing this as duplicate)

[2017-07-12 00:53] #806 closed

[2017-07-13 08:09] veger opened #808 "Version operator documentation missing"
Please add documentation about the operators for the `version` field in the _Gopkg.toml_ file.

The only reference (in documentations) I could find about the existence of operators is the [FAQ](https://github.com/golang/dep/blob/master/FAQ.md#why-is-dep-ignoring-a-version-constraint-in-the-manifest).

Or at least put a link to another document that describes them, or from which you used the design

[2017-07-13 11:54] kron4eg commented on #691
+1, just now had to do this:

[code]

Instead of just `"golang.org/x/sys/windows/..."`

[2017-07-13 12:53] darkowlzz commented on #808
@veger hi, and thanks for reporting this. Seems very useful to me.

I think we can add this in the [Gopkg.toml](https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md) doc, which is linked in the example.

[2017-07-13 13:04] veger commented on #808
[Gopkg.toml](https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md) seems good to me
(this was the second place I looked for this information, after the [main README](https://github.com/golang/dep/blob/master/README.md))

[2017-07-14 09:28] Dexus commented on #738
Hi, dep should respect the Gopkg.toml

When i write it should use the branch master, i will not the tagged version, i need the master latest. Please change it to make it work as ecepted... i was wondering all the morning why it not build... -.-

[2017-07-14 15:13] rogpeppe opened #811 "dep init should not require network access"
Dep init cannot be used when there's no network available, because
it uses the network to try to resolve package paths to VCS information.

If there's no network, we see a panic like this:

	% dep init
	panic: shouldn't be possible unable to deduce repository and source type for "bazil.org/fuse": unable to read metadata: unable to fetch raw metadata: failed HTTP request to URL "http://bazil.org/fu

[2017-07-14 15:51] #808 closed

[2017-07-14 15:55] ibrasho commented on #811
Did you try `dep init -gopath`?

By default, we rely on the network to fetch VCS metadata about the dependencies. I believe "gopath" mode in `init` attempts to fetch everything from the info available on disk (in `GOPATH`), and uses the network as a fallback.

@darkowlzz should be able to confirm my understanding. 😁

[2017-07-14 15:56] ibrasho commented on #738
Hi @Dexus .

Could you please elaborate more on the issue you're facing? (I'm assuming it's different than this one. If so, please open a new issue).

What I understood is the following: You have a `[[constraint]]` for a dependency in your manifest (`Gopkg.toml`) that specify `branch = "master"` but `dep` doesn't respect that. Am I correct?

[2017-07-14 17:07] Dexus commented on #738
Yes, thats right.

Only works right wenn i use override in an correct way as excepted...

Von meinem iPhone gesendet

[2017-07-14 19:04] ibrasho commented on #738
Do you import this package in your code? Or is it imported by one of your dependencies?

[2017-07-14 19:13] Dexus commented on #738
It's imported from a dependencie. But I have added it before in my
gopkg.toml. First after ich change it to override it has used the
correct branch, before it always used the last tag that was v20170605 or
something simlar.

Am 14.07.2017 um 21:04 schrieb Ibrahim AshShohail:

[2017-07-14 20:23] ibrasho commented on #738
@Dexus Ok, I get what's happening now. `dep` is behaving normally.

You should [use an `[[override]]`](https://github.com/golang/dep/blob/master/FAQ.md#when-should-i-use-constraint-override-required-or-ignored-in-gopkgtoml) when you need to constraint a [transitive dependency](https://github.com/golang/dep/blob/master/FAQ.md#what-is-a-direct-or-transitive-dependency).

I recommend that you read th

[2017-07-14 23:24] grepory commented on #654
Was just looking at the good-first-pr label, and it looks like this has been fixed. Closable?

[2017-07-15 02:25] marwan-at-work commented on #654
@grepory yes i believe so!

[2017-07-15 03:02] ibrasho commented on #654
Thanks @marwan-at-work & @grepory !

[2017-07-15 03:02] #654 closed

[2017-07-15 04:01] SteelPhase commented on #286
I've taken an initial look through the set of issues with an intention of looking at solutions for #174.  It seems that providing some method of allowing authentication, could be an ideal solution. This would allow access to the go-import meta tag provided by GitHub Enterprise.

If allowing private repositories is resolved that way, would it be possible that dep wouldn't actually need to solve tha

[2017-07-15 12:41] darkowlzz commented on #811
This panic seems to be coming from `deduce()` which is, as @ibrasho mentioned, used by `deduceRootPath()` to deduce various metadata about a given dependency.

metadata about it - what type of source should handle it, and where its
"root" is (for vcs repositories, the repository root).

I'm not sure if we can avoid reaching the network to figure out all the necessary information, mostly because we

[2017-07-15 13:40] darkowlzz commented on #811
This is where we are explicitly panicking in this case https://github.com/golang/dep/blob/master/internal/gps/solver.go#L549 .
As commented, we can handler this with a better error message.

[2017-07-15 15:23] rfay opened #813 ""dep init" fails to overwrite random .gitignore"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go 1.8.3 (Macos)
dep v0.1.0-215-g911cd22

### What `dep` command did you run?

dep init (in github.com/drud/ddev HEAD, after rm -r vendor/*)

[code]

### What did you expect to see?

I hoped it would do up the vendor tree for me in proper dep style.

### What did you see instead?

Output pasted above - basicall

[2017-07-15 15:51] matjam opened #814 "dep ensure: unhelpful error when source files have errors"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

   go version go1.8.3 darwin/amd64
   v0.1.0-215-g911cd22

### What `dep` command did you run?

   carbon:cmpc synpacket$ dep ensure
   all dirs had go code with errors
   carbon:cmpc synpacket$ dep ensure -v
   all dirs had go code with errors

### What did you expect to see?

More information about what the e

[2017-07-15 16:15] erizocosmico commented on #763
Maybe we should not check the output for specific values, which is what leads to this. I'm not sure if just checking if the command timed out or not is enough, though, because then we lose the check of when the command timed out. Other than that, I can't think of a way to test this that does not rely on the clock :disappointed:

[2017-07-15 16:38] darkowlzz commented on #813
Looks like a duplicate of #797

[2017-07-15 16:56] rfay commented on #813
Yup, dup of #797, closing. Will chase that.

[2017-07-15 16:56] #813 closed

[2017-07-15 17:23] darkowlzz commented on #814
@matjam thanks for reporting.

This error seems to be coming from [here](https://github.com/golang/dep/blob/master/cmd/dep/ensure.go#L306). I think we really should provide better error messages here. Maybe something like a list of packages with errors and the type of error.

[2017-07-15 17:24] rfay commented on #797
After #813 I made a naive attempt to resolve this by changing references from Sirupsen to sirupsen, but that turned out to be way too naive, since there are dependencies in the vendor directory that import Sirupsen/logrus, and that haven't been updated to sirupsen. So IMO this definitely requires a workaround of some type in dep. Who ever thought it would be OK to have a case-insensitive filesyste

[2017-07-15 18:15] matjam opened #817 "gps panics if it is unable to determine repository type"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 darwin/amd64
v0.1.0-215-g911cd22

### What `dep` command did you run?

[code]

### What did you expect to see?

not a panic.

Maybe a helpful, "unable to determine the type of source cloudmark.com."

### What did you see instead?

a panic :-(

[2017-07-15 18:24] matjam commented on #817
it should be noted that I'm an idiot; the source is actually a different hostname. So this is unrelated to lack of being able to authenticate; rather it's probably getting a 404.

[2017-07-15 18:56] rfay opened #820 "Ugly user presentation when sm.lock exists due to abort"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go 1.8.3/osx
dep v0.1.0-215-g911cd22

### What `dep` command did you run?

 dep init (or really anything)

### What did you expect to see?

Some interesting and informative results.

### What did you see instead?

`getSourceManager: cache lock file /Users/rfay/go/pkg/dep/sm.lock exists - another process crashed

[2017-07-15 18:57] chriswhelix opened #821 "Import external configuration from dependencies during init"
## Use case

We have about 20 projects currently using Glide for dependency management. Many of these projects rely on a shared internal framework library (let's call this repo "framework"), that itself relies on specific versions of various external libraries. Let's consider one project, "projectA" that I want to migrate to dep.

Assume my initial state is like:

projectA/glide.yaml:
- package: g

[2017-07-15 19:05] matjam commented on #264
so, git handles this. I've added instructions to the FAQ on how to configure Authentication with git so that it will work with dep.

[2017-07-15 19:26] timjchin opened #823 "Dep init Hangs"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
Go version
`go1.7.4 darwin/amd64`

Dep Version
`v0.1.0-215-g911cd22`

### What `dep` command did you run?
`dep init`

Output:

[code]

### What did you expect to see?
`dep init` would complete.

### What did you see instead?
After printing `Using ^287.0.0 as initial constraint for imported dep labix.org/v2/mgo`,

[2017-07-15 19:30] carolynvs opened #824 "Add table tests for importers"
It would help when maintaining importers to have their tests operate on the same testdata. Each row in the table would be the tool's config (e.g. glide.yaml/lock), but the output for each will be the same Gopkg.toml/lock. If a tool has edge cases beyond the "lowest common denominator" between the tools, then it should be validated in a separate unit test.

For example, the test cases for glide and

[2017-07-15 19:32] afeld commented on #371
Now present [in the FAQ](https://github.com/golang/dep/blob/master/FAQ.md#why-is-it-dep-ensure-instead-of-dep-install) - I think this issue is good to close.

[2017-07-15 19:40] darkowlzz commented on #823
@timjchin thanks for reporting.

Is this a public repo? It would be very helpful to be able to reproduce it.

[2017-07-15 19:41] timjchin commented on #823
@darkowlzz unfortunately this is not a public repo, and it's not a repo that could become public. Is there some information that I could gather for you?

[2017-07-15 19:43] darkowlzz commented on #823
@timjchin Can you run `dep init -v` and share the output?

[2017-07-15 19:51] grepory commented on #814
PR out for this, @matjam or @darkowlzz if you want to take a look at what I'm proposing. I think that this is at least a step in the right direction for UX around this without requiring delving into changing how `pkgtree.ListPackages` works.

[2017-07-15 19:57] timjchin commented on #823
Sure! @darkowlzz here's the output:
I let it run and it hung for 5-10 minutes after the line:
`(6)	    try github.com/aws/aws-sdk-go@v1.10.11`
After that, I `ctrl+c`'d it, and it printed a lot more output.

[code]

[2017-07-15 19:58] jgeiger opened #826 "Dep init fails to find subpackages in testing libraries"
Creating a simple app with a testing dependency fails to add all the necessary packages.
I've created a simple repository with a use case:
https://github.com/jgeiger/dep_bug

If you remove the 2nd commit and run
[code]
it fails with a missing dependency.

### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
[code]

### What `dep` command did you run?
[code]
### Wh

[2017-07-15 20:00] timjchin opened #827 "Godeps.json with extra hash on comment string confuses dep init parsing semver"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
Go version
go1.7.4 darwin/amd64

Dep Version
v0.1.0-215-g911cd22

### Description
Our existing `Godeps.json` has comments that aren't valid semver. For example:
[code]

The comment has an extra `-44-g3efb95d`, which does not match a tag in Sarama. Dep seems to use the extra hash as the tag, which can lead to the

[2017-07-15 20:02] timjchin commented on #823
@darkowlzz, this is possibly related, the hanging here is happening while trying to import from the same Godeps.json [described in this issue](https://github.com/golang/dep/issues/827).

[2017-07-15 20:04] matjam commented on #814
Took a look, I feel like it's a good fix.

[2017-07-15 20:32] darkowlzz commented on #823
@timjchin yep, right. The hash is messing it up. It's trying to look for `v1.6.27-3-g0876266`, while going through semver tags.

[2017-07-15 20:39] darkowlzz commented on #823
@timjchin for now, you can just remove the `Comment` and it should work if the revision exists.

[2017-07-15 20:41] usenkanov opened #831 ""dep init" doesn't use local git configuration"
"go get" uses local git configuration when fetching dependencies. "dep init" doesn't behave in the same way.

Example:
We have a dependency which is in a private repo (e.g. code.xyz.internal). When we run the following:
[code]
it succeeds, due to the following git configuration (within ~/.gitconfig)
[code]
which tells git where to look for a private repo. This will not, however, work with "dep ini

[2017-07-15 20:46] natefinch commented on #823
So I had this problem too... it's a two factor problem.

The first is that if you *don't* run with -v, then after all the "trying... using..." then nothing is printed out for the work where it prints "select... attempt... try....".

Even though dep *is* actually doing something, it's a long process, and thus it looks like it is hanging.   Because it looks hung, people hit ctrl-C, which then corrup

[2017-07-15 20:52] darkowlzz commented on #823
@natefinch correct. I think we can use this issue for fixing the above points you mentioned and #827 for fixing for godep impoter `Comment` parsing.

[2017-07-15 21:03] ramjac commented on #814
I added detail to the checkErrors error messages, but I couldn't reproduce the original issue.

https://github.com/ramjac/dep/tree/checkErrors-logging

[2017-07-15 21:12] #371 closed

[2017-07-15 21:14] darkowlzz commented on #827
We have a good-first-bug here 😃.

godep importer should parse the `Comment` and try to evaluate if the first part of the string is a valid semver.
* If it's a semver, use the semver part as a version constraint.
* If it's not a semver, use the string as a branch constraint.

For example: if `Comment` value is `v1.6.27-3-g0876266`. Check if the first part `v1.6.27` is a valid semver. If it is, use

[2017-07-15 21:38] ibrasho commented on #805
@sas1024 Thanks for reporting this.

It looks like we are not handling case-insensitive filesystems properly. I'm really interested in how we got two different cases for the same path. 🤔

I have a planned fix for this and some other path-related bugs. I'm just waiting to be sure if it fixes most of the bugs.

[2017-07-15 21:57] ibrasho commented on #826
Welcome to `dep` @jgeiger 😁

This is not a bug.

`github.com/jgeiger/dep_bug` only imports  `github.com/stretchr/testify/assert` in `dep_bug_test.go`. The dependencies of the other sub packages under `github.com/stretchr/testify` are not fetched.

`go test ./...` run the tests for all `.go` files including the ones in `vendor/` (this behavior is changing in Go 1.9). This fails if not all dependenc

[2017-07-15 21:57] #826 closed

[2017-07-15 22:01] guywithnose opened #832 "aws-sdk-go timeouts"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
1.8
v0.1.0-215-g911cd22

### What `dep` command did you run?
dep init -v

### What did you expect to see?
aws-sdk-go@v1.8.11

### What did you see instead?
aws-sdk-go@v1.10.8

This happens when a git command takes more than 2 minutes to complete.  While it is a legitimate timeout error, the problem is that inste

[2017-07-16 01:48] aschlesener commented on #827
Can I tackle this one for my first contribution?

[2017-07-16 02:00] owen commented on #811
FWIW, reproducing this is pretty easy, as I just discovered:

[code]

(and if you're a programmer working at an enterprise with an internal proxy, you'll bump into this often!)

[2017-07-16 02:23] deejross commented on #286
Happy to announce that myself and @SteelPhase with the great guidance of @sdboyer are working towards #174, #175, and eventually #176. Had some good discussions at the hackathon at GopherCon 2017's community day and even got a decent amount of code written to support a package registry that can be hosted internally and may eventually be used to create a global registry.

This opens a lot of doors

[2017-07-16 03:24] matjam commented on #831
if you're using gitlab, https works. I posted an update to the FAQ on how to set it up.

[2017-07-16 05:11] DDRBoxman commented on #832
I also ran into this at the convention this morning. Running dep init on my project at home ended up with different results in the Gopkg.lock file.

[2017-07-16 05:15] mattdee123 opened #836 "dep does not currently support using GOPATH/src as the project root"
I am trying to get dep setup for my company's repo, but I ran into the issue that I cannot init dep at GOPATH/src.

However, it is not immediately clear why this would no be allowed.  What is the issue?

For reference, here is our current setup that seems to be unsupported:

We have one monorepo, with our go code at `$REPO/go/src`.  When fetching 3rd-party dependencies, we place them in `~/go_thir

[2017-07-16 05:59] darkowlzz commented on #827
@aschlesener that would be awesome 🎉
Let us know if you need any help 😊

[2017-07-16 13:46] kyleconroy opened #838 "Cut a new release and upload binaries"
Now that dep is production ready, we should cut a new release tag and upload pre-compiled binaries to Github. I'm working on adding dep support to the Heroku Go buildpack and I need a URL to download the linux-amd64 binary.

Thanks!

[2017-07-16 16:59] ibrasho commented on #831
`code.xyz.internal/some-team/some-library.git` is not the same as `code.xyz.internal/some-team/some-library` when using `go get`.

When passing a URL with no indicator of the CVS system, we rely on metadata to find the repository. That's why we pass the `?go-get=1` URL query and attempt to parse the page for the `<meta>` tags.

The error you posted is because you actually tried this for a non-exis

[2017-07-16 17:00] ibrasho commented on #831
I'd recommend you create a `Gopkg.toml` with the following content:

[code]

And try `dep init` again.

[2017-07-16 17:13] ibrasho commented on #831
This is related to #174 and #286.

[2017-07-16 22:26] raykrueger commented on #796
For what it's worth, I got a little farther using
[code]

I was attempting to pre-seed the vendor directory in the image with what's local. That resulted in an almost infinite stack of messages such as the following...

That `--vendor-only` support is a must-have.

[2017-07-16 22:31] ibrasho commented on #433
@sdboyer `ValidateParams` (#697) seems like a good place for a check like this, right?

[2017-07-16 22:51] ibrasho commented on #565
We are still waiting for Digby in the repository! 😁

![Sam unveils Digby](https://pbs.twimg.com/media/DEuvqRBUIAAyuoD.jpg:large)

[2017-07-16 23:28] markbates opened #839 "Can't set versions that use 3 points (4 places)"
Trying to specify a version that has a 3 `.` version fails. For example: the latest release of https://github.com/gobuffalo/buffalo/releases/tag/v0.9.1.2 is `0.9.1.2`, yet this can't be set using dep. See the report below for more details.

### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

[code]

[code]

### What `dep` command did you run?

[code]

[c

[2017-07-16 23:33] sdboyer commented on #565
coming, coming, tomorrow, I promise!

On July 16, 2017 6:51:24 PM EDT, Ibrahim AshShohail <notifications@github.com> wrote:

[2017-07-17 04:45] kevinburke opened #840 "README: remove "Alpha" designation"
Sam Boyer's Gophercon talk on Friday said "dep is production ready", which contradicts the current README. Can we update it to better document the current state of the project?

[2017-07-17 15:09] ibrasho commented on #840
@terinjokes already submitted a PR (#816) to do that. 😁

[2017-07-17 15:09] #840 closed

[2017-07-17 16:13] JelteF opened #841 "Revert #825, because it breaks repos with directories without go code"
#825 just broke our travis builds that run `dep ensure`, because we have directories in our repo without go code. Could the commit be reverted, please?

[2017-07-17 16:26] sdboyer commented on #841
Yep, sorry about that!

[2017-07-17 16:31] sdboyer commented on #841
(reverted)

[2017-07-17 16:31] #841 closed

[2017-07-17 16:36] JelteF commented on #841
Great!

[2017-07-17 16:43] grepory commented on #814
@sdboyer Should probably re-open since #825 was reverted.

As a note (from the PR):

- If any directory _with go_ has errors, then we return an error.
- If _no directories_ have go, return an error.

Test cases:
- Only NoGoError (expect error)
- Mixture of Package + NoGoError (expect no error)
- Only non-NoGoError errors (expect error)

[2017-07-17 17:09] drafnel commented on #222
This is pretty much a deal breaker.  If the projects I depend on are using glide, then how can I use dep if dep isn't going to read the glide.yaml of dependent projects during 'dep ensure'?  Generally the upstart provides compatibility with the incumbent systems to ease adoption.

[2017-07-17 17:18] peterbourgon commented on #222
dep parses glide files, but medium-term, projects should convert from glide to dep.

[2017-07-17 17:29] drafnel commented on #222
Is that a recent change?  Because up above, sdboyer's comments seem to suggest that glide files are only read during 'dep init' and not during 'dep ensure'.  And this issue (https://github.com/golang/dep/issues/821) was filed just a few days ago which is in-line with my own experience that dep does not seem to be using the glide.yaml files during 'dep ensure'.

[2017-07-17 17:36] sdboyer commented on #222
yes, `dep` parses glide files, but only during `dep init`, and only the current project's glide files, not dependencies' glide files.

i'm going to close this one, though, as #821 is really a more detailed and complete writeup, and the use case described there convinced me that we definitely need to support on-the-fly conversion of dependencies' glide files during `dep ensure`.

[2017-07-17 17:36] #222 closed

[2017-07-17 21:05] skisulli opened #843 "dep double clones goconvey"
When converting to using glide to dep with a repo that uses goconvey for testing, dep appears to be cloning goconvey incorrectly. I created an example repo here: https://github.com/skisulli/dep-issue.

### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

[code]

### What `dep` command did you run?

I replaced the real absolute paths with `$GOPATH` in the

[2017-07-18 00:00] grepory commented on #814
OK. I have it working on my machine, just need to find the time to make a new patch and create a new commit. I've tested it against this repo:

https://github.com/grepory/deptest1

Which contains an empty directory and otherwise go with no errors.

Will try to add an integration test for this as well.

[2017-07-18 02:01] wedgeV commented on #120
@VojtechVitek should those settings for Gopkg.toml be working with a dep from current master?

[2017-07-18 02:22] sdboyer commented on #120
@wedgeV sadly no, those are just a proposal. we still need someone to implement the guts, here.

[2017-07-18 02:26] sdboyer commented on #814
great! 🎉

As a general rule, we try to avoid introducing dependencies on new external repositories - if we do, we prefer that they're under the control of a maintainer, just so that we can avoid an explosion. Would it be possible to write the integration test using that same dir structure, but committed directly under some `testdata` dir?

[2017-07-18 02:30] grepory commented on #814
Absolutely. I'll figure out the integration testing stuff!

[2017-07-18 02:36] sdboyer commented on #843
hi @skisulli - thanks for the issue!

Looks like we do have a bug here, but it's in the glide importer. Sorta, at least. Constraints must be declared on a project root, and `github.com/smartystreets/goconvey/convey` is not a root - `github.com/smartystreets/goconvey` is. The glide importer should check to make sure of that, and take some corrective action (perhaps, slicing it down to the root).

W

[2017-07-18 02:39] sdboyer commented on #839
Interesting, our CLI validator is a little overzealous, I guess...

You closed this, did you find a workaround?

[2017-07-18 02:42] sdboyer commented on #796
confirmed.

yep, we definitely need to get #489 in.

[2017-07-18 02:46] sdboyer commented on #433
@ibrasho hmm...they could probably rely on the same code, but this case is narrower, as we wouldn't be constructing a whole `SolveParameters`.

[2017-07-18 02:50] sdboyer commented on #838
reasonable request -  i was waiting on #489, but that's dragging on, so we should get one out sooner. i just want to be reasonably sure we're tagging something stable, as there's been a lot of flux since the Gophercon community day hackathon. in keeping with that, i may want to let the dust clear for a week.

(nit: the first release we tagged was at the moment we considered it "production ready" 😄

[2017-07-18 02:51] kyleconroy commented on #838
I'm fine with waiting a week.

[2017-07-18 03:30] markbates commented on #839
I closed it because setting `v0.9.1.2`  like this works:

[code]

I'm going to re-open this as if you do a `dep init` it will find `0.9.1` and not `0.9.1.2`

[2017-07-18 03:41] sdboyer commented on #792
Sorry for the slow response on this. 😞

This is the multi-project workflow problem, and it's quite difficult to solve for the general case. This [gist](https://gist.github.com/sdboyer/def9b138af448f39300cb078b0e94cc3) outlines a solution that may work once we're in the toolchain, but prior to then...

Well, https://github.com/GetStream/vg does exist, and is supposed to help with this. I haven't us

[2017-07-18 03:41] #792 closed

[2017-07-18 03:42] sdboyer commented on #839
@markbates interesting. is that coming from a tool converter, or from GOPATH?

[2017-07-18 03:48] grepory commented on #814
Once more, with feeling.

[2017-07-18 03:58] markbates commented on #839
Just straight up GOPATH. Not doing anything fancy.

I just created a new Buffalo app `buffalo new forsam`

Here is the Gopkg.toml:

[code]

and the Gopkg.lock

[code]

[2017-07-18 04:00] sdboyer commented on #763
Well, it sounds like we need coordination between processes. Coordination means communication. Probably best to do with additional fd. If we replace echosleep with an implementation that expects two additional fds, then we can use those to coordinate IPC and exercise fine-grained control over the child process from the parent in order to simulate the desired behavior.

[2017-07-18 04:06] markbates commented on #839
You can reproduce easily using the Buffalo Docker images:

[code]

[2017-07-18 04:10] sdboyer commented on #839
i was gonna say "interesting," but then realized that would've been the third consecutive comment i started that way 😛

thanks for all the info - that it works when written into `Gopkg.toml`, but not on the CLI is pretty suggestive of where we need to look.

[2017-07-18 04:20] markbates commented on #839
lol. Fair enough. I hope it helps. We're releasing `v0.9.2` on Friday, for a variety of reasons, one of them being this. Just thought you should know if you're trying to use it for testing.

[2017-07-18 12:46] sdboyer commented on #839
if we provide you some pointers to the relevant code, do you think you might have time to work on a patch?

I'm sure your legendary improvisation skills will come in handy here, somehow ❤️

On July 17, 2017 11:58:11 PM EDT, Mark Bates <notifications@github.com> wrote:

[2017-07-18 12:47] markbates commented on #839
Show me the way and I'll happily take a look.

[2017-07-18 13:24] sdboyer commented on #836
hi! thanks for the issue 😄

The reason for not currently supporting it are somewhat arcane and detailed; they're covered in #313, particularly https://github.com/golang/dep/pull/313#issuecomment-285918383. It's not an unsolvable problem, though, and we had someone at the Gophercon community day hackathon start tackling it. The canonical issue for it is #417.

(closing this as dup)

[2017-07-18 13:24] #836 closed

[2017-07-18 13:27] sdboyer commented on #839
@carolynvs CLI input and glide conversions would all be a matter of [`SourceManager.InferConstraint()`](https://github.com/golang/dep/blob/ddf56800c7849ffc11f635c0c9c7e07da3952184/internal/gps/source_manager.go#L468), right?

[2017-07-18 13:30] markbates commented on #839
What about 'dep init'? Where is it getting version info from?

[2017-07-18 13:33] sdboyer commented on #839
@markbates oh right, sorry, i crossed wires - that'd be [`Ctx.VersionInWorkspace()`](https://github.com/golang/dep/blob/88277ade9ad704dd7be6079df0ccd77abc3d1594/context.go), i believe.

[2017-07-18 13:34] markbates commented on #839
Cool. I'll take a look today see what I can find. My gut says bad regex, but we'll see.

[2017-07-18 16:32] markbates commented on #839
@sdboyer I tracked down the problem. The `github.com/Masterminds/semver` package doesn't allow for `1.2.3.4` style versions.

Not sure how I should proceed here. "Technically" it's "correct", however, one could argue that it's not unusual to have a release with that type of versioning. Thoughts?

[2017-07-18 16:38] sdboyer commented on #121
@mikijov Security is its own issue, and yeah, we do have to seriously address it. However, this issue is about verification - related to, but independent of, security. Without this verification mechanism, it's much more difficult, for us to check that the contents of a `vendor/` directory are what we expect them to be (according to the lock file). Without the ability to check that, we have to full

[2017-07-18 16:56] skisulli commented on #843
@sdboyer thanks for the update. I was able to get it working by switching the constraint in the `Gopkg.toml` to be github.com/smartystreets/goconvey.

[2017-07-18 17:01] carolynvs opened #845 "Imported metadata preservation"
NOTE: This issue was converted to an epic (https://github.com/golang/dep/issues/845#issuecomment-340791533).

___

Currently when importing from external tools, the rootAnalyzer deletes imported constraints for transitive dependencies. The original intent was to not import unused dependencies or create ineffective constraints (since constraints don't apply to transitive deps). We shouldn't be thro

[2017-07-18 17:20] ethanmick commented on #796
Just came here to voice my support for this feature! Also working with docker, and caching the dependencies would be a huge win. Thank you!

[2017-07-18 18:08] sdboyer commented on #832
yeah, we really gotta get a better handle on failures like these. it seems like our check-for-progress mechanism should prevent them from happening - the git commands should be cut off after a little while. but the bigger answer here is that we need to improve observability of the fs and network interactions in the tool overall.

[2017-07-18 18:37] sdboyer commented on #845
If possible, I really want to avoid creating overrides by default. Given that we want to discourage their use in general, I think it may send the wrong message to users to be doing it automatically.

I'd rather we try for doing tool conversions on the fly, as entailed by #821. If that works well, it should achieve largely equivalent results, without necessitating overrides.

[2017-07-18 19:34] ivaylopivanov opened #847 "Not able to install it correctly"
[code]

[2017-07-18 19:36] ivaylopivanov commented on #847
If we need to do any aliasing with the binary, it will be good to be mentioned in the doc.

[2017-07-18 20:10] matjam commented on #847
You will need to install the binary:

`go install ./...`

[2017-07-18 20:15] carolynvs commented on #845
Adding @chriswhelix as he is who brought this to my attention on community day. 😁

While I understand not wanting to encourage people to use overrides, I really do not want to ignore valid external configuration during import. If a user was using glide/govendor/whatever to explicitly set a constraint on a transitive dependency, it doesn't seem right to assume that they didn't need it and throw it

[2017-07-18 21:51] nijaru commented on #847
go get installs packages it gets unless a flag is provided. [0]
"For convenience, add the workspace's bin subdirectory to your PATH" [1]

[0] https://golang.org/cmd/go/#hdr-Download_and_install_packages_and_dependencies
[1] https://golang.org/doc/code.html#GOPATH

[2017-07-18 21:53] nathany commented on #789
okay. I'll close this for now.

[2017-07-18 21:53] #789 closed

[2017-07-18 22:03] matjam commented on #820
@sdboyer: I am tackling this.

[2017-07-18 23:01] kevinburke opened #848 "install failed (user error)"
I just tried to get dep up and running in Travis CI and (without thinking) entered the following in my `.travis.yml`:

[code]

Unfortunately this doesn't actually do anything - specifically I got `dep: command not found` and I was confused why `$GOPATH/bin` was still empty. It took me a number of revisions before I thought to check the repository and saw that there was also a `cmd/dep` that I shou

[2017-07-19 00:55] ibrasho commented on #847
@ivaylopivanov What's the output of `go env` and your $PATH?

@matjam This is a shortcut:
`go get github.com/golang/dep/cmd/dep`

It'll fetch `github.com/golang/dep` and install the `github.com/golang/dep/cmd/dep` package (which compiles `dep`)

[2017-07-19 01:07] ibrasho commented on #848
You should try `go get -u github.com/golang/dep/cmd/dep`.

This will clone `github.com/golang/dep` (or update it) and install `github.com/golang/dep/cmd/dep`.

This is what the README says: https://github.com/golang/dep#usage

[2017-07-19 01:08] ibrasho commented on #848
I assume this solves the issue unless I misunderstood you.

Please reopen this if that's the case. 😄

[2017-07-19 01:08] #848 closed

[2017-07-19 01:11] kevinburke commented on #848
Yes I figured out that much, I just wanted to point out the usability
failure since it's possible that other users are running into the same
problem. If it keeps resurfacing maybe other approaches should be
considered

On Tue, Jul 18, 2017 at 18:08 Ibrahim AshShohail <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-07-19 01:39] fabulous-gopher opened #850 "Test ticket from Code Climate"

[2017-07-19 03:43] #850 closed

[2017-07-19 03:45] sdboyer commented on #848
@kevinburke yeah, it's a fair observation, and you're not the first to raise it. i'm still not sure if it was entirely the right call to move it under `cmd/dep`, but either way, i think the ship's sailed now.

[2017-07-19 05:16] matjam commented on #847
it didn't work for me until I did go install ./...

go figure?

[2017-07-19 05:35] zkanda commented on #847
@ivaylopivanov is your $GOPATH/bin in your $PATH?

[2017-07-19 15:11] carolynvs commented on #843
We ran into the same problem with the glide importer at gophercon. I have a fix locally that I just need to add tests for and then submit the PR.

[2017-07-19 15:58] carolynvs opened #854 "Document how a dependency's tests are handled"
Since gophercon, a number of people have run into problems because it wasn't clear that dep excludes (doesn't put into the lock or vendor) the dependencies necessary to run the tests for the root project's dependencies. That's a mouthful, but here's an example:

The root project depends on project A. Project A uses testify exclusively in its tests (and the root project doesn't use testify). The Go

[2017-07-19 17:53] carolynvs opened #855 "Document implicit ranges"
We should clearly document how a version without an operator in the manifest is treated by dep. See http://carolynvanslyck.com/talk/dep/lightning/#/semver.

I think this should be up-front in the readme, maybe under a section "Semantic Versioning" which covers the supported operators (so we aren't just pointing them at Masterminds/semver).

[2017-07-19 17:58] carolynvs opened #856 "FAQ: What should you do if a dependency doesn't tag its releases?"
We should add a FAQ for what to do if one of your dependencies doesn't tag its releases. Tell them to not pin the revision ([see original question](https://twitter.com/carolynvs/status/887729535424360448)), and to use the manifest to track the master branch, just like go get does. Explain that the lock will handle keeping you on the same revision until you decide to update using `dep ensure`.

[2017-07-19 19:22] ivaylopivanov commented on #847
Thanks @zkanda, I didn't have it as part of the $PATH.

[2017-07-19 19:22] #847 closed

[2017-07-19 21:23] davidovich commented on #797
This is also breaking our usage of dep in a Windows environment. Should dep be aware that it is running in a case-insensitive filesystem and in that case use the existing (the first one created wins) git repo?

[2017-07-20 01:27] DDRBoxman commented on #832
I ran into a similar issue today with a repo that uses git LFS to store about 600MB of files. Looks like dep is downloading all those files too.

[2017-07-20 02:34] sdboyer commented on #629
(still looking for people for this 😄 )

[2017-07-20 02:46] sdboyer commented on #832
ugh, git-lfs is kinda concerning from a verification (#121) perspective, as it seems like those files being conditionally populated is...not great.

assuming i'm understanding it correctly, anyway - it's a git extension that just transparently changes the behavior to not download these large files? if that's accurate, it seems like having the extension installed should be sufficient for dep to do

[2017-07-20 02:53] sdboyer commented on #797
@davidovich we may have to resort to something like that in order to stop the bleeding, but it's a pretty fundamental violation of dep's rules to do that. so, yeah..._temporary_. god, i hope 😨

[2017-07-20 03:16] sdboyer commented on #774
@ibrasho 🎉 🎉 that you get your CL in 😄

given that it's in, and it'll be part of 1.9...well, i'm inclined to just leave it as-is and encourage people to update to Go 1.9 if they experience the problem. But, i'll leave it up to you, i'd say you understand the implications of doing that, or compensating for it in dep, much better than i do.

[2017-07-20 03:19] sdboyer commented on #553
The concern here isn't with what's in the `vendor/` directory, but what's in the source storage area, `$GOPATH/pkg/dep/sources`. For repositories that have this problem, if it even really is a problem, we'd end up constantly deleting and recloning them (and I'm not sure we'd actually make progress) simply in order to progress through solving, as they would (presumably) check out dirty at every rev

[2017-07-20 03:22] sdboyer commented on #805
@sas1024 does this reproduce consistently for you?

[2017-07-20 03:23] sebdah commented on #827
I'm looking at this for fun and have one question. Would appreciate if someone could kick me in the right direction.

It seems like the issue is that the version `v1.6.27-3-g0876266` is getting caught by the `bzr` check we have in [source_manager.go#L482](https://github.com/golang/dep/blob/master/internal/gps/source_manager.go#L482). If I change that line to:

`if strings.Count(s, "-") >= 2 && str

[2017-07-20 03:26] sdboyer commented on #839
@markbates sorry, i should have noted that earlier - `1.2.3.4` is indeed, definitely not semver, and we can't shoehorn it in. that's pretty clear-cut.

however, it's fine for it to operate as a "plain" version (which have really poor properties in `dep` when compared to semver versions). what's weird here is that, instead of falling back to being a plain version, something's just dropping that fou

[2017-07-20 03:33] markbates commented on #839
It's not dropping anything. It says it's not semver and returns an error.

It finds the 0.9.1 release because that is the most recent tag that is semver. It loops through all the tags to find the latest semver release, which in this case is 0.9.1.

It's an interesting little bug/feature.

-----------
Mark Bates

On Jul 19, 2017, 11:26 PM -0400, sam boyer <notifications@github.com>, wrote:

[2017-07-20 03:46] sdboyer commented on #839
ahhhhh. OK. yes, that's the search order the algorithm uses: https://github.com/golang/dep/blob/master/FAQ.md#how-does-dep-decide-what-version-of-a-dependency-to-use

If that func isn't proceeding on past the semver matching to the plain, non-semver version, though, then that's a bug. When you specify from the command line in this way, it should find that exact version and use it.

[2017-07-20 03:53] sdboyer commented on #827
@aschlesener indeed, feel free to ask away!

@sebdah ohhh, INTERESTING. i had a feeling that bzr logic might come back to bite us.

Yes, that range should be logically valid, though it may not have quite the desired effect. It's valid semver - `-3-g0876266` is treated as a prerelease suffix - but the spec states that [prereleases with that shape ](http://semver.org/#spec-item-11) are ordered lexic

[2017-07-20 04:01] sebdah commented on #827
@sdboyer Thanks for the swift response. In my opinion that would be outside the control of `dep` if Shopify is not following that rule. It seems worse to drop the suffix, since that too could point at the wrong package version.

I'm also considering having a regexp instead to validate `bzr` versions. Might be safer that the current approach. But will read up more on how their versioning works.

Wo

[2017-07-20 04:05] sdboyer commented on #827
💯

Check the git blame on that line - I remember that, in the PR where we added that logic, one of our contributors actually went and read the bzr source code to find out how it generates the identifiers.

The right solution here also might be reordering when we check each constraint type. If we look at revisions last, this problem might just go away?

[2017-07-20 04:06] sebdah commented on #827
Thanks for the pointers, will 🔍

[2017-07-20 04:07] sdboyer commented on #827
and, without having looked at sarama's release list, that seems like it would probably be fine. i don't know exactly what your goal is, though, so i'm not sure what the objective function here is by which we'd evaluate "smarter".

[2017-07-20 04:07] DDRBoxman commented on #832
Yeah, if you have the extension installed it just works. It may just take longer than dep wants to wait around for, heh.

[2017-07-20 04:09] sdboyer commented on #565
well, maybe not "tomorrow." ick.

i'm making sure i get the licensing stuff right. @ashleymcnamara, have you any thoughts on where we should place Digby's files?

[2017-07-20 04:11] sdboyer commented on #832
dep doesn't actually use a timeout - rather, we use a "progress checker." as long as the process is making progress (as indicated by activity on stderr/stdout), it will generally let it continue running. so a simple timeout _shouldn't_ be what's going on.

unfortunately, our lack of observability instrumentation down at that layer makes it hard to say for sure 😢 😢

[2017-07-20 04:20] matjam commented on #534
need a warning if the source cache lock file is busy.

[2017-07-20 04:53] adg opened #858 "prune: add ability to strip tests"
It would be great if `dep prune` would strip tests.

Currently my update process is:

[code]

It'd be nice to roll the last command into `prune`, especially since `prune` already strips `testdata` directories.

[2017-07-20 06:51] embano1 commented on #856
Oh cool, thx for opening this issue on behalf :)
Let me clarify where I´m coming from (might be a seldom case, but worth exploring imho).

- Say you started coding with the HEAD from master of pkg (pkg misses semver)
- It´s a project that takes you a while (bc you´re too busy doing other things)
- Meanwhile, the project maintainer added some commits to master, some of them breaking things in your

[2017-07-20 08:21] calmh opened #860 ""source" declaration not followed?"
Dep version v0.1.0-236-g98f1d99

Attempting to work around #767. The following declaration feels like it should handle my situation (Gopkg.toml):

[code]

However,

[code]

Should the source declaration not remove the need to talk to the (down) `stvn.cc` domain?

Attempting to do it explicitly results in roughly the same thing:

[code]

There should be some way to say "grab this github repo into t

[2017-07-20 11:05] michael-go opened #861 ""dep init" failes to import glide with an importpath to a remote subpackage"
given `main.go`:
[code]

and `glide.yaml`:
[code]

`glide install` works and creates `glide.lock`:
[code]

however `dep init` fails.
I should mention that `dep init` does support importing remote subpackages (as it should https://golang.org/cmd/go/#hdr-Remote_import_paths), but seems that it gets confused by `glide.yaml` here

I stumbled upon this issue when playing with `dep` and trying to run `d

[2017-07-20 13:38] dinazil commented on #772
For me it doesn't work in simple cmd.
And what's really weird is that it DOES work for a colleague of mine. With the same repo and the same dep version.

[2017-07-20 13:43] sdboyer opened #862 "Gentler subprocess termination, for windows"
As a follow-up to #857, we want to make subprocess termination a little more selective/gentler on Windows, too.

@mattn and @ChrisHines had a bunch of thoughts, already, but I wanted to move that discussion to an issue here, so that that PR can focus on getting the UNIX support done. Here's my attempt to summarize those thoughts:

* Invoke taskkill:
[code]
* Recursive `TerminateProcess` [on the pr

[2017-07-20 13:55] sdboyer commented on #629
yay, we'll be adding @jmank88 !

[2017-07-20 15:14] carolynvs commented on #856
Let's step back and make sure we are on the same page. 😀

**If you haven't used dep yet, and your GOPATH has the right revisions of your dependencies**, you should run `dep init -gopath` and dep will use the same branch/version/revision of what's in your GOPATH. So for example, if you depend on `github.com/foo/bar` and what was in your GOPATH was the master branch, on revision `ff09b13`, then dep

[2017-07-20 15:26] mattn commented on #862
I suggest to use alex's ps package.

[2017-07-20 15:34] carolynvs commented on #839
The tag in the repo is `v0.9.1.2`, which isn't semver as you've noted. Semver tags are the only constraints that allows you to either use or not use the `v` prefix, otherwise you have to use exactly the same branch/tag name. So since it wasn't semver, InferConstraint tried to match the tag name and failed because the tag has a v prefix, but the value specified on the command line didn't.

Can you

[2017-07-20 15:45] markbates commented on #839
@carolynvs that updates the lock file correctly, but the toml still says `0.9.1`. definitely confusing.

The problem, from my perspective, is that everyone has been running a old version of the library because `dep` keeps ignoring the non-semver tag in favor of an older tag.

I'm not saying it's right or wrong, just a little annoying. It's both simultaneously a bug and a feature in my opinion. :)

[2017-07-20 16:23] carolynvs commented on #839
In the manifest, when you see `version = "0.9.1"`, [dep translates that as a range](https://github.com/golang/dep/blob/e212ae69db678ef49c5fa363f16ac1ac1a9f738f/docs/Gopkg.toml.md#version), 0.9.1 <= X < 1.0.0.

I agree that can be confusing! The reason dep encourages people to _not_ pin to a specific version/revision, and defaults to ranges is so that as more adopt dept, we don't quickly end up wit

[2017-07-20 16:27] markbates commented on #839
Yeah, if I run the `ensure@v0.9.1.2` it does lock it to that, but if you look at the `Gopkg.lock` above, you'll see that a straight up `dep init` gives me this:

[code]

Which isn't the correct version.

[2017-07-20 16:38] carolynvs commented on #839
Ah, okay we are talking about two separate things and I got a bit confused. 😊  I was only focusing on dep ensure.

1. `dep init` picked the highest semver tag, set the constraint to `version = "0.9.1"` which is translated as I explained previously, and locked to "v0.9.1". If you'd like to discuss how dep could handle this better during init, let's start a separate issue for that.
2. You then reali

[2017-07-20 17:53] carolynvs commented on #861
This is the same root cause as #843

[2017-07-20 20:05] carolynvs commented on #826
Thanks for bringing this up! I've added #854 to explain how test dependencies are handled in our doc.

[2017-07-20 20:09] carolynvs commented on #821
@chriswhelix You started working on this at Gophercon, right?

[2017-07-20 20:20] carolynvs commented on #860
That would be nice. So far we have been telling people to make sure that their imports have the `.git suffix` and there is an epic for supporting private repos which I hope will address this long term.

https://github.com/golang/dep/issues/286#issuecomment-315576866 has more info on the workaround and the on-going efforts to implement a solution.

[2017-07-20 20:33] nkovacs opened #865 "dep ensure does not update package to the revision in Gopkg.lock"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go1.8, dep 6c5ebb93c4e32614ba61fed6acb962a272ad4b8a

### What `dep` command did you run?
I updated my package on github. Ran `dep ensure -update` to update it in a project. The new revision was written to Gopkg.lock. I committed the file and pushed (vendor is not commited), pulled in another directory that alrea

[2017-07-20 20:50] carolynvs commented on #865
Did you specify the `-update` flag?

[2017-07-20 20:52] nkovacs commented on #865
After pulling in the other directory? No. I don't want to update. I want the revisions in Gopkg.lock.

[2017-07-20 21:15] carolynvs commented on #865
Can you explain what you mean by "pulled in another directory that already had an older package in vendor"?

[2017-07-20 21:26] nkovacs commented on #865
Before I ran `dep ensure -update` in directory A, i cloned the project into directory B and ran dep ensure. This installed the revision which was in Gopkg.lock at the time into the vendor directory of B.

Then I ran `dep ensure -update` in directory A, which updated the revision ,committed the lock file, pushed, and pulled in directory B.

[2017-07-20 21:27] embano1 commented on #856
thx @carolynvs your summary nails it! and we´re totally on the same page!
so let me provide some feedback:

1. i wasn´t aware of the -gopath option - this fixed it for me (using a correct GOPATH)
2. however, i also tried your second suggestion, pinning pkg foo to a certain rev (just wanted to give it a try)...and it didn´t quiet work as expected:

[code]
[code]

Locks the pkg to the latest master

[2017-07-20 21:42] carolynvs commented on #865
Ah okay. `dep ensure` doesn't always populate vendor, only when the imports in your code have changed, or when the manifest has changed. `dep` computes a hash and stores it in the lock. When vendor already exists, and the hash hasn't changed, `dep` doesn't write to vendor.

So for the workflow that you are using now, I recommend first deleting vendor in Directory B, then running dep ensure.

We ha

[2017-07-20 21:44] #865 closed

[2017-07-20 22:04] carolynvs opened #866 "Lock mismatch when locked to a non-tip revision for a branch constraint"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8.3 darwin/amd64
v0.1.0-240-g6c5ebb9

### What `dep` command did you run?
`dep status`

### What did you expect to see?
[code]

### What did you see instead?
[code]

The output for `dep hash-inputs` is the same after I write a new lockfile by running `dep ensure`. I'm not sure what else is being l

[2017-07-20 22:04] carolynvs commented on #856
Huzzah! I'm glad that `-gopath` got the job done. 🎉

As for the mismatch, that certainly isn't what I expected... boo. :grin: I was able to reproduce it easily enough though, so I can boldly state that you didn't do anything wrong. I've opened #866 to look into that more.

[2017-07-20 22:48] chriswhelix commented on #821
@carolynvs yes, waiting to submit PR until I get our CLA issues squared away. But I didn't get much farther than turning it on as you suggested, and seeing that it works, anyway.

[2017-07-21 00:05] matjam commented on #286
I can offer a use case. I think it's covered by the "alias" idea; I think it's the same as what  @Jamie-sas has.

We have a `gitlab.corp.example.com` server which is a mouthful when really we want to just use `example.com/team/package` in our imports. We can configure git with this:

[code]

which works fine for `git clone https://example.com/team/project` but `go get example.com/team/project` die

[2017-07-21 00:42] matjam commented on #534
So I can see there's a Ctx passed around that has an Out and Err var, but this Ctx isn't exposed to lower level stuff like the NewSourceManager() func.

NewSourceManger() doesn't return anything, and we don't pass anything to it.

We could make a struct in gps and assign the Out and Err to that, and then use that Ctx in parts of gps that need to provide warning output. Warnings should always be ST

[2017-07-21 02:27] #820 closed

[2017-07-21 02:41] sdboyer opened #868 "Refactor NewSourceManager() to give more control over lockfile interaction"
#853 introduced more sophisticated handling of the `sm.lock` lockfile created by `NewSourceManager()` to guarantee only one process is working on the cache directory at a time. This is a nice addition, as it should solve the easy cases where a lock file gets left around when a dep process quits in a way that prevents cleanup (e.g. a panic). That's a fairly rare case right now, but still - a benefi

[2017-07-21 02:41] sdboyer commented on #868
cc @matjam

[2017-07-21 02:42] shadowmint commented on #286
Just a word of caution to this:

I'm not sure that this is the correct approach to be taking.

Having a 'locally hosted repository' as your solution to:

- Private packages
- Local filesystem packages (ie. dev mode)
- Local caches of public packages

Is the path that Nuget in the C# ecosystem has taken.

...and it's terribly annoying to work with. It's really a horrible experience, and the solutio

[2017-07-21 02:44] sdboyer commented on #866
Easiest way to debug this will be to insert something that dumps `gps.HashingInputsAsString()` just before whichever inputs-hash comparison check is failing - that should give a more honest picture to compare against `dep hash-inputs` output.

[2017-07-21 02:46] sdboyer commented on #865
It also sounds like `dep ensure -vendor-only` will help with this use pattern, once #489 is merged.

[2017-07-21 02:51] sdboyer commented on #738
i think it's fair to say that we have FAQ coverage for this now - closing.

[2017-07-21 02:51] #738 closed

[2017-07-21 03:04] SteelPhase commented on #286
The internal registry we're looking at for this would be a stand alone service that would cover the basics needed to serve as a registry. The idea being you can stand up an internal server on your network and treat it as a registry just like the public version. The idea is still in it's early stages but I feel like it may avoid your concerns about the fake NuGet registry.

[2017-07-21 03:06] shadowmint commented on #286
Having a custom registry service to install a single private package would be terrible workflow; that is literally the situation nuget is currently in.

The 'fake' nuget server is a work around for how bad that is.

[2017-07-21 03:47] sdboyer commented on #860
hi! thanks for the issue. This is a great question.

So, I totally get why these should seem like the same thing. But they're not, because there's two separate things that are intertwined, here.

Everything comes back to project root deduction - given an import string, which subcomponents of it identify where the root of the repository - and, because dep assumes that repo root == project root - an

[2017-07-21 05:49] calmh commented on #860
I see. As a user, I never considered that the given `source` wouldn't have to correspond exactly to the `name` it "sources". I don't think I really know what it would mean if they didn't, or how `dep` could possibly handle that case. In my mind, `dep` would need to do the usual dance to figure out which part of the *source* is the repo root. That, I might say something like:

[code]

because I hav

[2017-07-21 06:28] nkovacs commented on #865
I tried that branch, and not only does `dep ensure -vendor-only` correctly update the vendor directory, so does `dep ensure`. Which makes sense, the two shouldn't differ in this regard.

[2017-07-21 07:39] embano1 commented on #856
Thx @carolynvs
You´re doing a fantastic community job here. Will follow the issue, however I´m also good with your -gopath suggestion for now :)

[2017-07-21 13:08] sdboyer commented on #860
Nor did I, as a user. Only when I made the leap to designer did I veer off that particular happy path 😄

It would probably be meaningless in terms of the semantics we expect, but this is a problem with stringly typed systems - they tend to allow a lot of meaningless things. It's generally very difficult to draw boundaries around what is or is not valid, in any strictly enforceable sense.

s/packag

[2017-07-21 13:10] sdboyer commented on #817
Improving feedback from this particular error case is basically the focus of #697 - closing this as dup. (thanks, though!)

[2017-07-21 13:10] #817 closed

[2017-07-21 13:16] sdboyer commented on #823
This case, with all that spam about the `SourceManager` being released, also highlights how important it is that we create a quick-escape path out of the solver for certain classes of errors. Generally speaking, that's part of the refactoring and error design entailed by #288.

This is actually kinda nice, though, because I've been daunted by the problem of classifying errors for that purpose. But

[2017-07-21 13:21] sdboyer commented on #799
Feels like this might be related to a bug I vaguely recall where `ListVersions()` was returning zero versions from certain `gopkg.in` paths. I can't find the issue for that offhand, though - I think the surfaced symptom was a panic in a solver method.

[2017-07-21 14:23] carolynvs commented on #799
I think this was fixed by #715. @emersion Would you please try again with the latest `dep` and let me know how it goes?

[2017-07-21 14:28] carolynvs commented on #866
Below is dep status for both cases, with the inputs printed. The strings are exactly the same.

[code]

Run `dep ensure` to rewrite the lock then...

[code]

[2017-07-21 16:48] sdboyer opened #872 "Use varied command timeout length for different vcs commands"
We use a system of subprocess monitoring (basically, we watch stderr/stdout for updates) to determine if a command is making progress. Commands that aren't making progress are terminated if a [configurable timeout](https://github.com/golang/dep/blob/12d69a978d6ea065a7bdb9831923bb67f2eaeff2/internal/gps/cmd.go#L23) is exceeded since the last visible progress was made.

However, we aren't taking adv

[2017-07-21 17:12] sdboyer commented on #858
yep, definitely should have this. i need to write up an issue specifically outlining how to move prune back into ensure.

[2017-07-21 18:30] davidovich commented on #772
If it helps, this is also happening to me on Windows. I can reproduce in a debugger by placing a lowercase drive letter in the working directory. For example, run dep init in a `D:\go\src\myproject` and setting the cwd to `d:\go\src\myproject` The following (in DetectProjectGOPATH() github.com\golang\dep\context.go)

[code]
condition fails because of case difference.

Drive letters should be also

[2017-07-21 19:08] #669 closed

[2017-07-21 20:33] jgeiger opened #874 "dep does not seem to respect a project's packages setting in the Gopkg.lock file"
Creating a simple app with a testing dependency adds the entire project, not just the requested package.

I've created a simple repository with a use case:
https://github.com/jgeiger/dep_bug/tree/single_package_include

If you remove the 2nd commit and run
[code]
You see it includes all of onsi/gomega and not just onsi/gomega/format. It seems the lock file is also specifically showing only the for

[2017-07-21 21:08] carolynvs commented on #874
If you want your vendor to only contain the sub-packages that you are currently using, run `dep prune -v`.

Prune is being reworked and will eventually move to the `dep ensure` command, but for now this the way to do it. 😀

[2017-07-21 21:08] #874 closed

[2017-07-21 21:13] carolynvs opened #875 "Document the prune command"
Once #819 is merged, let's add documentation for subpackages to the README and explain how dep treats them. It's a bit confusing right now (before the ensure overhaul) that the lock lists the subpackages but they aren't automatically removed by dep. You must run `dep prune` to get rid of unused subpackages from vendor.

[2017-07-21 21:14] carolynvs commented on #874
Thanks for the feedback! I've #875 to track documenting how prune works today.

[2017-07-21 21:28] carolynvs opened #876 "Document status's lock mismatch state"
The README explains the "happy state" when running `dep status`, but doesn't give any hint about another expected/normal state, "lock mismatch":

https://github.com/golang/dep/pull/819#discussion_r128110164

[2017-07-21 21:34] carolynvs opened #877 "Document how to upgrade a specific package"
The README explains how to update _everything_ but now how to update a single package. There is already explanation in the help text for this (see `dep ensure -examples`) but its a common enough case that we should highlight it. Let's add info on `dep ensure -update foo` and `dep ensure -update foo@1.2.3` in the README as well, so that people are more likely to know that it exists.

[2017-07-21 22:19] erizocosmico commented on #872
May I take this one? 😄

[2017-07-21 23:02] sdboyer commented on #872
absolutely! good to have you back on this 😀🎉

On July 21, 2017 6:19:42 PM EDT, Miguel Molina <notifications@github.com> wrote:

[2017-07-21 23:13] #409 closed

[2017-07-21 23:13] #469 closed

[2017-07-21 23:13] #790 closed

[2017-07-21 23:13] #823 closed

[2017-07-21 23:54] JelteF commented on #792
Virtualgo (or vg) is indeed built to solve this issue (as well as some others). If you want to try it out I recommend you use the branch from this pull request though: https://github.com/GetStream/vg/pull/8

That pull request makes the multi project flow much nicer to work with. It should be merged in and finalised somewhere next week. Also read the README from the pull request btw if you plan to

[2017-07-22 02:00] edrex commented on #433
I just discovered some things:

 - `go build` errors out when both cases are present on a case-sensitive filesystem (ext4): `XXXXX: case-insensitive import collision: "github.com/sixgill/service/vendor/github.com/Sirupsen/logrus" and "github.com/sixgill/service/vendor/github.com/sirupsen/logrus"`

 - AFAICT this results in an impass: go won't build with  can't build with multiple casings in your p

[2017-07-22 02:27] edrex commented on #433
What I did (not proud of it):

Added a `gofmt` to rewrite vendor packages:

[code]

[2017-07-22 12:54] #827 closed

[2017-07-22 14:38] ibrasho commented on #774
🎉 🎉 🎉

I don't have a strong opinion here tbh. If we want to fix it in `dep` the following needs to be done:
* copy [`fixLongPath`](https://github.com/golang/go/blob/master/src/os/path_windows.go#L131)]  and the other needed unexported `func`s: [`volumeName`](https://github.com/golang/go/blob/master/src/os/path_windows.go#L54) and [`isAbs`](https://github.com/golang/go/blob/master/src/os/path_wind

[2017-07-22 21:03] deejross commented on #286
I would like to say that some organizations cannot, for legal reasons, just download or publish packages from/to the internet. Each version used needs to be verified by one or more internal groups before it's allowed to be used. There's also the case of libraries written internally, that again for legal reasons, cannot be released to the public.

These cases are far more common than you might thin

[2017-07-22 23:47] bradleyfalzon opened #883 "When vendor dir is part complete, dep ensure doesn't add missing dependencies"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

### What `dep` command did you run?

[code]

So far so good, we've proven the dependency `github.com/pkg/errors` didn't initially exist, running `dep init` then added the dependency successfully and the program compiles.

The next step is a part of my workflow to switch between a vendored dependency, to

[2017-07-22 23:56] shadowmint commented on #286
I would like to just clarify my objection here is in no way to supporting
private packages.

It is purely that having to run a service, external to dep, to achieve
that, is a bad workflow, and there is prior art to prove that.

An alias to map an import path to an arbitrary remote git url solves this
problem with the need to reengineer entirely new infrastructure; and that
should be fundamentally

[2017-07-23 12:25] emersion commented on #799
I can confirm this bug is fixed with the latest `dep`!

[2017-07-23 12:25] #799 closed

[2017-07-23 13:23] sdboyer commented on #883
Yep, thanks for the detailed report. I'm happy to treat this as the canonical report for the problem, being the most detailed one I've seen yet.

The basic issue here comes back to the flow between states:

<img width="463" alt="states-flow" src="https://user-images.githubusercontent.com/21599/28499548-76e8c77c-6f86-11e7-86ae-3fbec8257f21.png">

Each of the two steps can be thought of as functions

[2017-07-23 19:35] sdboyer commented on #875
Yes, `prune` needs its own docs. Though they should also include a note - on both the CLI and whatever we write elsewhere - that we plan to subsume `prune` into `ensure`.

[2017-07-23 19:42] sdboyer commented on #866
🤦‍♂️ i'm not sure what the deal here would be...but `status` has been lacking love for a long time. i can look again more seriously after #489, and then @darkowlzz and i can hopefully get things like this squared away.

[2017-07-23 19:52] dominikschulz commented on #883
I ran into this issue as well today, only because the README of `dep` suggest to manipulate `vendor/` directly: https://github.com/golang/dep#testing-changes-to-a-dependency.

If `dep` can't handle this case (at the moment), it may be a good idea to not mention this workflow in the README (or make it clearer in case I got it wrong).

[2017-07-23 20:41] tamalsaha opened #885 "Support Gopkg.yaml"
Can you support YAML for `Gopkg` file? Are there any clear benefits of using TOML over YAML for this particular use-case?

[2017-07-23 21:44] calmh opened #887 ".hg directory is included in vendor/"
dep v0.1.0-236-g98f1d99

I think this is unexpected?

[code]

[2017-07-23 21:49] sdboyer commented on #887
huh. weird. definitely unintended. marking as a bug.

this definitely looks like a mistake i made when refactoring [this function]((https://github.com/golang/dep/blob/167adc2b67763423775ab0affc7fa5d2deb4fd53/internal/gps/vcs_source.go#L106-L113)) - we don't take the proper steps to exclude the vcs metadata dir. i'm sure this problem exists with bzr, too.

[2017-07-23 21:50] sdboyer commented on #885
hi, welcome! thanks for the issue.

no, we won't support multiple files, which is what this would amount to. yes, there are benefits, albeit small ones. we bikeshedded this more or less to death in #120.

[2017-07-23 21:50] #885 closed

[2017-07-23 21:52] sdboyer commented on #883
eek, yeah. that's an oversight, given the current blind spot we have on this 😢

[2017-07-23 22:00] #872 closed

[2017-07-23 23:03] bradleyfalzon commented on #883
Thanks @sdboyer, that does give context, and I see #489 is running with `VendorAlways` more often.

What about in the meantime, we adopt similar behaviour like below, or in the proposed PR:

[code]

[2017-07-23 23:50] deejross commented on #286
I think I'm starting to better understand your concern. The current problem with private packages is that Go, Glide, Dep, etc don't know what type of version control to use when specifying a package that isn't hosted by one of the popular source code hosting sites (i.e. GitHub) or doesn't specify the name of the VCS as part of the domain name.

One super simple option we discussed to alleviate thi

[2017-07-24 01:13] shadowmint commented on #286
We'll just have to see how this rolls out in practice.

As long as we're prepared to treat this registry as an experiment, evaluate it, and if it turns out that hey, having to install mongodb to install a single private package is really awful, we're happy to throw it away and pick a different solution, I'm perfectly happy to keep rolling along this road.

[2017-07-24 02:19] abh commented on #286
+1 on requiring running Mongo (or really anything) being awful for this. Licensing, operations, access control, ...

How can this not be a text file or annotations in the dep files.

[2017-07-24 07:16] ibrasho commented on #887
Can something like the following work?

[code]

[2017-07-24 08:57] tmichel commented on #845
Automatically pinning transitive dependencies when importing would really come handy for me. I'm using govendor at the moment and tried to switch to dep but it breaks the application because transitive dependencies are not pinned but upgraded to their latest versions.

Here's the branch where I tried to upgrade: https://github.com/sspinc/terraform-provider-credstash/tree/dep
Unfortunately it only

[2017-07-24 14:14] sdboyer commented on #887
@ibrasho Yes, I think that's the simplest thing, and probably quite adequate.

[2017-07-24 14:18] sdboyer commented on #883
@bradleyfalzon yeah, that looks like a reasonable stopgap.

[2017-07-24 15:13] deejross commented on #286
As mentioned previously, MongoDB was a possible first pluggable solution for metadata. We were planning on using local file system storage for testing and small environments, but if you plan to scale at all, especially in a public or enterprise way, you almost have to have a database backend of some kind for metadata to be shared between multiple running instances of the registry for load balancin

[2017-07-24 15:25] Jamie-sas commented on #286
Yes, please, on the database!  I would prefer the database be used _INSTEAD OF_  .lock or whatever files that get checked in with the source.  In an Enterprise environment, a database is much more useful than files scattered everywhere.

Making the database choice 'pluggable' is also essential.  It is highly unlikely your default will be anything like what we use internally, unless it is at least

[2017-07-24 17:42] zevdg commented on #286
I have a theory that almost all companies that want an internal registry fall into one of two categories

1. Small enough to be ok with (and maybe prefer) simpler local file system storage
2. Big enough to set up (and maybe prefer) a general purpose repository manager like Nexus or Artifactory

As a quick sanity check...
**Please thumbs down this comment if your company doesn't fall into one of th

[2017-07-24 18:16] deejross commented on #286
Switching gears to package storage, the design discussion revolved around submitting `tar.gz` or `zip` files to the registry. No direct integration with GitHub or any other system for day one. This provides an added benefit for those that don't use Git for whatever reason; you're not tied to a specific VCS. Storage for these files we're thinking S3-compatible for the first non-local-filesystem sto

[2017-07-24 18:32] brianf commented on #286
In my experience you're exactly right. Each system comes along these days
with a basic tool but companies tend to not to want to run a separate
server for each new format/language and gravitate towards a heterogeneous
enterprise solution instead.

On Mon, Jul 24, 2017 at 1:42 PM, Zev Goldstein <notifications@github.com>
wrote:

[2017-07-24 18:50] sdboyer commented on #838
aiming to do this tonight, prior to #489, as part of releasing a new [dep status](https://sdboyer.io/dep-status) update.

[2017-07-24 19:20] carolynvs commented on #845
@sdboyer Can you let me know if my clarification makes sense, and if you are okay with it?

[2017-07-24 23:15] drafnel commented on #821
@chriswhelix did you push your code anywhere that I can fetch and test?

[2017-07-25 00:09] timoreimann commented on #351
FWIW, I was about to comment on this issue and paste a log output of my own just before I realized I had messed up updating my previously installed copy of dep: I did `go get -u github.com/golang/dep` instead of `go get -u github.com/golang/dep/cmd/dep`. I guess this has caused dep to use an incompatible mixture of the main and sub-packages.

Not sure if the other reporters actually did the same m

[2017-07-25 01:15] sdboyer commented on #351
i think this bug should be unreachable now - but it still exists because we only band-aid-ed over it, rather than fixing the underlying problem with the model.

[2017-07-25 01:21] elefthei opened #890 "Sharing a library between two apps"
## Versions
Go: go version go1.8.3 linux/amd64
Dep: v0.1.0-286-g0a63c47

## Expected behavior

I have the following directory structure. I'm expecting the `shared` directory to have files that will be linked to both `api-server` and `dbcli` (some files regarding schema and DB models). When I try to run deps ensure I get the error:

## Commands executed
[code]

## Error
[code]

Here's my project di

[2017-07-25 03:04] fabulous-gopher opened #891 "Define behavior of dep status when Gopkg.lock is absent"
We currently have an entirely unhandled branch in `dep status` - when `Gopkg.lock` is absent. This is probably best handled just by failing out immediately with a message that the lock is missing and `dep ensure` should be run, but other suggestions are welcome.

/cc @darkowlzz

---

TODO found

https://codeclimate.com/github/golang/dep/cmd/dep/status.go#issue_59751c8af978760001000127

[2017-07-25 03:13] sdboyer opened #892 "dep status output should represent overridden rules differently"
[Relevant TODO](https://github.com/golang/dep/blob/0a63c47d2344e257237669754f4eee634482df79/cmd/dep/status.go#L341)

`dep status` currently does nothing to specially note when there are overrides on a particular dependency. That information is quite important; we need to figure out how to incorporate it.

[2017-07-25 03:40] zh794390558 commented on #801
Below is my repo:
https://github.com/uniatlas/atlasctl

This my travis to create vendor with ` dep init -gopath -v` command:
https://github.com/uniatlas/atlasctl/blob/develop/CI/.travis.yml

Sorry , I did not preserve the logs, but you can generate new one for building the project, all inforamtion is in the logs of Travis.

[2017-07-25 03:43] amacneil commented on #796
While we're here, is there a reason this isn't just the default, rather than hiding it behind a `--vendor-only` flag? Coming from other package managers (bundler, npm) my expected behavior was for the install command (or in dep lingo `ensure`) to blindly install everything requested by the lock file.

I would think that solving the package dependencies should only be necessary when updating the lo

[2017-07-25 03:44] sdboyer opened #893 "Show combined constraints in table view for each dependency"
[Relevant TODO](https://github.com/golang/dep/blob/0a63c47d2344e257237669754f4eee634482df79/cmd/dep/status.go#L357-L359)

Currently, the `dep status` table output only reports rules from the current/root project's `Gopkg.toml`, which can be quite misleading, especially as projects using dep start relying on each other. This simplistic implementation needs to be made more sophisticated - we need to

[2017-07-25 03:48] treeder commented on #796
I'm with @amacneil  on this, it shouldn't try to be smart except on an update, not on ensure (also wonder why it's called ensure instead if install like everything other package manager)..

[2017-07-25 03:56] sdboyer opened #894 "Resolve TODO - URL.Path or URL.RawPath?"
There's [a TODO](https://github.com/golang/dep/blob/0a63c47d2344e257237669754f4eee634482df79/internal/gps/deduce.go#L795) in the bowels of gps' deducer related to whether we set a path for `url.URL` using either its `Path` or `RawPath` var. The original implementation I cribbed this from (`go get`'s) uses `RawPath`, but that didn't seem quite right and/or didn't work right. The godoc for these pro

[2017-07-25 04:11] sdboyer opened #895 "Parallelize (maybe?) gps.WriteDepTree"
`gps.WriteDepTree()` is the global entry point that actually creates a `vendor/` tree. Right now, it operates entirely in serial, writing out dependency directories one at a time. I don't know exactly how much we'd be able to get out of parallelizing this, as most of the bottleneck here is likely to be I/O. However, it seems worth at least trying to run these operations concurrently; my naive expe

[2017-07-25 04:53] sdboyer commented on #796
@amacneil @treeder yep, this is all quite intentional, and we're sticking with the design unless/until it actually proves inadequate, rather than just unfamiliar.

I explained the design, and the related/motivating choice of `ensure` as the verb in my Gophercon talk: https://youtu.be/5LtMb090AZI?t=19m54s

[2017-07-25 05:07] sdboyer commented on #286
I'm mostly trying to avoid putting my toe on the scales by staying out of this thread, but I feel the need to quickly note there that I think it is an error to equate the work @deejross and @SteelPhase are currently doing with the role served by e.g. artifactory or nexus. While there are certainly some possible areas of overlap, I'd say offhand there's at least as much that such a generic system i

[2017-07-25 05:23] sdboyer opened #896 "Benchmark the solver against well-defined cases"
We should benchmark gps' solver. This is something i've been wanting to do in various forms for a while.

#422 is one approach, where we generate (perhaps as part of the test, or perhaps as a separate process) random graphs for the solver to solve, looking for ones that go nastily exponential, and use those as a basis for exploring solving algorithm improvements.

For this case, though, i'd like t

[2017-07-25 05:47] shadowmint commented on #286
? Like what?

Of course, since I have no idea what this repository is supposed to offer as an API, I can't say for sure it's hard to see what's being built here as significantly different, abit a customized simplified version of those products.

You mean to say that the repository service being built offers an api that is more than just 'resolve this package' and 'download this package'? ...and pe

[2017-07-25 05:52] treeder commented on #796
Watched the talk, thanks for sharing. While I like the concept of one command doing everything, I feel like that's just not flexible enough. I think various steps could/should be different commands with `dep ensure` being your "do everything" or as you say: "Hey dep, ensure everything's shipshape, kthx". But why not have something like:

* `dep init` - to set things up as it does now (basically `d

[2017-07-25 05:55] amacneil commented on #796
Thanks for the link, it was helpful. I'm sure you have thought about this much more than we have. I also understand the desire for an `ensure` command since in some other package managers the `install` command is overloaded to mean both adding new dependencies, and recreating the vendor directory based on lock file (in this case yarn have actually done a better job than npm by separating the `yarn

[2017-07-25 06:52] ibrasho commented on #174
I'm under the assumption that `dep ensure golang.org/x/sys:git.internal.com/external/golang.org/x/sys.git` should work (note the `.git` at the end) even if not go-get metadata is available. Could you try that?

Basically, `[[constraint]]` is used to constraint how `dep` determine which version to use for one of your **direct dependencies**. While `[[override]]` is used to override the constraints

[2017-07-25 09:07] sebdah commented on #824
FYI, I've started looking at this. Will submit a WIP PR in the next few days to confirm that my approach is ✅.

[2017-07-25 10:37] raykrueger commented on #796
Adding a dummy file is a good idea for a workaround for now. Adding any real source from the app is the problem. You'd have to add a source file that never changes. Maybe even 'RUN echo...' something into place.

[2017-07-25 13:54] sdboyer commented on #796
i hear your points, @treeder and @amacneil, but these sorts of changes just aren't on the table right now. it was either a months-ago thing, when we were first articulating this model, or a months-from-now thing, after the model has been in place for a while and we can either consider a 2.0 refactor, or (vastly preferably) when we're talking about the CLI UI for the `go` command itself.

there are

[2017-07-25 15:16] tonto commented on #895
Hey, is someone working on this, does it need to be claimed?

[2017-07-25 15:55] treeder commented on #796
@sdboyer where is the info on the sync-based approach in npm?  I couldn't find anything on it. Just curious to read about it.

I don't think anybody is saying it's a bad idea, I think we're just saying it's not the right idea for all use cases. Maybe all these flags you're talking about will get us there, but we'll see.

@amacneil so I tried your idea of throwing in an empty main file and it doesn

[2017-07-25 16:35] sdboyer commented on #796
TBH, i haven't had time to explore or play with it much, so i can't give a lot more detail. for now, i can point you to [twitter conversations](https://twitter.com/maybekatz/status/866714523322810368). npm may be bringing me out to SF at some point soonish for an impromptu pkg mgmt summit, at which point i expect i'll have a lot more insight.

If that's the argument, then of course I agree - the r

[2017-07-25 18:09] chriswhelix commented on #821
@drafnel you can see my WIP here:
https://github.com/myhelix/dep/pull/1/files

So far I'm focused on adding test cases for "dep init" -- however, my initial testing did NOT appear to exhibit the behavior we're after in "dep ensure". Once I'm satisfied I have a complete set of tests for init, I will try to produce all the equivalent cases for ensure, and go from there.

[2017-07-25 18:12] ibrasho commented on #890
This is related to #174.

This error means that`https://acme.in/shared/lib/config?go-get=1` or (`http://`) didn't return valid go-get meta data for `dep` to be able to deduce the repository and type.

Can you `go get` your package successfully?

[2017-07-25 18:13] ibrasho commented on #890
BTW, I'm assuming that `acme.in/shared` is available on a remote repository. :grin:
If it's not then that's another issue.

[2017-07-25 19:08] sdboyer commented on #895
@tonto nobody's working on it, so it's all yours if you want it! 🎉 🎉

[2017-07-25 19:14] ibrasho commented on #845
@tmichel We depend on the dependencies to declare their constraints (and you use `override`s to override these constraints). But, at the moment, we assume the dependencies use `dep` and only look for `Gopkg.toml` and `Gopkg.lock`. I remember seeing an issue suggesting that we utilize the importers on transitive dependencies.

[2017-07-25 19:17] tonto commented on #895
@sdboyer cool, I'll have a go then, fingers crossed :)

[2017-07-25 19:37] elefthei commented on #890
It is a local folder, what are the requirements for naming local folders Vs remote repos?

[2017-07-25 20:47] ChimeraCoder opened #899 "Could not introduce package, as its subpackage does not contain usable Go code"
We're migrating Veneur (github.com/stripe/veneur) to dep, but getting an error on master (current: 08b7908a70f4c76fd8a84635415a477811605e39).

The error appears similar to https://github.com/golang/dep/issues/387 - it complains that the subpackage `stathat.com/c/consistent` doesn't contain usable Go code, which... well, isn't true, either for the vendored version in the repository or for the versi

[2017-07-25 22:14] sonofachamp opened #900 "Unable to install dep using go get"
go version go1.8.3 windows/amd64

go get -u github.com/golang/dep/cmd/dep
fails:
github.com/golang/dep/internal/gps
..\..\..\github.com\golang\dep\internal\gps\constraints.go:104: undefined: semver.Constraint

[2017-07-25 22:20] sdboyer commented on #900
very, very odd.

i can tell you right now that:

1. the error is a manifestation of `go get` grabbing the branch tip of `github.com/Masterminds/semver`, which is different from the version we depend on
2. there is no reason `go get` should be going out to grab that project, as it's already present in the dep's committed `vendor` directory

so, just from the info you've provided here, something in

[2017-07-25 22:29] sonofachamp commented on #900
ok, thanks for the information!

[2017-07-25 22:29] carolynvs commented on #845
https://github.com/golang/dep/issues/821 covers importing config on the fly during `dep ensure`.

[2017-07-25 22:36] #876 closed

[2017-07-25 22:37] sonofachamp commented on #900
@sdboyer According to go get builtin documentation it (go get) will not check out or update code stored in vendor directories.

[2017-07-25 22:42] carolynvs commented on #821
@chriswhelix How about submitting that branch here as a WIP PR? 😀 I promise to not nitpick while you work!

By the way, I noticed that you fixed a bug in the glide importer (using any constraints instead of latest) and that would be great to split off into a quickie PR that we could get merged quickly.

[2017-07-25 22:47] rhwlo commented on #899
It looks like this may be stemming from something similar to #705: in this case, https://github.com/stathat/consistent/blob/master/example_test.go has a relative import that could be the culprit.

[2017-07-25 22:53] sonofachamp commented on #900
I deleted golang/dep folder and Masterminds folder from my GOPATH and re-ran:
go get -u github.com/golang/dep/cmd/dep.

Dep installed fine and seems to be working now. I'm not sure what caused the problem.

[2017-07-25 22:53] #900 closed

[2017-07-25 23:23] sdboyer commented on #420
this is likely going to involve changing exported APIs, so we have to finish it before 1.0/whatever

[2017-07-25 23:38] sdboyer commented on #899
hi hi! awesome that you're giving dep a shot with veneur 😄

so, tl;dr - if you can [change this to `import "."` or `import "stathat.com/c/consistent"`](https://github.com/stathat/consistent/blob/748f01b59d1b2218efe39513039e9ee31266d7c7/example_test.go#L8), either of which i believe will work, your problem should go away.

longer explanation is that you're hitting a few interrelated things, and it'

[2017-07-25 23:41] sdboyer commented on #900
go get -u github.com/golang/dep/cmd/dep.

truly bizarre - this shouldn't have had any effect, as a qualifying `vendor/` folder should always supersede GOPATH when searching for dependencies. i still have no idea what's going on 😞 , but i'm at least glad you got it sorted for now 😄

[2017-07-25 23:42] sdboyer commented on #895
great! please don't hesitate to ask questions, whether here or in slack.

[2017-07-26 00:29] carolynvs commented on #821
I've submitted #901 to fix this for all the importers.

[2017-07-26 00:32] carolynvs commented on #855
Fixed by #873

[2017-07-26 00:32] #855 closed

[2017-07-26 00:36] carolynvs commented on #899
Should we document in the FAQ that relative imports aren't supported?

[2017-07-26 00:46] sdboyer commented on #899
@carolynvs yes, probably worth doing 😄

[2017-07-26 02:28] sebdah commented on #824
Have added the above referenced PR to introduce table based tests for the `godep` and `glide` importers.

[2017-07-26 03:13] ChimeraCoder commented on #899
Aha - that would do it! Thanks @sdboyer. We don't have write access to `consistent`, but I've opened a patch, and worst-case scenario, we could just operate off of a forked or modified version in the meantime.

Regarding (2), I could probably take a stab at that. Feel free to assign me the ticket when you write it up.

[2017-07-26 08:07] elefthei commented on #890
Also 'go get -d acme.in/api-server' works as expected

[2017-07-26 08:18] sdboyer opened #902 "Process import comments properly"
Go 1.4 introduced support for declaring canonical import paths via [import comments](https://golang.org/doc/go1.4#canonicalimports). Now, TIL that these import comments are [ignored by the compiler when within a `vendor/` directory](https://golang.org/cmd/go/#hdr-Import_path_checking), so we _could_ disregard them. But that seems unwise. Given that we view `vendor/` as an implementation detail, th

[2017-07-26 08:24] sdboyer commented on #899
@ChimeraCoder cool cool - #902 is that ticket. (GH limits first-class ticket assignment to org members, unfortunately 😞)

Reflecting on the proper fix for this a little more, it may end up getting into all the same issues as #420, which ultimately amount to the tangle of #291 that I've been deferring. So, removing the help-wanted tag and assigning to me, as that's a morass I need to wade through.

[2017-07-26 10:14] sdboyer commented on #730
this feels perhaps related to other issues we've opened, or at least what came up in discussion yesterday re: k8s, about not just failing out with no files generated when `dep init` fails - no?

[2017-07-26 10:17] sdboyer commented on #701
long delayed here, sorry - but no, this is one of those potholes in our current implementation that #489 will clarify. i'm gonna close this in favor of that.

[2017-07-26 10:17] #701 closed

[2017-07-26 10:19] sdboyer commented on #737
same deal as with #701 here - #489 is gonna clarify this, and rather than explore all the weirdness in here directly, i'm going to close it in favor of that.

unless, @dt, you really want an explanation here 😄

[2017-07-26 10:25] sdboyer commented on #433
thanks for the added info, @edrex!

😱 😱 😱 💥 💥 💀

honestly, i'm not even sure if this makes it worse or better. probably better, but it's still kind of horrifying. i need to ponder some more.

[2017-07-26 12:21] dt commented on #737
👍

[2017-07-26 12:21] #737 closed

[2017-07-26 12:25] tonto commented on #895
@sdboyer Without making a PR I pasted the code for `WriteDepTree` with some `ExportProject` error handling related questions in the comments...

[code]

I know that this was just supposed to be a proof of concept bench mark and that maybe the question above is misplaced, so you don't have to answer it right now, but the real problem is that I can't really run the benchmark for `WriteDepTree` since

[2017-07-26 12:58] sdboyer commented on #895
@tonto no worries! like i said, questions are totally fine 😄

that you'd be getting an error like that is surprising - it would seem to suggest that there's a possible scenario in which `WriteDepTree()` is exiting before all of its subprocesses terminate. that definitely should not be possible.

more generally, though...yep! this is the kind of challenge you have here - a `sync.WaitGroup` may or m

[2017-07-26 13:08] tonto commented on #895
@sdboyer Yes, was thinking along the same lines concerning controller - worker groutines, so that's clear, thanks :)

Regarding the error I'm getting not really but I will investigate further

[2017-07-26 13:46] sdboyer commented on #895
great!

also, a key note about the domain model here...

there's an assumption that projects cannot be logical descendants of one another - only siblings, or entirely unrelated. that is, we assume that `somedomain.com/project` and somdomain.com/project/subproject` cannot both exist as `ProjectRoot`s in a single `Lock`. (they probably shouldn't exist globally either, but that's a different scope of

[2017-07-26 18:39] ncw opened #904 "Could not introduce x, as it is not allowed by constraint * from project"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 linux/amd64
dep version v0.1.0-292-g7d36525 (up to date as of today)

### What `dep` command did you run?

[code]

[code]

[code]

### What did you expect to see?

I expected it to add the dependency

### What did you see instead?

This rather cryptic error message

[code]

## Reproduction ##

[2017-07-26 19:12] carolynvs opened #907 "Warn when an importer cannot preserve a constraint"
This is additional work for the long-term solution to #748.

When an importer tries to constrain a dependency, but for some reason the constraint isn't valid, e.g. the branch was deleted, the tag removed, currently the importer stops with an error. The user must then edit the imported config file to remove the offending data that is triggering dep to import a constraint.

Instead of immediately st

[2017-07-26 19:17] carolynvs opened #908 "Validate that imported locked revisions did not change after solving"
During import, an importer generates a _suggested_ set of locked revisions based on the locks from the imported config. Then dep solves, and this may end up changing the locked revision. For example, if the revision that they originally locked to no longer exists, or the imported constraint doesn't allow the locked revision.

The `rootAnalyzer` should verify that the imported set of locked revisio

[2017-07-26 19:22] carolynvs opened #909 "Failed dep init runs should still write out config files"
When a `dep init` run fails, no configuration files are written. This means that even a small problem results in the user having to figure out the problem and start all over, or get a bug fixed in dep, or give up and live in a yurt. It would be helpful if dep wrote out the config files anyway, explained that they are incomplete but provide a jumping off point for tweaking.

We could write out the

[2017-07-26 19:43] embano1 commented on #209
Just wanted to bring this up again. v0.2.0 has been released. IMHO it makes sense now (especially since more and more people are switching to dep) to introduce a version flag for dep.

[2017-07-26 19:49] chriswhelix commented on #821
Cool, thanks, will rebase my WIP on that and open a PR for it shortly.

[2017-07-26 21:48] jonmclachlan commented on #890
"I'm assuming that acme.in/shared is available on a remote repository. "

Wait. Are you're saying it's expected?

Since it makes no sense to vender another project within the same repo, shouldn't the dep tool at least not explode when one locally committed project reference another locally committed project, as happens above?

@ibrasho , do you agree that the panic is incorrect behavior, and, that

[2017-07-26 23:28] carolynvs commented on #730
Yes it's related but not exactly the same as the one I opened for still writing out the config when init fails (#909).

I haven't done much with this because while I'd like to do something smart, nothing has jumped out as easy to detect, and concrete enough that init could either automatically do something on your behalf (like rerunning without `-gopath`), or making an intelligent suggestion.

[2017-07-26 23:36] carolynvs opened #910 "Need FAQ: relative imports are not supported"
Although relative imports are supported in the go toolchain, [for various reasons](https://github.com/golang/dep/issues/899#issuecomment-317904001), they are not supported by dep. Let's add a FAQ entry under Behavior, like "Does dep support relative imports?".

Not sure if there's an example of an error message that clearly points to relative imports being the culprit. Seems like the error is kind

[2017-07-26 23:37] carolynvs commented on #899
Added https://github.com/golang/dep/issues/910 for the FAQ entry.

[2017-07-27 00:39] karlmutch opened #911 "dep fails with root project import: xxx not in GOPATH"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version go1.8 linux/amd64

$ cd src/github.com/golang/dep/
$ git describe --tags
v0.1.0-295-gd558b52

$ export | grep GO
GOPATH=/home/kmutch/example
GORACE='halt_on_error=1 history_size=7'
GOROOT=/home/kmutch/go

### what commands did you run before running dep?

$ git clone https://github.com/caarlos0/exampl

[2017-07-27 03:18] MatthewHartstonge opened #912 "Go dep config TOML vs. YAML #devexp"
Hi team,

From a user/developer experience point of view I was wondering why [`TOML`](https://en.wikipedia.org/wiki/TOML) was chosen over [`YAML`](https://en.wikipedia.org/wiki/YAML) for configuration?

From a technical perspective:

- `YAML` is standardised and has been stable on v1.2 since 2007
- The `TOML` v0.4.0 readme explicitly states: "Be warned, this spec is still changing a lot. Until it'

[2017-07-27 05:06] amsokol opened #913 "dep is not working when GOPATH on Windows ReFS partition"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go-1.8.3
v0.0.2

### What `dep` command did you run?
dep init

### What did you expect to see?
result os init command

### What did you see instead?
any dep command never returns

### The reason of problem:
I have Windows 10.
Microsoft is moving from NTFS to new ReFS file system.
ReFS is filesystem for storage.

[2017-07-27 07:03] darkowlzz commented on #866
@carolynvs Your initial lock file does not contain `branch`.
[code]

Usually when `branch` is specified in manifest, the generated lock includes branch name too. I think that's causing this issue.

I created Gopkg.toml:
[code]
and Gopkg.lock:
[code]

The `input-digest` seems to be different from the one you posted. Maybe because of the branch constraint.

If I edit my manifest to
[code]

and run e

[2017-07-27 07:26] AlekSi commented on #912
#119

[2017-07-27 07:58] MatthewHartstonge commented on #912
Unfortunate, nonetheless, thanks.

[2017-07-27 07:58] #912 closed

[2017-07-27 12:01] sdboyer commented on #912
@MatthewHartstonge it's a question that we can revisit when it comes time to transition into the toolchain. the crucial property that TOML afforded us, that YAML does not, is the ability to append new `[[constraint]]` rules to the TOML file.

This obviates the need for a highly complex comment-preserving implementation, while still allowing us to provide strong default guidance on initial constrai

[2017-07-27 12:56] bradleyfalzon opened #915 "dep init -gopath has undocumented prerequisites"
I don't know whether this is just an issue with `dep init -gopath`, or a more general `dep` issue discovering dependency paths. So please adjust title as appropriate.

### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code]

### What `dep` command did you run?

[code]

### What did you expect to see?

`alice` should have been in `vendor/` directory. Or a mess

[2017-07-27 14:28] JoshuaSjoding commented on #862
I wrote a package called [graceful](https://godoc.org/github.com/gentlemanautomaton/graceful) that will hopefully work well for you.

It's based on a [solution to the same problem](https://github.com/git-for-windows/msys2-runtime/pull/15/commits/e9cb332976cf6ba44d9f5fc0ed4f725ce43fe646) used in [git-for-windows](https://github.com/git-for-windows/git) that issues an [ExitProcess()](https://msdn.mi

[2017-07-27 14:36] karlmutch commented on #911
This was a GOPATH issue. It might be more appropriate to file a testy experience report.  I despise, loath, and detest GOPATH.

[2017-07-27 14:36] #911 closed

[2017-07-27 14:40] 7ime1y opened #916 "dep can not transition from version to branch"
I use this library (github.com/go-macaron/pongo2), it depends on another library (github.com/flosch/pongo2), but flosch/pongo2 (v3.0) version is not what I want, I want To the branch master, but no matter how I modify, only the constraints show the branch master, and the version or display version number

### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

[code

[2017-07-27 19:38] carolynvs opened #917 "Lock mismatch immediately after dep init"
## What version of Go (go version) and dep (git describe --tags) are you using?
[code]

## What dep command did you run?
[code]

## What did you expect to see?
I expected that after a fresh init and no changes, that the lock would be valid.

## What did you see instead?
[code]

I believe the problem is that when we run `dep init`, it detects external tools and sets the analyzer name to `dep+import

[2017-07-27 23:45] sdboyer commented on #911
yeah, projects still have to be rooted within GOPATH, unfortunately. addressing that is something we do think we can do, but it's going to require toolchain changes. so we won't be able to really properly tackle it until we're working on translating dep into the toolchain 😢

[2017-07-27 23:47] bradleyfalzon commented on #534
If someone in the next week or so wants to discuss this in more detail and wants a hand playing with this, I'll be happy to assist. I think this is important to progress as I've come across a few cases where some output would've helped me understand what went wrong.

[2017-07-27 23:49] sdboyer commented on #209
yeah, we need to do...something. unfortunately, we're still victims of the same basic issue that everyone else has - having a version flag behave correctly requires having a makefile, or some other strategy that's incompatible with `go get`.

i'd love to have someone champion getting this done, with the understanding that it really being _done_ involves not just creating a subcommand/flag/whatever

[2017-07-28 10:32] ibrasho commented on #913
@matjam Any thoughts on this?

[2017-07-28 10:36] ibrasho commented on #916
You should be using an `[[override]]` to define the constraints of transitive dependencies.

`constraint`s are used for your **direct** dependencies.
`override`s are used to *override* the constraints of **transitive** dependencies since they are defined by the project that depends on them.

The following pages in the docs should explain more:
* [`constraint` in `Gopkg.toml`](https://github.com/go

[2017-07-28 11:00] ibrasho commented on #904
That's an incorrect assumption, at least currently. If you want to [add a new dependency](https://github.com/golang/dep#adding-a-dependency) either import it in your code or add it to `required` in `Gopkg.toml`.

I'm not able to reach `github.com/a88m/tree` atm though.

[2017-07-28 12:02] sdboyer commented on #286
yeah, i should've known that chiming in would get this question 😄

i'll try to marshal my thoughts and compile a list of the relevant things, here.

FWIW, this has never been the frame from which i've been operating on this topic

[2017-07-28 13:18] dmitris commented on #553
hit a similar error when running `dep init` in a project with existing/working glide.yaml:

[code]
Full output in the gist: https://gist.github.com/dmitris/7216fb8eeeb419166bfbd5966472d2ac

glide.yaml contains the following spec for golang.org/x/crypto:
[code]

[2017-07-28 13:37] sdboyer commented on #553
@dmitris can you regenerate that output with `dep init -v`?

[2017-07-28 14:07] Jamie-sas commented on #286
S3 may work for some, but we don't use it in our corporate environment.  We use an internal High Availability (multiple servers, failover, etc., etc.) Artifactory setup (which seems to be very popular with corporations in general) for binaries, and Git (and still a lot of CVS) for source.

Artifactory even comes with built-in facility to mirror GitHub areas, but ONLY the tarballs of the specific c

[2017-07-28 14:19] ncw commented on #904
@ibrasho the dependency is imported in the code already.

I haven't seen that bit of text you linked to before - is it new? I've been adding dependencies using

    dep ensure package/name.

Maybe this is just user error then, apart from the baffling error message!

[2017-07-28 14:33] dmitris commented on #553
@sdboyer - done, https://gist.github.com/dmitris/6dc0a0fe71f5f8360628af3e7e08f19a (with a few internal references redacted). Let me know if there's anything I can do to help tracing/debugging it.

[2017-07-28 15:35] ibrasho commented on #894
Links for research:
* https://github.com/golang/go/issues/11457#issuecomment-121768543
* https://github.com/golang/go/commit/5cd294480364eb166751838a3df8f58649c214e1
* https://github.com/golang/go/commit/e9228dd9490c3d4827170abeb8c82e68c175ecf0
* https://go-review.googlesource.com/c/12226/
* https://go-review.googlesource.com/c/23447/

[2017-07-28 18:05] karrick commented on #121
@sdboyer,

While working on the algorithm to recursively hash the file system contents rooted at a specified file system object, I came across a possible gotcha when we follow symbolic links, which made me consider that the reason `filepath.Walk` actually elides following symbolic links might be to avoid circular loops when a symbolic link exists that causes an infinite loop.

The naive solution t

[2017-07-28 18:19] ewang opened #919 "dep ensure does not work for internal packages"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
go version: 1.8.3
dep version: v0.1.0-297-geb5b757

### What `dep` command did you run?

`dep ensure` on a project with an `internal` package at the project root.

### What did you expect to see?

Addition of the 3rd party package `github.com/satori/go.uuid` into the vendor folder.

### What did you see instead?

[2017-07-28 18:25] karrick commented on #121
Maybe you have a suggestion for quickly detecting whether the file system node has been visited already.

My initial idea was to use a map and perform a quick key check, despite this method involves a constantly growing map on the heap. However, in order to insulate from the underlying os-specific data structures, there is no way I have found to grab the underlying `fileStat` (not `FileInfo`) info

[2017-07-28 20:52] ibrasho commented on #904
What output do you get from `dep ensure -v`?

[2017-07-28 21:49] ibrasho commented on #919
Welcome to dep, @ewang !

Why would you assume `github.com/satori/go.uuid` to be in vendor/? Is it imported in your code?

Could you share the output of `dep ensure -v` and `dep hash-input`?

[2017-07-28 22:25] ewang commented on #919
@ibrasho I'll get you some debug output later today. `github.com/satori/go.uuid` is included in an `internal` package. But it seems like `dep` isn't picking up packages that are imported within internal packages.

[2017-07-28 23:01] sdboyer commented on #919
@ewang that's definitely odd, as dep works for dep itself, and we have a number of `internal` packages 😄

[2017-07-28 23:36] christian-roggia opened #921 "Why is the "G" of "Gopkg.lock" and "Gopkg.toml" uppercase?"
This might sound like a pretty dumb question, but ever since I started to use dep as my main dependency tool I wondered why such a decision was made.

The main reason why I am asking this is because I like to have homogeneous naming styles in my repositories and Gopkg.lock and Gopkg.toml are somehow out of place.

Generally files named this way contain build directives such as Makefile, Vagrantfil

[2017-07-29 03:12] sdboyer commented on #121
@karrick i've actually spent way, way too much time thinking about the roiling hellscape that is symlinks. i've spent some time investigating symlink cycle detection algorithms, and they...suck. just, categorically, suck. turns out, graphs are hard.

however, for once, i think i have a happy answer to a symlink-related question! 😄

basically: the hasher should never, ever traverse symlinks. if it

[2017-07-29 03:34] karrick commented on #121
@sdboyer, thanks for the feedback.

I spent a bit of time today looking at the surrounding `dep` code looking for where I'd hook this into, but I did not run across it yet. But I did see that other parts of `dep` were ignoring symlinks, and was curious about the necessity of following them in the hashing function if we ignore them elsewhere.

I'll update my fork tomorrow based on your feedback, an

[2017-07-29 04:19] ewang commented on #919
@sdboyer Oops, something must have got messed up locally, but it's working now!

[2017-07-29 04:19] #919 closed

[2017-07-29 06:42] ibrasho commented on #890
@elefthei `go get` doesn't download the package if the folder exists in `GOPATH/src`. `go get -u` should be failing if you try it.

At the moment, `dep` doesn't fetch dependencies from `GOPATH`. See @sdboyer [comment](https://github.com/golang/dep/issues/792#issuecomment-315949478) in #792 and the [gist](https://gist.github.com/sdboyer/def9b138af448f39300cb078b0e94cc3) for more details on the mult

[2017-07-29 11:47] darkowlzz commented on #921
This has been discussed earlier, in [slack](https://gophers.slack.com/archives/C0M5YP9LN/p1499046620325798) and in issue #168 .

Closing the issue. Please reopen if there's any need :)

[2017-07-29 11:47] #921 closed

[2017-07-29 19:03] sdboyer commented on #121
sounds great!

yeah, i hadn't previously carved out a place for it. i have some basic thoughts on where to fit it in:

first and simplest would be to just add a workhorse func to `internal/gps/pkgtree`: `HashPackageTree(path string)`. i suspect that returning a `[]byte` is probably best for future flexibility, but i could be convinced of a fixed-length array, too.

then, we'll want something like

[2017-07-29 23:14] sdboyer commented on #919
@ewang if you have any idea what it was that went wrong, that might be helpful knowledge for us, and it'd be great if you could share. if not, though, that's ok - and either way, i'm glad it's working now!

[2017-07-30 01:56] #887 closed

[2017-07-30 04:08] mccarty82 commented on #774
I am suggesting to try "Long Path Tool" program.

[2017-07-30 05:53] Mohammed90 opened #923 "`init` and `ensure` consistently fails on Windows"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 windows/amd64

v0.1.0-300-g310c2c8

### What `dep` command did you run?

- On an existing project that is not using `vendor` directory, already has existing code with dependencies, and no package management tool is used:
`dep init`

Output:
[code]

- On a new folder containing zero go files:

[2017-07-30 13:10] stapelberg opened #924 "dep init from godep fails"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.9rc1 linux/amd64

dep version: v0.1.0-300-g310c2c8

### What `dep` command did you run?

[code]

### What did you expect to see?

New files.

### What did you see instead?

`dep init` aborted, not touching anything.

Note that the version actually is valid (and current):

[code]

Also, I looked f

[2017-07-30 16:19] ibrasho commented on #923
Welcome to using dep, @Mohammed90 !

What version of Windows and Git are you using?

This error happens when `dep` is trying to update git submodules. Could you try building `dep` from this branch (with hopefully more info in the error message): https://github.com/ibrasho-forks/dep/tree/update-unwrapVcsErr

[2017-07-30 16:59] sas1024 commented on #805
@sdboyer i'm sorry for delay.
Yes, this error reproduced with **dep v0.1.0-300-g310c2c8**

[2017-07-30 17:50] sdboyer commented on #774
@ibrasho yeah, we want to fix in dep, but I'm fine with the lazier path of not tagging by version and relying on idempotence

[2017-07-30 17:51] yoav commented on #286
I think that the road to supporting a registry in dep can be quite simple by supporting a configurable, global http(s) URL to resolve from + an optional, separately configurable authentication key.
This can be done without changing the current model: 100% relying on DNS-based go imports as the canonical package identifiers, but not as the resolvable package URLs - these will be HTTP-delegated to t

[2017-07-30 19:52] ibrasho commented on #774
I have a feeling I missed something but I'm not sure what. 😅

[2017-07-30 20:51] karrick commented on #121
Someone feel free to correct me if I'm wrong, but IIRC one of the reasons that file size prefixed its contents when `git` creates a hash for the file was because SHA-1 was chosen because of its speed and "good enough" quality, despite not being a very long hash. However, in `dep` we're free to use SHA-256, which is both fast and long, and it seems a bit cargo-cultish to include file sizes when cre

[2017-07-31 01:18] sdboyer commented on #121
i'm very much neither a cryptographer nor a cryptanalyst, so i should start by categorically admitting that what's going on here is at least somewhat, if not entirely, cargo culting. and, on re-reading [Linus' response to the SHA1 collision earlier this year](http://marc.info/?l=git&m=148787047422954), it _seems_ like the length prefixing strategy may be less helpful in our case, as we do not have

[2017-07-31 01:18] sdboyer commented on #121
oh, interesting - again, SUPER out of my depth here, but perhaps it's even more important to do this, as including the length prefix may (???) render [length extension attacks](https://en.wikipedia.org/wiki/Length_extension_attack) impossible, and i believe that at least crypto/sha256 is based on [SHA2/FIPS 180-2](https://en.wikipedia.org/wiki/SHA-2) which is known to be vulnerable to such attacks

[2017-07-31 01:28] sdboyer commented on #121
ohhh - another, more pedestrian question - the impl you pasted in above feeds everything into one giant SHA256 digest for all the files in a tree. does that not mean that, while feeding the hasher, the algorithm will need to hold open memory equal to the size of all files in the tree?

if so, could we avoid that by emulating git a bit further - hash each file individually, then build a tree of the

[2017-07-31 04:03] sdboyer commented on #805
i know we have at least _some_ code that deals with case insensitivity in the volume name correctly, but apparently we don't have all the cases covered :(

[2017-07-31 04:06] sdboyer commented on #917
in general, the purpose of that field (along with the associated version number) is to uniquely identify a particular analyzer algorithm. if the algorithm is actually the same, depending on some configuration (e.g., use the external tools importers or don't), then there's no need for the name to be any different.

[2017-07-31 05:27] ibrasho commented on #805
This is in `HasFilepathPrefix`. The comparison in [`context.go`](https://github.com/golang/dep/blob/master/context.go#L194) uses `==`. Can I use `HasFilepathPrefix` to check for equality (if the length is the same and one path is a prefix for the other)?

I was planning to add a function to compare paths wrt case-sensitivity depending on the file system... but I'm not sure at the moment if that's

[2017-07-31 05:48] Mohammed90 commented on #923
I'm using Windows 7 Enterprise (Version 6.1, Build 7601: Service Pack 1), and Git version 2.13.2.windows.1.

Here's the output of `dep ensure` after building `dep` from the requested branch:

[code]

`dep init` on my other project also gives the same error message: `(command killed after 10s of no activity)`.
For the record, I'm able to clone with git just fine on the same network.

[2017-07-31 06:58] gencer opened #926 "Gopkg.toml doesn't get updated after ensure"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
Go: 1.8.3
dep: 0.2.0

### What `dep` command did you run?
`dep ensure github.com/package/name
`
### What did you expect to see?
I expect to see that dep add this package to `*.toml` file then update `vendor/` dir.

### What did you see instead?
Only `lock` file and `vendor/` dir gets updated. `Toml` file **untou

[2017-07-31 11:52] darkowlzz commented on #926
Hi @gencer , thanks for trying `dep`.

This is the right behavior. As mentioned in the [README - adding a dependency](https://github.com/golang/dep#adding-a-dependency), you import the package in your source code files and then run `ensure` to add the new dependency. This added dependency need not exist in `Gopkg.toml` file. `ensure` would add it to `Gopkg.lock` file and you can commit this. Next

[2017-07-31 12:27] darkowlzz commented on #924
Hi @stapelberg , thanks for trying `dep`.

Sorry that the importer failed. This seems to be happening due to the way we parse semver. There's an [issue](https://github.com/Masterminds/semver/issues/59) and a [PR](https://github.com/Masterminds/semver/pull/60) in [Masterminds/semver](https://github.com/Masterminds/semver) to fix the same.

For now, I think if you edit `Godeps.json` and change `mode

[2017-07-31 13:13] sdboyer commented on #926
Just a small additional note - #489 will introduce a `dep ensure -add`, which will add a constraint to `Gopkg.toml`. However, as @darkowlzz notes, it's not necessary that there be any record of it there - simply importing it is sufficient.

[2017-07-31 13:13] #926 closed

[2017-07-31 13:59] ansel1 opened #927 "`dep ensure --update` is not repeatable"
### What version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

go version go1.8.3 darwin/amd64
dep version v0.1.0-297-geb5b757

### What `dep` command did you run?

I ran `dep ensure --update` 3 times.  Before the first run, I deleted $GOPATH/pkg/dep.

The first run succeeded, the second run failed with the message:

    ensure Solve(): No versions of golang.org/x/time met

[2017-07-31 15:37] #891 closed

[2017-07-31 15:53] #883 closed

[2017-07-31 16:06] karrick commented on #121
@sdboyer, excellent question about one giant hash instance. It turns out that Go hash implementations do not store every byte ever written to them. They do have a few internal buffers used to chunk bytes to the hash in fixed size quantities, but SHA-256 has a 64 byte chunking buffer, and the 32 byte hash buffer, which is continuously updated as bytes are written to the hash.

In other words it is

[2017-07-31 16:19] karrick commented on #121
@sdboyer, when I answered your previous question, I had meant to throw a new question back your way.

I understand what you describe with your description of the proposed `HashPackageTree` function, along with the `MismatchType` enum-like construct. However, this feature involves creating a check that ensures whatever library is written in the `vendor/` directory matches what is in the `Gopkg.lock