[2017-04-25 14:34] nexneo commented on #409
Thanks, this happened with one of my project as well. After I force cleaned `$GOPATH/pkg` problem disappeared.

[2017-04-25 17:11] murphyke opened #461 "Dep ensure -update produces solve error"
[code]

What I did:

* Ran `dep init` - OK
* Ran `dep ensure -update` - error
* Ran `dep status` - no output (I see there is a ticket for this)
* Ran `dep ensure` - OK
* Ran `dep status` - expected output
* Ran `dep ensure -update` - error
* Updated to latest `dep`
* Ran `dep ensure -update` - error

I made no manual tweaks to the files produced by `dep`.

go 1.8. Latest `dep` (54b423), although i

[2017-04-25 17:19] sdboyer commented on #460
@darkowlzz great! nope, no one's claimed it, and I'd say this would be a great place to start for contributions - the change here should be reasonably straightforward. `SafeWriter.Write()` is likely where the changes will eventually need to be. I think you should be able to work backwards from there, but feel free to ask questions here or in slack!

[2017-04-25 17:46] sdboyer commented on #461
And that repo has a `Gopkg.toml` committed in it, right?

[2017-04-26 03:37] sdboyer commented on #296
#395 is merged, so this should now be fixed. Closing this out 😄

[2017-04-26 03:37] #296 closed

[2017-04-26 05:16] sdboyer commented on #343
Leaving this open until we have a verdict on #462

[2017-04-26 05:53] sdboyer opened #463 "Create a list of build tags with known special meanings"
While the course for #291 isn't yet decided, it seems quite likely that we're going to need a list of the build tags (_not_ OS/Arch) that have a generally well-understood public definition. I think the canonical example of this would either be `appengine` or `ignore`; however, it's also worth raising something like a `debug` tag, that (AFAIK) doesn't have widespread adoption, but which might be us

[2017-04-26 05:53] sdboyer commented on #463
I'll aim to keep the list in the OP up-to-date with suggestions other folks make in comments.

[2017-04-26 13:00] atilkan commented on #407
I hope i will be wrong.

[2017-04-26 13:12] sdboyer commented on #407
If it's not clear from its existing operations and documentation, you might have a look at [the new WIP spec](https://docs.google.com/document/d/1Qwa3jDKDh45t5qAGjRpeu3ZsAbkukIYDDmYJdMxH2uY/edit) - this should make pretty clear that any `get`-like concept is just a subset of the behaviors `ensure` covers.

Additionally, this would put `ensure` in clear conflict with `go get`, which is not the goal

[2017-04-26 14:13] amenzhinsky commented on #320
I'm still getting the same error
[code]

[2017-04-26 16:23] sdboyer commented on #434
Some more info here...

Right now, the solver just sorta blithely assumes that all the incoming `Manifest.Dependencies()` from the root (actually, all, I think) are, themselves, project roots. We need tests that cover situations where that's not actually true, and ensure that we error out appropriately.

This might be a bit of a rabbit hole, as gps' solver testing harness isn't generally designed

[2017-04-26 16:46] zellyn commented on #463
One of the googlers with access to the full github bigquery corpus should be able to give you all build tags used anywhere, plus counts. @spf13?

[2017-04-26 16:46] sdboyer commented on #320
@amenzhinsky while the error looks similar, I suspect we've got a different underlying cause here. Would you mind opening a new issue to track the problem you're experiencing?

[2017-04-26 16:47] sdboyer commented on #463
@zellyn that seems like a great place to start 😄

[2017-04-26 16:51] sdboyer commented on #300
@adg next question - what's supposed to happen with the original license file from gps, and what's the deal with license headers on gps files? The copyright hasn't changed, if I understand all this correctly

[2017-04-26 16:58] zellyn opened #467 "Add warning for transitive-only dependencies mentioned in `dependencies` config section"
`dep` should warn or error if things that should be in `overrides` are mentioned in `dependencies`, not silently ignore them. See https://github.com/golang/dep/blob/master/FAQ.md#why-is-dep-ignoring-a-version-constraint-in-the-manifest

[2017-04-26 17:17] carolynvs commented on #467
Is this a duplicate of #302?

[2017-04-26 17:18] sdboyer commented on #467
oh. hah. yeah. totally is - thank you @carolynvs 😄

[2017-04-26 17:18] #467 closed

[2017-04-26 21:23] adg commented on #300
@sdboyer looking at pull request #453, I don't see copyright headers on the files?

I think they should have these kinds of headers, like dep:

[code]

and then we'll make sure that the Go `AUTHORS` list includes the gps authors.

[2017-04-27 00:42] sdboyer commented on #300
@adg OK, that wfm - @kris-nova, here's another question answered :)

[2017-04-27 00:43] sdboyer commented on #300
(though s/2016/2017)

[2017-04-27 01:08] cmlicata commented on #434
@sdboyer, I'd like to take this on, but will wait until after the transition of moving gps into dep is complete.  Sound Good?

[2017-04-27 01:24] #460 closed

[2017-04-27 01:26] amenzhinsky commented on #320
@sdboyer probably that was just a one-time error
`$GOPATH/pkg/dep/sources/https---go.googlesource.com-net/` was an empty directory only with `.git` in it and removing `$GOPATH/pkg/dep/sources/` helped.

I'll file a new issue if the problem occurs again.

[2017-04-27 02:06] sdboyer commented on #320
Ugh, more cache inconsistency problems...

At some point prior to the issue arising, did you interrupt (ctrl-c) a running `dep` command?

[2017-04-27 02:08] sdboyer commented on #434
@cmlicata sure, of course. FWIW, if you wanted to start digging now on gps in its original standalone form, it would still be productive - nothing's changing during the move that would affect this. but definitely wait on a PR until after we've got it merged in 😄

[2017-04-27 04:20] mem commented on #463
I had some free quota left, ran some queries against the github corpus, extracted all the lines looking like "// +build", split the line at blanks, grouped and counted. This is the result:

https://docs.google.com/spreadsheets/d/1aImkrXmG1asZ7IgaJxe6HpaEPI8vjUU6Xd1KX-JomFU/edit?usp=sharing

[2017-04-27 06:07] perryao commented on #241
Not sure if too late to add some input to this, but one use case I know of to download deps even in an empty directory is when using Docker's layer caching mechanism to cache the `RUN dep ensure` layer for subsequent image builds. In the Node.js world, it's pretty common the COPY the package.json, RUN npm install, and then copy in source code to the image. I was trying to do something similar with

[2017-04-27 08:41] amenzhinsky commented on #320
@sdboyer yes, I definitely did that when it just hung, probably because of networking problems.

[2017-04-27 12:43] darkowlzz commented on #356
Is any work going on to fix this bug? I can take it up provided some help :)

After going through the code, I think it can be fixed in different 2 ways:
- Call `ensure` internally at every `init` call.
- Initialize `Memo` in the initial `Lock` created in init.go [here](https://github.com/golang/dep/blob/master/cmd/dep/init.go#L116). Although I'm not sure how to create an initial Memo hash.

[2017-04-27 13:11] sdboyer commented on #320
@amenzhinsky yeah, we likely need to make it kill subprocesses less aggressively (e.g. SIGTERM instead of SIGKILL). More complex for us to manage, but it should help avoid leaving that kind of disk detritus around.

[2017-04-27 13:13] amenzhinsky commented on #320
I think we could clone let's say git repo to a tmp dir and when it's done we can move it to cache.

[2017-04-27 13:20] sdboyer commented on #356
@darkowlzz 🎉 🎉 🎊 !!

Nope, no current work underway, as it's kinda tied up with refactoring the behavior of the commands more generally.

This is closer to the way to go, I think. At least in the ballpark.

What'd be ideal, is if you could try to carve out the minimum possible implementation that's consistent with the [new spec for `init`](https://docs.google.com/document/d/1Qwa3jDKDh45t5qAGjRpeu3

[2017-04-27 13:23] sdboyer commented on #320
...that is a great idea :) there's a lot of contention around those segments, so i'd need to make sure it all folds together, but yeah - please make an issue for that!!

(will also have to wait until after we get gps moved in to dep)

[2017-04-27 13:26] amenzhinsky opened #469 "solve error: Unable to retrieve local repo information"
[code]

Most likely it's caused by git clone process interruption, like Ctrl+c.
Previous discussion is here: https://github.com/golang/dep/issues/320#issuecomment-297421619

[2017-04-27 14:24] sdboyer commented on #463
@mem that's awesome, thank you!

OK so, filtering out the os, arch, and go version tags, here's a sampling of a few that show up high on the list:

* integration
* no-etcd
* OMIT
* appengine
* acceptance
* experimental
* host
* src
* unit
* cgo
* kvm
* all
* race
* debug
* gofuzz

I'm not sure exactly what I want to do with these yet, but I'm putting them in as a comment here just to record the bi

[2017-04-27 21:10] sdboyer commented on #241
@perryao mm...interesting use case. I think we could probably shoehorn it in under the [`dep ensure -vendor-only` behavior described in the new WIP spec](https://docs.google.com/document/d/1Qwa3jDKDh45t5qAGjRpeu3ZsAbkukIYDDmYJdMxH2uY/edit), though i'll admit that it starts to stretch the meaning. At a minimum, you'd have to copy the .toml AND the .lock, because we don't allow `dep` to run at all u

[2017-04-27 21:16] sdboyer commented on #408
Well, it's very odd that you'd end up on that panic (and that still indicates a bug). But it seems like you shouldn't have gotten here at all; it appears that there's another bug where it's not picking up the full version list for `github.com/docker/distribution`: https://gist.github.com/jmank88/1d1cb545f774ff3d34afb9bd15670200#file-dep_init_-v-txt-L490

That line is super wrong - there should be

[2017-04-27 21:17] #418 closed

[2017-04-27 21:17] sdboyer commented on #418
(we don't need this one over in dep at all)

[2017-04-27 23:49] sdboyer commented on #350
@BTBurke does it seem like your case is covered, if not currently then by the new WIP spec described in #277? If so, I'd like to clean house a bit and close this out.

[2017-04-27 23:51] sdboyer commented on #437
It's not clear whether we'd actually want to do this; if we do, it'd be as related/alternative to #121, as the goal here is ultimately verification.

Closing this out proactively, though, as I don't think it's what we ultimately want.

[2017-04-27 23:51] #437 closed

[2017-04-27 23:52] sdboyer commented on #442
Reversing course and closing this one, because yeah, we can always reopen later and we don't need more open issues hanging around 😄

[2017-04-27 23:52] #442 closed

[2017-04-27 23:57] BTBurke commented on #350
Yeah I think that would work great. Thanks for the update!
On Thursday, April 27, 2017 at 7:49 PM sam boyer <notifications@github.com> wrote:

@BTBurke does it seem like your case is covered, if not currently then by the new WIP spec described in #277? If so, I'd like to clean house a bit and close this out.

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2017-04-28 00:08] sdboyer commented on #158
Doing a bit of queue cleanup, and gonna close this one - of the problems listed:

1. the best explanation here is that that commit is unreachable from all current refs (e.g. if it was squash-merged), but still [present](https://github.com/pkg/errors/commit/8ec4b99f5bad732ffaa7dbce5bae53cd2b770301) in the github repo because of - guessing - how github's clustered git object storage works within for

[2017-04-28 00:08] #158 closed

[2017-04-28 00:13] sdboyer commented on #301
Closing this, should no longer be an issue.

[2017-04-28 00:13] #301 closed

[2017-04-28 00:13] sdboyer commented on #214
Underlyign issue is worked out

[2017-04-28 00:13] #214 closed

[2017-04-28 00:15] sdboyer commented on #170
@eparis we've made a bunch of improvements here, and I _think_ this one should be fixed now. Could you give it another whirl, and let me know if this particular problem still exists? Thanks!

[2017-04-28 00:17] sdboyer commented on #216
We've now got a passable answer for this in [the FAQ](https://github.com/golang/dep/blob/master/FAQ.md#why-did-dep-use-a-different-revision-for-package-x-instead-of-the-revision-in-the-lock-file), so closing this out. Thanks!

[2017-04-28 00:17] #216 closed

[2017-04-28 00:18] sdboyer commented on #367
(Closing this as a dup of #351)

[2017-04-28 00:18] #367 closed

[2017-04-28 00:46] #350 closed

[2017-04-28 00:58] dcheney-atlassian opened #471 "Running dep init in $GOPATH/src returns misleading error"
Repro
[code]
The error is misleading, `/tmp/tmp.P8wqCD27Aj/src` _is_ `$GOPATH/src`

[2017-04-28 01:52] sdboyer commented on #471
Yeah - this is the same basic use case as raised in #313. Until we get to actually supporting it properly (#417), it deserves its own special failure message.

[2017-04-28 02:02] sdboyer opened #472 "Add -no-examples flag to init"
Per the spec (#277) and as a follow-up to #462, add a `-no-examples` flag to `dep init` that disables injecting commented examples/docs into the created `Gopkg.toml`.

[2017-04-28 02:21] eparis commented on #170
@ericchiang @cblecker  looks like its time to try dep again!

[2017-04-28 03:18] sdboyer commented on #175
@AlekSi yeah, i've looked at gonuts.io before, and now have gone through the code again at your suggestion - is there something in particular you think we should take from it?

[2017-04-28 04:08] ericchiang commented on #170
Well, the following script didn't panic

[code]

But `dep init` has just been stuck hanging for about half an hour. Output here: https://gist.github.com/ericchiang/afaa2a5a0dbbcfe4bc9544a7d6eab9b4

Anything I can run to help debug?

[2017-04-28 05:18] sdboyer commented on #170
@ericchiang try it with `dep init -v`. That should at least provide some indication as to where it's hanging.

The first run is often quite expensive, as there's a ton of data it's cloning down. Subsequent runs should be faster. 30 minutes seems much too long, though.

[2017-04-28 05:27] ericchiang commented on #170
@sdboyer it hung for about an hour after seeming to download the results. For some reason rerunning prevented the hanging.

He's the results form a second run:

[code]

Log file attached.

[dep.txt](https://github.com/golang/dep/files/963504/dep.txt)

[2017-04-28 10:29] EwanValentine commented on #472
Happy to pick this up!

[2017-04-28 11:15] EwanValentine commented on #472
Just pulled in the master branch, getting an issue with `"github.com/Masterminds/semver"` in `constraints.go`:

[code]

`semver.Constraint` is not found, looking at that package, it's a private struct?

[2017-04-28 11:25] elvizlai opened #473 "dep init solve error"
solve error: No versions of golang.org/x/crypto met constraints:
        master: Unable to update checked out version: error: Your local changes to the following files would be overwritten by checkout:
        ssh/agent/example_test.go
Please commit your changes or stash them before you switch branches.
Aborting

No versions of golang.org/x/crypto met constraints:
        master: Unable to update

[2017-04-28 12:53] sdboyer commented on #472
@EwanValentine

awesome! 🎉

seems like your vendor isn't populated, for some reason - that arises with semver 1.x/master branch, but dep's Gopkg.toml constrains it to the 2.x branch.

[2017-04-28 12:56] EwanValentine commented on #472
@sdboyer I'm using the constraint "2.x" in the Gopkg.toml, but the lock's showing "v1.2.3". Does `dep ensure` honour what's in the Gopkg.toml?

[2017-04-28 13:19] sdboyer commented on #472
@EwanValentine it does, [as long as it also appears in the import set](https://github.com/golang/dep/blob/master/FAQ.md#why-is-dep-ignoring-a-version-constraint-in-the-manifest). Which...very interestingly...it appears we've recently eliminated, so the constraint is no longer being applied. This is not an uncommon case, but not warning about it makes for a big gotcha; we have #302 opened to addres

[2017-04-28 13:19] sdboyer commented on #472
So...to that end, I'm gonna push a quick change to dep's Gopkg.toml :smile:

[2017-04-28 13:20] djui opened #474 "Panic on `init`"
When running `dep` on a project that vendors another, already `dep`-ified, project, I receive a nil pointer deference panic and the `.toml` nor `.lock` is created.

[code]

When running with verbose flag.

[code]

[2017-04-28 13:21] djui commented on #474
I will provide a more concise example soon.

[2017-04-28 13:50] EwanValentine commented on #472
Ahaaa gotcha! Cool, I'll take another look shortly :)

[2017-04-28 14:02] iand commented on #458
I'll work on an initial draft of a spec for discussion.

[2017-04-28 14:05] sdboyer commented on #472
OK, master is updated. You shouldn't need to run a `dep ensure -update` for this PR (if you do, there'll be other problems, but they'll be less problem-y than before 😄 )

[2017-04-28 14:08] murphyke commented on #461
Yes, my repo (the enterprise github repo) has `Gopkg.toml` as created by `dep`:

[code]

[2017-04-28 14:47] EwanValentine commented on #472
Awesome, thank you! That seems to have fixed that issue. I'm getting another issue with the `internal` package now:

[code]

[2017-04-28 14:51] sdboyer commented on #472
This is strange things - all of this is code that compiles now.

Oh, wait - are you working on a fork in `github.com/EwanValentine/dep`, rather than the canonical location of `github.com/golang/dep`? That'd cause this.

[2017-04-28 15:04] sdboyer commented on #461
[code]
Right, so, this is going to be an inherent conflict, because gopkg.in's semantics don't actually allow the branch named "master" to come through (assuming I'm remembering my gopkg.in implementation correctly), but that's the only thing the constraint will accept. It should be impossible for any Gopkg.toml with that constraint/import path combination in it to ever solve successfully (...thou

[2017-04-28 15:07] sdboyer commented on #458
Aaaaawesome. If you're able to take into consideration some of the issues raised in the aforelinked gist, as well as have a look over #121, that should cover many of the concerns I think relevant, and might make discussion of an initial draft more productive.

I'm also happy to hop on voice/vid to discuss anytime, if you'd find that helpful!

[2017-04-28 15:21] EwanValentine commented on #472
@sdboyer Spot on! Fixed it now, I'm just working in github.com/golang/dep but setting the origin to ewanvalentine/dep. Thanks again for your help!

[2017-04-28 15:25] sdboyer commented on #473
Hmm...there's no normal scenario in which the tool would modify a file in the cache, which is where this error almost certainly is coming from. Three questions:

* Did you ctrl-C an earlier dep run? If so, git could have terminated in an inconsistent disk state. If that's the case, then this is another instance of the same underlying issue as in #469.
* Did you manually change anything under the `

[2017-04-28 15:27] sdboyer commented on #469
Noting - while the idea to do initial clones into a tempdir is great, it doesn't help with all cases, as there's plenty of local-only/post-clone operations that can result in undefined disk state if cmds are killed. (#473 could well be an instance of that).

[2017-04-28 15:32] sdboyer commented on #454
Turns out this is making some other changes messy. It's going to put commands in a bit of an inconsistent state, but I think we need to go ahead and do this ASAP. (`remove` should also be changed, even though that command will go away entirely soon).

[2017-04-28 16:15] carolynvs commented on #454
@sdboyer I'll get this submitted today.

[2017-04-28 16:24] kris-nova opened #479 "Races in GPS"
@sdboyer place holder issue to remind us to fix the races in gps. I think we can close this once the fixes are merged in to dep with #453.

I'll add some logs and notes when I get back to my desk!

In gps:

[code]

[2017-04-28 16:46] sdboyer opened #481 "Drop `remove` subcommand entirely"
It's not part of the new spec #277, and is fully out once we stop writing to the manifest.

[2017-04-28 16:46] #454 closed

[2017-04-28 18:51] ericchiang commented on #170
Sorry ran this outside my /tmp dir to avoid the disk space issue.

Result is: (logs here: https://gist.github.com/ericchiang/40820536d099af696622d50a21f99457)

[code]

Seems like the original issue is solved, but the solver still reports un-resolvable constraints with the Kubernetes repo. Probably a different issue.

[2017-04-28 20:04] blacktop opened #482 "how do I dep ensure an unmerged pull request?"
I want to use the version of `cobra` that **docker** uses.  This is how they do it with their vendor.conf

https://github.com/moby/moby/blob/master/vendor.conf#L129

Thank you

[2017-04-28 20:24] carolynvs commented on #482
You can tell dep to us a fork with the `source` field:

**Gopkg.toml**
[code]

[2017-04-28 20:25] blacktop commented on #482
Thank you for the quick response! ❤️

[2017-04-28 20:25] #482 closed

[2017-04-29 01:03] ethanfrogers commented on #469
Is there any work around for this?

[2017-04-29 02:26] felipejfc opened #484 "Unable to update checked out version: fatal: reference is not a tree"
[code]

**thing is**:  [b6670618482fee2e320b92c8aaabaa18d805ff20](https://github.com/topfreegames/extensions/commit/b6670618482fee2e320b92c8aaabaa18d805ff20) exists and have been pushed, any hints?

I'm using dep from header, just updated it.

**Edit**
After some retries, it worked, yet that's an annoying bug...

[2017-04-29 02:57] elvizlai commented on #473
The previous bin works fine.(April 9). I updated dep and it told me missing Gopkg.toml need dep init it.

1. It's a huge project and works for a long time. I'm sure I use ctrl-C sometimes.
2. I never manually change anything under the `$GOPATH/pkg/dep/sources/` dir definitely
3. I'm using Mac OSX 10.12.4 and here is  `git config` -l result
[code]

no such file or directory: /Users/sdrzlyz/.godeps/

[2017-04-29 03:25] sdboyer commented on #473
They key here is whether you interrupted _since_ updating to the latest dep. We changed the way signals are handled recently, and it's created these situations where git can terminate too quickly, possibly creating an inconsistent disk state (like what you've been seeing) on subsequent runs.

That's when attempting the `rm -rf`, right? That shouldn't be possible - if dep has worked with even a sin

[2017-04-29 03:27] sdboyer commented on #484
If retrying worked, then it suggests a stale repo cache not getting updated like it should. That's a big 😢  - unfortunately, very difficult to reproduce.

If you run into this again, please take as detailed notes as possible about what happened throughout the process; run all `dep` commands with `-v`, record all output, and dump it back up here.

[2017-04-29 03:55] sdboyer commented on #170
```"github.com/chai2010/gettext-go/gettext" imports "github.com/chai2010/gettext-go"```

Well that's weird; it clearly doesn't. The only thing I see even vaguely like that is the [ignored main](https://github.com/chai2010/gettext-go/blob/master/gettext/hello.go). But that's just importing itself, which I'm pretty sure we got handled months ago. I'll investigate!

[2017-04-29 03:59] sdboyer commented on #170
Very weird. Seems we need more instrumentation. Do you have the output from the long-hanging run?

[2017-04-29 04:13] felipejfc commented on #484
should not be that hard, me and my coworkers have seen that many times today, when it happens once it tends to keep happening for a while from our experience... I will try to do a -v if it happens again. @cscatolini

[2017-04-29 04:19] kris-nova commented on #479
Output from races

[code]

[2017-04-29 04:50] sdboyer commented on #484
awesome! well, for us anyway - if we can reproduce, we can fix. i'm sorry it's happening to you :/

keep us posted!

[2017-04-29 04:52] sdboyer commented on #469
@ethanfrogers it's kinda stuck behind #453, unfortunately; it's a somewhat involved fix, so I want to defer it until after we get gps moved over (lest it end up holding up the whole move).

[2017-04-29 04:54] amenzhinsky commented on #469
@ethanfrogers `rm -rf $GOPATH/pkg/dep/sources`

[2017-04-29 05:16] sdboyer commented on #170
Oh, yeah, so - the revision y'all currently have locked in - 1468fd0db20598383c9393cccaa547de6ad99e5e - contains uncompilable code in that ignored main file. We do currently look at a small subset of such files - in particular, ignored mains - which causes it to choke. `master` then gets rejected because it's trying to honor that commit SHA. The overzealous (?) enforcement of that SHA1 will be rem

[2017-04-29 05:56] sdboyer commented on #469
(sorry, I read "is there any work around for this" as "is there any work to be done/contributed on this")

[2017-04-29 12:25] #343 closed

[2017-04-29 13:28] elvizlai commented on #473
@sdboyer Yes, I have multi GOPATH. I found those file in my project dir.
I delete `pkg/dep/sources/` and `dep init` works.

[2017-04-29 17:36] sdboyer commented on #473
OK, glad you got it fixed. It sounds like this is a symptom of a problem for which we already have a ticket, so closing this one out.

[2017-04-29 17:36] #473 closed

[2017-04-29 17:57] sdboyer commented on #479
OK, latest gps should be fixed for the race conditions now. (everything else was failures due to vcs binaries not being installed). PR should be able to go ahead.

[2017-04-29 17:57] #479 closed

[2017-04-29 18:54] sdboyer commented on #291
I meant to update this a while back, but didn't have a chance. Catching up.

I'm now pretty sure that we can bump this until later, as it will be possible to introduce this information into the manifest and lock in a manner that's backwards-compatible. At the very least, it means this isn't necessary for the purposes of stabilizing the files.

The OP describes the mechanism for doing so with the l

[2017-04-30 00:11] sdboyer opened #486 "After codeclimate travis changes, failing tests no longer cause job to fail"
See e.g. https://travis-ci.org/golang/dep/jobs/227225870

@jessfraz 😄 😄 🦇👁

[2017-04-30 00:20] jessfraz commented on #486
oh weird, maybe we need a set -e

On Sat, Apr 29, 2017 at 8:11 PM, sam boyer <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-04-30 01:45] #486 closed

[2017-04-30 02:42] sdboyer opened #488 "Compare manifest, lock structs instead of strings in tests"
The testing harness currently compares the string representations of both manifest and lock. This is easy, but also makes test failures less readable, as the developer has to go searching, unguided, through potentially large string dumps to see where the actual differences are.

It would be better if instead we did a smarter comparison of the semantic (struct) representations of this data, element

[2017-04-30 10:55] calvinmikael opened #490 "SemVer static analysis"
I recently read a blog post [0] about the dep tool.

The relevant tidbit is that the author mentions that there is a desire to have "A tool that can statically analyze a project and suggest the next SemVer tag to use for the next release".

If this has not been implemented, I'd like to work on it.
If this is irrelevant to dep and should be discussed elsewhere please let me know.

Thank you for you

[2017-04-30 16:57] sdboyer opened #491 "Convert SafeWriter.Prepare() into NewSafeWriter()"
The `SafeWriter.Prepare()` method made sense when the struct held state additional state used in `Prepare()`, beyond what was passed as arguments. Now, though, the arguments are all that matter, so there's no reason not to make `Prepare()` into a standalone function.

[2017-04-30 16:59] #241 closed

[2017-04-30 17:06] domgreen commented on #491
Will have a look 😸

[2017-04-30 22:07] darkowlzz commented on #161
Any suggestions on how we handle this behavior?

In case of outdated memo, shouldn't running `status` inform the user about outdated memo and ask to run `ensure` or provide information about how to fix it?

Also, under which scenarios the memo would not be updated and become outdated? Considering #470 would ensure memo is updated after `init` run.

[2017-05-01 01:49] ChrisHines opened #494 "TestResolveProjectRoot fails on Windows when not run with administrator privileges."
By default only administrator accounts have privileges to create symbolic links on Windows. The test code in `TestResolveProjectRoot` calls `os.Symlink`. Since very few people run anything in an admin shell on Windows, the symlinks will not be created when run in a standard Windows environment.

The test code does not check the error return from `os.Symlink`, so the result is the test assertions t

[2017-05-01 01:53] ChrisHines commented on #494
Correction: I meant to say that by default symlinks can only be created when run with administrator privileges. The equivalent on Linux would be requiring `ln -s` to be run with `sudo`.

[2017-05-01 01:55] sdboyer commented on #161
@darkowlzz `status` has really fallen by the wayside, which is unfortunate. i do have some sketched-out plans that, hopefully, i can translate into the doc in #277 for `status` soon, which should hopefully enable a more detailed discussion about it.

in general, though, if there's a memo mismatch (which can occur when a new import is added, an import is removed, or any values in Gopkg.toml are mod

[2017-05-01 02:18] sdboyer commented on #494
...huh. Learn something new every day 😄

/cc @spenczar, who may be interested

Huh...I guess, then, that appveyor must be running in an admin shell?

Either way, seems like disabling that test on windows is wise. And also, checking those err returns.

After spending more time than is healthy trying to work on and/or guide people through symlinks over the past few months, I'm certainly inclined to

[2017-05-01 02:42] sdboyer commented on #449
This issue is both very dated and not terribly useful (even though there are still some bugs in the trace output). Closing.

[2017-05-01 02:42] #449 closed

[2017-05-01 02:43] sinwav commented on #471
I'll take a look over this!

[2017-05-01 03:11] ChrisHines commented on #494
The good news with regard to symlinks on Windows is that they are rarely used.

I suggest that we add the error checking on the `os.Symlink` calls. In the case of an error the test would behave as follows.

* For non-Windows platforms call `t.Fatal`.
* For Windows platforms call `t.Skip`.

I think we should also wrap each test case with `t.Run) to make the Fatal or Skip calls fine-grained.

[2017-05-01 03:36] sdboyer commented on #494
@ChrisHines all of this SGTM 😄

[2017-05-01 03:37] ChrisHines commented on #494
OK. I'll work on a PR.

[2017-05-01 12:22] darkowlzz opened #496 "Add `-gopath` flag to init"
Once #470 gets merged, `-gopath` flag should be added to init to enable different modes of operations.

By default, init should operate in network mode. Passing `-gopath` should run init in existing mode (current behavior), scan through current GOPATH for on-disk projects. More details in the [spec](https://docs.google.com/document/d/1Qwa3jDKDh45t5qAGjRpeu3ZsAbkukIYDDmYJdMxH2uY/edit).

[2017-05-01 13:53] #356 closed

[2017-05-01 14:00] sdboyer commented on #149
This should, finally, be fixed 😄

[2017-05-01 14:00] #149 closed

[2017-05-01 15:27] darkowlzz commented on #496
Spent some time pondering and implementing and came up with 2 ideas. Need feedback on them.

* In init, after [`getProjectData`](https://github.com/golang/dep/blob/master/cmd/dep/init.go#L108) is run, if `-gopath` is not passed (**Network mode**), empty `pd.constraints`, move `pd.ondisk` elements to `pd.notondisk` and empty `pd.ondisk`. This approach is simple, but it contains fetching `projectDat

[2017-05-01 22:46] carolynvs commented on #491
:shipit:

[2017-05-01 23:05] #491 closed

[2017-05-01 23:05] sdboyer commented on #491
🚢

[2017-05-01 23:10] sdboyer commented on #496
This would be my expected approach - absent any lock or manifest, the solver effectively _is_ in "network mode."

What sort of extra conditionals are you imagining?

[2017-05-02 00:37] sdboyer commented on #494
Feels like we should make an FAQ item out of this.

[2017-05-02 00:58] ChrisHines commented on #494
What part of this do you think should be in a FAQ?

I'd be amazed if you can find many Windows developers that have ever used symbolic links by choice. I would expect many of them don't even know they exist (on Windows). In my anecdotal experience they have essentially zero mind-share on that platform.

[2017-05-02 13:53] sdboyer commented on #494
Not the windows bit specifically - rather, the more general question about "What is dep's policy regarding symlinks?"

[2017-05-02 13:56] fabulous-gopher opened #499 "Test ticket from Code Climate"

[2017-05-02 13:56] ChrisHines commented on #494
Agreed, that makes sense.

[2017-05-02 13:56] sdboyer commented on #499
woot!

[2017-05-02 13:56] #499 closed

[2017-05-02 15:42] sdboyer commented on #494
@brianstarke any chance I could coerce you into writing an FAQ entry for the symlink stuff you worked on? :bats eyelashes:

[2017-05-02 16:05] kris-nova opened #501 "Disable DEPTESTBYPASS501"
Right now this flag is bypassing 2 of our most cherished tests. We need to see what is going on with the failures and ultimately fix the problem. The flag is defined in the `.travis.yml` file here:

https://github.com/golang/dep/blob/master/.travis.yml#L18

Also there are 2 places in the tree that will need attention as well

 - https://github.com/golang/dep/blob/f291eab059be64d297ee6342cc5d6d784e

[2017-05-02 16:17] sdboyer opened #502 "Rewrite gps README after merge"
After gps is merged, the README can remain, but it needs to be rewritten appropriately.

[2017-05-02 21:39] timoreimann commented on #408
Running the current latest version of dep (commit d010781fa02a09f490f61d14cd624b993fc3f502), I am experiencing similar problems running `dep init` on [containous/traefik](https://github.com/containous/traefik), specifically [commit a0d6594](https://github.com/containous/traefik/commit/a0d6594e990f268ac135b1cbaed1bcb1793e76c4).

The verbose log output can be found [here](https://gist.github.com/tim

[2017-05-02 21:49] jmank88 commented on #408
I wonder if this could be related to the docker->moby name change.

[2017-05-02 21:53] darkowlzz opened #503 "Add itemized feedback in init"
`init` should have itemized feedback to provide the user information about each direct dependency’s inferred constraint (to be placed in the manifest), as well as precise version information to be placed in the lock for all dependencies.

Example:
[code]

More details in the [spec](https://docs.google.com/document/d/1Qwa3jDKDh45t5qAGjRpeu3ZsAbkukIYDDmYJdMxH2uY/edit).

[2017-05-03 00:15] sdboyer commented on #408
While the docker->moby name change is...well, super fun, it's unlikely to be causing the problem. GitHub [redirects requests](https://github.com/blog/1508-repository-redirects-are-here) to the old name. And we can see [docker/docker showing up just fine](https://gist.github.com/timoreimann/7793a37636f48ed0cf54fad34b234d61#file-dep-verbose-run-traefik-log-txt-L588) in @timoreimann's log output.

To

[2017-05-03 00:26] sdboyer commented on #408
Yes, looking at it more, that panic just shouldn't be there, as it's a perfectly valid case. Will get this fixed promptly after #453 😄

[2017-05-03 01:32] #366 closed

[2017-05-03 01:34] sdboyer commented on #300
OK, gps is moved in 😄

What do we need to do to update the Go `AUTHORS` list?

[2017-05-03 01:35] sdboyer commented on #300
(keeping this open till that last bit is done)

[2017-05-03 01:41] kris-nova opened #504 "Clean up subversion test"
We need to identify what was failing here https://github.com/golang/dep/blob/master/gps/vcs_source_test.go#L23

And ultimately fix the problem, enable the test again, and close the issue.

[2017-05-03 01:47] kris-nova commented on #504
Also related to getting the tests fixed: https://github.com/golang/dep/issues/501

[2017-05-03 01:48] kris-nova commented on #501
Also related to getting the tests fixed: https://github.com/golang/dep/issues/504

[2017-05-03 01:53] kris-nova opened #505 "Real time examples with ascii cinema"
Can we offer some real time examples of dep in the wild?

For those interested, examples of using [ascii cinema](https://asciinema.org/) can be found here:

The playback
- [With Kubernetes kops](https://github.com/kubernetes/kops#can-i-see-it-in-action)

The source
- [With Kubernetes kops](https://github.com/kubernetes/kops/blob/master/docs/asciicast/demo.json)

[2017-05-03 02:14] #408 closed

[2017-05-03 02:15] sdboyer commented on #408
OK, this issue should be gone - it got through a `dep init -v` for `containous/traefik` correctly. I didn't try iron-io/functions, but it should be fine.

Man, does it feel good to be able to just fix something directly 😄

[2017-05-03 02:16] sdboyer commented on #419
@jstemmer ok, this one should be ready for your attention now 😄

[2017-05-03 02:55] sdboyer opened #506 "Add metadata field to Gopkg.toml; warn on unknown fields"
As part of #276, we want to be able to provide a bit of future-proofing against the likelihood that we're going to need to add more properties to the data in Gopkg.toml and Gopkg.lock (e.g. for #291).

To that end, we should take (yet another) [note from Cargo](http://doc.crates.io/manifest.html#the-metadata-table-optional), and

1. Introduce a `[project.metadata]` field in Gopkg.toml, which shoul

[2017-05-03 03:05] sdboyer opened #507 "Add versioned dep list to each project in Gopkg.lock"
While it's not possible as long as we're operating in a `vendor/`-bound world, we do expect to eventually be free of that. Once we are, it'll be possible to incorporate more than one version of a project in a binary.

The exact circumstances under which we'd want to do this would vary (and most of the time, we do not, as it has a lot of nasty potential side effects). One big one is minimizing (or

[2017-05-03 03:23] sdboyer opened #508 "Separately enumerate/split out some of the inputs to the lock's memo"
The `memo` field in the lock is an important component in the overall strategy for making `dep` fast and reliable. Its exact behavior is described in greater detail [in the gps wiki](https://github.com/sdboyer/gps/wiki/gps-for-Implementors#solvehashinputs), but the essence is this: it's a hash digest of string representations of all the locally-knowable inputs that could affect solving outputs. Wh

[2017-05-03 03:32] sdboyer opened #509 "Better name for [[dependencies]]"
The `[[dependencies]]` field name in Gopkg.toml is misleading and problematic. Most people see it and assume that it works in the same way other language package managers do - you have to declare dependencies in Gopkg.toml for `dep` to pull them in at all.

But that's not how `dep` works - import statements in the code itself are the bit that define what code is _required_. Gopkg.toml just applies

[2017-05-03 03:40] sdboyer opened #510 "(Also) Run test harness in-process"
Right now, the test harness is executed out-of-process by compiling an instance of dep and `Exec()`ing it. It'd be lovely if we could _also_ make it work in-process, by mocking up the commands as needed and just calling them directly.

Doing this would provide us with proper code coverage information. While I'm not a coverage zealot, I do think it's very valuable for us to at least know which part

[2017-05-03 05:04] darkowlzz opened #511 "Replace fmt.Fprintln() with internal.Logf()"
Since we have [`internal.Logf`](https://github.com/golang/dep/blob/master/internal/internal.go#L15) now, all the `fmt.Fprintln()` can be replaced with `internal.Logf()`.

[2017-05-03 05:07] darkowlzz commented on #511
#good-first-pr ?

[2017-05-03 05:10] darkowlzz commented on #511
@sdboyer any exceptions for this, that you know of?

[2017-05-03 10:57] jstemmer commented on #419
Great! I'll move my branch over soon and see what else was left to be done wrt symlinks before sending a PR.

[2017-05-03 12:32] sdboyer commented on #419
@jstemmer i think a direct merge may not be possible because there was a `filter-branch` op that changed commit history...but either way, shouldn't be too bad. thanks!

[2017-05-03 12:33] sdboyer commented on #511
@darkowlzz nope, no exceptions that i can think of offhand. As long as the expectation is using stderr, then this is where we want to send output, for now.

[2017-05-03 14:14] spenczar commented on #509
I vote for `[[ constraints ]]`. It makes it clear that, if left unset, `dep` will handle things on its own, since constraints are only things that limit the solution space. I think the most important thing in the naming is that it communicates the _intent_ to the user, which `constraints` does well.

I don't mind that the `[[ constraints ]]` items could specify alternate `source`s. It seems constr

[2017-05-03 14:45] dongsupark commented on #120
As @gyuho [mentioned](https://github.com/golang/dep/issues/120#issuecomment-284124038), I also think that `"dep"` needs to have a way of cleaning up test files as well as unnecessary license files. I suppose, anyone who has touched large vendor trees would probably share the same concerns. Although the `"dep prune"` command already removes unused packages, it doesn't seem to clean up tests and lic

[2017-05-03 14:56] tomwilkie commented on #120
+1, and other non-go files.

hmmm, I don't know about this.  ~Most licenses (ie Apache 2.0, which covers lots of my world right now) need you to redistribute the license, and I wouldn't want to try and guess which licenses are safe to remove TBH.

@sdboyer whats you're current thinking on this?  I'm personally keen to see this stay as part of the `dep` tool, as for the time being I'm always going

[2017-05-03 15:07] carolynvs commented on #484
I just saw this happen today. I pulled in the gps merge and suddenly `dep ensure` was reverting `github.com/Masterminds/vcs` to an older version than specified in the lock because the cache was out of date. Here is the output:

Realize something is wrong:
[code]

I noticed that I have `github.com/Masterminds/vcs` in my GOPATH, so I tried pulling latest and rerunning `dep ensure` but that didn't fi

[2017-05-03 16:00] sdboyer commented on #509
@spenczar thanks for weighing in 😄  i've had similar thoughts about using `[[constraints]]`. If we can get at least some informal indications that this matches other peoples' intuitions, I'm happy to go that direction.

Alternate suggestions still welcome too, of course!

[2017-05-03 16:26] sdboyer commented on #207
Oh, this is done 😄

[2017-05-03 16:41] #207 closed

[2017-05-03 17:06] sdboyer commented on #275
Superceded by #508

[2017-05-03 17:06] #275 closed

[2017-05-03 21:10] davecheney commented on #509
[[requirements]] ? (Maybe easy_install was on to something)

[2017-05-03 21:17] carolynvs commented on #510
Another plus side of in-proc tests is easier debugging. When it spawns a separate process, I end up having to put in lots of temporary debug statements. 😀 Or maybe I just need to level up my debugger-fu.

[2017-05-03 22:28] sdboyer commented on #510
Sure seems like another benefit to me 😄

/me confesses to not using a step-through debugger (in Go) 😝

[2017-05-04 00:15] carolynvs commented on #510
I only use delve in anger. 😇

[2017-05-04 00:56] sdboyer commented on #484
Should be fixed now - thanks so much, @carolynvs 😄

[2017-05-04 02:12] sdboyer commented on #120
Ugh. I'm still pretty torn between the different guarantees I'd like us to be able to provide. But this really can't/oughtn't wait much longer, so lemme try to take a stab. Here's me, thinking through it in bullets:

1. Different projects will have different pruning needs. We can't expect that one thing will be right for all projects. We can offer a set of pruning flags that the user can toggle in

[2017-05-04 04:06] ChrisHines commented on #144
I'm starting to follow up on this issue. I added some debug prints, rebuilt, and ... nothing changed.  Hmmm, I got bit by building with `go install -v github.com/golang/dep` rather than `go install -v github.com/golang/dep/cmd/dep`, so my dep binary wasn't getting rebuilt. It looks like that may have been the case on my most recent reports above as well.

So here is the current status, _actually_

[2017-05-04 05:00] zkanda commented on #511
@darkowlzz are you taking it? if not I'd like to try. :blush:

[2017-05-04 05:38] darkowlzz commented on #511
@zkanda nope, it's for you 🤗

[2017-05-04 07:51] cwgt commented on #509
(requirements is easier to pronounce  than constraints :smile:)

[2017-05-04 08:08] davecheney commented on #509
Possible slight improvement

[[requires]]

[2017-05-04 08:33] tomwilkie commented on #120
Thanks for the info @sdboyer; I'll go and read #121 and start a new issue to discuss plans.

[2017-05-04 11:04] bestform commented on #506
What would be part of [project] and why is it likely to be added? I would prefer the top-level [metadata] field but I see the point to use project, as it would be awkward to have metadata outside of project as soon as it is introduced.

So it boils down to the probability of a project field.

And consider: if we chose [project.metadata] now, we lose the option to chose an alternative name for [pro

[2017-05-04 11:10] zkanda commented on #511
@sdboyer I'm not sure but these seems to be exceptions: https://github.com/golang/dep/blob/master/cmd/dep/main.go#L65-L70 and any long help, we don't really want to prefix them with `dep` do we?

And some doesn't really need formatting as it only have string, so we should probably create a `internal.Logln()`.

I hope what I'm saying make sense.

[2017-05-04 12:56] spenczar commented on #509
Oh, I'd like to switch my vote to `[[ requirements ]]`. I like that a little more than constraints. It accomodates the alternate-source-thing, and it has prior art through its use in Python-land.

I like `requirements` more than `requires` because its a _list_ of values, so the name of the list should be a plural noun. `requires` is a verb, which leads to weird phrasings like "I tried to add it to

[2017-05-04 13:42] sdboyer commented on #509
Hmm, interesting. so, i'd considered `[[requirements]]` before. In fact, i have formed the exact same sentence in my head that @davecheney wrote - "maybe easy_install was on to something". However, i didn't include it on this list because there's already a `required` field [in Gopkg.toml](https://github.com/golang/dep/blob/2c974c5ecb5394a2c39f7c23dc2e594816383f9d/txn_writer.go#L27-L31).

Now, we c

[2017-05-04 13:54] sdboyer commented on #506
Thanks for feedback!

The most immediate, functional need would be if we want to have `Gopkg.toml` indicate the root of the project. The reasons why that _might_ be a good idea are pretty involved, so let's not delve into that, and just leave it at that there's a nonzero chance of wanting it.

Other members would include non-functional information common in other systems - names of authors, licens

[2017-05-04 14:13] sdboyer commented on #511
@zkanda derp. yes, you're right, i forgot that those methods do that prefixing :/ Yeah, an `internal.Logln()` makes sense to differentiate.

[2017-05-04 14:40] #511 closed

[2017-05-04 14:51] Anjmao commented on #509
Hi, I'm new here. Sorry for silly questions:
1) Can it be in singular form `[[requirement]]` ?
2) If yes, can it be named just `[[package]]` because all is about go packages vendoring right?

In any way I can pick this one as first PR :)

[2017-05-04 14:55] carolynvs commented on #509
@sdboyer Challenge accepted! #516

[2017-05-04 15:00] spenczar commented on #509
@sdboyer, you make some really excellent points there. I didn't remember that `required` already exists, and I lost sight a bit of the fact that constraints is excellent at signalling that it's just additional rules.

I think I'm maybe back to Team Constraints, but I'm confident that the bike shed will be a lovely color, whatever it gets painted as. :)

[2017-05-04 15:04] carolynvs commented on #509
I prefer constraints because as @spenczar said it better reveals the intent, constraining discovered packages, instead of acting as the "one true list" of dependencies/requirements. _#TeamConstraints_

[2017-05-04 15:05] sdboyer commented on #509
@Anjmao hi, welcome! 😄

Yeah, since we're using TOML, singular seems like a much better idea - each time you see `[[<word>]]`, it'll be another single instance of it.

It's pretty different from that, actually. These values describe rules that are applied to projects - trees of packages with a root, almost always the repository root, e.g. `github.com/golang/dep`.

That'd be awesome, once we settle

[2017-05-04 19:12] timoreimann commented on #408
holy moly, that's what I call a quick fix! 🚀

Thanks @sdboyer! 👏

[2017-05-04 20:18] tobert commented on #411
One of my deps is on an internal Atlassian Stash/Bitbucket server that requires a port number. I'm hitting this error too with the following dependency.

[[dependencies]]
  branch = "master"
  name = "source.mycompany.com/core/thing"
  source = "ssh://source.mycompany.com:7999/core/thing"

[2017-05-04 20:35] sdboyer commented on #411
@liuliuhit - sorry for the delayed response. The right fix for your case should be to declare a `source` field in Gopkg.toml, as @tobert has done, and then use an import path in the code that doesn't contain the port. [As the spec notes](https://golang.org/ref/spec#Import_declarations), it's valid for a compiler (which dep is not in general, but in this case is behaving as one) to reject import pa

[2017-05-04 21:07] tobert commented on #411
I tried adding the extension and am getting the same results.

`[tobert@gadget scorebot]$ tail -n 4 Gopkg.toml
[[dependencies]]
  branch = "master"
  name = "source.mycompany.com/core/oetool"
  source = "ssh://source.mycompany.com:7999/core/oetool.git"
[tobert@gadget scorebot]$ dep ensure -v
Root project is "source.mycompany.com/core/scorebot"
 22 transitively valid internal packages
 30 external

[2017-05-04 21:57] sdboyer commented on #411
Ah, OK, you didn't say this was the error you were getting :smile:

First, to make sure we're clear - you're absolutely certain that `source.mycompany.com:7999/core/thing.git` does NOT appear in any import statements in your codebase, or the codebase of any of your dependencies?

[2017-05-04 22:58] tobert commented on #411
Right, my code has been using a manually vendored copy of the problematic repo for about a year now.

The import is "source.mycompany.com/core/thing" and I manually vendored it into "$GOPATH/src/source.mycompany.com/core/scorebot/vendor/source.mycompany.com/core/thing".

Having the source line working Godeps.toml will make this a much nicer situation :)

[2017-05-04 23:51] crimsonblue02 opened #517 "Panic on dep init: gps"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x114d488]

goroutine 1 [running]:
github.com/golang/dep/gps/pkgtree.wmToReach.func3(0xc420150550, 0x1, 0x1, 0xc42044c5c1, 0x32)
    /Users/myuser//Go/src/github.com/golang/dep/gps/pkgtree/pkgtree.go:613 +0x78
github.com/golang/dep/gps/pkgtree.wmToReach.func4(0xc420

[2017-05-05 00:03] sdboyer commented on #411
I'm working up a program to get some output. However, on looking back over,

[code]

This is not what I meant. I meant _this_:

[code]

And you'll have to change all your import paths that were pointing to `source.mycompany.com/core/thing` to point to `source.mycompany.com/core/thing.git` instead.

[2017-05-05 00:07] sdboyer commented on #411
Assuming the above change still doesn't fix the problem, please compile and run [this program](https://gist.github.com/sdboyer/b0bce464498af3c2cb6e5a4371bfe909). Doesn't matter where you run it from.

[2017-05-05 00:14] sdboyer commented on #517
Hi! We appreciate the issue. This one's a duplicate of #351, so gonna close this out in favor of that.

With future issues, if possible, please indicate the project you were running against (so that we can try to replicate), and include the trace output (via `dep {init,ensure} -v`).

[2017-05-05 00:14] #517 closed

[2017-05-05 00:15] sdboyer commented on #399
OK, new gps is merged in, so gonna fix this up tonight.

[2017-05-05 01:45] #399 closed

[2017-05-05 01:51] dcheney-atlassian opened #519 "golang/dep/gps should move to golang/dep/internal/gps"
You probably don't want other projects depending on gps from this repository.

[2017-05-05 01:54] dcheney-atlassian opened #520 "dep/gps/pkgtree: test failure"
[code]
[code]

[2017-05-05 02:01] dcheney-atlassian opened #521 "golang.org/dep/test should move to golang.org/dep/internal/test"
Similar to #519 you probably don't want other projects depending on your test helpers.

[2017-05-05 04:15] sdboyer commented on #520
yeah ty - i just noticed this, and am super-confused about how it snuck by our CI

[2017-05-05 04:24] #520 closed

[2017-05-05 04:25] kris-nova commented on #520
good point

I know we had to work on other tests in this package to get gps into dep.. hrmmm 🤔

Is this intermittent or constant? Just curious 😁

[2017-05-05 04:26] kris-nova commented on #520
Ah just kidding - Sam already found it 😁

[2017-05-05 04:28] sdboyer commented on #520
it's still super, super weird that it made it past CI, as this was a consistent error owing to...ugh...a super brittle test that got cranky when the license header changed file offsets. it should've been complaining immediately.

makes me not trust travis. 😢

[2017-05-05 04:31] davecheney commented on #520
The test passes because the test sets an environment variable to skip the
test

https://travis-ci.org/golang/dep

On Fri, May 5, 2017 at 2:28 PM, sam boyer <notifications@github.com> wrote:

[2017-05-05 04:37] sdboyer commented on #520
...lol, it was right in front of me and i didn't read it. maybe it's time to go to sleep 😄

[2017-05-05 06:37] liuliuhit commented on #411
@sdboyer I'm sorry I forget paste my Gopkg.toml

Ah, I declare `source` field in Gopkg.toml for internal package, and got  "xxx is not a valid import path" error.
[[dependencies]]
  branch = "master"
  name = "company.com/project"
  source = "https://git.company.com:1234/group/project.git"

And I resolve this problem in a hack way for temporary.

Notice github.com/sdboyer/gps, `deduce.go` line 75:

[2017-05-05 07:11] liuliuhit opened #522 "Add a specific package dependency in project"
As usage suggested,
`dep ensure github.com/pkg/errors  add a dependency to the project`

I ran `dep ensure -v go.uber.org/zap` this command and print verbose logging:

(0)   ✓ select (root)
(1)    	? attempt github.com/bsm/sarama-cluster with 1 pkgs; at least 1 versions to try
(1)    	    try github.com/bsm/sarama-cluster@v2.1.6
(1)    	✓ select github.com/bsm/sarama-cluster@v2.1.6 w/1 pkgs
(2)

[2017-05-05 11:47] viridicist commented on #218
@sdboyer With cwd = `<my gopath>/src/<my package path>`, `dep status` says

    resolve project root: '<my gopath>/src/<my package path>' is linked to another path within a GOPATH (<my gopath>)

So I suppose it resolves the symlink, decides I am not in my gopath, and then complains about my code being in my gopath.

[2017-05-05 12:59] sdboyer commented on #522
Yes, this is by design. It's the nature of the problem - it's not possible to just add one dependency and be guaranteed that the overall solution is still sane, because a dependency of what you want to add may be in conflict with one of your existing direct or transitive dependencies. Every change to the dependency graph requires solving the entire problem again to be sure that everything's workin

[2017-05-05 12:59] #522 closed

[2017-05-05 13:07] sdboyer commented on #411
@liuliuhit i mean...hacking `dep` is one option, i guess :P but, now that you've done that, my recommended course of action for you is the same as it was for @tobert - include the vcs extension (e.g. `company.com/project.git`) in BOTH the import paths in your code and in `Gopkg.toml`, and root deduction should work fine.

[2017-05-05 13:08] sdboyer commented on #411
Closing this one out - in the small scale, this is a won't fix, as we're within the parameters laid down by the Go spec to treat `:` as an invalid char in import paths.

[2017-05-05 13:21] sdboyer commented on #218
@viridicist Hmm...that message should only be given if the root directory of the project is a symlink pointing either to another directory within the current GOPATH, OR a directory within a different GOPATH.

So it doesn't think you're outside your GOPATH - it's saying it won't work because both the tail and head of the symlink are inside a GOPATH.

Looking at my last reply, I think I wasn't clear

[2017-05-05 14:15] viridicist commented on #218
@sdboyer It's not clear to me how it is coming to that conclusion. Either I really confused dep, or the other way around. 😉

Here is my attempt at reproducing this message:

[code]

I believe that is almost verbatim the case 2 in the detailed writeup, but it fails with:

[code]

[2017-05-05 14:16] jmank88 commented on #510
I can work on this issue.
After exploring the code for a bit, I expect the largest part of the change will be organizing logging, since there are global function calls, global state, and direct `os.Std*` access sprinkled around which need to be captured by the tests. Some of these already have preexisting `TODO`s by virtue of being global, so that's another bonus for this issue.

[2017-05-05 14:24] viridicist commented on #218
Looking closer, I have a dep from over a week ago installed, let me revisit with current master.

[2017-05-05 14:43] sdboyer commented on #218
@viridicist yeah, i thought you were describing case 2. maybe we have a bug 😄

[2017-05-05 14:45] viridicist commented on #218
So I believe the following should work from any starting point but it fails at `dep init` with "prepare solver: at least one package must be present in the PackageTree", which I guess is how I got here in the first place. Now I'm not sure if I'm running into what I was trying to reproduce or just using `dep` wrong, after all, sorry for the confusion.

[code]

[2017-05-05 14:46] sdboyer commented on #510
@jmank88 aaaaawesome!! yes, your survey of the code matches with my sense of what we'd need to do - a bunch more encapsulation to get rid of the global state. That's some tech debt I would LOVE to pay down.

Once that's done, I suspect the rest oughtn't be that hard. Even better, it'll likely force us to maintain a higher level of quality/avoid global state in the future! 🎉

[2017-05-05 14:54] sdboyer commented on #218
@viridicist unless i'm missing something, that really does seem like it's the case we intend to cover. do you maybe have time to review [our tests for this](https://github.com/golang/dep/blob/fbc17ea04b3e00798f99d49d2f75237e3cce8f0d/context_test.go#L351), see what we're missing, and maybe put up a PR with a fix+improved tests? 🙏 😄

[2017-05-05 15:51] ajessup commented on #218
Just finally got around to re-testing (sorry for the delay). Unfortunately I'm also still seeing the same error `prepare solver: at least one package must be present in the PackageTree`

[2017-05-05 15:57] sdboyer commented on #218
@ajessup no worries, good to get confirmation, thank you!

It's super the wrong place to be getting the error, but this does suggest to me that what's probably happening is [`ListPackages()`](https://github.com/golang/dep/blob/fbc17ea04b3e00798f99d49d2f75237e3cce8f0d/gps/pkgtree/pkgtree.go#L53) is being fed the symlink path, which ends up not being walked at all (because `filepath.Walk()`), so you

[2017-05-05 15:58] #144 closed

[2017-05-05 16:09] tobert commented on #411
Adding the .git extension doesn't work and I haven't had a chance to try your program. I will do so after morning meetings.

@liuliuhit's fix is obviously correct. I get that the Go project doesn't support this use case but it doesn't mean dep can't solve a long-standing issue with 'go get'.

[2017-05-05 16:19] zachgersh commented on #209
I actually agree with @nathany's suggestion of at the very least adding the `git sha` that the binary was built off of as the version for now. I know personally that using a binary and then having to trace back what commit it was built off of is _slightly_ painful. @peterbourgon is there any real reason not to include at least the sha or is that a reasonable compromise here?

[2017-05-05 16:51] sdboyer commented on #411
What error do you get?

The end goal for dep is to make it into the toolchain. Decisions like these that depart from current toolchain behavior are of the sort that, while they address a pain point in the immediate term, may add little bits of complexity and edge cases to the eventual move, which is already going to be a tremendously complex process.

In this case, the concern with allowing colons

[2017-05-05 17:17] sdboyer commented on #170
The issue with goautoneg turned out to be a totally different bug, fixed by #514.

Where it's currently sticking for me sticks for me now is with `golang.org/x/exp`, because you're relying on `golang.org/x/exp/inotify`. That's now [a dummy package](https://github.com/golang/exp/tree/master/inotify), as the pkg has been [moved out and elsewhere](gopkg.in/fsnotify.v0). This would likely be addressed

[2017-05-05 17:20] tobert commented on #411
I get the same error regardless of how I modify the source field. I tried the variations you suggested as well as some others.

From what I can tell, the 'dependencies.source' field in Gopkg.toml exists to allow redirecting an import (name) to a fully-specified URL so that imports and filesystem paths do not need to be modified.

I took a look at your gps package and see that it is using the same

[2017-05-05 17:22] ericchiang commented on #170
@sdboyer thanks I can see about updating the inotify dependency.

I'm confused why that would impact dep's analysis though, since godep will restore it in the GOPATH at the commit specified by Kubernetes. Mind elaborating a bit?

[2017-05-05 17:33] peterbourgon commented on #209
Yes, it's not possible to embed a version or git SHA and still be able to fetch the client with `go get`. At some point we'll do versioned releases but IMHO it doesn't make sense to opt-in to that extra tedious process until we at least stabilize the file formats.

[2017-05-05 17:46] sdboyer commented on #170
sure - i was just saying that because i hadn't _yet_ run `godep restore` yet to repopulate the GOPATH, the solver wasn't being given any information that it should try a previous revision. so, it just went with the tip of `master`, which obviously doesn't work.

Once `godep restore` finished, though, `dep init -v` made it all the way through to a solution 😄

`k8s.io/client-go` did have some missin

[2017-05-05 17:51] sdboyer commented on #411
It's the import statements *in your code* that need to be updated - https://github.com/golang/dep/issues/411#issuecomment-299459686 . And the `name` field in Gopkg.toml needs to correspond to those import statements. That's what root deduction operates on, not the `source` field.

The validation regexp shouldn't be applied to the source field; if it is, that's a bug.

[2017-05-05 18:50] tobert commented on #411
I tried modifying the code as well. If I get some time this afternoon I'll try again and record the results this time.

Line 110 of gps/deduce.go calls the same RE (githubDeducer.regexp) as githubDeducer.deduceRoot(). It's using it to extract the path from the provided source string.

`func (m githubDeducer) deduceSource(path string, u *url.URL) (maybeSource, error) {
    v := m.regexp.FindStringS

[2017-05-05 20:16] sdboyer commented on #411
gps has been moved into dep - let's look/pull line numbers from (and please, stably link instead of line numbers) from there instead of from sdboyer/gps.

Please do - that's the information I really need to be able to sort this out.

[The RE used by](https://github.com/golang/dep/blob/15e7e79e56bdac618be15b380242e5205efa609e/gps/deduce.go#L62) githubDeducer is not the same [RE as the path validato

[2017-05-06 06:03] sarge commented on #376
What are peoples thoughts on editors with linters, from my experience using a couple of editors with go integration (atom/vs code) is that the bundled linters work against the typical dep flow (thanks @carolynvs for sharing your flow because it helped my understanding a lot).

The behaviour I see it that autocomplete doesn't work unless you have the package loaded, and typically on save linters wi

[2017-05-06 06:22] sarge commented on #376
Ah just read the v2 spec with the --add command. Looks great, though I wonder about the expectation that this would be rare.

[2017-05-06 16:10] kevingo commented on #509
I both love `[[ constraints ]]` and `[[ package ]]`. The `[[ constraints ]]` clearly reveal its intent. And  for other popular dependency management tools, such as [Glide](https://github.com/Masterminds/glide) and [govendor](https://github.com/kardianos/govendor), the  `[[ package ]]` naming are popular used.

[2017-05-07 20:04] ibrasho commented on #509
I agree with the opinion that `[[ dependencies ]]`, `[[ packages ]]` or their singular forms might be misleading since the effect in `dep` is different. I even think `[[ requirements ]]` has the same issue.

`[[ constraint ]]`, `[[ condition ]]` or `[[ specification ]]` seems like a better idea (or even their plural forms).

[2017-05-08 03:27] liuliuhit commented on #411
@sdboyer
As you suggested, I tried [this program](https://gist.github.com/sdboyer/b0bce464498af3c2cb6e5a4371bfe909), and I still get the same error

err from ListVersions: "source.mycompany.com:7999/core/thing" is not a valid import path
err from SyncSourceFor: "source.mycompany.com:7999/core/thing" is not a valid import path

[2017-05-08 04:04] liuliuhit commented on #411
Means if I put in the vcs extension, the validation regexp shouldn't be applied to the source field.

While [deduceKnownPaths](https://github.com/golang/dep/blob/15e7e79e56bdac618be15b380242e5205efa609e/gps/deduce.go#L646) calls normalizeURI() function, regardless of github repo or vcs provided repo, and path validation regexp is applied to every source field.

[2017-05-08 15:43] sdboyer commented on #509
@ibrasho and `spec` doesn't even map quite directly - while there's a general, long form of it (which is actually more than what can be specified in Gopkg.toml), not all variations on the form are always allowed, depending on whether `-add` or `-update` (or neither) are passed. So it's not even quite 1:1.

At this point, it looks like `[[constraints]]` is the way we should go.

[2017-05-08 17:58] sdboyer commented on #509
Yeah, OK, let's move ahead with `[[constraint]]` as the name. @anjmao, did you still want to take this on as your first PR? 😄

Some notes/guidelines for this:

1. This is the last stop before providing backwards compatibility, so no need to care about compatibility with existing files.
2. The element in the file should be `[[constraint]]`, per the discussion above, but the name of the property on

[2017-05-08 18:08] sdboyer commented on #411
Ugh, yes, OK. Sorry it took me so long to actually _look_ at the code. As soon as I did, the problem was immediately evident :(

I need to ponder a bit about what the right way is to solve this.

[2017-05-08 18:28] sdboyer commented on #490
ugh ugh i'm sorry i meant to respond to this long ago and say YAY yes please we need work on this!

though also, github.com/bradleyfalzon/apicompat exists, and maybe we should focus efforts through that. i still haven't found time to put his solution aggressively to the test, but my impression is that the core of it is there.

we need to flesh out exact requirements for the tool more, though. that

[2017-05-08 23:29] #484 closed

[2017-05-08 23:52] sdboyer commented on #376
@sarge (welcome!) as you note, the updated spec should help this along, though i do anticipate there'll still be some pain. i see the problem more as operating in a reverse direction, though. ordinarily, my editor-assisted flow goes something like this:

1. I add a new reference to a func/struct/whatever in a package not imported in the current file
2. Run `goimports`, which will automatically sea

[2017-05-09 16:37] #510 closed

[2017-05-09 16:39] brianstarke commented on #494
Sorry for the delay, I'd be happy to take a swing at it but I must warn you that my command of the english language isn't very water buffalo.

[2017-05-09 17:02] felipeweb commented on #509
@sdboyer If still got this issue to solve, I can get it. Has anyone caught it?

[2017-05-09 17:42] #506 closed

[2017-05-09 17:43] sdboyer commented on #509
@felipeweb sweet! go for it 😄 🎉

[2017-05-09 17:44] sdboyer commented on #494
sounds gross to myself!

[2017-05-09 18:13] jaresty opened #530 "go get -u github.com/golang/dep fails"
[code]

[2017-05-09 18:27] sdboyer commented on #530
yep, sorry about that, two merges crossed and we broke tip. should be fixed now.

[2017-05-09 18:27] #530 closed

[2017-05-09 18:28] selzoc commented on #530
👍  verified

[2017-05-09 18:32] sdboyer opened #531 "Restore warning logging from #528"
#528 added warnings when the manifest contained invalid data, but a logical conflict with #525 (which removed global loggers) caused an error that wasn't caught by tests b/c they were merged in rapid succession. And so, we had #530.

This issue is for restoring that warning. It'll likely be a bit involved - `*Loggers` will need to be injected a fair ways up the chain, possibly into `dep.Ctx` + `Ne

[2017-05-09 19:00] darkowlzz opened #532 "`status` output is no longer in table form"
[code]

Operating System: macOS 10.12.4
Processor Architecture: x86_64

Expected result:
[code]

Received result:
[code]

[2017-05-09 19:15] jmank88 commented on #532
This looks like the `logWriter` I introduced in #525. Something to do with the tabwriter passing raw `[]byte`->`string`->`interface{}` argument. I cloned it off of the gps `testlogger`, which only writes to `testing.Log`, and may dodge the issue.

Working on a fix.

[2017-05-09 20:37] sdboyer opened #533 "Create a system for operating on local instances of repositories"
We need to be able to operate on local instances of repositories, rather than relying on [the availability of] upstream hosting services for the running of our tests. There are three major reasons for this:

1. Test performance: the vast majority of time spent in our tests is exercising network behaviors. Having to actually go out over the network for each and every complete test run is an enormou

[2017-05-09 20:40] jmank88 commented on #532
Every time the tabwriter writes through to the `log.Logger`, a newline is append if one is not present :-1:

Unfortunately, I think that `log.Logger` fundamentally cannot be adapted as an `io.Writer` in the general case because of this.  I'm not sure what the best solution is. The simplest would be to buffer and print once to the log.

[2017-05-09 20:52] fabulous-gopher opened #534 "Systematic support for "warnings""
_From @sdboyer on July 26, 2016 18:25_

We need a system of warnings when things occur that aren't necessarily grounds to stop the solver, but aren't exactly optimal either.

Much of this system will necessarily be about how to report the information - clearly, it has to emerge from somewhere _other_ than the `TraceLogger`. That means two separate reporting paths, though, which is...well, super fu

[2017-05-09 21:25] sarge commented on #376
@sdboyer first thanks for your efforts. Lots of moving parts and lots of stakeholders, your approach of sketching a vision for the future and making pragmatic steps forward today feels right.

From my limited experience goimports as of today will only use local packages, so you will get a different experience based on whether you have used this package before or not. ```dep ensure --add package```

[2017-05-09 21:28] brianvoe opened #536 "Toml File"
I didnt see this discussion anywhere. Not that its a deal breaker or anything but is there a reason its a toml file? Is this a temporary file type until a go file type can be used for dependency management?

[2017-05-09 21:30] jmank88 commented on #536
See #119

[2017-05-10 01:17] #536 closed

[2017-05-10 01:26] adg commented on #300
@bradfitz what's the process for updating AUTHORS+CONTRIBUTORS? Is it fully automated yet? Or a thing that you run? Is the dep repo part of it?

[2017-05-10 01:55] sdboyer commented on #531
updating to note that i won't have time to get to to this tonight, so someone else should please feel free 😄

[2017-05-10 02:52] sdboyer opened #537 "<dir> parameter to dep init is not handled correctly"
The spec and CLI helptext indicate that `dep init` should be able to take a directory (relative or absolute) as an argument. If one is not provided, then we instead operate on the cwd.

However, it seems we've been so focused on the cwd case that we've largely neglected explicitly specifying a directory. Specifying an absolute dir seems to work correctly, but relative paths do not; it would appear

[2017-05-10 03:12] sdboyer opened #539 "Consolidate fs.go, internal/fs.go, and gps/internal/fs/fs.go"
fs.go and gps/internal/fs/fs.go contain a lot of duplicate code, back from when they were completely separate projects. They should be consolidated into a single `internal/fs` subpackage.

While we're at it, let's also rearrange `internal/fs.go` into the same `internal/fs` subpackage.

[2017-05-10 03:13] bradfitz commented on #300
Yes, it's automated, but a Googler needs to run the program because it hits the internal CLA verification service.

[2017-05-10 03:13] adg commented on #300
@bradfitz Will the contributors to the dep repo be picked up by the script next time it runs?

[2017-05-10 03:16] bradfitz commented on #300
If somebody adds a line to the script, yes.

[2017-05-10 03:17] bradfitz commented on #300
People can also add themselves, since Gerrit checks CLAs now anyway.

[2017-05-10 03:20] adg commented on #300
Okay, I found the script and sent a change (internally).

[2017-05-10 03:51] sdboyer commented on #539
Note - this will break gps' encapsulation, as it'll be reaching up into `github.com/golang/dep/internal/fs` for these functions. In general, I want to keep that encapsulation intact, but it's OK to make an exception here for these functions, which are likely to always remain internal, and that we really _don't_ want to duplicate.

[2017-05-10 06:01] Anjmao commented on #509
@sdboyer Ah, too late :D I will look for another one :)

[2017-05-10 06:02] Anjmao commented on #537
I can take this one :)

[2017-05-10 13:56] vedhavyas commented on #539
I can take this up @sdboyer

[2017-05-10 14:06] niranjan92 commented on #537
I have got a solution working locally which it prefers absolute path over relative path. Let me know if I should submit a PR.

[2017-05-10 15:17] sdboyer commented on #537
@niranjan92 awesome, thank you, please do! 🎉

@Anjmao

It's more or less the same sort of reasons you'd use `git init` with a directory argument. The simple case is:

1. `cd $GOPATH/src/github.com/myuser`
2. `dep init somenewproject`

The case we haven't thought about much yet, but is valid for use within an internal monorepo is something like

1. `git clone https://my.company.com/monorepo.git /pa

[2017-05-10 15:46] sdboyer opened #548 "More windows compat in fs tests"
@mem, being awesome, introduced a number of new filesystem tests in #251 , but several of the failure path tests (`TestCopyDirFailOpen`, `TestCopyDirFailDst`, `TestCopyDirFailSrc`, `TestCopyFileFail`) are skipped on Windows. We should try to support these cases, if possible.

`TestCopyFileFail` can probably use the `makeUnreadable()` func @ChrisHines introduced in #498 to achieve Windows parity pr

[2017-05-10 15:50] #519 closed

[2017-05-10 16:05] sdboyer commented on #539
@vedhavyas woohoo, awesome! though looks like @ibrasho may have beat you to it - but we've got issues popping out left and right currently, i'm sure there'll be another one coming up soon 😄

[2017-05-10 16:25] kardianos commented on #120
@sdboyer You may be interested in govendor smarter tag ignoring logic:

https://github.com/kardianos/govendor/blob/master/context/tags_test.go
https://github.com/kardianos/govendor/blob/master/context/tags.go

I could contribute to dep if you'd like.

[2017-05-10 16:26] niranjan92 commented on #537
New to golang and this is my first PR. So will go through the contribution guidelines and send the PR in a couple of hours.

[2017-05-10 21:19] sectioneight opened #550 "gps.ListPackages fails when project contains a directory named ".go""
Repro case:

[code]

Proposed fix:
[code]

Wondering if there's a preferred approach. Either way I'm happy to whip up a fix and provide test cases.

[2017-05-10 23:38] carolynvs opened #552 "Warn if vendor exists before dep init nukes it?"
I understand why dep manages the vendor directory, and for ensure, etc, it makes sense that it does whatever it needs to do with it. However for a new user, having dep init potentially delete unsaved changes is a poor first impression. People may be trying it out just to see what it does, and their first tentative command for a tool shouldn't perform a destructive op without warning.

I'd like to

[2017-05-11 01:09] kris-nova commented on #533
Do we need to create sub tasks for this larger epic? 🤔

[2017-05-11 01:25] sdboyer opened #553 "Defend against .gitattributes-induced working tree modifications"
I've had this one stewing on my backburner for a while, as it's an edge case with the potential to be _deep_ rabbit hole full of sad.

In https://github.com/Masterminds/glide/issues/635#issuecomment-300313155, some glide users noticed an issue where cloning/checking out a repository containing [`.gitattributes`](https://git-scm.com/docs/gitattributes) files could result in a dirty working copy. gl

[2017-05-11 01:52] #413 closed

[2017-05-11 02:15] sdboyer commented on #552
I think backing up an existing vendor dir is an easy win with very little downside. So:

1. If `vendor` already exists and is non-empty, then move it to `vendor-$TIMESTAMP`
2. If, by crazy chance, that dir exists, consider it a hard failure and abort
3. Otherwise, inform the user of the renamed dir regardless of whether `-v` was specified. This message is crucial, and should be one of if not the l

[2017-05-11 02:15] #521 closed

[2017-05-11 02:50] #532 closed

[2017-05-11 03:13] sdboyer commented on #533
@kris-nova yep, almost certainly. I really have no idea when I'll be able to find time/energy to do a more formal writeup of the requirements here, so it'd be ideal if folks could grab what seems to them like a chunk from the above, split it off into a separate issue, and then we can iteratively refine through dialogue.

[2017-05-11 03:16] sdboyer commented on #474
Is this issue still occurring? I'm still pretty mystified by it. Reproduction steps would be amazing, if possible.

[2017-05-11 03:17] #471 closed

[2017-05-11 03:18] sdboyer commented on #443
Closing in favor of the more detailed #533

[2017-05-11 03:18] #443 closed

[2017-05-11 03:19] sdboyer commented on #435
Those docs are kinda dead now. Maybe we'll revitalize them later, but we can open up a new issue if we do.

[2017-05-11 03:19] #435 closed

[2017-05-11 03:21] sdboyer commented on #424
This seems like it probably won't be feasible anytime soon. Can reopen if progress actually happens.

[2017-05-11 03:21] #424 closed

[2017-05-11 05:25] kris-nova commented on #533
@sdboyer awesome! I will start cherry picking issues and opening up smaller GitHub from them.

[2017-05-11 08:21] Anjmao commented on #537
@sdboyer Thanks, these are good use cases :)
@niranjan92 Maybe next time you can write comment that you are working on issue, so you will be assigned to it, because I also wanted start to work on it :)

[2017-05-11 11:04] #550 closed

[2017-05-11 11:51] sdboyer commented on #537
@Anjmao we'll find one for ya!

[2017-05-11 12:02] sdboyer commented on #120
@kardianos oh oh oh interesting! yesyes, that work looks like the shape of what we'll ultimately need for #291. i'd be absolutely thrilled if we could incorporate what you've already done. that area is a bit particular, and i've not fully absorbed what you've written there, but this:

[code]

strongly suggests that we're in the right ballpark.

[2017-05-11 12:46] sdboyer commented on #269
related questions in rust-lang/cargo#3816 and rust-lang/cargo#3815

(also ugh how has it been 2.5 months since @shadowmint opened this already 😢 )

[2017-05-11 12:50] sdboyer commented on #269
eh, as long as i'm commenting, i should also probably make explicit two things:

1. this isn't on the immediate-term roadmap, as this is something that can likely later be added without changing existing logic, and we have a bunch of critical path things
2. i haven't fully explored the implications of the ideas @shadowmint laid out, but my gut says they're pointing us in the right direction

[2017-05-11 14:36] AlexRouSg commented on #269
I'm actually writing a go program to download and build c libs for my go project. Still debating on the file format/structure but it basically looks like:

[code]

Going to have 2 levels of command filtering, so first it detects the host OS and selects the proper file to eval then within that file it will have commands for the target os/arch. Think it looks kinda messy but prob good enough for wha

[2017-05-11 15:17] spenczar opened #556 "DeduceProjectRoot's error message can be unclear"
I ran `dep init` on a new project and got this error message:
[code]

`code.justin.tv/release/trace` definitely exists and is real - but it's a vanity import, and only accessible on my company's VPN. I didn't notice, but I wasn't connected to the VPN at the time, so what actually happened was a DNS resolution failure for `code.justin.tv`.

The error message didn't make this obvious. I thought "may

[2017-05-11 16:46] kumarsiva07 opened #559 "Dep init fails"
I am using Mac with go version go1.8.1 darwin/amd64

github.com/golang/dep/vendor/github.com/sdboyer/gps.(*solver).findValidVersion(0xc420824360, 0xc420bac140, 0xc420222ae0, 0x1, 0x1, 0x0, 0xc420222ae0)
	/Users/user/go_work/src/github.com/golang/dep/vendor/github.com/sdboyer/gps/solver.go:800 +0x5fa
github.com/golang/dep/vendor/github.com/sdboyer/gps.(*solver).createVersionQueue(0xc420824360, 0xc4

[2017-05-11 19:04] carolynvs commented on #553
I don't believe it's enough to just have line ending scrambling (either via `AutoCRLF` or `.gitattributes`) to trigger this situation. I have seen this occur:
* when there is either a mismatch between what's in the git cache and in the working copy, often seen when in the middle of changing the `.giattributes` file. This is fixed by running `git rm --cached -r . && git reset --hard`.
* when a file

[2017-05-11 19:08] AlekSi commented on #175
I totally forgot why I mentioned this. 🤦‍♂️

[2017-05-11 19:26] sdboyer commented on #175
@AlekSi no worries - if you remember, just pop it in here. always happy to learn from prior art 😄

[2017-05-11 19:29] sdboyer commented on #559
From the source paths in that stack trace, it looks like you're operating on an older version of `dep`. Could you `go get -u github.com/golang/dep`, then re-attempt? Also, run `dep init -v` instead; that'll provide tracing output that we can follow and help isolate the problem.

And, if the project you're operating on is public, point us to it? That would also help for replication.

[2017-05-11 21:08] sdboyer opened #562 "Update Masterminds/semver to latest 2.x (deal w/non-pointer Version)"
We've been lagging behind on our semver dependency for a while now. The main reason is, back in January, i made a PR that 'depointerized' `semver.Version` objects - Masterminds/semver#27 - but never quite finished adapting gps to rely on the new value-based patterns. Doing this is now a prerequisite for #225, which is part of our manifest/lock stabilization milestone, so we gotta get it done.

I d

[2017-05-11 22:07] xmattstrongx commented on #562
Ill take this on 👍

[2017-05-11 22:20] spenczar opened #563 "dep prune -v doesn't actually log anything"
We have a `dep prune` command. Hooray!

`dep help prune` advertises that `dep prune -v` will "enable verbose logging", but even with the `-v` flag, `dep prune` does not seem to print anything unless it encounters an error.

It can take a while, so it should print something about what it's doing in verbose mode.

[2017-05-11 23:25] deejross commented on #286
I can also submit a use case for this. We currently use GitHub Enterprise hosted internally for our internal Go projects. Using Glide today, we currently have to specify in the glide.yaml file "vcs: git" for every package, otherwise we get an error: "Cannot detect VCS". For private repos, it would be nice if there was a way to augment the list of known repo URLs (i.e. github.com = git) to avoid th

[2017-05-12 03:20] sdboyer commented on #286
@deejross thanks for taking the time to provide feedback and use cases 😄

Yep, this one's definitely come up - it's the custom resolver stuff I referenced in my preceding comment, and that's discussed in #174. I think we're gravitating towards a decent solution here, albeit slowly 😄

That said, I _think_ that right now, you should be able to solve your problem by including the `.git` suffix at the

[2017-05-12 03:40] sectioneight opened #564 "Fix ListPackages to not skip "."-prefixed dirs"
Follow up to #551 after getting some clarity on https://github.com/golang/go/issues/20337

We need `ListPackages` to descend into `.`-prefixed directories, even though the `go` tool ignores them they are still valid import paths, and are in use in the wild.

Filing this for reference -- I will fix this.

[2017-05-12 03:43] sectioneight commented on #564
Current code, from `pkgtree.go`:

[code]

Not sure what "really weird" means -- I guess I will find out :) Unless somebody here has insight.

[2017-05-12 03:46] davecheney commented on #564
I'm sorry, I think you have misinterpreted my reply, please see
https://github.com/golang/go/issues/20337#issuecomment-300976430

On Fri, May 12, 2017 at 1:40 PM, Aiden Scandella <notifications@github.com>
wrote:

[2017-05-12 03:53] sectioneight commented on #564
Ah, GitHub tag :) Thanks for the followup. Let's consolidate on the golang/go issue, or in Slack. Thanks again for your help!

[2017-05-12 04:46] sectioneight commented on #564
Looks like this is also the wrong approach. Going to close for now and play around to see what the right solution is. Also submitted https://go-review.googlesource.com/#/c/43299/ since I think the documentation could use some clarification.

[2017-05-12 06:03] sdboyer opened #565 "In which we beseech a gopher luminary to lend us her brilliance"
To the most illustrious @ashleymcnamara,

It is my most fervent of hopes that this missive finds you happy, healthy, and in good cheer! The community of Go is large, and the suns of FLOSS have, in recent years, shone most fortuitously on our lands; I hope that the warmth and light of that radiance has provided you joy and succor, wherever this letter should find you.

I write to you from a distant

[2017-05-12 06:27] sdboyer commented on #564
Picking up from https://github.com/golang/go/issues/20337#issuecomment-300978336 :

according to build rules.

It's actually (intended to be) the opposite - we're trying very diligently to keep these two exact concerns separate.

@sectioneight is entirely correct that

The segment of the code he's looking at in `ListPackages()` is intended to build a representation of the filesystem containing eve

[2017-05-12 06:28] sdboyer commented on #563
totally, yes, should do

[2017-05-12 12:00] #531 closed

[2017-05-12 15:48] ahmetb opened #566 "Install command"
Why is the recommended install command is

    go get -u github.com/golang/dep/...

and not

    go get -u github.com/golang/dep/cmd/dep

?

[2017-05-12 16:17] sdboyer opened #567 "Detect and warn on abbreviated SHA1s in manifest"
It's likely that folks will end up putting in an abbreviated commit SHA1 in Gopkg.toml. We need an exact match, not the abbreviation. If we can reasonably detect and warn against this, it would be a benefit.

[2017-05-12 17:01] carolynvs commented on #567
Is this a good first-pr candidate?

[2017-05-12 17:03] sdboyer commented on #567
ah yeah totally

[2017-05-12 17:50] sdboyer commented on #566
I think it just follows the general pattern safe pattern, in the event that we add subcommands later. If it's bothersome, we can change it 😄

[2017-05-12 18:13] #552 closed

[2017-05-12 18:16] felipeweb opened #568 "github.com/tealeg/xlsx could not be downloaded by dep"
when use dep as vendor tool i receive the error

[code]

but govendor  it works

[2017-05-12 18:21] zknill commented on #567
I would like to take this, but would appreciate pointers!
I assume it's somewhere around here https://github.com/golang/dep/blob/master/manifest.go#L171?

[2017-05-12 18:30] ahmetb commented on #566
@sdboyer I've this script that downloads all the go tools I use. This was the only one with a `/...`, made me think if has a particular reason. The latter downloads the dependencies too, so I guess pointing directly to cmd is better.

Take golint example https://github.com/golang/lint:

    go get -u github.com/golang/lint/golint

this doesn't do `/...` and directly points to cmd.

[2017-05-12 18:41] niranjan92 commented on #537
@Anjmao I referenced the pull request for that purpose. Next time will comment that I am working on the issue. :)
I will raise a fresh pull request as the previous one was closed while i was trying to resolve cla errors.

[2017-05-12 18:43] niranjan92 commented on #537
I am adding the tests in `cmd/dep/testdata/harness_tests/init/`.  However the test is not able to check if the vendor packages got created correctly. Trying to fix that part.

[2017-05-12 19:46] sectioneight commented on #564
To help others, I created a repro case here:

https://gist.github.com/sectioneight/18a9fa2a5ce1961ca4a91f01775e95ea

Using: https://github.com/sectioneight/dot-import-example

When I remove the `.dot` import and just reference `_underscore` things work fine, so this issue is limited to `.`-prefixed paths:

https://gist.github.com/sectioneight/d8204487f39cd0a786a82c1b9c6c04e9

Note that the code do

[2017-05-12 20:01] sectioneight commented on #564
Also, I can confirm that the following patch fixes the issue for my repro case. I don't have a full testbed set up locally, so I'm not ready to submit a PR yet until I can figure out how to write tests:

[code]

[2017-05-12 21:15] mgutz commented on #568
Ran into same issue a few minutes. I had to specify `branch = "master"` instead of the discovered version.

[2017-05-12 22:15] sdboyer commented on #537
@niranjan92 if you can figure out something very easy within the context of the test harness, great. but probably don't try very hard; it may be better to just write a one-off test that checks this specific behavior. we don't want to add a capabilities to the test harness if there's no meaningful reason to write multiple tests that rely on it, and I don't think we'd get much mileage out of a test

[2017-05-12 22:18] sdboyer commented on #568
huh. this outcome shouldn't be possible.

please provide reproduction steps

[2017-05-12 22:25] #566 closed

[2017-05-12 22:31] sdboyer commented on #566
perfect - I'll confess that I started a cursory investigation before commenting, then got distracted before actually checking other projects 😀

sounds like, by changing it, we're more in line with other projects, which is exactly where we want to be.

[2017-05-12 22:36] sdboyer commented on #567
@zknill awesome! and yes, that's where the actual assignment happens, but we do the warns in validateManifest(). you'll want to look at...func getProjectConstraints(), I think? for patterns to follow on how to sniff revision types from string structure. but my plane is literally wheels off the ground rn, so I can't double check that 😀

[2017-05-12 22:37] zknill commented on #567
Sweet thanks. I'll check it out and come back if I get stuck!

[2017-05-12 22:42] sdboyer commented on #556
I'm all for improving the error messages here.

for the record, this is among the nicest of the nightmarishly-confusing scenarios I can imagine happening when I talk about "portability" in e.g. #174 😀

[2017-05-13 00:25] sdboyer opened #574 "do not generate "empty" constraints in Gopkg.toml on init"
I actually used the dep init workflow on a real thing for the first time in a while today, and noticed that we generate "empty" dependencies - entries with only a name, but no actual constraints - probably when we encounter a revision with no known branch or version in GOPATH. let's not do that - it's meaningless, but having those entries there will confused people into thinking it's necessary.

I

[2017-05-13 01:39] ibrasho commented on #574
Could you elaborate on how to reproduce this behavior? I'm not able to get `dep init` to generate empty dependencies...

[2017-05-13 13:19] sdboyer commented on #574
check out an arbitrary revision for a dependency onto GOPATH, run dep init, and I believe it should occur.

[2017-05-13 13:20] sdboyer commented on #574
*arbitrary revision, with an associated tag or branch

[2017-05-13 13:27] niranjan92 commented on #537
@sdboyer  yeah. I tried adding it to test harness but with no success. I will write a stand alone test to check this behaviour.

My plan is this - create a test folder in /tmp, copying the code and running dep init and testing if the vendor path and .toml and .lock files are generated correctly.

[2017-05-13 15:14] felipeweb commented on #568
@sdboyer
1 - create a project that use this package as a depency
2 - update dependencies using `dep ensure -update`

[2017-05-13 17:50] sdboyer commented on #568
Do you mean "lists the project in `Gopkg.toml`, or "imports the project?" If it's the former, this is by design (see, most recently, #509); if it's the latter, then we have a bug.

[2017-05-13 17:53] sdboyer commented on #537
@niranjan92 Let's discuss over on the PR 😄

[2017-05-13 18:16] sdboyer commented on #362
oh whoops this is super done :D

[2017-05-13 18:16] #362 closed

[2017-05-13 18:17] #472 closed

[2017-05-13 18:19] spenczar opened #575 "Make the gps package importable"
Discussion in https://github.com/golang/dep/pull/527 resulted in `gps` getting moved to an internal path. I'd like to discuss moving out a stable subset of it to a public API that other projects can import.

---

One concrete use case to kick things off:

I work on a tool called [retool](https://github.com/twitchtv/retool) which vendors executables. Right now, it can be pretty slow because it does

[2017-05-13 18:28] felipeweb commented on #568
@sdboyer it's the second

[2017-05-13 18:39] sdboyer commented on #568
OK. But, your reproduction steps don't produce an error.

Please give me as much context as possible, instead of forcing me to ask questions one at a time.

[2017-05-13 18:40] sdboyer commented on #568
Though, looking at the repository, the problem is probably that, yes, you need to specify you want `master` - otherwise it selects semver-compliant releases that were tagged six years ago.

[2017-05-13 18:55] #503 closed

[2017-05-13 19:24] sdboyer commented on #458
How's this going?

[2017-05-13 19:30] sdboyer commented on #441
The goal here would be to create some tests that verify some of the expected behaviors around this case:

1. Most importantly, that the solver handles a situation where an error is returned by discarding that version, and recording an appropriate solve failure in the version queue (we might need a new failure type)
2. Our current model in `sourceMgr` caching is to not cache errors. That should be

[2017-05-13 19:53] gyuho opened #576 "Sub-dependency resolution with no master branch"
Hello, I am facing a strange behavior with sub-dependency that has no master branch.

I am using the current master branch of `dep`.

Steps to reproduce

Step 1, Create a dummy package that imports

[code]

`container-linux-config-transpiler/config` vendors `github.com/ajeddeloh/yaml` with the revision in `public-node` branch.

Step 2, run `dep init -v`, which outputs

[code]

Step 3, update to `b

[2017-05-13 21:10] darkowlzz opened #577 "Support importing godep config during dep init"
Similar to #380 , part of epic #186 .

[2017-05-13 21:15] darkowlzz commented on #577
Is anybody secretly working on it or have an 👁 on it?

I'm about to give it a try. Will post findings and questions here.

Any suggestions/advise/tips are welcome.

[2017-05-13 22:02] ibrasho commented on #576
I tried this and I'm getting the correct Gopkg.lock generated. Are you sure you are you have the latest version of dep installed?

[2017-05-13 22:58] gyuho commented on #576
Yes, and I am compiling in MacOS, if that matters. Here's the output of `ensure` command:

[code]

[2017-05-14 02:14] jonstacks commented on #574
@sdboyer,

Has anyone picked this up yet? If not, I'd be willing to try as I saw this was a good first pr candidate.

[2017-05-14 12:53] darkowlzz commented on #577
Found some code to refer at [glide/godep/godep.go](https://github.com/Masterminds/glide/blob/gps-integration/godep/godep.go) :)

[2017-05-14 13:12] sdboyer commented on #577
sweet!

ping @carolynvs - def want to make sure the same pattern of relying on the Analyzer is used here 😄

[2017-05-14 14:57] carolynvs commented on #577
@darkowlzz  You may want to take a look at #500 where I have import working for glide, and hope to have that merged this week. I am still hammering out / slimming down the interface for importers, so that will likely change (removing unnecessary methods).

The general idea is that when importers are enabled (i.e. `-skip-tools` isn't present), the init command will use an [importAnalyzer](https://g

[2017-05-14 18:48] kris-nova opened #580 "panic: canary - *should* be impossible to have a pkg-only selection here"
Found a real one in the wild today.

Replication steps:

[code]

[2017-05-14 21:04] AlexRouSg commented on #269
Just pushed the tool I was working on to github. It assumes you have all the programs installed needed to pull/build tho. And the readme totally needs more work.

https://github.com/AlexRouSg/goBuildYourself

[2017-05-14 23:54] davecheney commented on #575
gps getting moved to an internal path. I'd like to discuss moving out a
stable subset of it to a public API that other projects can import.

I don't think that github.com/golang/dep/internal/gps is the project you
want to import, this is a private for of gps. The intent is to iterate on
this library fast without having to worry about causing API churn for
anyone outside dep.

If you want to import

[2017-05-15 01:30] bsed opened #581 "panic: shouldn't be possible unable to deduce repository and source type for: "golang.org/x/sys/unix""
[code]

[2017-05-15 01:55] bsed commented on #292
sm.DeduceProjectRoot: unable to deduce repository and source type for:

[2017-05-15 02:07] bsed commented on #556
[code]

[2017-05-15 05:07] bsed commented on #581
sm.DeduceProjectRoot: unable to deduce repository and source type for: "golang.org/x/crypto/acme/autocert"

[2017-05-15 13:55] sdboyer commented on #575
While I haven't updated the original gps repo to say as much, I don't intend to maintain the original repo independent of what's in dep. As I indicated in #300, it was a move, not a copy, into dep; there's little benefit to having two instances of gps with subtly different internals or interfaces out there in the world.

Relying on gps in the original location is a reasonable stopgap, but I accept

[2017-05-15 13:57] sdboyer commented on #292
This is very likely the great firewall denying access to `golang.org`. There's not a lot we can do at this stage, but I think you'd likely be able to solve the issue at least for yourself with a socks5 proxy; see e.g. discussion in Masterminds/glide#417.

[2017-05-15 13:59] sdboyer commented on #581
The ultimate reason for the error is detailed in #292, but it's not great that there's a panic case that can be triggered by this. Let's treat this issue as being about covering that panic.

[2017-05-15 14:06] sdboyer commented on #580
That exits clean for me...which is not great, as it is suggestive of a local state-dependent bug. We should not have those 😢

[2017-05-15 14:10] kris-nova commented on #580
Let me bump my version of dep - I still had master from a week and a half ago too - I'll see if I can't resolve it! Either way just wanted to drop it in as a reminder!

[2017-05-15 14:47] sdboyer commented on #580
yeah, actually, looking through, i think that panic message is entirely gone now 😄

[2017-05-15 18:12] marwan-at-work opened #583 "detect failed directories in /pkg/dep/resources"
1. What version of Go are you using (go version)?
**1.8.1**

2. What operating system and processor architecture are you using?
**darwin x86**

3. What did you do?
Say a `dep init` process gets interrupted (ctrl+c), the underlying cache in `$GOPATH/pkg/dep/resources` could be in a false state because the dependency that was being copied in to the cache could either be empty or incomplete.
Therefor

[2017-05-15 18:22] sdboyer commented on #576
Thanks for the detailed report! I believe [we have an FAQ item](https://github.com/golang/dep/blob/master/FAQ.md#how-do-i-constrain-a-transitive-dependencys-version) for this 😄

[2017-05-15 19:10] marwan-at-work commented on #583
@sdboyer feel free to assign me, i'll take a crack at it and probably bother you a bunch of times. thanks!

[2017-05-15 19:56] sdboyer commented on #583
duly assigned :)

[2017-05-15 21:27] gyuho commented on #576
@sdboyer It worked. Thanks!

[2017-05-15 21:27] #576 closed

[2017-05-15 22:09] ibrasho commented on #581
Any specific error message instead of the panic?

[2017-05-16 00:49] sdboyer commented on #581
Looking at the source line, I see it's preceded by a note from me:

[code]

So yeah 😄  Problem is, at that specific point, there are a number of things that could cause the error. Still, for now, the best thing to do is probably just return the error out directly.

[2017-05-16 01:05] sdboyer commented on #559
Closing this, as we lack enough info to reproduce. Please feel free to reopen if you get a chance to provide more context for debugging.

[2017-05-16 01:05] #559 closed

[2017-05-16 01:10] #568 closed

[2017-05-16 01:15] #564 closed

[2017-05-16 01:31] bsed commented on #292
@sdboyer sir, I've already used VPN, or is that the problem?.

[2017-05-16 01:53] bsed commented on #292
@sdboyer @zjx20 tks  i use [socks-cli](https://github.com/zjx20/socks-cli) solved the problem

[2017-05-16 03:56] sdboyer commented on #574
@jonstacks nope, nobody has - please do have at it!

[2017-05-16 04:11] jonstacks commented on #574
@sdboyer, I took a shot at it https://github.com/jonstacks/dep/commit/b084b99c37d98a4ec45b3cf38577328e852fd598

Since you know the codebase much better than I, can you tell me if I'm on the right track before I open up a PR? I wasn't sure if this was better suited for being in gps.

[2017-05-16 04:23] sdboyer commented on #574
@jonstacks so fast! 🎉  don't worry about that - please do open up a PR! Doesn't matter if we end up closing it. It's much easier to discuss & review in public with a PR, anyway 😄

[2017-05-16 09:12] ibrasho commented on #581
Should be handled somewhere else? Otherwise, `dep` will be print the error this error anyway:

`ensure Solve(): unable to deduce repository and source type for: "golang.org/x/sys/unix"`

[2017-05-16 11:12] ibrasho commented on #581
#561 Seems like an improvement to the errors that are returned:

`panic: shouldn't be possible unable to deduce repository and source type for "golang.org/x/sys/unix": unable to determine remote metadata protocol: failed to access url "http://golang.org/x/sys/unix?go-get=1"`

[2017-05-16 11:57] sdboyer commented on #581
Yes, #561 would improve the message - but it absolutely does have to return out the error, as it's not possible to continue solving if this occurs.

It could be handled earlier, e.g. in `Prepare()`. We'd have to iterate through each of the imports in the project, attempt deduction, and collect a slice of failures. That work should be parallelized. Kind of akin to what we do in [init](https://githu

[2017-05-16 20:31] ibrasho commented on #581
`Prepare()` doesn't have access to the logger `ctx.Loggers.Err` unless the verbose mode is toggled. Any pointers on what could be done in that case?

BTW, I noticed that `Prepare()` is called twice in `Run()` (in `init.go`). I'm not sure if this intentional or not.

[2017-05-16 22:47] darkowlzz commented on #577
Created #589 based on @carolynvs 's #500.

Seems to work, but I would need help from others to verify that it works as expected.

Godep struct:
[code]

From the above Godep struct, godep importer implemented in #589 ignores `GoVersion`, `GodepVersion` and `Packages`. I couldn't figure out how `Packages` could be used. If someone could explain how we could use it, would be great :)

Some vendoring

[2017-05-16 23:17] sectioneight commented on #505
Here's one, it's not super flashy but may be a good start:

https://asciinema.org/a/120874

[![asciicast](https://asciinema.org/a/120874.png)](https://asciinema.org/a/120874)

[2017-05-17 14:15] jmank88 opened #597 "Global state: `internal/gps/internal/internal.go` `var IsStdLib`"
[`internal/gps/internal/internal.go`](https://github.com/golang/dep/blob/master/internal/gps/internal/internal.go) contains a global function variable `IsStdLib`, for swapping in alternative test implementations.

1. This seems brittle, particularly for tests executed in parallel. Is there a compelling reason to leave this global variable as is? Or would it be worth exploring alternatives, like in

[2017-05-17 14:50] sdboyer commented on #597
Quite agreed - see the discussion in the PR that originally introduced it, sdboyer/gps#189. This was a "good enough for now" hack. If we can find a more elegant way of doing it, then great. (Honestly, the func itself is kind of a nasty hack IMO, but it's what the toolchain currently does, so...)

It's still out of scope for anything not in gps to be touching it, so let's keep it doubly-internal. B

[2017-05-17 20:05] JakeHL commented on #565
Brilliant post, but what exactly are you asking for here? I'd love to contribute... but how exactly?

[2017-05-17 23:38] sdboyer commented on #548
Note that once #547 goes in, the relevant files will have been moved to live under `internal/fs`

[2017-05-17 23:55] sdboyer commented on #581
Right, we _never_ print anything directly from within gps. There's only one single solitary exception to that rule, and it needs to be gotten rid of, too 😄  apart from the fs funcs you're working on in the other PR, gps should be considered self-contained, and import only things at or below its level in the project.

Instead, follow the pattern that's in that function - return a `badOptsFailure` w

[2017-05-18 01:00] #574 closed

[2017-05-18 01:39] sdboyer commented on #562
Fixed by #579.

[2017-05-18 01:39] #562 closed

[2017-05-18 01:41] sdboyer commented on #508
Hmm, this should probably incorporate #421.

[2017-05-18 01:52] sdboyer commented on #565
@JakeHL thanks! 😄  I'm asking @ashleymcnamara to do some more gopher-y graphic design for dep. Kind of a one-person job, I think (though if there's any help she could use, then by all means 😄 )

That said, if other folks want to put together some gopher pkg mgmt-related art, I would love to incorporate whatever we can! 🎉

[2017-05-18 10:19] JakeHL commented on #565
Aha! It all makes sense now! It's all great artwork so I can see why you'd want that specifically! :)

[2017-05-18 15:43] #597 closed

[2017-05-18 19:46] 20zinnm commented on #565
What if it were some play on words, like "depart" or "depends"?

![banner](https://cloud.githubusercontent.com/assets/6132034/26220546/ac0f01e6-3bd8-11e7-8871-30dccb9c3bed.png)

[2017-05-18 22:43] brianstarke commented on #494
https://github.com/golang/dep/pull/605

[2017-05-19 10:56] sas1024 opened #607 "segmentation violation while dep ensure"
1. What version of Go are you using (go version)?
**go 1.8.1**

2. What operating system and processor architecture are you using?
**Darwin/amd64**

3. What did you do?
I was updated my package and want to update this package dependency in another project.

4. What did you expect to see?
dep ensure working.

5. What did you see instead?
[code]

[2017-05-19 14:36] sdboyer commented on #607
Thanks for the report! This is gonna be the same underlying problem as #351.

[2017-05-19 16:46] carolynvs opened #609 "Extract command implementions into sub-packages"
As we bring on new maintainers/contributors, it will be helpful to organize the code into sub-packages. This would separate the various components of dep, for example:

* Each command's implementation would have a pkg: `init`, `ensure`, and `status`.
* ~Split up gps into components: `solver`, @sdboyer I forgot the others you mentioned 😅~
* ~Shared code which are used by multiple components, which

[2017-05-19 16:47] carolynvs opened #610 "Organize GitHub Labels"
Once we have defined the various components of dep in #609, create labels for each area so that issues can be flagged with their impacted areas.

[2017-05-19 17:34] jonstacks commented on #609
@carolynvs,

Still new to the dep, but I could try to tackle this one. Would it be okay to PR in stages? I'd assume starting by packaging up each command would be the easiest?

[2017-05-19 19:14] carolynvs commented on #609
Oops! 😊 Before work can start working on this, we first need to decide what the subpackages will be, which wasn't clear at all from the issue description.

[2017-05-19 19:58] jonstacks commented on #563
I can pick this one up. Should have some time over the weekend to work on it.

[2017-05-20 02:38] jonstacks opened #612 "When backing up vendor folder, include a leading underscore"
Recently ran into an issue when running `dep init` in a project and then turning right around and running `dep ensure`.

1. What version of Go are you using (go version)? **go version go1.7.5 darwin/amd64**
2. What operating system and processor architecture are you using? ^^
3. What did you do?
     Ran `dep init` and everything worked fine. Turned right around and tried to run `dep ensure`
4. Wh

[2017-05-20 06:14] darkowlzz commented on #612
@jonstacks did `dep ensure` after renaming the backup with leading "_" solve the issue?

[2017-05-20 13:35] jonstacks commented on #612
@darkowlzz,

I can confirm that prefixing it with an "_" solved the issue and I was able to run `dep ensure` without a problem. Yes, I think thats whats going on. When I ran `dep hash-inputs` before prefixing, I got around 300 or so lines of scroll back and some packages I wasn't importing showed up in the output. After prefixing it, it it looked much better.

[2017-05-20 14:41] darkowlzz commented on #612
Looks good for good-second-pr 😊 @jonstacks wanna take it?

[2017-05-20 14:43] jonstacks commented on #612
@darkowlzz,

Sure! I'll take it.

[2017-05-20 15:54] #612 closed

[2017-05-21 02:16] sdboyer opened #615 "Prepend Gopkg.lock with comment indicating the file is autogenerated"
To help indicate to users that `Gopkg.lock` is not for humans to edit/is autogenerated, we should prepend the file with a comment indicating as much. This also may [discourage](http://stackoverflow.com/a/740603) hand-editing the file, thereby guiding people more towards the intended `dep` workflow.

This should probably be done in `safewriter.Writer()`, in `txn_writer.go`. I think something like t

[2017-05-21 02:17] #537 closed

[2017-05-21 19:52] sectioneight opened #617 "dep init: pkgtree poisonblack panic due to nil map entry"
**Go Version**
1.8.1

**Architecture**
Darwin x86_64 (Sierra 10.12.4)

I can consistently reproduce this on https://github.com/uber-go/zap@fab453050a7a08c35f31fc5fff6f2dbd962285ab (tip of master at the time of writing):

Running `dep init` with the latest master of `dep` (8bdd9e5cb8e331a8fb505d9c4f62bd58bbac40b3)

[code]

Diving into variables with delve:

[code]

basically, `fromErr` is nil and t

[2017-05-22 01:26] elliots opened #618 "dep ensure: Unable to update checked out version"
The error message is **Unable to update checked out version: error: The following untracked working tree files would be overwritten by checkout**

Tried newer versions of the package, which failed in the same way.

### Gopkg.toml
[code]

### Output

[code]

###  Versions
`go version go1.8 darwin/amd64`
`git version 2.11.0 (Apple Git-81)`
`Darwin thor 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3

[2017-05-22 02:24] sdboyer commented on #617
Yeah I've had this backburnered for a little while - it's the same panic as #607 and #357. As far as I've surmised from previous passes, the actual, data-level problem is that the depth-first traversal logic in `wmToReach()` assumes that there are no "internal" imports of packages that do not exist.

One user-visible way that can arise is if a dependency's `main` is in the `required` list in `Gopk

[2017-05-22 02:24] sdboyer commented on #617
(not that i've decided on exactly what that solution _should_ be just yet 😛 )

[2017-05-22 02:36] sectioneight commented on #617
OK, we should probably just close this as a duplicate then, right? Or leave this open since I added the `dlv` output?

[2017-05-22 02:38] sdboyer commented on #617
I'm fine to leave it open - the dlv output is helpful, but we also need to be cognizant of the different input circumstances that might lead to it occurring. as i'm not immediately clear on how a `dep init` could reach this bug, it seems like something new here 😄

[2017-05-22 02:43] #425 closed

[2017-05-22 03:59] sectioneight opened #619 "Handle gopkg.in semver "-unstable" tags"
Follow up to https://github.com/golang/dep/pull/587#issuecomment-302993042

[2017-05-22 04:00] sectioneight commented on #619
http://semver.org/#spec-item-9

[2017-05-22 05:01] kamilchm commented on #575
I don't mind hidden internals, but at the current state it falls shortly because many of dep top level functions returns `internal/gps` structures, so you need to build all your logic around `dep` in one function to use it without explicit import.
I don't even know how to test such functions when you can't build `dep.Project` without using `gps` imports :( (https://github.com/kamilchm/go2nix/commi

[2017-05-22 05:33] sdboyer commented on #575
Eeek. Yeah, good point. We totally missed that during the move. Thanks for pointing that out, @kamilchm - we really need to get a plan together and sort this out.

[2017-05-22 06:52] kamilchm commented on #575
I thought about it little more and it could be my misuse of `dep`. What I really needed was some easy way to interact with `dep` structures in Go and using it as a library was the easiest way before hidding gps as internal implementation.
But there was and **is** another way to do it - read `Gopkg.toml`/`Gopkg.lock` and treat it as a contract between `dep` and other tools.
What could helps in that

[2017-05-22 15:28] deejross commented on #286
The only issue I have with specifying the `.git` suffix is that is it stores the suffix with everywhere as part of the URL. If it could be removed from the URL and `vcs: git` be placed in the glide.yaml (or the equiv for dep), then would be ideal.

[2017-05-22 15:32] deejross opened #621 "Self-signed certificates"
As mentioned in #286, we use GitHub Enterprise internally and all the certs are generated by an internal CA that is trusted at the user level, but not at the system level, so we currently have to use some git replacement rules to workaround the issue, since most command-line utilities don't recognize the internal CA.

There should be a way to specify an internal CA for SSL/TLS verification, or at

[2017-05-22 15:37] sectioneight commented on #621
I'm also interested in this. We use `code.$COMPANY.internal` which for obvious reasons we can't get a "proper" SSL cert but do have configured to resolve and work via git/ssh. Obviously none of our stuff is go-gettable (which I don't really care about -- we build packages for stuff that's important enough to distribute) but does bother people.

[2017-05-22 16:01] carolynvs commented on #618
When the vendored or local copy of a dependency has been dirtied, in this case with untracked files, I would think that dep shouldn't care, and just repave it with the desired revision?

I dug through `Masterminds/vcs` and didn't find anything that would fix a dirty local copy, e.g. `git reset --hard`. My first guess on how best to fix this was to add a `Reset` function to `Masterminds/vcs`, and t

[2017-05-22 16:40] silasdavis opened #622 "Handling of transitive dependencies and lockfiles"
My apologies if this issue is being/has been addressed elsewhere. I did search and read through design documents linked on readme and I couldn't find it.

I have created an issue that concerns this matter in Glide: https://github.com/Masterminds/glide/issues/479 and if @sdboyer is reading this you may recall we spoke before.

The issue I have is that I have direct deps that use glide and when I wa

[2017-05-22 16:42] carolynvs commented on #225
_throws herself on the grenade_ I'll take a stab at this and try to have something to review by tomorrow.

[2017-05-22 18:14] carolynvs opened #623 "Incorporate SolveMeta into LockDiff"
Currently [LockDiff](https://github.com/golang/dep/blob/0e8607e71ff4542d2592f75fa1d0d69abe5da4fc/internal/gps/lockdiff.go) only compares the memo. but now that #584 has added new metadata fields, the LockDiff should be updated to include them as well. Also we should print "Inputs Digest" instead of "Memo" now that the field has been renamed.

For example:

**Old Gopkg.lock**
[code]

**New Gopkg.lo

[2017-05-22 20:35] sdboyer commented on #621
definitely makes sense. unfortunately, i know essentially nothing about making this work. someone else will have to drive it (though i can guide, ofc).

the general comments i can make are:

1.  we shell out to the underlying vcs for everything we do, so whatever solution we come up with we'll likely have to shoehorn differently for each of the vcs tools.
2. the spot where it may be easy(-er) is f

[2017-05-22 20:48] sdboyer commented on #286
Unfortunately (and confusingly), the problem is only secondarily knowing that it's a git repository. The primary problem is knowing, given an arbitrary path, which element represents the root of the project. Simply indicating `vcs: git` doesn't say anything about where the root is.

While I understand that including the `.git` is unpalatable. Many of the possible cures here are worse than the dise

[2017-05-23 00:49] sdboyer commented on #622
Hi! i definitely remember that issue. Up front, let me note that this issue can really be treated separately from the question of allowing multiple versions. I was still feeling a lot of this out when we discussed last year, and so conflated those things together.

The short answer: preferred versions are alive and well in gps. The details of preferred version' algorithmic behavior are not exactly

[2017-05-23 01:34] elliots commented on #618
I think this may have something to do with the file mode changing. I saw something similar when changing branches on my own repo, with the same files vendored.

[2017-05-23 02:29] #615 closed

[2017-05-23 02:53] sdboyer commented on #618
Hmm...those errors aren't coming out of anything on `GOPATH/src`. They're coming from the repo in the source cache - `GOPATH/pkg/dep/sources/https---github.com-Azure-azure-sdk-for-go`. It appears that somehow, normal checkout operations caused that repo to dirty its working tree. This should not be possible.

My first thought is something like #553. @elliots, could you have a look at that director

[2017-05-23 03:10] #556 closed

[2017-05-23 03:35] sdboyer commented on #609
This is great! I'd say that focusing on refactoring the command structure so that we can have discrete subcommand packages is definitely step one. Let's say this issue is for that specifically, and ignore the rest for now. Because...

Splitting up gps much more than it is right now is likely to be quite a chore, as it relies on package-internal type magic for `Version` and `Constraint` to make all

[2017-05-23 05:19] ahmetb opened #625 "Vendor only the used packages in a dependency repository"
I am trying to figure out how can I make sure I only vendor a particular package from a huge repository my project depends on.

For example consider this simple program with `main.go` and nothing else:

[code]

I then run `dep init` on this directory to initialize Gopkg files. This simple dependency yields in **2,129,065** lines of code to be vendored. Is this by design?

If I use `govendor`/`gode

[2017-05-23 05:22] ahmetb opened #626 "'dep init -h' prints the help message twice"
[code]

[2017-05-23 05:27] ahmetb commented on #625
I just discovered the `dep prune` command which seems to be doing what I want. This made me wonder why is this not the default behavior?

[2017-05-23 09:24] gregory-m commented on #626
Not only init. But any command:
[code]

[2017-05-23 10:42] gregory-m commented on #626
Ok I found it: [cmd/dep/main.go:138](https://github.com/golang/dep/blob/master/cmd/dep/main.go#L138).

Flag will return flag.ErrHelp and print usage if `-h` argument is passed.
So we need to check not only `err !=nil` but also `err != flag.ErrHelp` here.

Will create pull request.

[2017-05-23 13:50] sdboyer opened #628 "Add info on 'metadata' field to example output in Gopkg.toml"
In #506, we added a metadata field to `Gopkg.toml` as a means of providing an official way for systems built on top of dep to add additional information into the system ( 🎉 @freeformz 🎉 ). However, we didn't add information about that field to the example documentation we generate when first writing out the manifest. Let's add that output (to `txn_writer.go`) 😄

[2017-05-23 14:06] sdboyer opened #629 "Add new maintainers for subsystems"
`dep` is moving quickly - quite quickly! - and I can no longer reasonably keep up with the volume of issues and PRs. Fortunately, we've got some wonderfully dedicated and knowledgeable people who have been taking on more and more work within the project. It's time to start formally handing out responsibility for maintainership of subsystems to experienced contributors who are willing to shoulder t

[2017-05-23 14:21] sdboyer commented on #625
I've recently sorta relented on this and have accepted as a TODO making pruning the default. But this whole area gets sticky and complicated if we want to make it _safe_ (which is our primary goal), and is the topic of #120 😄

(Closing as dup)

[2017-05-23 14:21] #625 closed

[2017-05-23 15:09] kron4eg commented on #625
@ahmetb I have small make target `dep`, which makes sure most trash is cleaned :)

[code]

[2017-05-23 15:48] nathanielc commented on #367
I am still getting a panic when `fromErr` is nil.

Here is an updated stack trace:

[code]

Also this patch makes the issue go away:

[code]

I don't get a panic anymore and somehow the `dep ensure` command finishes without any error and does what I expected.

[2017-05-23 16:24] sdboyer commented on #367
Right, we _could_ do that. And I suppose we should, in the short term, just so we don't have the panic here. (So, maybe go ahead with a PR 😄 )

My hesitation to move on it has been because it's not supposed to be possible for that algorithm to have bad data in this way. Actually sitting down and identifying the full set of conditions under which this case occur is the proper fix - but unfortunatel

[2017-05-23 16:27] nathanielc commented on #367
Yeah, I am not suggesting this is a fix, which is why I didn't submit a PR. (I can submit a PR if you think its worth it).

My intent was to add more information to the issue but I suppose it would be more helpful to have commented on the linked issue.

[2017-05-23 16:30] sdboyer commented on #367
Ah, gotcha 👍

Yes, please do submit a PR with that temporary fix. If you could include a `FIXME` notice that it's just a band-aid, then open a follow-up issue as well, that'd be ideal. We don't need to keep a known panic condition open just as a reminder to fix a problem - a ticket will do 😄

[2017-05-23 16:59] sdboyer commented on #170
Closing this out, I don't think this qualifies as an actual bug anymore.

[2017-05-23 16:59] #170 closed

[2017-05-23 17:01] sdboyer commented on #126
This is now (finally) fixed 😄

[2017-05-23 17:01] #126 closed

[2017-05-23 17:02] sdboyer commented on #363
This is fixed now, with the latest semver update.

[2017-05-23 17:02] #363 closed

[2017-05-23 17:03] sdboyer commented on #617
Err whoops, not #357, #351

[2017-05-23 19:32] carolynvs commented on #609
FYI, my mental timeline for this is:

1. finish in-flight init work to avoid bad merges: #500, #589
2. move init into a sub-package
3. move remaining commands into sub-packages
4. finally tackle getting the ensure command to match the new spec

I suggest extracting command implementations into `github.com/golang/dep/<command-name>`, e.g. `github.com/golang/dep/init`. In each sub-package just the c

[2017-05-23 21:15] davecheney opened #632 "internal/fs.IsRegular has a weird API"
fs.IsRegular returns `false` with no error if the file is not found, yet it returns `false` and an error if the file _is_ found, but _is_ a directory.

fs.IsRegular returns `true` if the file is a name pipe, a unix domain socket, a device file (like /dev/null) or a symlink.

This API is wacky and inconsistent, and the callers of it rely on its oddball behaviour.

[2017-05-23 21:17] davecheney commented on #609
init, status, and ensure are bad package names.

On Wed, May 24, 2017 at 5:32 AM, Carolyn Van Slyck <notifications@github.com

[2017-05-23 23:47] sdboyer commented on #609
@davecheney given that we're trying to split these up to maximize clarity for divided maintainership, any suggestions?

@carolynvs this all sounds pretty good to me, though I'll note that ensure is definitely going to need to monkey with params, and will likely also need to do some variable parsing of args.

[2017-05-23 23:49] sdboyer commented on #632
yeah, `fs.IsRegular()` was always slapdash. improvements quite welcome.

[2017-05-24 01:25] #494 closed, assigned to nobody

[2017-05-24 01:40] ahmetb opened #633 "dep prune: panics when Gopkg.lock is deleted"
I just deleted and executed `dep prune` and it panicked:

[code]

[2017-05-24 01:56] sdboyer commented on #633
Eeek! Fortunately, should be a pretty simple fix 😄

[2017-05-24 06:28] davecheney commented on #609
split these up to maximize clarity for divided maintainership, any
suggestions?

I think this may be a mistake. There is no difference, merge wise, between
a directory of files, each holding the code for a single subcommand, and n
directories of files, each holding a single file.

On Wed, May 24, 2017 at 9:47 AM, sam boyer <notifications@github.com> wrote:

[2017-05-24 07:52] djui commented on #474
I tried to roll back the project's history to what I believe it was in at that time, but don't see the crash anymore. Maybe it's implicitly fixed?

I will close this, and if I see it happen again, open up a new one with a reproducible minimal case.

[2017-05-24 07:52] #474 closed

[2017-05-24 09:23] gregory-m commented on #633
I will take it

[2017-05-24 13:02] ibrasho commented on #628
I think we need to wait until we have an implemented use-case to have better examples.

[2017-05-24 14:44] #580 closed

[2017-05-24 15:25] sdboyer commented on #474
Much appreciated. This one truly seems like it should've been impossible, so hopefully we won't hear about this again 😄

[2017-05-24 15:46] sdboyer commented on #609
Ah, our concern wasn't about merges, so much as just having clear boundary lines around who's responsible for what. I suppose we can go file-by-file, at least where necessary.

(Or, just don't worry about drawing such precise lines...)

[2017-05-24 16:35] GlebYaltchik opened #639 "dep init failed with "backtrack: no more versions of github.com/sirupsen/logrus to try""
**Go version**
go version go1.8.2 windows/amd64

**go dep version:**

    Searching GOPATH for projects...
      Using master as constraint for direct dep github.com/sirupsen/logrus
      Locking in master (5e5dc89) for direct dep github.com/sirupsen/logrus
      Using master as constraint for direct dep github.com/spf13/pflag
      Locking in master (c990990) for direct dep github.com/spf13/pflag

[2017-05-24 17:22] sdboyer commented on #639
Thanks for the issue report! It's sad, we weren't seeing these for a while, I wonder if we had a regression recently...

Without running `dep` again, could you `cd $GOPATH/pkg/dep/sources/https---go.googlesource.com-sys`, and report the output of `git show-ref` and `cat .git/HEAD`?

[2017-05-24 17:55] sdboyer commented on #628
The idea behind the metadata table is that it's _not_ for `dep` - it's a way for other systems to piggyback on their own data that `dep` won't complain about, and runs no risk of interfering with any keys we may add later, as `dep` will _never_ put anything in there.

That's our use case, and it's complete - that's what we want to describe in there 😄

[2017-05-24 18:24] ahmetb opened #640 ""dep ensure pkg@^ver" causing "dep prune" to be undone and corrupts the lock file"
So currently I am in a project where I successfully vended many dependencies and ran `dep prune` to eliminate unused packages under `vendor/`.

Now I am trying to add `github.com/pkg/errors` dependency, so I run:

    dep ensure github.com/pkg/errors@^0.8.0

Once this command executes, all unused packages of my already saved dependencies come back, effectively undoing what `dep prune` did.

At thi

[2017-05-24 19:59] sdboyer commented on #640
Ahh, that's a frustrating series of occurrences, I'm sorry 😞. You're hitting on a cluster of several ongoing issues, nearly all of which we have work in-flight to fix.

Right, this is by design, and much of why folks want `prune` to be absorbed into `ensure`.

`dep` treats `vendor` as volatile, discarding and recreating it in its entirety with each `dep ensure` run. And it does so the same way it

[2017-05-24 20:03] ahmetb commented on #640
Thanks for the detailed explanation. It just sounded interesting that `dep ensure <pkg>` would still impact all other packages vendored.

Nope.

[2017-05-24 20:28] sdboyer commented on #640
This is the fundamental nature of the problem - it's not possible to know _a priori_ whether any given dependency, at any given version, will be a disjoint subgraph, or if it will have shared dependencies that require us to look for another solution. That unpredictability is one of the crucial reasons that the search - or at least, our current approach to it - is NP-hard.

Very odd, then. Suggests

[2017-05-25 00:24] davecheney opened #642 "internal/fs.IsDir returns false when directory is not found"
If `fs.IsDir` is called with a path that does not exist (therefor neither a directory, file, socket, symlink, or other) the function returns `false`, and a nil error.

However if the path existed, but is otherwise inaccessible, presumably due to file permission errors, `fs.IsDIr` returns `false`, and a non nil error describing the problem.

These semantics are odd, why should "not found" be treate

[2017-05-25 00:43] sdboyer commented on #642
This was another fs op we threw together without a lot of thought. Our use of it is definitely inconsistent, so I can't really provide a "why" that all current usages comport with.

That said, it's not hard to imagine cases where this distinction is useful. `HasFilepathPrefix()` has a particularly crisp example that utilizes this three-way distinction.

[2017-05-25 00:48] davecheney commented on #642
Again I think this is a case of the calling code adapting to fit the odd behaviour of IsDir and IsRegular. If https://github.com/golang/dep/blob/master/internal/fs/fs.go#L38 treats "not found" differently to another kind of error that logic should be applied on L38, not in the IsDir helper.

In this case it looks like the behaviour grow out of HasFilepathPrefix not (wanting?) to return an error

[2017-05-25 00:57] davecheney commented on #642
Looking at little closer, HasFilepathPrefix treats any error from IsDir as a condition to return false. So why is "not found" treated specially, if it is not handled specially by HasFilepathPrefix?

[2017-05-25 02:51] sdboyer opened #645 "validate-vendor.bash not validating correctly"
In pulling together #644, I noticed that `hack/validate-vendor.bash` isn't working correctly. It currently runs `dep ensure` to check for diffs in `vendor/` against HEAD; the problem is, if the solving inputs are the same for what's in HEAD and what's in `Gopkg.lock`, then it won't actually write `vendor` back out.

With the current command set, there's no way to override this behavior. The new sp

[2017-05-25 07:09] dc0d opened #647 "Specifying Go Version"
It would be helpful to have the ability to specify the version of Go compiler itself too - and maybe also the version of `dep` (should panic or prompt for a `dep` update, pretty much like `pip`).

(I searched the issues and failed to find it; if it got proposed.)

[2017-05-25 08:53] GlebYaltchik commented on #639
**git show-ref:**
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e refs/heads/master
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e refs/remotes/origin/HEAD
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e refs/remotes/origin/master

**cat .git/HEAD**
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e

[2017-05-25 12:35] tomwilkie opened #649 "panic: runtime error: index out of range"
Seen just now in CI, haven't investigated yet:

[code]

https://circleci.com/gh/weaveworks/common/132

[2017-05-25 12:38] sdboyer commented on #649
Definite bad bookkeeping there. Shouldn't be possible to be visiting a dep that isn't depended on by anything.

[2017-05-25 12:40] tomwilkie commented on #649
Its reproducible on CI: https://circleci.com/gh/weaveworks/common/133

But not on my mac...

[2017-05-25 12:41] #645 closed

[2017-05-25 12:43] sdboyer commented on #649
if that's a difference, then the first thing that jumps to mind is import path case sensitivity. i'm not specifically aware of a condition that could result this, but i'm generally aware that this is a problem area for us. any chance you've got some inconsistent casing in your import statements?

[2017-05-25 12:48] sdboyer commented on #639
yeah ok, that definitely suggests that we've got an issue with cache repos not being updated properly.

If you re-attempt `dep init -v`, do you get the same error, or does it go away? Afterwards, please report the output of `git show-ref` and `cat .git/HEAD`.

[2017-05-25 12:52] tomwilkie commented on #649
A quick hack tells me no:

[code]

[2017-05-25 13:29] sdboyer commented on #649
yeah probably not - i mean, this COULD be a thing:

`github.com/weaveworks/common/vendor/github.com/Sirupsen/logrus`

b/c he has changed his username to lowercase, though that really should be all transparent and totally not be relevant here.

without actually looking at the code, i'm stumped 😦

[2017-05-25 13:40] sdboyer commented on #647
hi, welcome, thanks for the issue!

Go versions is #223 - expressed a little differently, so easy to miss 😄

As for `dep` versions, it's possible we may do it in the future via explicitly versioning the Gopkg files. But for now, we're going to try to avoid it, managing it ad hoc by having there only be additions to the file structure, and warn when unrecognized fields are there (which would genera

[2017-05-25 13:40] #647 closed

[2017-05-25 13:41] serussell opened #651 "dep init failing for repositories with sub-directories"
dep master 83e2b6f21f79992c1ea70ca2b898108753aa3768

**Steps to reproduce:**

1. `mkdir $GOPATH/src/foo`
2. `cd $GOPATH/src/foo`
3.
[code]
4. `dep init`

**Expected output:**
`$? == 0`

**Actual output:**
[code]

**More Info**
I believe it is because of the import of a subdirectory; I haven't encountered this error when importing a 3-segment path.

[2017-05-25 13:49] tomwilkie commented on #649
If I go for a lowecase sirupsen, I get a different error:

[code]

https://circleci.com/gh/weaveworks/common/136

And I can do an ensure locally anymore:

[code]

But I guess thats because some of my vendored dependancies depend on the uppercase version, so both are getting pulled in.

[2017-05-25 13:52] serussell opened #652 "Is version required?"
dep 83e2b6f21f79992c1ea70ca2b898108753aa3768

Previous versions of dep did not require a version to be specified in Gopkg.toml.  However, some recent change appears to have made it mandatory in some cases (if the project uses semver tags?).  It doesn't happen for all projects; one difference I've noticed is that it doesn't happen if the imported project does not use tags.  This could be a red herr

[2017-05-25 13:53] sdboyer commented on #649
yeah, that'll definitely do it. i had a long chat with someone in slack about this a while ago, i think we actually came to a reasonable, not-terrible solution. didn't make an issue for it, though 😢

ok, we have to have had a regression, these stale cache errors are suddenly popping up again all over the place.

[2017-05-25 13:53] tomwilkie commented on #649
It does indeed seem to be something wrong with golang.org/x/sys. With verbose ensuring:
[code]

[2017-05-25 13:54] sdboyer commented on #649
arrrrrggghhhh. ok, well, that at least gives us a ballpark. thanks 😄

[2017-05-25 13:59] sdboyer commented on #651
hi, welcome, thanks for the issue report!

I'd guess the problem there is the symlink - `.../prometheus/procfs/self` is a symlink to `.../prometheus/procfs/26231`. If this just started happening, it's likely because we changed/got something wrong with our recent deduplication of copy/rename funcs.

ping @ibrasho 😄

[2017-05-25 14:01] sdboyer commented on #652
Huh. No, that's a significant error, it definitely shouldn't be working that way - not specifying a constraint should be interpreted as "any version is acceptable."

thanks, these repro steps are great 😄

[2017-05-25 14:01] serussell commented on #652
**edit** Replacing `branch = "master"` with `version = "^0.8.0" results in this:
[code]
The package is certainly build-able and usable.  Removing the subdirectory from the package name enables `dep ensure` to work.

So it seems that:
* `dep init` pulls the full import path into the toml, including the subdirectory.  This causes a failure, and causes future `dep ensure`s to fail
* Either prometheus

[2017-05-25 14:03] sdboyer commented on #652
Oh wait, sorry, I misread:

[code]

You can't do this 😄 Constraints have to be specified on the root of a project, not a subpackage.

I'm not sure if we have an issue open about validating this or not, but it's the second or third time I've seen it come up - we definitely need to clarify.

[2017-05-25 14:07] sdboyer commented on #651
note that i can't replicate the bug locally, though - what OS are you running this on?

[2017-05-25 14:07] ibrasho commented on #651
This seems to work with latest `dep`. Could you try updating `github.com/golang/dep`?

@sdboyer We should add a command or flag to print the current version of `dep` (at least the commit hash of HEAD for the build).  This will help in triaging issues.

[2017-05-25 14:08] sdboyer commented on #651
@ibrasho it would help those things, but it has other costs 😢 #209

[2017-05-25 14:09] sdboyer commented on #651
(@serussell also noted the version of dep used at the top - from an hour ago)

[2017-05-25 14:16] #633 closed

[2017-05-25 14:17] ibrasho commented on #651
oh 😞 .. We'll have to wait until we are able to version then.
And I didn't see the commit hash 🤦‍♂️ ...

Dep build from that commit is not reproducing this issue for me on a macOS 10.12.

[2017-05-25 14:28] serussell commented on #651
@ibrasho @sdboyer OS Linux 4.10.13-1-ARCH

[2017-05-25 14:33] serussell commented on #652
@sdboyer Ok, that's fine.  And I was wrong -- `dep init` neither uses the subdirectory _nor_ `branch="master"` in the generated Gopkg.toml, so that's not an issue.  I will close this issue.

Is this documented, and I just missed it?

[2017-05-25 14:33] #652 closed

[2017-05-25 15:17] tomwilkie commented on #649
Okay, if I try and use an older version of golang.org/x/sys, I get:

[code]

[2017-05-25 15:28] tomwilkie commented on #649
And its something about this PR, as master is still ensuring fine: https://circleci.com/gh/weaveworks/common/140

[2017-05-25 15:31] tomwilkie commented on #649
This looks to be the same / related to #639

[2017-05-25 16:06] tomwilkie commented on #649
I've got it to not fail by reverting all my changes to the lock file and just updated grpc: https://github.com/weaveworks/common/pull/37

Hopefully thats helpful.

[2017-05-25 16:41] sdboyer commented on #652
@serussell It's not in the FAQ, at least not as a top-level item; our only other real "docs" right now are the CLI help docs. TBH, I'm not sure if it's called out in there.

Unfortunately, our docs are still scattered right now; for now, it's probably easiest to make a guardrail: validate all the `[[dependencies]]` stanzas and quitting with an informative error if a non-root is specified.

[2017-05-25 16:46] sdboyer commented on #649
Yes, i'm hoping #639 is the same problem. Thanks for all the info - it probably will be helpful, though i can't tackle this right now. Hopefully one of our intrepid contributors can.

This may be difficult to replicate, given that it has to do with stale caches on disk, but we pretty clearly have an issue where local git repos aren't having the latest versions fetched down. #513 was the last place

[2017-05-25 18:18] murphyke commented on #461
Thanks, BTW. You can close this or keep it open as you wish.

[2017-05-25 18:21] serussell commented on #651
I'm also getting this error on ensures, sometimes:
[code]
It is an odd error, isn't it?  It doesn't make any sense to me.  Are both of you on OSX?

Incidentally, go version go1.8 linux/amd64.

[2017-05-25 19:44] GlebYaltchik commented on #639
Repository state before `dep init -v`

`git show-ref`
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e refs/heads/master
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e refs/remotes/origin/HEAD
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e refs/remotes/origin/master

`cat .git/HEAD`
98b5b1e7e80eb60271c8dc4eba6521ec2c3e811e

After `dep init -v` I have got the same error and the same repository state:

`git show-ref`
9

[2017-05-25 19:46] sdboyer commented on #461
gotcha - will close, nothing for us to do here. thanks for the bump 😄

[2017-05-25 19:46] #461 closed

[2017-05-25 20:03] #626 closed

[2017-05-25 20:25] carolynvs commented on #609
I'd just like to see the implementations for the commands be better separated. For example, extracting methods out of the Run functions and moving common functions out of the command's file into someplace where it is more clear that it's shared.

Up to you Sam ultimately, on how you'd like to see things organized/managed. 😃

[2017-05-25 20:33] ibrasho commented on #651
I managed to reproduce this on archlinux. I'll try to debug to see what's causing the issue.

@sdboyer it seems like `os.Open()` (in `fs.copyFile` within `fs.go` L245) returns an error when passed a symlink to a directory on archlinux. I tried this on macOS and Amazon Linux and had no issue, so I'll assume it's only happening on Arch Linux.

Any ideas on how to tackle this?

[2017-05-25 22:32] carolynvs opened #654 "Move default branch logic into an exported function on gps.SourceManager"
PR #500 [adds logic for finding the default branch of a repository](https://github.com/golang/dep/pull/500/files#diff-1f60e44466cca28c176affaf35693ef1R308) to the `deduceConstraint` function. This should be made into a function exposed on [gps.SourceMgr](https://github.com/golang/dep/blob/d5a4f854e4dfbf680a1118f44fe478739950f7a3/internal/gps/source_manager.go#L98), and then added to the [gps.Sourc

[2017-05-25 23:48] sdboyer commented on #651
@ibrasho my oh my, that's fun.

I don't have handy access to an Arch instance (or time to tinker and set one up, sadly), but judging solely from the error above, it would appear that calls to `os.Open()` on Arch are being performed on the referent file, rather than the symlink itself. My approach to this would be:

1. Verify if this is actually what's happening by calling various `os.Open()` on a

[2017-05-26 00:03] sdboyer commented on #609
@carolynvs OK, let's hold off on subpackaging them for now, unless we feel a strong need to do so for functional (as opposed to administrative) reasons.

[2017-05-26 00:55] #609 closed

[2017-05-26 01:25] darasion commented on #248
I think the mirror is important, it can be used as a disaster tolerant cache for something like repository service outage.

[2017-05-26 02:14] sdboyer commented on #248
@darasion if the goal is reliability, then there are still better ways of going about it than this - a central proxy managed by your own organization, for example. If we were to follow the approach outlined in the OP, it would put the responsibility on all team members individually to configure their environments correctly.

Also, we already keep local instances of repositories hidden away; for a

[2017-05-26 08:06] darasion commented on #248
@sdboyer thanks, it seems better that a proxy with caches inside it.

[2017-05-26 11:34] ibrasho commented on #651
Reproduced this on macOS after some tinkering. This bug only occurs when `os.Rename()` fails and it fallback to `fs.renameByCopy`.

`os.Open()` (and `os.OpenFile()`) returns the target of the symlink. (I'm not able to find options to make [open(2)](http://man7.org/linux/man-pages/man2/open.2.html) return the symlink itself.

Anyhow, I found a solution and submitted a PR.

[2017-05-26 12:27] ibrasho commented on #628
Do we need to add anything else? Or should this be closed?

[2017-05-26 20:10] sdboyer opened #659 "Create a Go (dep) constraint calculator"
https://semver.npmjs.com/ exists, and it's great. We should have an equivalent. Not because NIH or vanity, but because there are real differences in the ecosystems:

1. We allow a diversity of constraint types - branches, non-semver tags, revisions
2. There are subtle differences in how compatibility range operators (`~`, `^`, etc.) work, especially with prereleases and below `1.0.0`
3. There's al

[2017-05-26 20:11] sdboyer commented on #659
To be clear, this is a totally standalone project, and would not be at all a part of `dep`. But we've only got the one queue, so until such a project gets rolling, this is a reasonable place to put a ticket 😄

[2017-05-26 23:52] sdboyer commented on #628
ah yes, it's done, thanks 😄

[2017-05-26 23:52] #628 closed

[2017-05-27 03:55] #421 closed

[2017-05-27 03:55] #508 closed

[2017-05-27 03:55] #225 closed

[2017-05-27 03:55] #276 closed

[2017-05-27 03:55] #509 closed

[2017-05-27 04:46] sdboyer commented on #209
File formats are stabilized, `v0.1.0` release is rolled - we can start thinking about this now 😄

[2017-05-27 12:37] marwan-at-work commented on #654
@carolynvs if this is a `good-second-pr` as well, would love to give it a shot 😄

[2017-05-27 13:01] davecheney opened #660 "tip is broken"
@sdboyer https://travis-ci.org/golang/dep/builds

[code]

[2017-05-27 13:01] sdboyer commented on #161
@darkowlzz i think i just merged a PR from you...or there's one in flight...that addresses this?

[2017-05-27 13:03] sdboyer commented on #660
man i know it was late last night, but i coulda sworn i checked this. lol, thanks

[2017-05-27 13:12] sdboyer opened #661 "-update flag to tests should not regenerate `testcase.json`"
The `-update` flag, when passed to `go test`, is supposed to regenerate the "golden" files rather than comparing against them.

However, it's also regenerating `testcase.json` files (and getting the formatting wrong). There's no need for it to do that; when new properties are added to `testcase.json`, they should always work correctly (i.e., be no-ops) with the zero values.

[2017-05-27 13:14] jmank88 commented on #661
I can take this. I was already working on fixing the formatting.

[2017-05-27 13:16] sdboyer opened #662 "Figure out how to cache bzr in travis builds"
`brew install bzr` in travis' OSX builds ends up triggering a `brew update`, which takes multiple minutes. Super annoying. I tried to work around this by utilizing travis' caching features, ultimately settling on this:

[code]

but it's still a problem:

https://travis-ci.org/golang/dep/jobs/236664226

travis is detecting other changes in `/usr/local/bin` (I guess?), and so always uploading a new

[2017-05-27 13:17] sdboyer commented on #661
@jmank88 awesome, thanks!

[2017-05-27 13:18] sdboyer commented on #660
yeah that's really weird - i fixed a few of these in the merge commit, and i thought it included these. i guess they escaped.

should be fixed now - thanks!

[2017-05-27 13:18] #660 closed

[2017-05-27 13:42] darkowlzz commented on #161
@sdboyer nope, I don't see the changes in master. It's #611 .

[2017-05-27 14:09] flibustenet opened #663 "Date of the revisions"
dep status could show the date of the current and last revision of packages. It will help to see how far we are.

[2017-05-27 14:23] flibustenet opened #664 "status empty after change in Gopkg"
First i create Gopkg.tom with
[code]

Then i change to get a revision
[code]
(this revision is just one before master)

Now dep status is empty. It should say that i need to upgrade isn't it ?

After dep ensure, dep status show the current revision.
[code]
I would like to see that the lastest is 2704adc878c21e1329f46f6e56a1c387d788ff94

When i put `branch="master"` dep status is also empty

Hope i

[2017-05-27 18:03] ibrasho commented on #209
Do we have a preferred approach to how versions are marked?
`go get` won't allow users to specify versions. Do we have plans for alternative install methods?

[2017-05-27 18:12] ibrasho commented on #209
I found 2 PRs related to this (I believe there is a third one but I'm not able to relocated it):

#51 uses Make and write version to text file, it prints the version, the commit sha1, `GOOS` & `GOARCH`.
#210 has version as a `const` within the command `.go` file

[2017-05-27 19:00] nmiyake commented on #286
I've read through this issue and #174 , but they both cover a lot (mirroring, rewriting, custom resolvers, etc.) so hard to parse out the exact portion I'm interested in.

Can anyone summarize the current thoughts/issues around the "simple" case of wanting to manage the imports/dependencies of a project that has imports from a private or GHE repository (such as `github.company.com/org/project/gopk

[2017-05-27 20:52] carolynvs commented on #654
@marwan-at-work It is! I'm going to rebase that PR soon, so that link in the PR may stop working but just look for the `deduceConstraint` function.

[2017-05-27 23:51] marwan-at-work commented on #654
@carolynvs sounds good! feel free to assign me : )

[2017-05-28 01:22] carolynvs commented on #654
Issues can only be assigned if you're a member in the github org, but consider yourself assigned! ✨

[2017-05-28 09:45] darkowlzz commented on #664
@flibustenet thanks for reporting.

I think the cause of empty status is same as in #161  and we have a fix for it in #611, which would be landing soon.

Empty `LATEST` appears to be a bug that we need to fix.

[2017-05-28 10:07] gregory-m opened #669 "dep crush on status -dot"
In case status can't output version see https://github.com/golang/dep/issues/664

dep status -dot panics:

[code]

[2017-05-28 10:16] darkowlzz commented on #664
Just to confirm, the empty status issue, I tried reproducing it with #611 and status informs what happens and what is required to be done.

[code]

So we have a fix for it :)

[2017-05-28 10:30] darkowlzz commented on #669
@gregory-m thanks for reporting.

Adding some more info:
I'm able to reproduce it by editing manifest and running ensure, same steps as in #664 .
`-dot` works fine before any manual changes to manifest. Panics after changing and running ensure.

[2017-05-28 10:34] gregory-m commented on #669
I think it good idea to check if version is not null.
Any objections?

[2017-05-28 11:00] darkowlzz commented on #669
@gregory-m yeah, checking for version to be nil and falling back to revision should be good.

Also, when we use revision, maybe we should shorten the revision, at least for the git rev hashes?
Because this
![screen shot 2017-05-28 at 4 22 01 pm](https://cloud.githubusercontent.com/assets/614105/26528162/278819d4-43c2-11e7-8dfb-60c3d19efbd9.png)
would look weird and I don't think people would use t

[2017-05-28 11:42] darkowlzz commented on #664
Regarding the empty `LATEST` in status after running ensure, it seems to be designed to work that way [status.go#L331](https://github.com/golang/dep/blob/master/cmd/dep/status.go#L331).
[code]

Not sure why or what's stopping us from fetching the latest rev when we have rev version.
@sdboyer correct me?

[2017-05-28 15:53] flibustenet commented on #663
Maybe it was already debated but in the same way i'd like to know the date of each project change in the lock file.

[2017-05-28 22:22] nijaru commented on #659
Are you looking for a website and a command line tool?

[2017-05-28 22:57] jmank88 opened #672 "GoDoc and Public API"
There are currently many undocumented, exported members in the top level package `dep` - [GoDoc](https://godoc.org/github.com/golang/dep).

Is there a long term plan for this package's public API?
Was there a design to the current state, or were things just made public as needed by commands?

In its current form, some exported members could use simple comments, others could perhaps be made unexpor

[2017-05-29 00:51] #662 closed

[2017-05-29 04:03] aviau opened #674 "packages are missing"
Hello!

There are missing packages when I use ``dep init``, then ``dep ensure`` and try to build.

Here is how to reproduce:

Create test.go:

[code]

Build it...

[code]

That works!

Now lets vendor my deps:
[code]
and build...

[code]

My Gopkg.toml

[code]

Gopkg.lock:
[code]

It looks like go deps is not downloading github.com/stretchr/objx, which it should.

Note that this package looks like

[2017-05-29 04:11] aviau commented on #674
BTW, is there a workaround for this until it is fixed?

[2017-05-29 06:57] peterbourgon commented on #209
Versions are marked as tags in the repo of the form `vX.Y.Z`.
http://semver.org/

`go get` does not respect versions but `dep ensure` does when it populates
the vendor folder.

On Sat, May 27, 2017 at 8:03 PM, Ibrahim AshShohail <
notifications@github.com> wrote:

[2017-05-29 06:57] peterbourgon commented on #209
Oh, lord, I just realized I answered a question you didn't ask. Please
disregard :facepalm:

On Mon, May 29, 2017 at 8:57 AM, Peter Bourgon <peter@bourgon.org> wrote:

[2017-05-29 08:38] gregory-m commented on #674
You don't use mock package in your code so yep doesn't bring its dependencies.

`./...` in go also mean vendor folder see https://github.com/golang/go/issues/11659

You don't need to build packages in vendor just use `go build  $(go list ./... | grep -v '/vendor/')` to achieve this.

[2017-05-29 14:17] aviau commented on #674
Oh! Thanks for the explanation. Looks like this was discussed to death in the issue you linked!

Cheers :)

[2017-05-29 14:17] #674 closed

[2017-05-29 16:41] sdboyer commented on #674
Though, happily, the meaning of `./...` has been changed in tip: golang/go#19090 😄

[2017-05-29 16:44] sdboyer commented on #669
Yep, shortening would be ideal. Looks like we have the `formatVersion()` func to do that.

[2017-05-29 16:50] gregory-m commented on #669
Ok, I will do it.

[2017-05-29 17:24] sdboyer commented on #659
Ooh. Interesting.

I was definitely picturing a website, but both would be valuable. I suspect they could be structured pretty similarly, and probably reuse code.

[2017-05-29 17:33] ibrasho commented on #209
It's totally ok. 🤣🤣🤣 I can see how you might misunderstand my question. 🤣🤣🤣

[2017-05-29 18:11] kjk opened #675 "Paths on Windows should be compared case-insensitive"
[code]

Notice that the project is in `GOPATH` except `GOPATH` is `c:\...` and filesystem path is `C:\...`.

I fixed it by changing `GOPATH` to match fs name, but:
* this might happen to other people who might have less luck figuring this out
* I assume there might be other scenarios where it breaks

OSX is also case-insensitive by default although might be formatted with case-sensitive version of

[2017-05-29 21:10] sdboyer commented on #675
Thanks for the issue report!

We've actually spent quite a bit of time on this, and have some pretty sophisticated logic in place - see #296 and #395. We must have a regression somewhere, and one not caught by our tests. (Or we never got it right in the first place)

We can't actually go by OS here, as case sensitivity - as you note - is not an OS property, but a filesystem one.

If you could do a

[2017-05-29 21:39] kjk commented on #675
I'm pretty sure that the issue is: https://github.com/golang/dep/blob/master/internal/fs/fs.go#L32 i.e. filepath.VolumeName() is case-sensitive, so it should be sth. like:

[code]

Not actually tested.

[2017-05-29 22:10] ralphg6 commented on #659
https://github.com/Masterminds/semver

[2017-05-29 22:32] sdboyer commented on #675
seems like a good first PR to me - that fix, plus some tests to enforce it 😄

[2017-05-29 22:50] nathany commented on #174
Giving dep v0.1.0 a try with an existing work project. Since the project is hosted on GitHub Enterprise, I knew it wasn't going to work perfectly given this issue and #286.

When running `dep init`, I see the following error:

[code]

In this case myrepo is a reusable package I wrote.

There's nothing tricky about it. This is the remote for that repository:

[code]

There is a 1:1 mapping here --

[2017-05-29 23:20] carolynvs commented on #672
Related issues (none that answer this really good question though): #527 #594 #575. I'd really like for us decide what is exported (and documented) for now, even if we go a different direction in a later milestone.

[2017-05-29 23:52] sdboyer commented on #659
@ralphg6 yes, we depend on that library already.

[2017-05-30 00:25] ibrasho commented on #659
@sdboyer : Do we still have plans for a global package registry like [crates.io](https://crates.io), [npmjs.com](https://npmjs.com) or [packagist.org](https://packagist.org)? Or is this no longer needed? (Just think where this could be hosted...)

[2017-05-30 00:56] sdboyer commented on #659
@ibrasho yes, though still not anytime in the immediate future. A service like this may end up being rolled into that (there are nontrivial issues here with having a `SourceManager` run forever), but the backend part of this, at least, should be such a small thing that there's no reason to wait.

[2017-05-30 03:25] #661 closed

[2017-05-30 12:29] sgoodliff commented on #639
Hi,

I also have a very similar error message

No versions of golang.org/x/sys met constraints:
        master: Unable to update checked out version: fatal: reference is not a tree: b90f89a1e7a9c1f6b918820b3daa7f08488c8594

[2017-05-30 12:55] sdboyer commented on #639
@GlebYaltchik thanks for extra info - that pretty clearly confirms that we have a stale cache issue.

@sgoodliff yep, you're likely running into the same thing.

we should be able to get this fixed this week.

[2017-05-30 12:59] #481 closed

[2017-05-30 14:06] ibrasho commented on #651
@serussell Could you update `dep` an try again?

[2017-05-30 21:04] mikijov commented on #675
@kjk, I am looking for a simple bug to get my feet wet. If you don't mind, I will prepare a PR for this.

[2017-05-30 21:25] kjk commented on #675
@mikijov go for it

[2017-05-30 21:30] nathany commented on #174
Just noticed I wasn't completely honest in my last comment. There is something a bit tricky.

[code]
->
[code]

That could explain it.

[2017-05-30 22:17] nathany opened #679 "workflow: moving from gvt to dep"
## What version of Go are you using (go version)?
## What operating system and processor architecture are you using?

go version go1.8.3 darwin/amd64
dep v0.1.0-ish 7885eaee569e21f6f8ad372ee628ce11b478f556 (Tue May 30)
gvt (Nov 18 2016)

What did you do?

`dep init` an existing project

## What did you expect to see?

Utilizing my old `vendor/manifest` (gvt) to lock things in without a huge diff i

[2017-05-30 22:26] nathany commented on #138
Yes, gvt pulls in whole repos (expect the tests) as @jessfraz stated. I ran into that exact issue in the past and had to manually vendor a subset of the files. Dep is much nicer in that regard 👍
https://github.com/gemnasium/migrate/issues/19#issuecomment-266878587

@dcelasun Can this ticket be closed or are there still outstanding issues? I opened up a new issues, #679, to address smoothing out th

[2017-05-30 22:45] carolynvs commented on #679
@nathany We would like to have init recognize and import config from other tools (see epic #186) but that isn't implemented yet. I'm hoping once #500 is merged, which adds support for importers, someone can tackle gvt. 😀

[2017-05-30 22:52] carolynvs commented on #610
@sdboyer I created the following labels. Let me know what you think, and if I get a 👍 I'll run through and flag existing issues with them.

* area: init
* area: ensure
* area: status
* area: gps
* area: shared

[2017-05-30 23:14] carolynvs commented on #663
When we get packages to use semver, showing the latest version may be be more helpful. I could tell if if the latest has breaking changes (MAJOR), new features (MINOR), or bug fixes/erratta (PATCH).

I'm thinking something like this:

[code]

[2017-05-31 01:00] serussell opened #681 "Confused about version specifications"
I don't know exactly how to interpret this message, resulting from a `dep ensure`:
[code]
`projdep` is being used directly by `proj`; there are no indirect dependencies on `projdep`.

* Is it because of the semantic versioning syntax (all of my bookmarks start with `v`)?
* Is it because I'm using Mercurial bookmarks instead of tags?
* Am I specifying constraints incorrectly?
* I've edited Gopkg.to

[2017-05-31 01:15] serussell commented on #681
I'll answer my own question: I think dep doesn't know about Mercurial bookmarks.  What eventually worked to get the newest version of my dependency was deleting `Godep.*` and `vendor`, and running `dep init` again.

If somebody confirms that dep doesn't support Mercurial bookmarks, I'll close tihs.

[2017-05-31 01:49] sdboyer commented on #663
@carolynvs We have that kind of `LATEST` info now - or is that what you were saying?

I think @flibustenet's request has merit, though. When quickly assessing a project's dependencies, it's often worth knowing how old they are. Versions are one ordering system, time is another - each is useful for different kinds of inferences about a project's relative staleness. Even better when they're combined

[2017-05-31 02:43] carolynvs commented on #663
When I run dep status I don't see a semver in the latest column, just a hash, which doesn't help me see how far behind I am. Am I doing it wrong? 😊

So my suggestion was change latest to a version if available.

[2017-05-31 02:45] nathany commented on #174
If I change my import paths to:
[code]

I saw the following message with `dep init` (dep v0.1.0 0e8607e71ff4542d2592f75fa1d0d69abe5da4fc)

[code]

But then the next time I ran `dep init` it worked! 👍

Not a big fan of having to put `.git` into my import paths though. But to get around that, `dep` would need to know or be told that `github.myorg.com/myorg/myrepo.git` is the repo so that import path

[2017-05-31 03:06] sdboyer commented on #663
Ohhh, I see. Yeah, no, I think that was just more of us being sloppy with the early pass at `status`. Yes, that would definitely be an improvement - though still not obviating the value of a date.

[2017-05-31 03:32] sevenNt commented on #639
Issue was solved after I delete ```$GOPATH/pkg/dep/sources/https---go.googlesource.com-sys``` and  run ```dep ensure -v```.

[2017-05-31 03:32] #567 closed

[2017-05-31 04:44] sdboyer commented on #681
@serussell I _think_ it should work if you constraint on `branch = "v2.1.1"` instead of `version`.

I don't know hg as well as I might like, but when I wrote the implementation, [this description of bookmarks](https://www.mercurial-scm.org/wiki/Bookmarks) suggested that they bear more resemblance to what dep defines to be a branch than a tag - it is very much expected that bookmarks _should_ move.

[2017-05-31 05:07] dcelasun commented on #138
Yep, it looks quite a bit faster to me too.

The problem wasn't about the format, but it still got "fixed" (depending on how you look at it) in another way. As you also realized in #679, `dep` doesn't look into the contents of an existing `vendor` dir, only `GOPATH`.

Since I don't have *any* dependencies under `$GOPATH/src`, `dep` used to generate an empty JSON file. Now, it simply fetches from `

[2017-05-31 05:07] #138 closed

[2017-05-31 09:38] mildred opened #683 "dep init fails with prepare solver: at least one package must be present in the PackageTree"
Running dep init on a repository fails with:

[code]

The error message should be a little more detailed.

the GOPATH contains `/home/mildred/Projects/go:WORKDIR/aws-config-elbv2+/gopath`. All the needed dependencies are located in `/home/mildred/Projects/go` while `WORKDIR/aws-config-elbv2+/gopath` is only containing a symlink `WORKDIR/aws-config-elbv2+/gopath/src/github.com/squarescale/aws-confi

[2017-05-31 09:58] mildred opened #684 "Do not error out when the current directory is a symlink"
Here, we generate an error that is not necessary : https://github.com/golang/dep/blob/5f1783bcb91493e3df082d4049471b6531723525/context.go#L215

There are cases where a repository cannot be cloned in the correct location inside the GOPATH as described in golang/go#20535. In such cases, a solution is to generate a mock gopath with a symlink at the correct gopath location to the repository checkout d

[2017-05-31 10:08] tomwilkie opened #685 "dep prune: lock hash doesn't match"
Happens when I update a single dependancy:

[code]

Goes away if I do a `dep ensure`.

[2017-05-31 10:12] tomwilkie commented on #685
Also of note, I had to go and manually update the cached repo for github.com/weaveworks/common, as I was getting:

[code]

Which looks like #639 again.

[2017-05-31 11:04] sdboyer commented on #685
Hmm, seems like a regression on ensure. We should probably update our test harness to enforce the invariant that commands exit with the same lock inputs hash that it wrote out to the lockfile.

I'm gonna try to find time today to track this down personally, we can't leave it sit.

[2017-05-31 11:05] dahankzter opened #686 "WARNING: Unknown field in manifest: dependencies"
I have this warning when I update dependencies.

[code]

There is validation going on but it seems as though `dependencies` is a known property.
Is this of some concern?

[2017-05-31 11:07] sdboyer commented on #686
hi! we recently updated `Gopkg.toml` and `Gopkg.lock` in a backwards-incompatible way (though we now make a guarantee on the stability of the files). See #644 for info on converting.

[2017-05-31 11:07] #686 closed

[2017-05-31 11:10] sdboyer commented on #138
It's a little more sophisticated than that - https://github.com/golang/dep/blob/master/FAQ.md#how-does-dep-decide-what-version-of-a-dependency-to-use

It may just be that all the dependencies your project has have no tagged semver releases, so master is the best it can do.

Indeed, the solution here is writing a gvt adapter that knows how to translate from gvt's metadata into dep's. We should be a

[2017-05-31 11:16] darkowlzz commented on #610
I like the above **area** labels. I would like to add one more "**area: testing**" or something similar for things that are related to overall tests, integration tests. Or does it makes more sense to put them under **shared**? 🤔 Less number of labels :)

Not exactly related to impacted area labels but maybe it would be helpful to also have general **PR life cycle** process labels to show the **sta

[2017-05-31 11:39] tomwilkie commented on #685
Thanks.  I should have some more time to spend on dep next week I hope.

[2017-05-31 13:17] nullbio opened #687 "dep ensure incredibly slow (5m25s)"
I migrated away from govendor, and this tool is really nice to work with, everything seems really thought out, so thank you for making it. But now let me jump into my problem.

go version go1.8.1 linux/amd64, Ubuntu 16.04 -- 100mbit internet connection.

I realize that you guys are still yet to do a lot of optimization, and I'm not complaining, but would like to know if this is expected behaviour

[2017-05-31 14:17] joegrasse commented on #687
@nullbio did you happen to do this during the github.com outage?

[2017-05-31 14:22] nullbio commented on #687
@joegrasse I'm not sure, I didn't notice any outage. I've just run it again now and it's still taking about the same amount of time. If there was an outage perhaps Github is still experiencing issues? I can try it again tomorrow just to confirm if that helps.

[2017-05-31 14:47] sdboyer commented on #684
hi! welcome, thanks for posting the issues 😄

The error you're identifying is for the specific situation where there's a symlink from one GOPATH, into another GOPATH. It doesn't seem like that's your actual issue, though (I'm not entirely clear from either this issue or the golang/go one you posted); if all you want to do is symlink _into_ a GOPATH, then that is something we aim to support, but we

[2017-05-31 14:50] sdboyer commented on #639
@sevenNt yep, that removes the stale cached repository; it's then automatically re-downloaded. It confirms what we know, though I'm glad you found a temporary solution 😄

[2017-05-31 15:05] sdboyer commented on #610
@carolynvs I think the area labels are mostly good, though I might omit "area: shared", as at least for now, i think we can treat that as implicit - if it's not one of the other areas, then it's shared. That and/or if it's in multiple areas, then apply the label for each of the areas it touches.

To the extent that these labels are supposed to reflect areas of responsibility for subsystem maintain

[2017-05-31 15:14] sdboyer commented on #629
Here's a high-level sketch of what I can picture as independent subsystems. This is arranged as a tree because that's how I think of it - it should not be read as implying or necessitating any particular hierarchy or social power structure.

* dep
  * init
  * ensure
  * status
* gps
  * solver
  * source manager
    * root deduction
    * source/vcs interaction
    * caching
  * pkgtree
  * versi

[2017-05-31 15:24] sdboyer commented on #672
Yeah, we need some real thought around this.

My off-the-cuff thoughts:

1. dep should primarily concern itself with exporting:
    1. Its concrete representations of gps' required types, e.g. `Lock`, `Manifest`, and `ProjectAnalyzer`
    2. Logic for loading up a "project", as dep defines it
    3. Logic for preparing a `gps.SolveParameters` in the same way dep does it (absent CLI arguments)

[2017-05-31 15:25] sdboyer commented on #672
(implicit in the above is that we should re-export gps)

[2017-05-31 15:41] carolynvs commented on #610
Yup, the goal was just to make it easier for various maintainers to keep up with issues in their area. I've removed `area: shared` and will apply the labels today.

[2017-05-31 15:42] sdboyer commented on #687
hi, welcome!

We definitely do 😄 https://github.com/golang/dep/blob/master/FAQ.md#why-is-dep-slow

It's all good - that certainly does strike me as excessively long.

This was also my thought. That these two operations:

Are what took so long is strongly suggestive that there was an issue communicating with github, as both of those operations involve relatively simple reach-out-and-touch that, for

[2017-05-31 15:42] #161 closed

[2017-05-31 16:00] carolynvs commented on #583
Fixed by #596

[2017-05-31 16:00] #583 closed

[2017-05-31 16:05] darkowlzz commented on #664
@sdboyer err... ^ 🙄 ?

[2017-05-31 16:19] darkowlzz commented on #610
Just checked zenhub and 😊 to be able to see more stuff in another dimension (zenhub-github 😬).

[2017-05-31 16:25] carolynvs commented on #610
Closing because it sounds like everyone is happy. 😇

[2017-05-31 16:25] #610 closed

[2017-05-31 16:42] carolynvs commented on #206
Closing now that this has been documented in the [FAQ](https://github.com/golang/dep/blob/master/FAQ.md#dep-deleted-my-files-in-the-vendor-directory).

[2017-05-31 16:42] #206 closed

[2017-05-31 16:51] carolynvs commented on #610
I've done a quick pass through our issues and applied those labels. If I flagged something incorrectly, feel free to tweak!

[2017-05-31 16:56] carolynvs commented on #619
Fixed by #587

[2017-05-31 16:58] sectioneight commented on #619
@carolynvs @sdboyer is this fixed? My PR only handles branches, as Sam pointed out in #587 -- I thought there was more work to be done to handle semver tags with -unstable on them

[2017-05-31 16:59] carolynvs commented on #619
Oops, my mistake! 😊

[2017-05-31 17:26] sdboyer commented on #664
Ahh, I added the extra "fixes", but that is an open question.

[2017-05-31 17:32] sdboyer commented on #664
So the problem with "latest" is that it necessarily assumes some kind of nonbranching forward path from the point we're currently at. Some systems - e.g. svn - always have a linear ordering of revisions, so they can provide this. git, bzr, and hg do not - given only a revision, there could be any number of reachable tip commits from it, because they all construct history as a graph.

semver and br

[2017-05-31 17:33] sdboyer commented on #664
gonna re-close this though, we can deal with it as part of #663 (or another issue)

[2017-05-31 17:33] #664 closed

[2017-05-31 17:34] mikijov commented on #623
Hi. I will make a stab at this.

[2017-05-31 20:04] sdboyer commented on #642
Yeah, I can't argue. Let's clean these up 😄

[2017-05-31 20:33] timtadh opened #691 "Support a glob syntax for `ignored` in `Gopkg.toml`"
I have a research project that has an "examples" directory which has a whole GOPATH inside of it. The research project is a static/dynamic analysis project so the examples directory are example programs. This directory has its own system for managing dependencies outside of the one for the main code base. Right now I have to specify each individual directory inside of my Gopkg.toml to get dep to i

[2017-05-31 20:41] mikijov commented on #623
Hi @carolynvs. I took a look around the code and I think I understand what is being asked. It's not as simple as adding serialization. The biggest work is around gps.Lock interface having no idea about the new SolveMeta data which is in root namespace. I will probably refactor SolveMeta or an interface resembling it into gps, and then I would have to add at least getter for it into gps.Lock. Befor

[2017-06-01 00:21] sdboyer opened #693 "Expose gps.sourceGateway, and a method on gps.SourceManager for getting them"
I'm undecided on whether this is a good idea, but I'm leaning towards 👍 , so posting it.

The `SourceManager` currently hides away access to all of the underlying `sourceGateway` objects to which it delegates responsibility for running requests. We could continue with this model, but it might also be nice to simply make those objects available directly for client interaction, and allow `SourceMana

[2017-06-01 00:53] sdboyer opened #695 "Define model and test matrix for sourceGateway behavior when refs move"
From `sourceGateway.convertToRevision()`:
[code]

We need to:

1. Tease a more formal model out of this
2. Define the reachable states within the model, and how
3. Create a matrix of tests that simulate the reachable states, and ensure their correct operation

This'll be a fair undertaking. It'll also either require #533, or to create `source` mocks. The latter will make it easier to manage, but t

[2017-06-01 01:43] nullbio commented on #687
@sdboyer Thanks Sam. After running it again today it took about 1min 30s. Seems Github was definitely causing problems. Is that more in line with expected values?

[2017-06-01 02:12] dt opened #698 "`dep init` breaks vendor/.git submodule"
**What version of dep are you using?**
[code]
**What did you do?**
`dep init`

**What did you expect to see?**
The changes in my `vendor` dir, which is tracked as its own git repo (submodule) indicated in `git status` (i.e. preserve the content of `vendor/.git`).

**What did you see instead?**
git no longer tracking changes in `vendor` (looks like the new `vendor` dir did *not* preserve `vendor/.g

[2017-06-01 02:59] sdboyer commented on #687
@nullbio sure! for 41 projects, 1m30s seems about right, for the current architecture. once we get our persistent caching regime going, the above solve run on a warm cache should be <1s 😄

(though writing out 41 repos to disk may take another couple seconds)

[2017-06-01 04:14] nullbio commented on #687
@sdboyer Awesome :-) Thanks for making such a cool tool. Looking forward to seeing where you go from here. Take care.

[2017-06-01 04:14] #687 closed

[2017-06-01 04:58] kjk opened #699 "dep ensure: ensure Solve(): No versions of github.com/kjk/siser met constraints"
A repro (on mac, go 1.8.3) using latest (1c168c0d47df7a150c71372b2125e8833f9e63c7) version of dep:

[code]
I get an error:
[code]
Notice that this revision exists: https://github.com/kjk/siser/commit/593a1a6c12ef4c7c33581fbde55a0ce6b85e124d

It fails on other packages as well:
[code]

but most frequently github.com/kjk/siser

Dependency file was created with `dep ensure -u` on a different machine

[2017-06-01 05:51] darkowlzz commented on #698
Thanks for reporting.

I tried to reproduce it and I see the dir with `vendor/.git` is moved to a backup `_vendor-*` directory with `.git/` in it and a new, clean `vendor/` is created. It's a bug.

I remember adding `vendor/.git` preservation code in [`SafeWriter.Write()`](https://github.com/golang/dep/blob/master/txn_writer.go#L357), which used to work, with tests, which are still passing. But af

[2017-06-01 05:57] sdboyer commented on #699
Thanks for the detailed issue! This is the same stale cache issue as #639 rearing its head again. #696 fixes it - I'll probably merge tomorrow morning.

This has come up as a request a couple times, but it's hard to do. For one, command output wouldn't necessarily be well-ordered with respect to the trace output you see above, as we may end up pre-caching a bunch of this stuff. Two is caching itse

[2017-06-01 06:08] kjk commented on #699
Thanks, deleting `$GOPATH/pkg/dep/sources` fixed the issue.

[2017-06-01 11:14] #639 closed

[2017-06-01 11:14] #649 closed

[2017-06-01 11:14] #699 closed

[2017-06-01 15:21] dt opened #701 "`ensure foo@rev` when `foo` already constrained to `rev` with custom source: "reference is not a tree" and "not allowed by constraint""
**What did you do?**

In my Gopkg.toml, I have a constraint that specifies a `source` and a `revision`.
The revision ref is only available on the fork named in the source.

I attempted to run a giant `dep ensure x@a y@b z@c ...`, which included `<the-contained-dependency>@<the-revision-in-constraint>`.

Concretely, [my Gopkg.toml](https://github.com/cockroachdb/cockroach/commit/59d4461ef16ef26681c

[2017-06-01 15:31] dt opened #702 "confusing errors when misusing `required`"
This one was entirely user error, but the error messages were a tad confusing:

I wanted to require several tool deps be vendored despite no direct imports of them. In skimming the comments and FAQ, I saw `required` mentioned in the same list as `[[constraint]]` and `[[override]]` so I initially mistakenly just switched `[[constraint]]` to `[[required]]` and was briefly confused by:
[code]

Once I

[2017-06-01 22:00] serussell commented on #681
I think you're right about that.  However:

1. There can be only one _active_ bookmark on a branch at a time, and only active bookmarks move.  Inactive bookmarks must be manually moved, often with a `--force` keyword.
2. A newly set bookmark becomes the active bookmark, and the previous bookmark is set inactive.  This means:
[code]
3. In the above example, `B` will move with tip until a new bookma

[2017-06-01 22:36] curtisallen commented on #539
now that #547 is closed should this ticket be closed?

[2017-06-01 22:46] mikijov commented on #675
PR is in. Not sure if I should ask someone to review or if they will pick it up automatically.

[2017-06-01 23:05] sdboyer commented on #539
ah yes, thanks!

[2017-06-01 23:05] #539 closed

[2017-06-01 23:20] sdboyer commented on #681
IIIIINTERESTING. 🤔

And we're able to determine if a bookmark is marked as active or inactive, right? If so, I think it might work well to, within gps' taxonomy of these concepts, treat active bookmarks as branches, and inactive bookmarks as versions. This might make for some gotchas when a bookmark is switched from active to inactive, but...still, might be a good approach.

[2017-06-02 01:40] carolynvs commented on #623
@mikijov Sorry, I didn't realize that `SolveMeta` isn't in `gps` and shouldn't have flagged this as a good first PR... 😞

I'll let @sdboyer say if he'd like this refactored.

[2017-06-02 02:35] #698 closed

[2017-06-02 04:02] mikijov commented on #302
I will take a look at this.

[2017-06-02 04:10] rileytg commented on #687
i had similar issues today (~5 min `ensure`), turns out just my bad network. I would think this possible to detect. Any thoughts on warning for slow network tasks?

[2017-06-02 06:11] sdboyer commented on #687
@rileytg how do you envision that working?

my first thought is that it seems like a fair bit of instrumentation work for marginal benefit. even if we tell the user that's what's going on, what would they do with that information that's different than what they already do? it also seems pretty uncharacteristic of CLI tools to try to do adaptive network quality detection and inform the user about i

[2017-06-02 11:40] ellotheth opened #705 "dep ensure fails on subpackage with a revision constraint"
### What version of Go are you using (go version)/operating system and processor architecture?
[code]

### What did you do?

I've been using Glide, and I'm trying to migrate to dep. I don't want to upgrade my dependencies in the project, so I'm using `[[constraint]]` to fix them at the revision specified in my `glide.lock` file.

[code]

### What did you expect to see?

A successful dependency gra

[2017-06-02 11:49] krasi-georgiev opened #706 "Workflow for contributing to a vendored package"
Hi

The vendored packages don't seem to carry the .git metadata from the upstream.

I was wondering workflow do you use when package has a bug and I fix it locally (inside the vednored folder) and want to make a pull request.

[2017-06-02 13:04] jmank88 commented on #672
Any thoughts on whether [func PruneProject](https://godoc.org/github.com/golang/dep#PruneProject) should remain exported?
If exported, then would it make sense as a method? `(*Project) Prune(...)`
If unexported, then the whole thing can move into `cmd/dep/prune.go`. I suspect using `(*pruneCommand) Run()` if possible would be encouraged over calling `PruneProject` directly anyways.

[2017-06-02 14:38] carolynvs commented on #706
Personally I do this:

1. Delete the package from my vendor folder temporarily. I just leave the dep config files alone and don't run `dep ensure` for a bit.
2. Work on the package in my GOPATH so that it's picked up automatically by the go tools.
3. Once my fix is upstream, or I'm ready to vendor my fork, I tweak my manifest to either use the fork by running `dep ensure`, or update to the latest

[2017-06-02 14:40] sdboyer commented on #705
hi, welcome! thanks for the detailed issue 🎉

This is exactly what we're hoping for folks _not_ to do 😢. I thought we had an FAQ entry for this, but apparently not.

When you do this, it turns `Gopkg.toml` into a duplicate of `Gopkg.lock`, and you end up missing out on a lot of the benefit of using dep. Avoiding upgrades should be a matter of not passing `-update` to `dep ensure` - not changing _a

[2017-06-02 15:32] ellotheth commented on #705
Thank you enormously for the comprehensive response. I appreciate your time!

Ok so before this causes anyone a sad, I swear there's method to my madness:

1. My project has a few dependencies that don't use versioning, or that use very limited versioning. My Glide config asks for the `master` branch for these projects, so they're always out of date.
2. I don't want my _Migrate to dep_ task to bec

[2017-06-02 15:56] carolynvs commented on #705
@ellotheth We just merged a feature that will read your glide configuration during `dep init` and use it to generate the `Gopkg.toml` and `Gopkg.lock` files. Is the repo you are working with public? I am interested in testing out how the migration looks for your case.

[2017-06-02 16:03] ellotheth commented on #705
@carolynvs Unfortunately the repo is not public; it's a backend service for WonderNetwork. That said, I'd be happy to test it out and report back!

[2017-06-02 16:32] ellotheth commented on #705
@carolynvs Gist here: https://gist.github.com/ellotheth/e96f8f2c5fdd1b9e09e183970cfb276b. It breaks on the [mgo](http://gopkg.in/mgo.v2) package, maybe because it's expecting semver-compatible versioning?

[2017-06-02 16:44] carolynvs commented on #705
Thanks! I think the problem is that I'm converting "v2" to a semver instead of a branch when importing your glide.yaml. I'll poke around a bit more and see if that's right.

[2017-06-02 19:09] sdboyer commented on #705
Probably is - I think I stumbled across this code last night. One of the main things we have to do with glide is figure out which type a string like that - which COULD be semver, OR a string-literal match to e.g. a branch, should be.

[2017-06-02 20:57] sdboyer commented on #302
@mikijov awesome! a quick pointer - there's already logic in gps that computes ineffectual constraints in more or less the way discussed here - we need to exclude such constraints from input hashing. That logic is in `rootdata. getApplicableConstraints()`: https://github.com/golang/dep/blob/18ebb093e3341a8dd9cd4bf43605360a8abe22a7/internal/gps/rootdata.go#L82

We don't want to surface that whole s

[2017-06-02 21:18] sdboyer commented on #705
@ellotheth

Even this should fall under the same general rubric as what I described above - even if you have to follow a branch, what's in `Gopkg.lock` will almost never change on a `dep ensure`, on adding new dependencies, etc.

It'll normally only change on a `dep ensure -update` - and, once we make the changes to it in #489, typically only if you specifically request that that project be update

[2017-06-02 21:23] sdboyer opened #710 "Detect constraint type when converting from glide"
As discussed in https://github.com/golang/dep/issues/705#issuecomment-305845832, we need to do more work to figure out the right constraint type when looking at a string from glide. (Also relevant: giant discussion in Masterminds/glide#391)

[2017-06-02 22:52] sdboyer commented on #672
We can unexport it - the plan is to shift that behavior more directly into `dep ensure`. See https://github.com/golang/dep/issues/120#issuecomment-299082686.

[2017-06-02 23:07] sdboyer commented on #623
Yeah, this'd be a little more involved, as `SolveMeta` is a layer that dep adds itself. gps is aware of all the constituent parts, but they aren't consolidated in a way where it'd be easy to produce the diff.

Hmm...I think, maybe, we should actually go the opposite direction, and drop the input hash from the diff, so that we're ignoring all the solve meta. That's information people can see in a `

[2017-06-02 23:58] serussell commented on #651
Fixed!  Thanks!  Awesome analysis & turn-around.  You guys rock.

[2017-06-02 23:58] #651 closed

[2017-06-03 00:11] serussell commented on #681
Hi,

I notice only now that in all of my editing, I cut out the part at the top of my reply where I said "You're absolutely right: bookmarks move."  Sorry; my reply came across more strident than I meant it to.

Yes, it is easy to tell which bookmark is active.  I haven't checked to see how you're interacting with Mercurial repositories; however:

From `hg help`:
[code]
And a couple of examples fr

[2017-06-03 10:57] ellotheth commented on #705
@sdboyer

That works once I've got dep into the state I want it, but how do I get to that state?

I'm using Glide to track the `master` branch of `gearman-go`, because it stopped using semantic versions four years ago. Say I did a production deploy three weeks ago, and what was current `master` then is now `master~14`. I want to switch to dep, but I don't want to update my dependency.

I'm using G

[2017-06-03 13:04] sdboyer commented on #705
Ahh, gotcha. i believe that `dep init` (without `-skip-tools` - that would skip the glide converter!) should read your current `glide.yaml` and `glide.lock`, and translate them pretty directly to `Gopkg.toml` and `Gopkg.lock`, respectively. That is, if the SHA1 of `master~14` is recorded in `glide.lock`, it should be translated over to `Gopkg.lock`, and `dep init` shouldn't move it.

[2017-06-03 13:59] mikijov commented on #302
Hi @sdboyer. Thanks for the pointer. I do need a bit more guidance.

a) gps package does not have a way to report warnings. Solution is sanitized from the internal details so I cannot call methonds on it for details of it's run. So I see few ways to do this:
- output to stderr when detecting ineffectuals (yuck)
- expand Solution or Lock interface to contain ineffectual constraints
- expand Solutio

[2017-06-03 14:48] carolynvs commented on #710
I've got this, hoping to work on it this weekend.

[2017-06-04 00:06] rileytg commented on #687
ill buy no b/c scope creep

[2017-06-04 11:32] #675 closed

[2017-06-04 14:23] sdboyer commented on #681
No problem - honestly, I didn't even notice 😄

Cool, then this _might_ be a good idea - though the more I think about the aforementioned gotcha, the more it concerns me.

The spot where we make these decisions is in the hg-specific implementation of [`source.listVersions()`](https://github.com/golang/dep/blob/c36bccf4b8346f1430a10aaddbfd90d29f639ea8/internal/gps/vcs_source.go#L406-L515). Have a lo

[2017-06-04 15:09] darkowlzz commented on #702
@dt thanks for reporting.

I have created #717 to make manifest validation stricter and avoid the confusing errors you got.

Yeah, including a comprehensive example would be better to avoid TOML placement, syntax, issues you faced. I think we might be refactoring the default example text to make it short and simple.

[2017-06-04 16:42] antonmedv opened #718 "Conflict in bin names"
Hi,

Is is possible to rename your bin? 😄  I know it's unlikely, but `dep` bin name already used by this project https://github.com/deployphp/deployer
And it was first (golang/dep first commit at [15 Mar 2016](https://github.com/golang/dep/commit/51d49055235c7e635439ac69c4650556714de37f), deployer first commit at [11 Jul 2013](https://github.com/deployphp/deployer/commit/383572dc3dc8828acde6ef1250

[2017-06-04 19:24] kjk opened #719 "dep doesn't check git remote for new version"
This is on latest mac, using latest dep 6b75d6b4c7f4b29fa3a125369da18ee0d48175eb

Here's what happened:
[code]

Notice that https://github.com/golang/crypto/commit/e1a4589e7d3ea14a3352255d04b6f1a418845e5e does exist.

I fixed it by doing:
[code]

After updating local copy of all dependencies to latest version, `dep ensure` works.

I assume that's because `dep` only checked a local version of `gith

[2017-06-04 20:34] sdboyer commented on #719
Ugh, cases like these should've been resolved with #696.

`go get ./...` can't have helped, because only `dep init` touches GOPATH. With only a single, narrow, not-relevant-here exception, `dep ensure` does not know or care that GOPATH exists. That is:

This kind of check doesn't happen in `dep ensure` - the repository it was reading from was at `$GOPATH/pkg/dep/sources/https---go.googlesource.com

[2017-06-04 20:39] sdboyer commented on #718
Sorry, this isn't possible 😢 . Naming is a hugely difficult process, and renaming even more so. We checked the Go ecosystem, but we just can't be responsible for conflicts in every language ecosystem.

On the plus side, the goal is for `dep` to eventually go away and be absorbed into the `go` toolchain.

[2017-06-04 20:39] #718 closed

[2017-06-04 20:51] kjk commented on #719
My bad, you're right. I checked the history of commands and this is probably outdated dep.

Which brings a separate issue: it should be `go get -u github.com/golang/dep` to install dep, not `go get -u github.com/golang/dep/cmd/dep`

I have an `alias updatedep="go get -u github.com/golang/dep/cmd/dep"` in my `. bash_profile` because I want to be on the latest version.

For quite a while I had the i

[2017-06-04 20:51] #719 closed

[2017-06-04 21:06] sdboyer opened #720 "Replace "bimodal solving" with a better term"
In numerous places, gps refers to its solver as "bimodal." This is a terrible term to use, as it's unhelpful for those who don't know what [multimodal distributions](https://en.wikipedia.org/wiki/Multimodal_distribution) are, and misleading for those who do.

i chose the term quickly and without research after a quick chat conversation more than a year ago, with the idea that it would suggest the

[2017-06-05 03:32] antonmedv commented on #718
👍

[2017-06-05 13:56] sdboyer opened #722 "Make the "example" in Gopkg.toml actual examples; move docs to repo"
The "examples" we generate in `Gopkg.toml` aren't really examples. They're docs. And they're docs in a horribly unreadable form.

We should move those docs into something that actually lives _in_ the dep repository (I guess just an .md file for now), and provide a link to that in what we dump into `Gopkg.toml`. Then, we can strip down what's there to some actual, real examples.

[2017-06-05 14:05] wslulciuc commented on #193
@sdboyer @carolynvs : I'll focus on this issue.

[2017-06-05 14:07] sdboyer commented on #691
Yeah this is super annoying to have to do. I had an issue long ago, sdboyer/gps#88 about doing this (or an equivalent), but never got around to it. I don't think my worries about solver guarantees (which is why I thought it might not be a good idea) hold any water.

[2017-06-05 14:55] dsudia commented on #659
I'm probably not the one to start this but would love to help out with it whenever someone does get it started.

[2017-06-05 18:00] VojtechVitek commented on #625
I'm using .gitignore to avoid unnecessary files in vendor/ directory:

[code]

[2017-06-05 21:31] surfeurX opened #723 "Protobuf repo as a dependency"
Hi,

I have a project with github.com/google/openrtb as a dependency and I'm using `go generate` to generate go code from the protobuf files. I was wondering what's the best solution to handle these kind of dependencies with dep?

Here is the output I receive:
[code]

Thank you.

[2017-06-06 00:02] sdboyer commented on #723
hi, welcome, thanks for the issue!

so, code generation is one of the stickier areas with dep. we don't support any kind of arbitrary code evaluation; the closest thing to a discussion of it has been in #269, pursuant to cgo. for code generation, at least, this is in keeping with how the Go team originally outlined the ideas behind e.g. `go generate` - that's something that the publisher is suppos

[2017-06-06 00:50] bsed commented on #693
[code]

[2017-06-06 01:08] sdboyer commented on #693
@bsed that's a bug I'd love to track down, but it has nothing to do with this issue. Please post a separate issue.

[2017-06-06 01:12] bsed opened #725 "when i execute dep int in windows 10?"
when i execute `dep int`  in windows 10..
[code]

[2017-06-06 01:12] bsed commented on #693
ok.

[2017-06-06 02:23] sdboyer commented on #725
Thanks for posting a separate issue!

We've seen this once before, in #474, not on a windows system. The issue went away there, and I was never able to replicate.

I _have_ to imagine this is some kind of issue with an out-of-order assignment of a value, as the solver avoids pointers in some areas. Because otherwise...this is just weird.

[2017-06-06 02:24] carolynvs commented on #186
Now that the first importer is in, we are ready for brave volunteers to tackle the others!

* #589 is in-progress for godep

Here's how to go about adding support for importing config from another dependency manager during `dep init`:

1. Create an unexported importer struct for the tool in `cmd/dep/toolbinary_importer.go`, e.g. [`glideImporter` in `glide_importer.go`](https://github.com/golang/de

[2017-06-06 02:27] sdboyer commented on #725
Oh. derp. Yes, that's exactly what it is.

[2017-06-06 02:28] bsed commented on #725
thanks~

[2017-06-06 03:10] #725 closed

[2017-06-06 04:31] surfeurX commented on #723
Sounds reasonable to me. Thank you very much for your time :)

[2017-06-06 15:13] VojtechVitek commented on #120
@sdboyer

Does this mean we'll have the default CLI arguments only for the `init` command and then the settings would live in the Gopkg.toml file?

[code]

Or what's your thinking here?

[2017-06-06 15:14] VojtechVitek commented on #120
For anyone interested, I'm using the following .gitignore rules to filter out unnecessary files:
[code]

[2017-06-06 15:39] #348 closed

[2017-06-06 18:32] sdboyer commented on #120
I don't really see a need for flags at all - why add the complexity to `init`? Just manually add settings to `Gopkg.toml` (definitely something along the lines of your example), and subsequent `dep ensure` runs will apply it.

[2017-06-06 18:54] VojtechVitek commented on #120
@sdboyer sounds good, as long as `dep init` writes the default values to the Gopkg.toml file, so I can tweak the settings right away without having to dig deep into golang/dep documentation.

[2017-06-06 19:34] brianstarke opened #728 "Panic when solving dependency that is not in `GOPATH`"
So when running `dep init` and solving for a dependency that I didn't `go get` myself, I *usually* get the following error.  I say *usually* because I ran `dep init` 3 times and then it just worked.  It seems to be unpredictable when it fails.

It bears mentioning that `github.com/labstack/echo` itself uses `dep` (yay!) and both that project and my own reference the offending lib (` github.com/dgr

[2017-06-06 23:00] carolynvs opened #730 "Handle conflicting constraint errors when solving during init"
Sometimes `dep init` may fail because of conflicting constraints found during solve. This will get better once we don't use the GOPATH to set initial constraints but may continue to be an issue.

The init command should recognize when solve failed due to conflicting constraints and do something smart. 😉 For example, if `-gopath` was specified, automatically retry with it turned off, or at least pr

[2017-06-06 23:02] carolynvs commented on #728
Just wanted to say thank you for your persistence in getting this to reproduce with verbose logging, the stacktrace is very helpful! ❤️

[2017-06-07 01:03] alexflint opened #731 "dep init fails in subdir"
If I run `dep init` at the top of my repository (ie `$GOPATH/github.com/xxx/yyy`) then everything works fine. But the repository I'm working in contains mostly c++, and all the Go code actually lives in a subdirectory, so I'd also like `Gopkg.lock`, `Gopkg.toml`, and the `vendor` directory to live under that subdirectory. But if I run `dep init` within that repository then I get a bunch of failed