[2017-03-07 18:48] kardianos commented on #300
@sdboyer Developing golang/dep is a proposal to kill govendor, gvt, etc, many of these have been in development for over a year or more. If the API package is central to dep, then the API package also becomes at least somewhat official. If it is an official API package, we need to be careful not to break API, or carefully version the API.

What I'm proposing is that the API package should be unsta

[2017-03-07 19:03] sdboyer commented on #300
Sure, of course, we're all putting our projects/work on the line here. Sorry, I didn't mean to suggest otherwise - I'm just being honest about my gut reaction to the proposal, and explaining why my judgment about it is clouded.

We're not adhering to that within the `github.com/golang/dep` package itself, right now. Which should be fine, because the dogfood we're eating here - at least, prior to m

[2017-03-07 19:35] thejerf commented on #286
Apologies if this is covered elsewhere; I've had a look around and I couldn't find it.

The two big use cases I have as at least a semi-enterprise user that often seem to be poorly covered for me is:

1. Being able to internally mirror repos and pull from those, even though we still use the "real" URL.
2. Being able to put a patch on top of an external repo for whatever reason (security, integrati

[2017-03-07 19:37] UkiahSmith commented on #119
@flibustenet

`comment="my comment..."`

I am not wild about overloading data to include comments. I can see issues arising where these comments become required data elements, though as a comment they would not appear so. I believe this could lead to confusion and complexity. An example would be a 3rd party tool that uses the comment field to have meaning when it processes the manifest and lock fi

[2017-03-07 20:01] carolynvs commented on #300
`gps` solves an interesting problem and I would hate to see it end up hidden in an internal package that only `dep` can use.

I'm [working on PR](https://github.com/golang/dep/pull/256) right now that crosses the boundary between the two repos. It's a little more work but personally, having them clearly separated reinforced that it's a public interface, so I wasn't tempted to muck about with it wi

[2017-03-07 20:07] kardianos commented on #300
(I'm not suggesting gps be internal for all time, just during primary development.) That's just it, we need to be able to muck with it willy-nilly during this period. That's exactly my point.

[2017-03-07 20:56] nightlyone commented on #291
Please mind things like appengine here, too.

Google Appengine projects that share code with non-appengine projects are notoriously difficult to vendor. This includes having code available in the vendored path for build tags `//+build appengine`  and also `//+build !appengine` along with their dependency chains excluding all the import path hierarchies "appengine" and "appengine_internal".

[2017-03-07 21:17] flibustenet commented on #119
@jrick we should not forget that the best tool for go must also prevent us to abuse of dependencies. I remember that it was in the goal isn't it ?

[2017-03-07 21:41] jrick commented on #119
That's not something the tool can stop you from doing.

[2017-03-07 22:15] goller opened #302 "Report when manifests contain ineffectual constraints"
Hey there... I may have found an issue regarding `ensure` at a revision using master.

After running a `dep ensure` the manifest revision changes but the lock does not.

Here is how to reproduce

[code]

`manifest.json` is:

[code]

and `lock.json` is:

[code]

I was expecting the revision of `github.com/influxdata/influxdb` in `lock.json` to change to `e4628bb69266dbd624dc27d674b52705ce0dcbf2`.

[2017-03-07 23:24] ganglio commented on #274
@sdboyer thanks for fixing it. It does seem to work now.
@jfcorsini I'm using 1.9.1 bit it didn't seem to be that the problem.

[2017-03-08 00:43] Alexendoo opened #303 "Installing not yet used packages"
`go version go1.8 linux/amd64`

I was starting a new project and decided to give dep a whirl, so this experience is from my first moments with the tool

I started with a noop main.go, ran `dep init` which produced an empty lock/manifest which seemed about right, then attempted `dep ensure github.com/gorilla/mux` which gave an error of sorts, with no packages being added to vendor/

[code]

So I at

[2017-03-08 02:12] sdboyer commented on #300
OK, I conferred with other committee members, and they're inclined to move it now, so let's do it. I'll get the remaining PRs finished up, then pull it over.

The big blocker now, then, is migrating the existing issues. I'd _really_ like to avoid doing that by hand, if possible :)

[2017-03-08 03:19] kris-nova commented on #297
+1 to #51 FWIW

Closing for now, it looks like we are waiting on some official releases.

[2017-03-08 03:19] #297 closed

[2017-03-08 03:34] sdboyer commented on #303
Thanks for trying dep, and for providing the feedback!

Yeah, we've been back and forth over this quite a lot. I honestly can't even remember where we've landed right now.

There's an existing mechanism by which we could accomplish the outcome you want pretty easily - see #36. The question has mostly about whether we can do it in a way that won't have weird gotchas for folks, and that won't make t

[2017-03-08 04:10] sdboyer commented on #291
@nightlyone There's some special handling in place for appengine already, but this is a good point, and does remind me...

We need to compile a list of build tag that have some clear, established meaning.

[2017-03-08 04:14] sdboyer commented on #286
@thejerf it is, but no worries :) Have a look around here - https://github.com/golang/dep/issues/174#issuecomment-275805325. The `source` field in the manifest will allow you to individually specify an alternate location from which to pull a given dep. Roughly, an alias.

Doing them as more than one-offs is trickier, as described in the linked comment.

[2017-03-08 04:55] xionglun opened #304 "dep init: panic (vendor/github.com/sdboyer)"
When I use dep init my project with command `dep init`, it panic
[code]

[2017-03-08 05:59] lancehit commented on #286
#148 is one of the main issues I've been running up against using dep in my current project.

[2017-03-08 11:05] gregory-m commented on #290
Ok I found root  case. I don't know if its bug or expected behavior.
dep ensure dons't update dependencies if vendor folder exists.

Consider flowing example:

[code]

Our CI agents checkout source code to the same place in file system and don't remove source code after build,
so if I add vendor to .gitignore, next build can run with vendor directory from previous build and `dep ensure` will not t

[2017-03-08 11:40] sdboyer commented on #304
Thanks for the report! This is a duplicate of #250, so closing.

[2017-03-08 11:42] #304 closed

[2017-03-08 12:56] sdboyer commented on #290
@gregory-m OH - yes, this is a known issue. Sorry, there are so many things floating around that my mind doesn't immediately go to the right thing.

There's a simple (less ideal) solution to this, and a more complicated (more ideal) one.

The simple solution is adding a flag to `ensure` - something like a `-force-vendor`, which unconditionally rebuilds the vendor dir from the lock.

We're a few de

[2017-03-08 13:11] gregory-m commented on #290
@sdboyer no problem. If you can, please add this info to Readme so new users will not fall on same issue again and again.

Good thing, I actually found bug with aufs on our CI kernel.

[2017-03-08 13:22] sdboyer commented on #290
Unfortunately there's still a number of little gotchas like this; I'm not sure that trying to add them to the README would be that effective? But the issue is here now, and I'll update the title for a bit more discoverability.

[2017-03-08 13:24] sdboyer commented on #286
@lancehit #148 is one of those things that we may end up needing to devise an alternate approach for, rather than trying to support it more directly. Not sure yet, but it's possible.

[2017-03-08 15:02] aajtodd commented on #286
Take this all with a grain of salt, I'm still wrapping my head around the Go import model.

We have a SVN monorepo and are looking at how we should structure Go code within it and how imports will work.

I'm curious what support for a monorepo would look like? Could you elaborate?

For example if we have this example monorepo structure:
[code]

How do we get to the desired GOPATH structure:
[code]

[2017-03-08 15:55] kris-nova commented on #304
@xionglun This wouldn't happen to be an open source project that we could use to replicate this with? Trying to replicate now, but having issues finding a reliable way of hitting this.

[2017-03-08 16:14] andreynering opened #306 "Test-only dependencies are not being considered by dep"
In a project one may have dependencies imported only by tests. These dependencies are not being added to `manifest.json`, `lock.json` or to `vendor/` folder. I think most people would expect these deps to be added, too.

Deps' test dependencies don't need to be vendored, only root project's test deps.

[2017-03-08 16:49] steveklabnik commented on #286
@sdboyer hey hey, this isn't exactly about go, but I bet you'd find some of the conversation in https://github.com/rust-lang/rust-roadmap/issues/12 very helpful. We're currently investigating this stuff in rust-land too.

Good luck!

[2017-03-08 17:21] sdboyer commented on #286
@steveklabnik oh man, there's a _wealth_ of useful information there - thanks!

[2017-03-08 18:25] kardianos commented on #300
Issue migration might be assisted with: https://github.com/IQAndreas/github-issues-import or similar.

[2017-03-09 04:00] adg commented on #296
@sdboyer I don't remember this being deprecated, but I can see why it is. The places where we use it were once a simple `strings.HasPrefix` (which is all filepath.HasPrefix does).

We should probably replace such occurrences with our own function that uses filepath.Abs to canonicalize the paths before comparing them.

[2017-03-09 04:08] sdboyer commented on #296
It's just `strings.HasPrefix()` [on unix flavors](https://golang.org/src/path/filepath/path_unix.go?s=710:747#L16), but there's more to it [on windows](https://golang.org/src/path/filepath/path_windows.go?s=1610:1650#L71). But it's that windows impl that seems - I guess? - to be more incorrect.

Either way, yeah, we should write our own implementation.

[2017-03-09 04:08] ankitm123 commented on #296
@adg, @sdboyer, I can work on it this weekend, if it is ok.

[2017-03-09 04:12] adg commented on #296
I'd be very happy if you did! Thank you.

On 9 March 2017 at 15:08, ankitm123 <notifications@github.com> wrote:

[2017-03-09 13:58] xionglun commented on #304
@kris-nova It's **maybe** a GFW problem.
After update `dep` today and use a proxy, it works.
I will test more to figure out the real problem.

[2017-03-09 14:44] quentinmit commented on #286
Grr, GitHub mobile moved the button into where the text field was just as I was tapping, sorry :)

@aajtodd If you have a monorepo, you will do best if you have a single directory that can be checked out into GOPATH. For example, `svn.company.com:8000/trunk/go -> $GOPATH/SRC/go.company.com`. It is greatly confusing when the directory structure in the repo does not match the package structure. (At

[2017-03-09 14:54] aajtodd commented on #286
@quentinmit That's what I was leaning towards. And yes you are correct that it is currently more a bunch of separate repos/projects stored in one place. Not my choice, such is life.

[2017-03-09 20:01] carolynvs opened #308 "Rename the "repo" field in the lock to "source""
Created from: https://github.com/golang/dep/pull/256#issuecomment-284810312

We should rename the `repo` field in the lock to `source`.

[2017-03-09 20:25] daenney commented on #120
Has anyone given any more thought to the licensing issue raised by @sdboyer? Most FOSS licenses that I can think of would be fine with the pruning as long as the original license is retained, as it should fall under the "modify" part of licenses. Does anyone know of any OSI approved license (for software) that would take issue with this?

There are some licenses that require one to state "signific

[2017-03-09 22:42] kardianos commented on #120
@daenney The legal departments I'm aware of don't have a problem with it.

[2017-03-09 23:45] daenney commented on #120
@kardianos Don't have a problem with it? Which it? Could you elaborate?

[2017-03-10 00:32] shendaras opened #309 "Architecture Decision Records"
Hello,

As someone who is interested in this project but hasn't followed it in great detail, I've had trouble determining what the current design looks like.  For example, I was reviewing issues involved with the structure/format of the Manifest file and came away a bit confused.  At one point, it appeared that the ```dep``` command itself was supposed to handle the file programmatically but later

[2017-03-10 02:12] sdboyer commented on #309
Interesting. I hadn't heard about ADRs before.

I completely agree that following the architectural path - generally, knowing what is correct and intended - is difficult. Getting the roadmap together was one important step in getting the project better organized, but is quite orthogonal to the purpose ADRs seem to serve. And I care _tremendously_ about making this a project that [new] folks feel a

[2017-03-10 02:47] sdboyer commented on #302
Ahh, that was the issue.

Constraints specified in `manifest.json` only apply to your _direct_ dependencies. That's by design. The problem right now is that a) we don't tell you that your constraints are ineffectual and b) `dep ensure` is still writing to the manifest.

I'll keep this open (but retitled) as a reminder that we need better feedback about this.

[2017-03-10 02:49] goller commented on #302
@sdboyer Right on.  I worked around this by having my desired version checked out into my go path before running `dep init`.

[2017-03-10 02:52] sdboyer commented on #306
I can't reproduce this. When I add a unique import to a `*_test.go` file and run `dep ensure`, it shows up in both the `lock.json` and `vendor/`.

Could you provide some more detailed steps for reproduction?

[2017-03-10 03:04] #298 closed

[2017-03-10 04:09] sdboyer commented on #282
Closing this now, #287 is merged

[2017-03-10 04:09] #282 closed

[2017-03-10 04:09] sdboyer commented on #255
#265 is done, closing

[2017-03-10 04:09] #255 closed

[2017-03-10 05:28] pksunkara commented on #168
FWIW I like the idea of `dep.json` and `dep.lock` described above.

[2017-03-10 06:01] pksunkara commented on #225
Is this about defaulting to caret while generating the manifest file (during `dep init`) or while generating the lock file (during `dep ensure`)?

[2017-03-10 11:57] sdboyer commented on #225
We already default to inserting a caret when possible with `dep init`. This is about how the manifest is parsed. So, if we encounter this manifest:

[code]

Then we would treat the bare `1.8.0` as actually meaning `^1.8.0`. If users want to specify `1.8.0` and _only_ `1.8.0`, they'd need to put in `=1.8.0`.

[2017-03-10 15:22] UkiahSmith commented on #119
My personal preference is to use TOML for the manifest and lock file format.

I like the simple, direct, and uncluttered nature of the syntax. This is not a technical preference, rather an aesthetic one.

[2017-03-10 16:33] trans opened #311 "Support trailing comparison symbols"
This is a very simple idea:

* `1.0.0+` same as `>= 1.0.0`
* `1.0.0-` same as `< 1.0.0`
* `1.0.0~` same as `~> 1.0.0`

It just allows version constraints to be specified in a bit more natural syntax.

[2017-03-10 17:17] carolynvs opened #312 "Use upstream gps lock diff implementation"
From #256, I implemented lock diffing and thought it may be more appropriate to have it in the `gps` package. At the very least it would remove some workarounds I had to put in because of unexported fields. Though one option is to update `gps` to export those fields and keep the diffing in `dep`.

* `dep.LockDiff struct`, `dep.LockedProjectDiff struct`, `dep.StringDiff struct`. These are the struc

[2017-03-10 17:17] sdboyer commented on #250
Should be fixed upstream - variable shadowing issue. sdboyer/gps#187

[2017-03-10 23:40] tro3 opened #315 "Setting up init test table - don't understand results"
I am working on setting up a table of `init` test cases.  Below are the descriptions of the first three cases, but I am getting results other than I expect.  The table shows my expectation, and afterwards are what I am getting:

Two remote repos:  repo A used in code, and repo A depends on repo B
Remote repo A: has version 2.0.0 and later commit a0196
Remote repo B: has versions 0.8.0, 0.8.1, and

[2017-03-11 03:01] sdboyer commented on #315
First, I should note that we're planning changes to how `init` works. `ensure`, too (and `remove`) is going away. #277

Case 3 is expected, albeit a bit confusing. The init algorithm works by recursively traversing import paths in GOPATH, and picking up versions therein. The key thing there is _recursive_ - when A isn't present in GOPATH, then the algorithm can't recurse through it to discover tha

[2017-03-11 03:38] tro3 commented on #315
Okay.  With the changes coming, maybe it akes more sense to just work on the table for now, rather than coding the tests just yet.  I'll close this issue and the previous two #283, #284, as all would get caught by the proper test suite.  Agreed?

[2017-03-11 04:13] #315 closed

[2017-03-11 04:15] tro3 commented on #283
Holding for upgraded init definition

[2017-03-11 04:15] #283 closed

[2017-03-11 04:15] tro3 commented on #284
Holding for upgraded init definition

[2017-03-11 04:15] #284 closed

[2017-03-11 04:17] sdboyer commented on #315
SGTM

[2017-03-11 15:44] doxxx commented on #250
I just tested the sdboyer/gps#187 fix by running `dep ensure -update github.com/sdboyer/gps` in my `$GOPATH/src/github.com/golang/dep` folder and then `go install`. After that I was able to use `dep init` and various `dep ensure` commands on a project which prior to this was causing this panic every time.

[2017-03-11 19:11] mikegleasonjr commented on #302
I hand edited my `lock.json` for one of my indirect dependency, removed my `./vendor` and re-ran `dep ensure`

[2017-03-11 22:07] raggi commented on #278
Please review the vectors in the TUF papers. We may not be getting into distribution immediately, but in any case, the threat model documented there applies wholesale to users.

[2017-03-11 22:11] raggi commented on #278
I'll also say here, as it's not written down prominently and concisely anywhere:

During the rubygems yaml scare, the only way we asserted user safety in a tenable timeline was by comparison of fast processed content hashes from known trusted mirror data sets. Specifically a number of us had access to write-only and/or older partial data sets that we used to generate md5, sha1, and sha256 of. We g

[2017-03-12 03:23] #145 closed

[2017-03-12 03:25] Justin-Marks commented on #295
@sdboyer I don't follow. Let's say vendor does go away, wouldn't this tool need to be updated to target the new directory? In other words, if you chose to put the manifest/lock inside vendor, and in the future vendor is deprecated, then this tool would need to be updated to target the new directory. If you chose to put the manifest/lock outside vendor, and in the future vendor is deprecated, then

[2017-03-12 04:13] sdboyer commented on #295
@Justin-Marks yes, if we evolve beyond `vendor`, then this tool will certainly need to be updated.

The problem is, what happens with all of those already-released versions of code out there in the wild which use the old structure? Do they become invalid, because we moved the location of the files?

Creating incompatibilities with the structures generated by old tool versions entails creating upgr

[2017-03-12 11:36] tomwilkie opened #318 ""too many open files" when doing `dep init`"
On Mac OS X Sierra, trying it out for [weaveworks/cortex](https://github.com/weaveworks/cortex)

[code]

[2017-03-12 12:08] tomwilkie opened #320 ""failed to set up "", error Unable to retrieve local repo information" when doing `dep ensure -update`"
Mac OS X Seirra.

[code]

I tried deleting some of the repos in the cache:

[code]

But then I got:

[code]

[2017-03-12 12:42] tomwilkie commented on #320
I'm getting the panic no matter what I do now - I've delete everything & re-inited, and I still get:

[code]

[2017-03-12 13:19] tomwilkie commented on #320
I had a bit of a play and got it to run without panicing: https://github.com/golang/dep/compare/master...tomwilkie:hack-it-up?expand=1

Not found the root problem yet.

[2017-03-12 13:30] sdboyer commented on #318
Yeah, OSX has a very low `ulimit -n` by default - 256. I set `ulimit -n 5000` in my .zshrc. Nothin else to do about it, really.

[2017-03-12 13:31] tomwilkie commented on #318
I found the offending Open without a close I think: https://github.com/golang/dep/compare/master...tomwilkie:hack-it-up?expand=1

[2017-03-12 13:35] tomwilkie commented on #318
Heres a PR for just that change: https://github.com/sdboyer/gps/pull/191

[2017-03-12 13:45] sdboyer commented on #320
Ahhh well we totally are leaking file handles there. That's a big derp. Will fix that right now.

I suspect some of this is fixed by sdboyer/gps#187, which we've yet to merge in here just yet. (same bug as #250).

However, this is concerning:

[code]

I need to work on the error formatting there, for sure, but the big question would be what state the local repos were in that they couldn't be read

[2017-03-12 13:47] tomwilkie commented on #320
I've just opened a PR to improve the error reporting: https://github.com/sdboyer/gps/pull/193 (and one for the FD leak)

[2017-03-12 13:50] tomwilkie commented on #320
I think the root cause was poorly configured git ssh keys on my part.  What causes dep to use ssh instead of http?

[2017-03-12 13:54] tomwilkie commented on #320
Okay I see its trying https and ssh...  its being really unreliable for me.

[2017-03-12 13:58] tomwilkie commented on #320
Okay the unreliability is too many fds (I added some more debugging to Mastermind/vcs):

[code]

[2017-03-12 14:03] tomwilkie commented on #320
Opened https://github.com/Masterminds/vcs/pull/67 for more helpful errors from Mastermind.

[2017-03-12 14:08] sdboyer commented on #320
That change isn't strictly necessary - the data's all made accessible via methods. We could add the `Original()` bit to gps' `unwrapVcsErr()`; I think I omitted it initially because it didn't seem to add much, though I don't recall my reasoning now.

[2017-03-12 14:11] sdboyer commented on #318
If that helps, great. I was having problems with open file limits even before that particular bug went in when operating on k8s, though, so it may still be beneficial to raise your `ulimit -n`.

[2017-03-12 14:35] tomwilkie opened #321 "Revision / branch in manifest is ignored"
I need to use a specific version of https://github.com/Azure/azure-sdk-for-go (revision bd73d950fa4440dae889bd9917bff7cef539f86e).

If I run `dep ensure -v github.com/Azure/azure-sdk-for-go@bd73d950fa4440dae889bd9917bff7cef539f86e`, dep selects the latest tagged release:

[code]

The manifest is updated correctly, but the lock file shows this not being honored:

[code]

[2017-03-12 14:46] sdboyer commented on #321
Do any packages in `weaveworks/cortex` import `github.com/Azure/azure-sdk-for-go` directly? If not, that'd be the easiest explanation here - see #302.

If so, then hopefully it's a bug in how we report constraints to gps, not gps itself, because otherwise I did something hairy. Could you dump the results of `dep hash-inputs` to here?

(/cc @kris-nova - looks like there's a counting bug in the trac

[2017-03-12 14:47] tomwilkie commented on #321
They don't, no - its imported transitively by Prometheus.

I made it an override instead, and that seemed to do the trick:

[code]

[code]

Thanks!

[2017-03-12 15:06] sdboyer commented on #321
Yep, that was the backup - an override will do it.

I'm interested more in this case in general, though - what are the circumstances that lead to a situation where you need to use a specific version of a transitive dep? In the simple model, we generally assume that if it's not your direct dependency, you don't have to care about it.

Also, overrides are really a sledgehammer. For this case, it mig

[2017-03-12 15:06] #321 closed

[2017-03-12 17:46] tomwilkie commented on #321
This is a bit of a special case, but cortex uses prometheus as a library, and prometheus has to use a specific version of the azure client library.  The real problem is the azure client library latest version isn't up to date enough if you go by the tags.

[2017-03-12 18:02] sdboyer commented on #321
That doesn't actually sound like a special case at all - it's one of the exact cases we've designed to accommodate. If prometheus had its own manifest that declared its constraint on azure-sdk, then the solve for cortex would incorporate that constraint, and you wouldn't need to do anything.

It looks like prometheus is currently managed with govendor. As discussed in #222, it would be _possible_

[2017-03-12 18:06] tomwilkie commented on #120
We use gvt for vendoring in [weaveworks/cortex](https://github.com/weaveworks/cortes).  Its quite a large project with a lot of dependancies.  I've spent today trying to migrate it to `dep` - see https://github.com/weaveworks/cortex/pull/341.  Problem right now is this brings in more than 3x more code than gvt, even after I've aggressively pruned out all tests and non go code - 3.2m loc vs 900k.

[2017-03-12 18:19] sdboyer commented on #120
@tomwilkie see my earlier response - https://github.com/golang/dep/issues/120#issuecomment-284126173

I do realize that pruning is something people will need to do if they're committing `vendor/`, and even if it doesn't ultimately end up directly in this tool, it will need to exist, and I'd rather keep the discussion close. To keep things fully separated, I'd rather it not be e.g. `dep ensure -pru

[2017-03-12 18:33] tomwilkie commented on #120
Sounds good.  I'll let you know how I get on, can't promise anything soon though.

[2017-03-12 19:07] tomwilkie commented on #321
Ah, very cool.  @juliusv - do you think the prometheus devs would consider moving to dep at some point?

[2017-03-12 19:21] sdboyer commented on #321
I would encourage _no one_ to move to dep until we at least close out #276 😄 manifest and lock will be changing structure, names, formats, and we won't provide an upgrade path.

We're pushing as hard as we can on getting that done, but for now, experimentation and feedback is what we really need to get there.

[2017-03-12 19:37] juliusv commented on #321
@tomwilkie I'm pretty sure we'll move to dep the second it's the officially recommended Go tool for managing dependencies :) Can't wait for this to be standardized in Go-land.

[2017-03-12 19:41] sdboyer commented on #321
@juliusv exactly what i love to hear! 🎉

if you have a chance to test it out and give feedback before then, that'd be awesome, too.

[2017-03-12 20:15] lclarkmichalek commented on #119
I'm going to try and sum up what people are saying about each format, and offer a brief opinion at the bottom of this (sorry, I realise this is an issue that already has far too many opinions).

## JSON

`+` stdlib support
`+` universally understood
`+` simple
`-` suboptimal ergonomics
`-` no comments without hacks

Prior art: npm, elm, probably countless others

## YAML

`-` no stdlib support
`+`

[2017-03-12 20:53] lclarkmichalek commented on #273
How would we feel about adding a basic example to the output of `dep` or `dep -h`. It'd be great for a new user to be able to learn enough to 'get by' from simply running `dep`. I'd suggest something like

[code]

The additions here are:
 - One line description of dep above usage text
    - Answers 'wtf is dep'/users just exploring
    - Copied from output of `go`
 - Examples
    - Answers 'how do

[2017-03-12 21:14] Justin-Marks commented on #295
They would remain valid.

If the structure was vendor/manifest.json and vendor/lock.json, that would be an explicit signal that the package is old and expects to use vendor. Now when vendor is deprecated in favor of x, if the old package was already using x for something else the package would become broken if x is now interpreted as a dependency directory. But because of the explicit vendor direc

[2017-03-13 10:50] tomwilkie commented on #120
Turns out I got to it quicker than I thought...

[2017-03-13 10:57] db47h commented on #168
I usually refrain from writing +1 posts, but I feel that those two points are important enough for an exception. And while we're at it with the KISS approach, for the shared prefix, why not use whatever the tool will end up being named if/when merged. I imagine that at this point, it will be invoked with `go dep ...`, so Dep.json and Dep.lock or Godep.*.

Regarding the location of these files, IMO

[2017-03-13 13:26] peterbourgon opened #323 "dep ensure: must provide a lock in order to write out vendor"
I have [a repo with a manifest and lock](https://github.com/oklog/oklog) and [as part of my CI run](https://github.com/oklog/oklog/blob/master/.travis.yml#L8) I do a plain `dep ensure` from the repo root. Worked great [until it didn't](https://travis-ci.org/oklog/oklog/jobs/210552026), change in the last ~36 hours:

[code]

[2017-03-13 13:32] sdboyer commented on #323
Huh. Weird. Yeah, that's a bug for sure. I bet we missed a path in #256, and/or in the new test harness, too. ping @carolynvs @tro3 - thoughts? 😄

[2017-03-13 13:37] sdboyer commented on #168
Yeah, the tricky thing about the prefix is that our goal is for the name `dep` to disappear - it'll be `go ensure`, not `go dep ensure`. So we don't have an obvious name to use there.

[2017-03-13 13:38] sdboyer commented on #168
I think we've probably had all the necessary thoughts on this topic. I'm going to give this till the end of the week, then we'll make a decision and run with it.

[2017-03-13 13:41] sdboyer commented on #119
That's a great summary @lclarkmichalek, thank you.

I think we've probably had all the necessary thoughts on this topic. I'm going to give this till the end of the week for more discussion, then we'll make a decision and run with it. Time's a-wastin!

[2017-03-13 14:18] carolynvs commented on #323
This is probably related to my PR that was just merged, as it touched the safe writer which is printing that message. Looking now.

[2017-03-13 14:40] tro3 commented on #323
Sounds like a test case should be added to cover this, once found.  The coverage is not expansive right now, as changes in behavior are looming.

[2017-03-13 14:50] carolynvs commented on #323
The test was there but I had misunderstood when both lock and newlock should be set in the tests, so it wasn't correctly testing the scenario.

[2017-03-13 15:36] tj commented on #168
Hmm `go ensure` doesn't sound related to locking packages to me. Sounds like minds are made up but my first thought is that it would be related to checking compile errors or something else.

[2017-03-13 15:48] sdboyer commented on #168
@tj `go` has no sub-subcommands at present, and @rsc has established that he wants to preserve that. So, the actual command names may end up being different (idk, `go dep-ensure`), but that'll be its whole own thing. I'm referring to it as a fixed thing now because we have plenty to deal with before then 😄

[2017-03-13 18:25] sdboyer commented on #300
I'm gonna work on making this happen this week

[2017-03-13 21:05] thefallentree opened #327 "Solver fails, don't understand why"
[code]

The solver compains no usable Go code for something reason I don't understand.  go get works fine

[2017-03-13 21:08] thefallentree commented on #327
nvm, the issue here lays within the code itself.

[2017-03-13 21:08] #327 closed

[2017-03-13 21:49] thefallentree opened #328 "merge overrides sections with “dependencies" constraint by default"
Hi,

I spend quite a while to figure out why my solver insist on choosing broken versions even if I put correct version in the "dependencies" sections already, turns out I need them in the "overrides" section instead, because I don't use them directly in the code, but it was referenced from other code.

So, I think a sane default would be always populate from dependencies.

[2017-03-14 00:30] rasky opened #329 "Avoiding semantic versioning sigils"
TLDR: please avoid semantic versioning sigils in `dep` syntax.

Semantic versioning sigils are extremely confusing. They're based on non-obvious meaning giving to ASCII symbols. Most programmers are not dependency manager geeks and don't remember those by hearth. They will try to make a sense of them, and many times they fail at it, writing wrong constraints, then later bite them.

The confusion i

[2017-03-14 00:41] rasky commented on #329
I want to also add a different thought that wasn't clearly expressed above.

I don't think that (Go) programmers want to declare an intent related to how to default-update the libraries they use. I don't see (Go) programmers thinking something like "ok, let me declare that I want to default-update patch releases of `gorilla/mux`, while for `gorilla/session` I will default-update minor releases`. I

[2017-03-14 07:04] klrkdekira opened #330 "dep init: doesn't recognise symlinked project"
I'm not sure if this is a bug, but fixing this will be a great quality of life improvement.

**What version of Go are you using (go version)?**
go version go1.8 darwin/amd64

**What operating system and processor architecture are you using?**
macOS Sierra 10.12.3 (darwin amd64)

**What did you do?**
**GOPATH** is set at ~/gopath

I was working on a project that accessed via a symlink as provided b

[2017-03-14 11:27] peterbourgon commented on #149
For the record, I find it highly surprising (read: bad) that first-level deps are only in manifest.json conditionally. I expect all first-level deps to be there.

[2017-03-14 11:34] sdboyer commented on #149
Agreed, and that's definitely the plan for the revisited command set - #277

[2017-03-14 12:55] sdboyer commented on #328
Having constraints apply only to direct dependencies is a carefully-calibrated design choice. Doing as you suggest would have [unfortunate, complex side effects](https://gist.github.com/sdboyer/b0813bf2b9dba58a335a85092085472f). Unfortunately, taking this approach does mean, at least while the community is transitioning to the new system, there may be issues with unruly transitive deps, as you're

[2017-03-14 13:42] sdboyer commented on #330
Symlinks are tough - just in general, but also in particular because we have limited wiggle room to deal with them when a) the `go` toolchain already has strong opinions about them and b) we're still so sensitive to GOPATH for naming (e.g. #313).

Still, we have #247 going, which I hope we can merge soon, at least in the spirit of experimentation.

[2017-03-14 16:05] jbrodriguez commented on #277
With regards to this WIP flag for init

```-no-tools: skip searching for metadata files from legacy tools```

Shouldn't the default be to skip and the flag to actually search for legacy tools ?

Eventually there will be no legacy and you'd still need to pass the flag.

[2017-03-14 16:17] carolynvs commented on #328
I was just thinking this morning about where docs for this project could live (as I would love to contribute to them!). What if I created a gh-pages branch and made a small jekyll site that looks somewhat like https://golang.org/cmd/go/?

Then we could then remove the examples from the readme (so there's only one place to look for this stuff) and prominently highlight our doc site (https://golang.

[2017-03-14 16:17] sdboyer commented on #277
@jbrodriguez i was gonna say that that seems like a good comment to make in the doc...then realized i had comments disabled 😛

It shouldn't be necessary to pass `-no-tools`, even if there's no tool metadata available. It should fall through just fine on its own. Might be better if the flag is `-skip-tools`, though; I've updated accordingly.

[2017-03-14 16:36] carolynvs commented on #133
I use an uncommitted Makefile so that I don't forget key steps before submitting a PR. I may not be the only contributor who would appreciate a single command to validate their branch before making making preventable mistakes (like [forgetting to run `go fmt`](https://github.com/golang/dep/pull/319#issuecomment-286357671) or adding a new test file without a license at the top).

[2017-03-14 16:43] sdboyer opened #331 "Create structure for managing docs"
(Inspired by @carolynvs' comment - https://github.com/golang/dep/issues/328#issuecomment-286473944)

We really need more extensive docs for dep than what belongs in CLI helptext. But we also don't want to have that classic problem where the docs and the code gets updated separately, leaving the docs constantly out of date. So, we need two things:

1. A docs generator that can automatically set up

[2017-03-14 16:45] sdboyer commented on #331
maybe this is of some interest to @spf13 😄

[2017-03-14 17:05] thefallentree commented on #328
@sdboyer  If the tool can always figure out what "dependencies" there is in the code, why do we need the section in the manifest then?

[2017-03-14 17:11] sdboyer commented on #328
@thefallentree the tool can figure out what imports there are - what dependences are _required_ - via static analysis. That information is separate from the set of _version constraints_ - that's what the manifest provides.

[2017-03-14 17:12] sdboyer commented on #328
Admittedly, `dependencies` is not the best name for that key, given that it's only specifying rules, not requirements. It wouldn't be a bad idea to change it.

[2017-03-14 21:28] rnijveld commented on #168
An advantage of using `godep.format` (and `godep.lock`) (or their capitalized versions) over `dep[s]?.format` (and `dep[s]?.lock`) would be to allow new users to more quickly identify these files as being related to go code. I would imagine a project containing both `package.json` (npm) and `dep.json` might create some confusion.

Although this might just be an unlucky coincidence of this project

[2017-03-14 22:38] nathany commented on #168
It is interesting point that other package managers have a identifiable names that result in file names like Cargo.toml or yarn.lock. Not sure if "dep" will survive the merger into the go toolchain.

These all sound like good ideas to me:

+ Capitalized to organize with README, separate from source code (like Cargo)
+ ` File.<format>` (human editable) and `File.<lock>`  (machine generated)
+ Root

[2017-03-14 22:39] alex88 opened #332 "Ensure lock issue on docker"
I'm trying to fetch dependencies in a dockerfile to build the project

Locally on OSX it works fine, on docker with this dockerfile

[code]

The `ensure -v` output is

[code]

Any idea?

[2017-03-14 22:47] nathany commented on #168
Personally I rather like the simplicity of `Go.<format>` and `Go.lock`.

Though that may result in things other the dependency constraints finding their way into the `Go.<format>` file. Not sure if that's good or bad.

[2017-03-14 23:02] sdboyer commented on #332
Hello, welcome! Thanks for the issue report.

I wonder if this is just #323 again, despite it (oddly) only occurring within a container. I'm inclined to defer digging further in until we merge #325 (hopefully tonight); then, retest here.

[2017-03-14 23:18] alex88 commented on #332
@sdboyer oh sorry, haven't found that one, anyway, that branch works for me, so I'll close this issue as it's probable because of that issue. Thanks!

[2017-03-14 23:18] #332 closed

[2017-03-15 00:06] tonglil commented on #119
This exploration has also occurred for the Crystal Language:

- https://github.com/crystal-lang/shards/issues/25
- https://github.com/crystal-lang/crystal/issues/1357

[2017-03-15 01:26] nathany commented on #119
Excellent summary @lclarkmichalek.

It may be worth splitting it up between the pros/cons for the user vs. for the implementation. Here are a few more points for consideration.

## On the user side:

JSON
`+` 1st ed. spec http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf

YAML
`-` significant whitespace (the Go language is very specific in choosing not to use significant wh

[2017-03-15 01:35] BurntSushi commented on #119
To clarity: we are on the cusp of 1.0 and I don't foresee any breaking changes or major additions.

cc @mojombo

[2017-03-15 01:40] nathany commented on #119
This may be of interest: [Why does Cargo use toml?](https://users.rust-lang.org/t/why-does-cargo-use-toml/3577).

[2017-03-15 01:57] nathany commented on #119
@lclarkmichalek In my opinion, new users learning a file format shouldn't be weighted heavily against the selection. Here's why:

* dep is based primarily on the import graph, which means the Manifest could be mostly optional (#233), in which case learning the file format could be deferred until later
* at some point users will need to learn the syntax for specifying constraints, how the dep tool

[2017-03-15 02:38] tro3 opened #333 "Create structure for managing e2e tests"
It would be nice to have a standard testcase organization and documentation, to allow the suite to grow in a manageable fashion.  Will submit a PR as a proposal.

[2017-03-15 03:22] chancez commented on #329
My first question for you @rasky, is do you find your self consuming packages/libraries mostly, or do you also write packages and libraries for others to use?

I'm only looking at your github, but it would seem you mostly consume packages.

Being able to express version constraints is most useful for library authors. It isn't about picking a way to "declare intent about how to default-update libra

[2017-03-15 03:24] thefallentree commented on #328
i still dont understand difference between constraint and override.

Can you point me some more discussion about it ?

On Tue, Mar 14, 2017 at 10:12 AM sam boyer <notifications@github.com> wrote:

[2017-03-15 03:37] sdboyer commented on #328
Constraints:

1. Can be declared by any project, yours or a dependency
2. Apply only to direct dependencies of the project declaring the constraint
2. Must not conflict with the constraints declared in any other project's manifest

Overrides:

1. Can be declared only by the current/your project
2. Apply globally, to direct and transitive dependencies
3. Supercede constraints declared in all manife

[2017-03-15 05:15] shabbyrobe opened #335 "dep vendors the entirety of golang.org/x/net when the only dependency is x/net/websocket"
I decided to give the tyres of `dep` a bit of a kick and ran into a bit of a headache. I'm using `go1.8 linux/amd64`. To demonstrate the problem I'm having with my real project, I created a simple package with the following source:

[code]

Once I run `dep init` in the project's directory, I get a whole stack of stuff nobody asked for:

[code]

I would expect to only see `x/net/websocket` in the v

[2017-03-15 06:08] sdboyer commented on #335
Hi, welcome! Thanks for giving dep a try, and for writing such a detailed report! 🎉

This is the pruning problem, and is definitely a known issue. There's a lot of discussion over in #120. Short version: we have all the information on hand that's needed to prune, but doing so poses safety concerns in the general case. But we understand it's important, and do intend to have some kind of solution -

[2017-03-15 06:08] #335 closed

[2017-03-15 06:18] shabbyrobe commented on #335
Oh damn, I did try searching for this in the issues but I guess I didn't hit on the correct terms. Sorry to waste your time!

[2017-03-15 06:48] mingrammer commented on #330
I have a same problem

[2017-03-15 12:28] sdboyer commented on #335
No worries!

[2017-03-15 14:02] gregory-m commented on #323
Any plans on fixing this.
BWT the bug was introduced in e43a3b8.

Also can you please collaborate on you bug fixing policy.

I fully understand its Alpha and I'am using it on my own risk.
But on other hand this bug broke CI for 2 days for all people who volunteered to test dep on their CI environments.

Thanks.

[2017-03-15 14:24] carolynvs commented on #323
The fix is being worked on in this PR: https://github.com/golang/dep/pull/325.

[2017-03-15 15:33] titanous commented on #278
A big +1 to TUF. It's worth noting that we already have a [Go implementation](https://github.com/flynn/go-tuf) and sorting out the CLA/licensing for the existing code would not be an issue if there is interest in bring it upstream.

[2017-03-15 16:14] sdboyer commented on #278
Ah yes, TUF - I read the spec last fall, but hadn't revisited it yet. As @raggi noted, the issue with TUF is it's designed around the idea of having upstream code repositories. That puts it out of our reach, at least until we get into building code hosting services, a la discussion in #174.

Until then, the best we can do is try to cover the vectors they describe as best we can, and try to aim our

[2017-03-15 17:26] sdboyer commented on #323
@gregory-m at this point, you absolutely shouldn't be relying on dep for anything in real, production infrastructure. What we're asking people for is to test drive it - attempt initial conversions, build out an alternate pipeline in their CI infrastructure, etc.

While we obviously have no _intention_ of breaking tip, or leaving it that way for any extended period, we also need to not be unduly af

[2017-03-15 19:07] gregory-m commented on #323
@sdboyer Thanks.

Will commit vendor, and create separate build to continue report bugs.

[2017-03-15 19:29] RobinGeuze opened #336 "Dep ensure/init seem to miss certain dependencies"
When including github.com/Shopify/sarama dep ensure/init seem to miss the dependency github.com/stathat/go which is included in github.com/rcrowley/go-metrics/stathat/stathat.go.

Result of dep ensure -v
[code]

[2017-03-15 19:41] sdboyer commented on #336
Hello, welcome! 🎉 🎉

We're working on adding a bit to these messages that would allow us to tell just by reading them, so I had to confirm, but...yep - as of this writing, at master, `github.com/Shopify/sarama` (and sub-packages) imports `github.com/rcrowley/go-metrics`, but none import `github.com/rcrowley/go-metrics/stathat`.

Which means, this is working as intended. Even though the _project_ `

[2017-03-15 19:41] #336 closed

[2017-03-15 19:46] RobinGeuze commented on #336
Right, I was stupidly using go build kafkatest/... which threw an error (obviously) while I should have just use go build kafkatest. Sorry for the confusion.

[2017-03-16 03:15] nathany commented on #168
To leave open the possibility of backwards incompatible syntax changes, maybe the filenames decided here shouldn't be the final names. It's either that or versioning the Manifest syntax  😵 (as with Vagrantfile).

[2017-03-16 04:13] nathany commented on #119
To give a feel of ergonomics, compare JSON to TOML:

[code]

TOML with an inline table:

[code]

Or a simplified form (something like [Cargo.toml](https://github.com/rust-lang/cargo/blob/master/Cargo.toml))

[code]

By relying on the import graph and good defaults, the constraints could be simplified even further.

[2017-03-16 08:20] mibk commented on #119
Could this simplified JSON manifest be also considered?

[code]

[2017-03-16 08:30] willfaught commented on #119
To be fair for all three formats:

TOML:
[code]
JSON:
[code]
YAML:
[code]

YAML is the most concise, readable, and "ergonomic", IMO. Just look at it! So pretty. ;)

Technically, YAML is a superset of JSON, so if you pick YAML, you also get JSON.

[2017-03-16 09:53] Kegsay commented on #119
This is not "technically" true at all. There are a few differences, only one of which is practically relevant in Go-land: **tabs**. This is a valid JSON file:
[code]
Because [the JSON spec](http://json.org/) says:

This is "technically" NOT valid YAML because [the YAML spec](http://yaml.org/spec/1.2/spec.html#id2777534) *explicitly* disallows tabs:

That all being said, in practice a lot of YAML p

[2017-03-16 13:08] flibustenet commented on #119
Theses last examples doesn't show more parameters for each dependency.

[2017-03-16 13:14] nathany commented on #119
An HCL example would be nice too.

[2017-03-16 14:30] UkiahSmith commented on #119
From the thread on why Cargo uses TOML.

[They are discussing the complex nature of the YAML specification.](https://users.rust-lang.org/t/why-does-cargo-use-toml/3577/17)

Then go on to say.

I agree with this sentiment. I feel a format such as TOML or HCL is less complex, and could prevent unforeseen issues in the future.

I wish HCL had a more formal spec, and a larger community of support arou

[2017-03-16 19:39] willfaught commented on #119
Kegsay:

From http://www.yaml.org/spec/1.2/spec.html:

with JSON as an official subset.

It's technically a superset, at least as of v1.2.

Even if it wasn't, in most cases they are compatible, as you pointed out,
so I think the point still stands.

On Thu, Mar 16, 2017 at 7:30 AM Ukiah Smith <notifications@github.com>
wrote:

[2017-03-16 23:26] sdboyer commented on #300
OK so, after reading around about licensing, I'm now more confused than when I started.

Does anyone understand what the necessary steps are, license-wise, to moving gps into dep directly? @adg?

[2017-03-17 02:41] chrrrles commented on #226
Strongly prefer b) -- #227 adds `rm -rf vendor` steps to my life.  It would be nice to disable this behaviour on the command line.  For my own interest, are there links to discussions and background for this change?

[2017-03-17 07:05] chrrrles commented on #320
MacOs El Capitan, and getting the same errors but only in docker builds:
[code]

[2017-03-17 11:24] sdboyer commented on #226
@chrrrles In what way does a) add `rm -rf vendor` steps to your life? If there's an existing `vendor/` directory, the tool removes it before populating a new one. Unless you're using some workflow where you actively _don't_ want `vendor/` to be populated...?

[2017-03-17 11:56] azr commented on #119
Can't it be a simple golang slice ?

[code]

It can be dumped to json or just parsed then

[2017-03-17 12:55] sdboyer commented on #119
@azr no - please see earlier parts of the discussion related to using an actual `.go` file.

[2017-03-17 13:52] nathany commented on #119
@willfaught HCL is also compatible with JSON.

Is that an advantage or disadvantage? It would be great for a tool transitioning from one format to another, but for dep, it can be clean break.

Sure, people who are more familiar with JSON could use that syntax instead, but is that a good thing?

It makes the format more complex. There is more than one way to do it. There is an extra burden for deve

[2017-03-17 14:02] azr commented on #119
@sdboyer Ah sorry, I only saw the first "kinda .go" proposal not the second one but I still think it was ruled out a bit fast, and with not such certainty.
And I think it's just being ruled out because its looks too creative/out of the box thinking.
As far as I can tell the arguments against a .go/executable file are:

-> well, go is go and we would not have to JSON

-> a generated lock file could

[2017-03-17 14:07] sdboyer commented on #119
I'm sorry, but no, it's been definitively ruled out.

[2017-03-17 14:52] tro3 commented on #333
Holding off until new spec more stable

[2017-03-17 14:52] #333 closed

[2017-03-17 16:42] Niondir commented on #168
docker-compose files are also versioned. But I see this more as something to add when we fail on backwards compatibility one day. Which will hopefully never happen.

Another reason for not putting stuff into `/vendor` is that a) it's hard to find and b) stuff like `rm -rf /vendor && dep ensure` gets much easier when the directory is clean. I would like to see the file next to `package.json` and pe

[2017-03-17 17:16] mcandre opened #337 ""See the help text" ...where exactly?"
Please insert a functioning GFM hyperlink to the actual "help text", in the README, where it says

So that users can more easily find out the important how-to steps of dep, such as the right syntax for dep specs.

[2017-03-17 17:23] jessfraz commented on #337
this is a reference to the help text of each commands output, it would be
hard to link to just one, since this is a prototype tool we thought it
easier to say just that. I can understand how this might be confusing but
it's going to be hard to keep any documentation up to date (which is worse
imo) until we come to a consensus on various functionalities. at least
currently we can keep the help text

[2017-03-17 17:29] mcandre opened #338 "Support for special "Development Dependencies" section"
NPM and RubyGems support "developer dependencies", for things like linters and transpilers, that are not necessary at application runtime, but are helpful for developing the app.

This turns out to be really helpful for:

* Clarifying dev tool dependencies, so the user isn't left guessing how to setup a project's dev environment. We're no longer in the '80s, where a random project online could be

[2017-03-17 18:08] jstemmer commented on #338
There's some discussion around this in #221

[2017-03-17 18:18] sdboyer commented on #338
Quite reasonable requests - and thanks @jstemmer, you beat me to it :) Yup, I'd say that issue covers everything here, so marking this as a duplicate.

[2017-03-17 18:18] #338 closed

[2017-03-17 18:19] willfaught commented on #119
@nathany:

Forgot about HCL. Added an HCL example (at least, to the best of my understanding) to my post above. :)

It's an advantage. JSON is great for program reading and writing, but not ideal for humans. YAML is great for humans, but not ideal for program reading and writing. Supporting both with equivalent formats has the most flexibility, allowing both humans and programs to easily read and

[2017-03-17 22:00] nathany commented on #119
Thanks for adding the HCL example. I was having trouble coming up with what it would look like.

Installing and running https://github.com/fatih/hclfmt reported some errors until I quoted all the keys and values like so:

[code]
As @flibustenet [pointed out](https://github.com/golang/dep/issues/119#issuecomment-287051059), we should consider what multiple parameters would look like.

The following

[2017-03-17 22:32] nathany commented on #119
YAML has an [inline hash](http://yaml.org/YAML_for_ruby.html#simple_inline_hash) so it could look like this:

[code]

[2017-03-17 22:48] nathany commented on #119
@willfaught I agree that YAML has a nice aesthetic. The use of colons for `key: value` mappings is even reminiscent of composite literals.

Personally, any of HCL, TOML, YAML would be fine with me.
`+` comments
`+` one line per dependency for diffs and merging (JSON is adverse to extra trailing commas)
`+` readable/ergonomics

YAML is the most mature, but there are a few strikes against it too --

[2017-03-18 04:05] willfaught commented on #119
Re: whitespace:

Code is different than config. It's copied, rewritten, transformed, edited,
etc. a lot. I don't think anyone would be working with dep config that way.
Do you foresee there being deep nesting in the config?

Re: complexity:

You don't need to read the full spec to learn YAML, and the YAML dep would
be writing would be pretty simple, I think.

My understanding of the YAML-related R

[2017-03-19 19:07] spf13 commented on #331
I am interested. What did you have in mind @samboyer?
On Tue, Mar 14, 2017 at 12:45 PM sam boyer <notifications@github.com> wrote:

[2017-03-20 14:45] sdboyer commented on #119
🔨 🔨 🔨  _(why is there no gavel emoji)_

We're going to go with TOML. 😄

As I think discussion of their various characteristics here has demonstrated, there's no clear winner between YAML, TOML, or HCL in the general case. I say "various characteristics" to emphasize that I'm not talking about personal views (my view: "all formats are terrible and I will hate them at least sometimes - life sucks, b

[2017-03-20 14:55] carolynvs commented on #119
If it's okay, I have time this week to jump over to TOML.

[2017-03-20 14:55] willfaught commented on #119
Can't HCL also be non-structured?

foo bar {
  baz = 42
}

etc. HCL at least can be both, but TOML can't:

foo bar {
  baz = 42
  boz {
    foo = 101
  }
}

You get the best of both worlds.

On Mon, Mar 20, 2017 at 7:45 AM sam boyer <notifications@github.com> wrote:

[2017-03-20 14:58] sdboyer commented on #119
@willfaught decision's made - let's move on, please.

[2017-03-20 15:01] sdboyer commented on #119
@carolynvs absolutely!

[2017-03-20 15:16] sdboyer commented on #119
Actually, let's maybe start from https://github.com/pelletier/go-toml to avoid dealing with the WTFPL right now. Or, another one. Honestly, idc, I'm just trying to make suggestions to break logjams before they happen 😄

[2017-03-20 15:18] carolynvs commented on #119
I don't have strong feels the TOML library, happy to use whichever you prefer. I've never run into the WTFPL though. 😃 I'll give `go-toml` a try first.

[2017-03-20 15:44] sdboyer commented on #323
@gregory-m that's the best response i could've hoped for from that - thank you! keeping a build pipeline open on the side is tremendously helpful to our efforts here. 🎉 🎉

[2017-03-20 16:12] #323 closed

[2017-03-20 16:19] rucuriousyet commented on #119
What about HCL? I know this has been mentioned before. Given that it has JSON interop, you could also allow certain JSON producing scripts as an alternative. For example, dep would recognize that the man file has a .go, .rb or .py extension. When those extensions are recognized, dep runs the file and collects the output as JSON etc.

[2017-03-20 16:22] sdboyer commented on #331
@spf13 oh, that's great! 🎉

I don't have a lot of thoughts yet about how to organize the docs themselves, or what all should be in them. For now, I think the big thing right now is just setting up a mechanism for automatically generating them from (I'd imagine) markdown files in a subdirectory, and then maybe pushing them back to a `gh-pages` branch. That way we can ensure they're updated as the p

[2017-03-20 16:22] sdboyer commented on #119
@rucuriousyet decision's made - let's move on, please.

[2017-03-20 16:24] rucuriousyet commented on #119
Please close the issue then... theres so much content here I didn't notice...

[2017-03-20 16:26] spf13 commented on #331
Yes.
Hugo is very commonly used in this manner and there's a few good tutorials
how to set that up on the Hugo site.

Another set of hosting options are netlify, Google Cloud or AWS which IMHO
are all better than Github pages.
The Hugo project uses a docs subdirectory and builds the site out of that.
It has the advantage of always being in sync with the releases.

Let me know how I can help. I'm h

[2017-03-20 16:27] sdboyer commented on #119
Fair enough - I've updated the issue title and OP accordingly.

I'm keeping the issue open, though, because we still need to actually _do_ it 😄

[2017-03-20 16:27] bep commented on #119
TOML is a great choice!

But I want to chime in that we switched from `BurntSushi/toml` to `go-toml` in some of the @spf13 projects at one point, after a big license debate. `go-toml` have had some issues, but the maintainer is pretty responsive, and the bugs seem to have been ironed out.

[2017-03-20 16:30] sdboyer commented on #119
@bep it's good to get some direct feedback on that, thank you!

[2017-03-20 16:34] sdboyer commented on #331
Great! Right now we're long on well-defined work to do, and short on people/time to actually do it. IMO, the most helpful thing right now would be just _doing_ that setup.

[2017-03-20 17:05] vbmade2000 commented on #308
@carolynvs I think we can close this issue.

[2017-03-20 17:21] #308 closed

[2017-03-20 18:03] sdboyer commented on #273
@lclarkmichalek i'm so sorry, i totally neglected to respond to this 😢 - yes, I think adding examples would be a great idea. Are you volunteering? 😄 😄 😄

[2017-03-20 18:10] zombiezen opened #340 "Test-only dependencies are added to manifest.json"
I would like dep to treat my test-only dependencies differently than other dependencies.  My use case is: I'm publishing a library and that library's tests depend on [godebug](https://github.com/kylelemons/godebug).  I don't want to bloat the vendor directory of projects that import my library, since I don't use it in the implementation, but it seems wrong to list them in my manifest.json.  Is thi

[2017-03-20 18:38] sdboyer commented on #340
Hi, thanks for the issue!

This is definitely not a situation we'd want to have happen - unnecessary `vendor` bloat in dependees. Happily, though, we're already there. Unlike other comparable systems (npm, cargo, bundler, etc.), having a dependency listed in the manifest does not guarantee its presence in the result (lock or vendor). The real import graph decides what must be present; what's in th

[2017-03-20 18:38] #340 closed

[2017-03-20 19:12] brianf commented on #286
To properly work inside an enterprise env, the system needs to allow the insertion of an enterprise repository for internally hosted as well as proxied content. It should be easy for a developer in this env to be able to direct all outbound requests to their internal repository similar to the Maven mirrorOf directive. This is mentioned to contrast other ecosystems like bower and npm where the meta

[2017-03-20 19:16] brianf commented on #286
I'm not completely up to speed on all the details of how the dependencies are declared, but having a good namespace scheme is also critical. I wrote a bit on my observations with npm to try and help the Jigsaw JSR not repeat the same mistakes. It's really applicable to any packaging system: http://www.sonatype.org/nexus/2017/01/23/advice-for-jigsaw-regarding-auto-modules/

[2017-03-20 19:29] tro3 commented on #119
@carolynvs - I'm happy to help here, if you want to take the lead on the conversion.  Just let me know.

[2017-03-20 19:46] lclarkmichalek commented on #273
Of course I am: https://github.com/golang/dep/pull/341 :)

[2017-03-20 19:59] carolynvs commented on #119
@tro3 I'm working on marshaling to TOML right now, using go-toml. Once I have something worth looking at, I'll start a WIP PR.

[2017-03-20 20:26] tro3 commented on #119
Okay. If there are any subtasks you want me to take on, just let me know.

[2017-03-20 22:01] DarthHater commented on #286
Agree with @brianf on a number of points (file under not very surprising):

For go dep to work "well" in an Enterprise I would hope that it has taken into account:
* A solid coordinate system
    * This likely means for Go that you can specify name, version and architecture, group would be good too (to avoid name collisions in your distant future, that way multiple people or orgs can create a 'jso

[2017-03-21 06:16] domgreen commented on #119
Also happy to help on sub tasks 👍

[2017-03-21 07:33] zacps commented on #296
@ankitm123 Are you still working on this? I might take a look at it if you don't have time.

[2017-03-21 07:51] zacps commented on #264
I'll take a look at this on the weekend. The ways I can think of are:
* Replace with SSH
* Prompt (using requires letting git prompt from the terminal)
* Configuration (either through git config or our own)
* Require SSH for private repos (looks like other tools, like _cargo_, do this)

The composer approach (username and password in the URL) is depreciated ([RFC 3986](https://tools.ietf.org/html/

[2017-03-21 07:54] zacps commented on #331
I'd also like man pages for Unix systems.

[2017-03-21 08:31] zacps commented on #176
I'd be interested in helping with this.

Trying to brake down the steps we need to do:
1. Resolve package versions
2. Query a service to see if the resolved versions are secure.
3. Refuse to perform operations until the resolved packages are secure (bypass through a flag)

The first issue I can think of is when do this check. Obviously this has to be done every-time we resolve/update. Ideally a co

[2017-03-21 09:43] Alex-Wauters commented on #176
I would suggest the own registry than the CVE database (approach made by OWASP Dependency Checker but requires a large download to set-up, not ideal for from-scratch builds).

A separate command is useful when you want to validate a set-up without building. For example, scanning done by centralized security teams on all team repositories.

I have made a preliminary design on https://docs.google.co

[2017-03-21 11:04] ankitm123 commented on #296
@zacps, I should have it done within 2 days.

[2017-03-21 13:21] sdboyer opened #343 "Generate initial manifest with examples"
Being that we're moving towards a system where the manifest isn't rewritten by the tool, but is (at most) appended to, it becomes more important to provide examples of how to actually fill a manifest file. To that end, `dep init` should create manifest files with a commented sample block, demonstrating how each of the different properties in a manifest can be used.

[2017-03-21 15:36] zombiezen opened #344 "`dep ensure` panic when fetching vendor directory"
dep version: aaf8a8b6381fad4ecbeecbac56626d0bcb63f59e

[code]

manifest.json:

[code]

lock.json:

[code]

I don't have much more insight than this.

[2017-03-21 19:48] sdboyer commented on #344
This is gonna be the same underlying issue as #250 - we just haven't merged in an updated gps yet. It's taking a little time in part because we're also trying to just fully move it over - #300

[2017-03-21 19:49] sdboyer commented on #344
(closing b/c it's a dupe)

[2017-03-21 19:49] #344 closed

[2017-03-22 01:12] zacps commented on #176
That looks pretty good so far. What's the next step?

On 21 Mar 2017 10:43 pm, "Alex Wauters" <notifications@github.com> wrote:

[2017-03-22 13:56] AndreasBackx opened #346 "Dep does not try other versions of nested dependencies."
**What version of Go are you using (go version)?**
go version go1.8 darwin/amd64

**What operating system and processor architecture are you using?**
macOS Sierra

**What did you do?**
`dep init` on a project that depends on the master branch of [Kubernetes' Go Client](https://github.com/kubernetes/client-go).
_[(Latest commit as of writing this issue)](https://github.com/kubernetes/client-go/comm

[2017-03-22 14:35] #337 closed

[2017-03-22 15:15] sdboyer commented on #346
Thanks for the detailed issue report 🎉 ! There are a few things going on here.

Ordinarily, it would; failure at that point should trigger guided backjumping, causing the solver to go back and (eventually) start trying different versions of `go-restful`, then make it back to `k8s.io/client-go`, at which point it would work. However...

This is the key here. There are still occasionally some issues

[2017-03-23 02:41] sdboyer opened #347 "Incorporate plugins"
[plugins](https://golang.org/pkg/plugin/) are here as of Go 1.8. Despite some of the general issues and [difficulties with getting plugins to compile using objects shared with the main program](https://groups.google.com/forum/#!topic/golang-nuts/IKh1BqrNoxI), it seems likely that we'll need to do _something_ with them as part of dependency management.

Problem is, I'm not sure much we could really

[2017-03-23 03:55] davecheney commented on #347
I'd save your innovation tokens and pass on plugins, with just over a month
left in the 1.9 dev cycle it doesn't look like the plugin situation is
going to improve for Go 1.9, and that isn't even considering that they're
not enabled on windows or mac.

On Thu, Mar 23, 2017 at 1:41 PM, sam boyer <notifications@github.com> wrote:

[2017-03-23 05:53] adg commented on #300
I've enquired with our open source people, and hope to hear from them soon.

[2017-03-23 07:47] Alex-Wauters commented on #176
Elaborating further on design, including the process steps which are now left empty. I'd also like to gather some feedback to test the assumptions made, specifically regarding up or downgrading: e.g. an update is not available for a vulnerable dependency and the user must be guided to point to the correct revisionId and set the advisory to mitigated.

The steps which the solver should make are als

[2017-03-23 09:33] AndreasBackx commented on #346
Following what you said and resetting the vendoring, lock, and manifest before running `dep init -v` does reproduce the problem. Here are the logs with some of the package somewhat censored, those are indicated by surrounding `*`s.

[code]

[2017-03-23 12:30] delanne opened #348 "Unable to use "go vet" when using "dep ensure""
When I do "dep ensure -v" in order to fech dependencies, the "go vet" command fails with:
[code]
In order to be able to use the "go vet" command, I need to do a "go get" after "dep ensure"

In attachment: dep_issue.zip in order to reproduce the issue.

[code]
[dep_issue.zip](https://github.com/golang/dep/files/864641/dep_issue.zip)

[2017-03-23 13:19] delanne commented on #348
Seems to be a vet bug instead of a dep issue (https://github.com/golang/go/issues/17571)

[2017-03-23 13:21] kevingo commented on #294
Taking the [glide change log](https://github.com/Masterminds/glide/blob/master/CHANGELOG.md) as an example, I think the CHANGELOG file contains "feature" and "bugfix" is good engouth for user to track the project status by each release version.

[2017-03-23 15:20] kevingo commented on #149
I also found this issue with empty manifest.json `{}`. And as for @raytung described, if a package does not in the `$GOPATH/src`, it will not save into the manifest.json file.

I just want to make sure that it is a bug and will be fix before release, right ? @sdboyer

By the way, it's a nice tool and we will happy for supporting dep will be put into the go toolchain in the near future 👍

[2017-03-23 18:13] tamird opened #349 "`dep init` fails on CockroachDB"
[code]

I have no idea what this revision `997915d4fbfd449e8c4b678872b5067c36730291` is.

[2017-03-24 12:05] sdboyer commented on #349
Is `997915d4fbfd449e8c4b678872b5067c36730291` possibly an unpushed commit that's currently checked out in GOPATH for `github.com/cockroachdb/cmux`?

[2017-03-24 12:07] tamird commented on #349
Ah, it is.

On Fri, Mar 24, 2017 at 8:05 AM, sam boyer <notifications@github.com> wrote:

[2017-03-24 12:08] jba commented on #329
Personally, it's the nonstandard operators that are annoying and take some learning. Using `>` and `<` would be immediately understandable.

[2017-03-24 12:08] sdboyer commented on #349
Yeah, this is a failure mode we need to improve reporting on

[2017-03-24 12:09] jba commented on #311
Just the four basic, standard comparison operators, please. No need to learn anything else.

[2017-03-24 12:12] sdboyer commented on #349
We've also got plans in the works to change and improve the flow of `init` overall - #277 #186

[2017-03-25 20:58] BTBurke opened #350 "Specify which subset of dependencies to vendor during dep init"
Currently, `dep init` generates a lock file with all dependencies in the project.  In some cases, you only want to vendor certain dependencies.  As an example, I'm trying to use dep with a plugin for the Caddy server.

Caddy plugins must import packages from the Caddy server, but these should not be vendored because the Caddy build server should manage these dependencies itself.  In my case, the p

[2017-03-25 21:05] BTBurke opened #351 "Null pointer panic on dep init"
I was running `dep init` for the first time on a Caddy server plugin.

[code]

[2017-03-25 22:51] sdboyer commented on #350
Interesting use case, thanks for the issue!

I think we should have this covered right now. There's a system - not currently well/at all documented - that may be sufficient: in your `manifest.json`, you can specify `ignores` - an array of package names that the system will then disregard. If you list all the packages you import from Caddy, it'll ignore those packages, and any transitive dependenci

[2017-03-25 22:54] sdboyer commented on #351
Oooh, that's a real, proper bug you found there. I'll have a look soon. Thanks!

[2017-03-25 23:16] sdboyer commented on #347
@davecheney fully agree, this is not a priority. Really just opened it so that there's a place for any thoughts or ideas that might come up as we move along.

[2017-03-25 23:51] sdboyer commented on #346
Ahhhh, I think I know why this is happening!

I'm pretty sure that there are errors happening on the calls made to retrieve the lists of available versions for a given dependency (`SourceManager.ListVersions()`). That's why we see this:

[code]

Even though there are obviously more versions of that dependency that could be tried. The problem is, while errors resulting from calls to `ListVersions()

[2017-03-25 23:56] AndreasBackx commented on #346
Sweet, it isn't that big of a deal as it resolves itself after a while. The tool already is miles better than the other existing ones in terms of consistency.

[2017-03-26 00:08] BTBurke commented on #350
I'll give that a try.  I'm planning to write up some docs for the Caddy plugin developers so that will be helpful.

The way the plugins work is that the build server creates a custom binary by selectively importing the plugins a user chooses.  The source for the base Caddy server is being updated on a different schedule from the plugins.  The core APIs that the plugins rely on are stable, but it w

[2017-03-26 14:48] tomwilkie commented on #298
openzipkin/zipkin-go-opentracing is putting its generated code in a directory starting with an underscope so that they "would not be included in tests, coverage, linting, etc", which seems like a reasonable use case.

As `dep` ignore them, `dep` can't vendor the zipkin client and therefore can't be used for any project that uses zipkin for distributed tracing.  There is a similar issue filed again

[2017-03-27 02:25] sdboyer commented on #298
Yeah, it's kinda complicated, and I phrased it poorly in the OP. Ignoring is a totally separate thing from pruning, and there's two relevant phases with "ignoring" dirs:

1. Parsing actual files on disk (`gps.ListPackages()`)
2. Determining what the set of external imports are that we care about (`gps.PackageTree.ToReachMap().Flatten()`)

For the first, we ignore three things - `Godeps` dirs, `ven

[2017-03-27 23:26] markmandel opened #352 "Can't `dep ensure` github.com/google/google-api-go-client"
_What version of Go are you using (go version)?_
1.8

_What operating system and processor architecture are you using?_
Linux, Debian Jessie

_What did you do?_
`dep ensure github.com/google/google-api-go-client`

_What did you expect to see?_
`github.com/google/google-api-go-client` vendored in my ./vendor directory

_What did you see instead?_
Nothing was there. Looks like nothing gets pulled do

[2017-03-28 01:09] rsc commented on #168
Please just keep the files with the names and formats they already have. They are perfectly fine for the dep experiment. They will probably change in the final go command integration based on that experience, and that's fine. But don't introduce unnecessary churn by changing them before that.

[2017-03-28 01:10] rsc commented on #119
Please just keep the files with the names and formats they already have. They are perfectly fine for the dep experiment. They will probably change in the final go command integration based on that experience, and that's fine. But don't introduce unnecessary churn by changing them before that.

[2017-03-28 02:13] peterbourgon commented on #119
@rsc The opportunity for comment has come and gone. We will move forward with TOML as the means to establish intermediate stability for users.

[2017-03-28 03:35] kris-nova commented on #119
I think @peterbourgon's words here bring up a good point. Decision is made, let's get to coding. I also agree with @rsc in the sense that iteration is always possible (if necessary). But we need to start somewhere, and it looks like we are starting with TOML.

[2017-03-28 16:01] nathanielc opened #354 "Github path validation is too aggressive"
While trying to vendor a the dependency `github.com/hashicorp/memberlist` a secondary dep of `github.com/sean-/seed` was introduced but `dep` refused to download that version printing the error:

[code]

[2017-03-28 16:11] nathanielc commented on #354
After looking into fixing this it turns out that it has already been fixed in upstream in the https://github.com/sdboyer/gps repo. Updating that dep should fix this issue.

[2017-03-28 19:59] paddie commented on #354
So, should this issue be closed?

[2017-03-28 20:03] paddie commented on #216
Ran into this one today as well, issue was unpushed commit, but wasn't really clear from the error message.

[2017-03-28 23:43] nathanielc commented on #354
I'd like to leave it open till it's actually fixed. Just so I can track it.

On Tue, Mar 28, 2017, 1:59 PM Patrick-Ranjit D. Madsen <
notifications@github.com> wrote:

[2017-03-29 01:36] sdboyer commented on #354
Thanks for the report! And yep, it's fixed upstream.

We're currently trying to move gps directly into dep - #300 - but if that continues to drag on, I may just update the dependency.

[2017-03-29 01:46] sdboyer commented on #352
Thanks for the issue report!

Yeah, we need to clarify the docs on this - but this is by design. Yes, it's because of this:

With no go files, it means there's no imports. Imports are what actually determine that a dependency is _required_. A constraint in the manifest, or stating it as an argument to `dep ensure`, isn't.

This is intended to enable a workflow where you stay in your editor, add th

[2017-03-29 01:46] #352 closed

[2017-03-29 02:25] markmandel commented on #352
Oh that is interesting. Thanks for the clarification - I appreciate it.

[2017-03-29 07:54] stapelberg opened #355 "finding the VCS root of a vendored package"
Context: https://github.com/Debian/dh-make-golang/issues/46

For packaging Go programs in Debian, we must separate Go libraries into individual Debian packages; vendoring is verboten as per Debian-wide policy.

The Debian tooling (specifically `dh-make-golang`) discovers all dependencies of a program by using `vcs.RepoRootForImportPath`. This doesn’t work when dependencies are vendored, as there i

[2017-03-29 10:56] sdboyer commented on #355
Hi, thanks for the issue! It's very helpful when folks bring in perspectives like these.

It seems like dep _should_ meet your requirements just fine:

1. Really, vendoring is an implementation detail. The important thing is the lock.
2. At present, the `name` field of each project in the lock will correspond to a VCS repository root, because dep only works with repositories right now, and it is a

[2017-03-29 11:41] stapelberg commented on #355
Thanks, that’s helpful. I’ll have a look later as to whether I can put the pieces together correctly.

One additional question: is there a tell-tale sign that a project uses dep as opposed to other vendoring tools? I assume we’d need to make this logic conditional on the vendoring tool which was used.

[2017-03-29 13:00] aajtodd commented on #119
TOML is a good choice as is hand editing. I find this same workflow in Rust to be rather easy and intuitive. Hand edit manifest, tool generates the lock file. People can build tooling on top of it to automatically write a manifest if they really find that to be an issue.

[2017-03-29 13:03] mitsuhiko commented on #119
May I suggest locking this issue to contributors? I do not want to unsubscribe from the issue because I'm interested in when it is being closed but I am less than thrilled by the continued inbox spam I get from it. And I do understand the irony of me just contributing to the problem with this comment.

[2017-03-29 13:38] mibk commented on #119
@mitsuhiko May I suggest https://tellmewhenitcloses.com/session/new (although I haven't tested it myself...)

[2017-03-29 13:40] pierrre commented on #119
+1 👍 https://github.com/golang/go/wiki/NoMeToo

[2017-03-29 14:41] sdboyer commented on #355
The indicator to look for would be the name and location of the files in the root directory - at minimum, a `manifest.json`, and possibly also a `lock.json`.

However, it's premature to design against such things. As the README notes, we're still in the experimental phase. We're actively planning on changing those file names - #168 - and there's a good chance they'll change again on full integrati

[2017-03-29 14:43] sdboyer commented on #355
I should note - for your purposes, creating a `SourceManager` just to do root deduction may be overkill. You'll have to determine whether or not that's the case, but if it is, I'd be open to creating a standalone function that does the same job as `gps.SourceManager.DeduceProjectRoot()`.

[2017-03-29 15:47] kevingo opened #356 "dep status show nothing after dep init"
Hi, if I use `dep init` on one project, and it will create `manifest.json`、`lock.json` and `vendor/` successfully. After that, I use `dep status`, it shows nothing, such as :
[code]

After I continue typing `dep ensure`, the `dep status` shows expected information, such as :

[code]

But the only changes between `dep init` and `dep ensure` is the `memo` field in the `lock.json`:

[code]

Is this b

[2017-03-29 20:11] stapelberg commented on #355
For now, we have adopted a less involved fix on the Debian end, which is also compatible with other vendoring tools: https://github.com/Debian/dh-make-golang/commit/99a238019b5a2bdc0d3d2bad5f93b280a49eedcd

I’ll defer implementing dep-specific code until that becomes necessary/beneficial :). Let’s close the issue as there’s nothing left to be done. Thanks for your help!

[2017-03-29 20:11] #355 closed

[2017-03-29 20:19] sdboyer commented on #355
Thanks for reaching out! Please do raise any other issues or questions as you run into them. Now's the time to make sure we consider things, and integration into system package management is not an area we've spent a *ton* of time on. And, [clearly](https://github.com/rust-lang/rust-roadmap/issues/12), such things are complicated 😄

[2017-03-30 01:10] adg commented on #300
So there are two options:

1. get each one of gps' 13 contributors to sign our cla (cla.developers.google.com), and get them to warrant over email that they agree to a license change, and that their employer agrees too.
2. commit gps to the repo in a vendor directory with its original LICENSE file.

Option 1 doesn't seem too onerous to me, but I'm not familiar with all of the contributors. What do

[2017-03-30 01:26] sdboyer commented on #300
I think option 1 is probably possible. Who needs to be involved with the emailing?

Option 2 is what we're doing now. If we were to try to work on it within `vendor/`...well, that would be an interesting conundrum, because hacking on something in `vendor/` is expressly forbidden by the way dep works :)

[2017-03-30 01:42] adg commented on #300
Right.

I've enquired as to whether there is some specific protocol we should
observe when emailing contributors. Hang tight.

[2017-03-30 02:53] omeid commented on #300
In the unlikely event that option 1 doesn't go through, you should be still able to vendor a fork of gps, that way no direct mucking around with vendor and still afford large and breaking changes fast directly the fork.

[2017-03-30 09:41] mattn commented on #296
any update on this?

[2017-03-30 12:46] szaharici opened #357 "dep init fails"
Hi guys,

I don't seem to be able to run dep init

(precise)babube@localhost:~/go$ pwd
/home/babube/go
(precise)babube@localhost:~/go$ echo $GOPATH
/home/babube/go
(precise)babube@localhost:~/go$ dep init -v
determineProjectRoot: /home/babube/go not in any $GOPATH

[2017-03-30 13:13] kris-nova commented on #357
This is really weird, what version of dep are you running?

[2017-03-30 13:44] gd-liuzhihua commented on #357
Meet the same problem

[2017-03-30 14:39] szaharici commented on #357
I am a go newbie so I am unsure how to get the version of the installed packages in go, I just installed dep today with go get

[2017-03-30 14:52] sztanpet commented on #357
start with https://golang.org/doc/code.html
you are using the wrong path, the GOPATH specifies the root of the workspace, your code is not supposed to be there but in a subdirectory under src

[2017-03-30 14:57] szaharici commented on #357
thanks it is working, I misunderstood the instructions to use dep

[2017-03-30 15:53] mgutz commented on #352
Isn't this the chicken-egg problem? Unused imports cause go errors and most smart editors will remove them. So if I want to try a package, I first have to `go get` then write code that uses it, then `dep ensure`?

Most dependency managers I have used in other languages will just get the dependency and put into the "vendor" directory instead of trying to be clever.

[2017-03-30 16:02] markmandel commented on #352
So once I understood the behaviour, I just used a `import _ "google.golang.org/api/compute/v1"` so it wouldn't be removed, and then did a `dep ensure`.

I do get stuck here if I wanted a specific branch/tag of that repository, as I (assume) can't manually `dep ensure` it - which is a bit of problem.

[2017-03-30 16:16] mgutz commented on #352
The workflow seems off. The manifest and lock file should be the source of truth. Factoring in source files is an extra level of complexity that brings about quirks like this.

[2017-03-30 17:05] #357 closed

[2017-03-30 18:39] nathany commented on #221
Interesting: https://github.com/twitchtv/retool

[2017-03-30 19:07] zacps commented on #296
I'll do it tomorrow unless @ankitm123 has a pull in.

[2017-03-30 19:11] sdboyer commented on #352
@mgutz

Yes, there's certainly risk of getting in an awkward situation like that (though as @markmandel, and others, have noted, it seems to work well in practice). But still, this is why - as discussed in #36 - we may take the approach where you can do something like `dep ensure github.com/foo/bar`, and that'll show up in your lock & `vendor`, even if it's not imported. Code completion, at least,

[2017-03-30 19:24] sdboyer commented on #357
For more details, see #313

[2017-03-30 19:35] sdboyer commented on #216
I do want to improve the error here, for sure - there's no reason anyone would realize that that's the problem.

But it's a little arduous to figure out if a commit/ref is unpushed (and across different VCSes!) up front. It might be more productive to do some sniffing on failure to see if the error looks like a local-only data issue.

[2017-03-30 19:35] sdboyer commented on #349
Closing this in favor of #216, same issue

[2017-03-30 19:35] #349 closed

[2017-03-30 20:08] markmandel commented on #352
@sdboyer (so I just testing this) - this won't work in the instance of this bug - because there are no .go files in github.com/google/google-api-go-client

So if I do a `dep ensure github.com/google/google-api-go-client@master` nothing is downloaded. So there is no way for me to specify a constraint on this dependency. That was my point - apologies for the lack of clarity.

[2017-03-30 21:27] sdboyer commented on #352
Ah yeah, that's the project vs. package question. Another thing to figure out :)

[2017-03-31 03:17] dcheney-atlassian opened #358 "dep ensure exits with status zero when it does nothing"
[code]
So, this succeeded ? Turns out no
[code]
hmm, no client-go here
[code]
but it is here
[code]
but the vendor directory is empty.

How can I make dep download the version 2.0.0 of the k8s/client-go library so I can use it?

[2017-03-31 13:49] pierrec opened #359 "dep init panic on CTRL-C"
What version of Go are you using (go version)?
What operating system and processor architecture are you using?
go version go1.8 darwin/amd64

What did you do?
dep init
shortly followed by CTRL-C

What did you expect to see?
dep graceful exit

What did you see instead?
[code]

[2017-03-31 13:52] ankitm123 commented on #296
@sdboyer, @zacps Sorry for the delay, I am in the process of joining a new job and relocating!
Please take a look at this piece of code, I will polish it a bit over the weekend, and if it fixes the issue, then I will submit a PR.
https://play.golang.org/p/EoAliG0rNG

[2017-03-31 16:03] bgaifullin opened #360 "dep init crashes"
`dep init` crashes with the following stack trace

[code]

[2017-03-31 19:14] sdboyer commented on #360
Thanks for the report! Sorry you ran into that. It's fixed upstream, we just haven't integrated latest gps in a while. (See e.g. #250)

[2017-03-31 19:14] #360 closed

[2017-03-31 19:15] sdboyer commented on #359
Thanks for the report! Sorry you ran into that. It's fixed upstream, we just haven't integrated latest gps in a while. See e.g. #250.

(The panic here is actually unrelated to the CTRL-C)

[2017-03-31 19:15] #359 closed

[2017-03-31 19:16] sdboyer commented on #358
hiya, thanks for the issue! The real issue here is poor feedback, which...we know, working on it :) But see #352 for more explanation. (Closing this, as we have tickets open already to address it)

[2017-03-31 19:16] #358 closed

[2017-03-31 19:55] sdboyer commented on #296
Honestly, I'm not sure if that works or not, because I don't know what "not respecting path boundaries" means in those comments on the windows `filepath.HasPrefix()` implementation.

[2017-03-31 23:20] zacps commented on #296
Should we expand environment variables/UNC paths? I think it makes sense for this:
    ~/path
to be the same as:
    /home/USERNAME/path

and:
    C:\Users\username\Documents
to be the same as:
    \\HOSTNAME\Users\USERNAME\Documents

Do the current path/filepath tools handle this?

[2017-04-01 01:22] sdboyer commented on #294
Yeah, the request here isn't really for a changelog, but that's OK - I get the spirit of it.

I've decided to try this. Starting on Monday, I plan to put out a little summary of what's changed, where we're at, and where we particularly need help 😄

(Closing accordingly, though I will update this with at least the first link once I have it)

[2017-04-01 01:22] #294 closed

[2017-04-01 01:55] sdboyer opened #362 "Run structured tests in parallel"
It seems like we should be able to run our declarative disk-driven tests in parallel. This would cut down considerably on overall test running time, especially if they all reuse a `SourceManager` between them - that way, reused remote repos will only need to be cloned down once. (Note that it might not be quite safe to do this until sdboyer/gps#196 is in and merged to dep)

When I quickly tried ad

[2017-04-01 02:22] sdboyer commented on #264
Thanks for spinning this out, and sorry it took me so long to respond here.

Almost all of the substantive change here is going to be in gps. dep's just going to be responsible for picking the information up, then injecting it into gps appropriately. Some things I can say up front about @zacps' suggested possible approaches:

In a sense, we do this already. When doing "source deduction" on an impo

[2017-04-01 02:22] sdboyer commented on #149
Yes, we do intend to change this behavior with the respeccing of init.

[2017-04-01 14:36] ankitm123 commented on #296
@sdboyer, I think what they mean by path boundaries is just path separator (/ in linux and \ in windows)
For instance:
filepath.HasPrefix("/home/user4/some-file","/home/user") returns true, where it should return false, because the real prefix that should get matched is /home/user4, and not /home/user. But I will investigate it a bit further.
The issues with it are outlined in [here](https://coder

[2017-04-01 15:20] sdboyer commented on #296
OHH, I see. Yeah, I've been dealing with respecting path element boundaries for some time now - it just came up in #271, but there's a handful of funcs in gps that deal with it, too. That part definitely makes sense.

Looking at the links, and recalling from the earlier issue that introduced this, here's some thoughts:

1. Respect path boundaries correctly, of course.
2. We definitely care about c

[2017-04-01 23:44] zacps commented on #296
@sdboyer Looks like `filepath.VolumeName()` handles UNC paths properly (as well as the case check). Why would we need to test case sensitivity on the fly? Can't we just use build flags for different behaviours based on OS?
* Windows: Insensitive
* Linux: Sensitive
* OSX: Insensitive
* Other BSDs: ??

[2017-04-02 01:17] sdboyer commented on #286
Hi @brianf, @DarthHater! It's awesome that y'all are swinging by with thoughts 😄 sorry for the slow response - i did the thing where i backburnered responding "until i had proper time."

One note to make up front: a thing that makes `dep` rather different from other tools is that we rely, heavily, on static analysis to extract information for dependency management. This doesn't change the primitiv

[2017-04-02 01:34] ankitm123 commented on #296
@zacps,Doesn't filepath.VolumeName() only work for windows system? It returns empty strings for other OS, isn't it?

[2017-04-02 01:40] zacps commented on #296
@ankitm123 Yeah, which is what we want right? We can compare the value of this to check the volume. On windows it'll work properly with UNC paths and drives names and on other systems, where those aren't relevant it'll always succeed (`"" == ""`).

[2017-04-02 01:42] sdboyer commented on #296
@zacps that was what I'd figured about case sensitivity until recently, as well. But it's a filesystem property, not an OS one. [See rsc's comment on the CL](https://codereview.appspot.com/5712045) @ankitm123 linked to.

[2017-04-02 01:46] sdboyer commented on #144
OK so...weird. I finally actually tried to reproduce this problem (sorry), and found that I could not on either OSX or linux. And, my original fix for this includes a test that writes out from git, bzr, and hg, and it passes on windows.

The fact that it's ensure vs. init shouldn't really matter. But, could you verify that this is still a problem with the latest dep? If so, we can dig in more on r

[2017-04-02 01:47] #171 closed

[2017-04-02 01:47] #249 closed

[2017-04-02 01:47] #250 closed

[2017-04-02 01:47] #320 closed

[2017-04-02 01:47] #354 closed

[2017-04-02 01:51] zacps commented on #296
@rsc Yeah ok it looks like it's possible to change it on windows, I don't think we can just write a file somewhere though, you wouldn't expect a path comparison function to write to the filesystem. We might not even have permission to.

Are any windows systems case sensitive by default? It looked like it was an obscure config option. Just assuming per OS is far from perfect but I think it's defini

[2017-04-02 02:24] sdboyer commented on #296
Yep. I think I abbreviated my first thought on this too much. Given that:

1. We can get cwd (if `os.Getwd()` fails, `dep` must also fail)
2. I think all our uses for this func would inevitably either be cwd or some subpath of it
3. `dep` will also eventually fail if cwd isn't writeable, because that's where it has to write `vendor`

If we had to write a file somewhere, then the tail dir in cwd ha

[2017-04-02 09:56] zacps commented on #296
Nope, I think that looks good to me. So checklist is:
* Compares volumes properly (`filepath.VolumeName()`)
* Respects path boundaries
* Detects and applies correct case rules (Via inodes as above)

[2017-04-04 02:53] sdboyer commented on #351
Ah ok, so, there's two bugs here. First, there's a problem with the parser; https://github.com/lucas-clemente/quic-go/blob/master/utils/_gen.go is causing it to misidentify that as a `package main`. Because it thinks it's a `main`, it drops it from consideration when computing the transitive closure.

However, even though it's been dropped, there are still other internal packages that import it, w

[2017-04-04 08:31] djui opened #363 "dep ensure: Incorrect version range syntax interpretation for 0.x versions"
Given a sub 1.y version, e.g. 0.8.z, `^` (caret) currently expands to:
[code]
But should expand to:
[code]

[2017-04-04 10:08] lepinkainen commented on #356
This is weird UX, I think dep status should direct the user into running dep ensure just to prevent confusion.

[2017-04-04 10:19] sdboyer commented on #356
Ugh, yeah, this is a no-good situation. Thanks for writing it up in such detail.

It's definitely not intended, and is something we need to work on in the next round of improvements to `dep init`. There's no reason that memo field shouldn't be correct after the first `dep init` run.

[2017-04-04 14:06] kevingo commented on #356
@sdboyer .Good to hear about the improvement. :)

[2017-04-04 17:58] nathany commented on #168
The format and therefore file extensions are already changing as per #119.

manifest.toml and lock.toml may introduce conflicts or confusion with multi-language repositories. The churn may not be absolutely necessary, but there are good reasons to move ahead, even if it may change again in the future.

[2017-04-04 22:29] nathanielc opened #364 "Is it possible to add explicit dependencies manually?"
Maybe this isn't a use case that dep should support but I have on a several occasions vendored the deps of utilities need to run `go generate` . This allows the build process to install the utility from the vendored directory before running `go generate`. As such the complete build chain is vendored instead of just the dependencies needed to run `go build`.

 I attempted to do something similar wi

[2017-04-04 23:23] sdboyer commented on #364
hi, excellent question! (especially because i get to say "yes" 😄)

yes! you can do this now. it's just not documented, because of the peculiar path that development was taken (we had a way that we were planning to introduce this, but now #277 has us changing course). but, if you add a `required` section to your `manifest.json`, e.g.:

[code]

(note that, unlike the `dependencies` section, this is

[2017-04-04 23:23] #364 closed

[2017-04-05 11:26] andreynering commented on #306
I could not reproduce anymore after updating dep.

[2017-04-05 11:26] #306 closed

[2017-04-06 09:24] sdboyer commented on #168
We'll be going with `Gopkg.toml` and `Gopkg.lock` for this next iteration. Implementation will be done shortly in #342.

[2017-04-06 09:27] davecheney commented on #168
Please please, no capitalisations.

[2017-04-06 09:44] sdboyer commented on #168
I'm not a superfan of the initial capital, either. Makes me twitch thinking about it, in fact.

But, being that we do expect one more change in the future on integration into the toolchain, this is our last chance to try out the ideas discussed earlier in the thread: if we use an initial capital, will it tend to sort separately from actual source files - and how does that _feel_ in practice?

[2017-04-06 09:45] peterbourgon commented on #168
Sorry, capitalizations are a _de facto_ standard for this class of file.

[2017-04-06 09:45] sdboyer commented on #168
#experiment

[2017-04-06 09:57] pksunkara commented on #168
When you are viewing a project in github (or other similar services) and editors, capitalised files appear first after the folders and dotfiles. The code which in golang is generally in lowercased files appear after them. An average user is not concerned about the dependencies of a package unless he specifically wants them. So, they should probably appear after the code.

But since, the first lett

[2017-04-06 10:08] davecheney commented on #168
@peterbourgon, I do not believe the de facto choice _is_ to capitalise the first letter. Please consider this brief survey:

Java: ant, ivy, `build.xml`, maven: `pom.xml`
Rust: cargo, `Cargo.toml`
PHP: composer, `composer.json`
Javascript: npm, `package.json`, yarn, `yarn.lock`
Python: pip/easy_install, `dependencies.txt`
Haskell: cabal, a lower case file than ends in `.cabal` (oddly Haskell appea

[2017-04-06 11:11] sdboyer commented on #168
It's true, I don't think it'd be tough to characterize this as the _de facto_ pattern. Cargo's the only one there that does it (also, the newest). The reasoning behind the capitalization is really the sorting within directory listings.

Again, we know these files are near-certain to change on their way into the toolchain. Let's please look at this as an opportunity to see how we feel about what, t

[2017-04-06 11:11] tomwilkie opened #365 ""safe write of manifest and lock: error while writing out vendor tree: error while exporting"..."
Starting a fresh project that imports github.com/weaveworks/common/server, I get the following error:

[code]

[2017-04-06 11:13] tomwilkie commented on #365
Error persists if I blow away by $GOPATH/pkg/dep cache.

[2017-04-06 11:23] jstemmer commented on #365
Are you using a case-insensitive filesystem by any chance? The repo at https://github.com/mwitkow/go-grpc-middleware has both a README.MD and README.md file.

[2017-04-06 11:27] tomwilkie commented on #365
Yeah, I'm on a Mac.

[code]

[2017-04-06 11:29] tomwilkie commented on #365
@mwitkow, did you mean to checking two files that differ only by case?

[2017-04-06 11:40] peterbourgon commented on #168
Yep, that's aggressive, I withdraw the characterization with apologies—though I observe Ruby and `Gemfile`. I also observe that this is conversation the distilled and purified essence of a bikeshed, withdraw from it completely, and encourage everyone else to do the same.

[2017-04-06 11:45] tomwilkie commented on #365
I guess this isn't really a bug in dep.  An error along the lines of "Error running `git foo` in dir `bar`: ..." would have been nice.  But not a big deal, I'll close.

[2017-04-06 11:45] #365 closed

[2017-04-06 14:37] sdboyer commented on #365
Unfortunately, the error we have there is the one that's passed all the way back up from git itself. While we could probably do better with classifying the general type of error (e.g., "this came from `git`!"), and I hope we can tackle such things with #288, it's probably impractical to improve the content of the error message itself.

[2017-04-06 17:15] JackyChiu commented on #362
I'd like to take a look into this!

[2017-04-06 19:53] sdboyer commented on #362
@JackyChiu awesome! Anything I can do to help you get started?

[2017-04-06 22:20] JackyChiu commented on #362
I'm quite new to the repo so I'll have to look around more, I'll let you know if I have any questions!

[2017-04-06 23:51] adg commented on #168
Can we please end the tyranny of the lower case? Capital letters are letters too. I know this sounds like I'm joking, but I'm not.

[2017-04-06 23:57] davecheney commented on #168
If lower case was good enough for ken, it's good enough for me.

But seriously; this tool has to work across windows, osx and linux, whose
filesystems all handle case preservation differently. I'm not going to pull
my "old man get off my lawn card", but there is a reason that mixed case
and source control get along like two wet cats in a sack.

On Fri, Apr 7, 2017 at 9:51 AM, Andrew Gerrand <notif

[2017-04-07 00:16] bketelsen commented on #168
piping in on the caps, please use lower case, case-sensitive, case-preserving, case-insensitive file systems ought to be all the reason in the world to agree with Dave on this one.

[2017-04-07 00:25] kris-nova commented on #168
Chiming in:

I think the system compatibility thing is enough to go with lowercase, and also am a fan of @rsc's point on changing this pending experimation results. Also if this does change later it's not the end of the world. Deprecating a pattern and making assumptions about what should happen when/if the old pattern is detected isn't going to be impossible to solve.

[2017-04-07 02:48] adg commented on #168
Has this been a problem with `Makefile`, for example?

[2017-04-07 02:53] davecheney commented on #168
Make accepts both Makefile and makefile, and a few others.
https://www.gnu.org/software/make/manual/html_node/Makefile-Names.html

On Fri, 7 Apr 2017, 12:48 Andrew Gerrand <notifications@github.com> wrote:

[2017-04-07 02:56] sdboyer commented on #168
Case sensitivity does not strike me as a relevant concern, as there is no planned workflow in which a user manually creates either a manifest or a lock. Yes, a user COULD manually create one, and if they did it wrong on a case-insensitive filesystem, committed it, and someone on a case-sensitive filesystem then checked it out, there'd be a problem. But that's a long series of conditionals, all ult

[2017-04-07 03:12] davecheney commented on #168
Windows' filesystem is the regular culprit.

http://stackoverflow.com/questions/56022/prevent-file-casing-problems-in-subversion

On Fri, 7 Apr 2017, 12:56 sam boyer <notifications@github.com> wrote:

[2017-04-07 03:18] sdboyer commented on #168
That link has two developers manually naming files in a way that conflict with one another. As I described, I don't think that case is a concern here because there is no normal case, or really even an opportunity, for a user to manually create either the manifest or the lock.

[2017-04-07 03:28] JackyChiu commented on #362
@sdboyer Okay I think I have a better grasp of what's going on, I'll start off by looking into the following issue and trying to solve it:

Just to clarify, the temp dir's shouldn't be shared across each testcase correct?

[2017-04-07 03:44] sdboyer commented on #362
Correct - each test case should get its own temp dir.

[2017-04-07 04:55] JackyChiu commented on #362
@sdboyer The source of the issue I see is that when running in parallel after a few tests, in `NewTestCase()` the working directory (`wd`) is left still in one of the temp dirs (it's supposed to return to the dir where the tests are being run). Then followed by trying to read a `<wd>/testdata/harness_test/<name>/testcase.json` there is where it causes a panic.

Any ideas for where to start looking

[2017-04-07 05:03] sdboyer commented on #362
@JackyChiu i suspect @tro3 could probably give a better pointer there than i 😄

[2017-04-07 05:06] JackyChiu commented on #362
@sdboyer Okay thanks!

[2017-04-07 06:03] tro3 commented on #362
Guys - on vacation right now without access to code except thru smartphone.

The temp dirs should certainly be decoupled between tests. I wonder if the issue is he copying of the initial files - there are a lot of ignored errors in the suite, where the files are known to exist. But throw in concurrency, and maybe ignoring the errors is no longer valid?

[2017-04-07 13:05] myitcv opened #366 "dep ensure fails when required dependency is a main package"
Per Slack chat with @sdboyer

Repro steps:

[code]

Gives the output:

[code]

**Updated 2017/04/09:** with clearer, more succinct repro steps and output. As of 4105d3adb9a1d8eb960f8e0d2fca3d34ef22eba9

[2017-04-07 22:31] nathanielc opened #367 "Panic on dep ensure"
I get this panic when running `dep ensure` with any options or packages listed.
The `fromErr` is nil which is causing the panic.

[code]

I added this debug log statement

[code]

Here is the output of the log statement (addded some manual formatting).
[code]

[2017-04-09 02:04] ChrisHines commented on #144
I just updated dep with `go get -u -v github.com/golang/dep`, which put me on commit 7f85e04e3446e25cac27cf5d07e4e56db3680ef0.

The problem bug still occurs on the code I posted above.

[code]

[2017-04-09 12:35] myitcv opened #368 "Feedback: should be able to use go tool on a project's dependencies"
This issue picks up a conversation with @sdboyer and @peterbourgon on Slack. It’s essentially a broader version of #348 amongst others.

Best illustrated by a commented, runnable example:

[code]

(see the [output](https://gist.github.com/myitcv/570ca59ef04137d9e970baa42f3188ab))

In short, I think the `go` tool should work on a project's dependencies.

The main reason being that we then don’t nee

[2017-04-09 14:28] myitcv commented on #213
Related issues include #303 and #277.

Like @peterbourgon I’ve struggled to fully understand/follow this thread, largely because I’m struggling to pick up/use the language that describes various situations/cases.

Some preamble; no points here, just establishing context/whether I've understood things to this point:

* I acknowledge (per discussion with @sdboyer) that the use of `vendor` is an impl

[2017-04-10 09:30] sheerun commented on #351
Same issue for me:

[code]

[2017-04-10 15:41] sdboyer commented on #351
@sheerun is the project you were working on when you encountered this panic public, so that I can replicate? While I'm pretty sure I know the problem here, it would be good to be certain.

[2017-04-10 15:43] kris-nova commented on #351
+1 to replication steps - have heard about this a lot but have never had a good recipe to attempt to create it

[2017-04-10 17:12] sdboyer commented on #213
Yes, this thread definitely introduces some new terms and injects some additional uncertainty into the system. I do have formal properties like these in my mind with respect to `dep`'s operation, but have not written them out. I'd say that doing so would be helpful.

Some notes, some corrections:

"code I have on disk" is a bit ambiguous - it could refer to, at minimum, either what's in a project'

[2017-04-10 18:24] sheerun commented on #351
export GOPATH=$(pwd)/debug && go get -u github.com/golang/dep/... && go get -d github.com/ginuerzh/gost && cd $GOPATH/src/github.com/ginuerzh/gost/cmd/gost && dep init

[2017-04-10 18:33] sdboyer commented on #351
This is likely at least part of the problem - see #193.

[2017-04-10 18:41] sheerun commented on #351
btw. `go get -d github.com/ginuerzh/gost` is hanging indefinitely if $GOPATH doesn't exist.. maybe another bug

[2017-04-11 00:13] sdboyer commented on #330
#247 is merged, so closing this :)

[2017-04-11 00:13] #330 closed

[2017-04-11 12:11] subchen opened #370 "Should move manifest.json and lock.json into vendor directory"
To keep project root clean, recommends to move manifest.json and lock.json into vendor directorty.

[2017-04-11 12:28] sdboyer commented on #370
Hi, thanks for posting an issue!

We're set on and happy with the file locations. Please see #207 or #168 for more information.

[2017-04-11 12:28] #370 closed

[2017-04-11 12:28] paddie opened #371 "`dep ensure` is semantically confusing"
Coming from different vendoring tools for both Go and other languages, it seems to me that the command `dep ensure` is semantically a bit confusing.

I expected the command to be something along the lines of `dep [commit | pull | install]` to pull in dependencies from project imports. The `ensure` command is almost begging for an ekstra argument, such as `dependencies` or `vendored` which is not t

[2017-04-11 12:37] sdboyer commented on #371
Yeah, we went round and round on names. [A lot](https://gist.github.com/jessfraz/315db91b272441f510e81e449f675a8b).

The idea of "ensure" is roughly, "ensure that all my local states - code tree, manifest, lock, and vendor - are in sync with each other." When arguments are passed, it becomes "ensure this argument is satisfied, along with synchronization between all my local states."

We opted for

[2017-04-11 13:55] ensonic opened #372 "dep ensure failed to resolve project root"
[code]
I don't think the error message is correct, neither can I understand it, not can I see what I can do to help the tool.

I now stopped using symlinks, but a 2nd path entry in GOPATH and it looking better.

[2017-04-11 13:57] myitcv commented on #213
@sdboyer - I very much appreciate the comprehensive reply, thank you!

To that end I've moved my straw man to https://docs.google.com/document/d/1xlo-fKGt5oJq8z8yQSTPShN__obQFmdBzbBS6puUhXg/edit?usp=sharing to help try and move the formalisation forward. Feel free to take a copy if you want to take control of the doc (after all the `dep` team are running the process), my attempt is just a starting

[2017-04-11 15:04] tro3 commented on #362
Okay - the issue here is the finding of the initial setup files from os.Getwd().  (`integration_testcase.go:38`).  When running in parallel, that wd is leaking between cases - when a previously-started case cd's to the testcase directory, then next case uses that temp directory to look for the setup files, rather than `(root)/testdata`.

While a patch for this particaular error would be to record

[2017-04-11 15:05] carolynvs commented on #312
[I've submitted a PR to gps](https://github.com/sdboyer/gps/pull/213) moving `LockDiff` and co. Since there has been a bit of drift in the `gps` API and I have open PR which touches `LockDiff` (the TOML annotations), I'll hold off on submitting a PR to complete the move until that settles down.

[2017-04-11 15:25] tro3 commented on #362
In fact, poking around further, I find `test/test.go:109` which talks about this explicitly.  (Before my time - I hadn't seen this function, nor had I ever set h.parallel.)

[2017-04-11 19:47] sdboyer commented on #213
Yes. Introducing the notion of a "project" - a tree of code - has far-reaching effects, one of which is to make the linked documentation too loose. Lack of definition around the differences between what the different VCS types provide with respect to how a "version" is defined and encoded is already a problem. And, while the go tool, and dep, currently only support working with version control-bac

[2017-04-12 02:19] tro3 commented on #362
Guys - I took a shot at getting parallelism running today.  I got the dep tests themselves thread-safe, but the use of git still breaks the thread safety.  Tests all pass individually, but when run in parallel, one starts to get fails due to incorrect repos being downloaded.  Most likely, multiple git processes running in parallel is a bad thing.  Don't know if we can get to integration test paral

[2017-04-12 16:31] idubinskiy commented on #329
Looking at the docs for [specifying dependencies](http://doc.crates.io/specifying-dependencies.html#specifying-dependencies-from-cratesio) in Cargo as an example, `>`, `<`, and `=` are supported, and it's possible to specify the constraints from the other operators using just these (when combined with the ability to specify multiple constraints on a package, like `>= 1.2, < 2.0`).

Whether that's

[2017-04-12 17:59] jba commented on #329
@idubinskiy It's a necessary but not sufficient condition.

[2017-04-12 23:21] spenczar opened #373 "`dep init` fails if a required package is checked out in GOPATH with a version not in origin"
At least, I *think* that's what's happening here.

This is with dep version 3ef7bf880f6f67548f7a0d2ab3b8d4ebd1803d8e.

In a project which uses github.com/golang/protobuf, I ran `dep init`. It errored with this message:

[code]

I ran `cd $GOPATH/src/github.com/golang/protobuf`, and checked, and yes - I am checked out to that commit:

[code]

This happens to be the SHA of the head commit of a branc

[2017-04-13 00:13] sdboyer commented on #373
Thanks for the clear issue - we've got #216 open on this topic already, so closing 😄

We opted for this as an initial approach because it was the one most in line with vanilla Go users - that their GOPATH is the source of truth.

The WIP spec for the new behavior is in (the document linked from) #277.

[2017-04-13 00:13] #373 closed

[2017-04-13 05:24] #119 closed

[2017-04-13 05:24] #168 closed

[2017-04-13 05:31] sdboyer commented on #294
Better late than never! https://sdboyer.io/dep-status/2017-04-10/

[2017-04-13 09:57] EwanValentine commented on #343
As a first time user of this tool, I found myself looking for examples as to what should be in my `Gopkg.toml` file etc, so this is very valuable. I'll look into doing this, and will submit a PR.

[2017-04-13 11:22] Civil commented on #372
I think I've got the same problem but on different stage.
My GOPATH consists of 2 paths:
[code]

It worked ok around 1 week ago.

[2017-04-13 11:48] sdboyer commented on #372
(first, pinging @brianstarke 😄 )

@ensonic this first case seems odd, unless `/home/ensonic/projects` or `/home/ensonic/projects/foo` is ALSO a symlink, or if `/home/ensonic/projects/foo` is registered as its own GOPATH. If the latter is true, then it's the right error message - we don't support symlinking from one GOPATH into another, because it just didn't seem like a major use case, and we were

[2017-04-13 12:45] Civil commented on #372
@sdboyer yes, I'm issuing dep init in that path and this is the error I'm getting out of it.

[2017-04-13 13:25] zellyn commented on #300
As one of the most [important contributors](https://github.com/sdboyer/gps/commit/764ee1d4671084f2f34e2f4b3c59fb5827f0086c) to GPS :-p, you have my permission to do whatever you want: I always saw it as your code.

[2017-04-13 13:59] kevingo opened #375 "Support version"
Will dep support the version flag to print out current version ? The usage may be

[code]

Taking glide and govendor as references

- govendor
[code]

- Glide
[code]

[2017-04-13 15:03] carolynvs commented on #186
@sdboyer I am interested in working on `dep init` so that it takes glide's config files into account. Sounds like you've already done some initial work in glide(?), so wanted to check in before making an issue for this and diving in.

Selfishly I'd like to config the CI builds for my own projects (like dvm), and have dep handle populating my vendor directly from the glide config files. As a stopga

[2017-04-13 15:10] carolynvs commented on #375
I believe this is a duplicate of #209. We'll have this eventually, but not until a few more things are ironed out.

[2017-04-13 16:36] ensonic opened #376 "documentation: is "dep" replacing "go get""
So far I've build using
[code]
When using dep, should one still run `go get`? Or rather
[code]

[2017-04-13 16:54] sdboyer commented on #300
/me bows to @zellyn ❤️

@adg let me know that all we need is an issue on gps in which all the contributors consent to the change, and we can go ahead. Making that issue now...

[2017-04-13 17:02] zellyn commented on #300
Thanks, @sdboyer! Please point me to that issue so I can describe the towering majesty of my contribution~s~ in increasingly hyperbolic terms.

[2017-04-13 17:06] sdboyer commented on #300
here 'tis: sdboyer/gps#215

[2017-04-13 17:15] carolynvs commented on #376
I would say that `dep` doesn't replace `go get`, but they both can do similar things. Here's how I use them:

* `go get`: I want to download the source code for a go project so that I can work on it myself, or to install a tool. This clones the repo under GOPATH for all to use.
* `dep ensure`: I have imported a new dependency in my code and want to download the dependency so I can start using it.

[2017-04-13 23:17] kevingo commented on #375
@carolynvs Thanks for pointing out the duplicated issue!! Then, this one can be closed or just keep it here for the referemce :)

[2017-04-13 23:19] sdboyer commented on #376
I'm pretty much in line with @carolynvs' response, here.

Also, more or less this question was [asked on reddit today](https://www.reddit.com/r/golang/comments/653mxc/dep_status_week_of_april_10/dg7dqh3/), and I responded over there.

Basically - exactly what will happen is unclear, but the long term vision is a sane, overall-consistent `go` tool. My general take is that `go get` is for people con

[2017-04-13 23:39] lukashambsch opened #377 "Support for recursive go get"
I am using dep on a small web app and everything is working great for the actual app. However, when I try to run the tests I receive several errors related to missing packages. One of them being related to gomega:

`vendor/github.com/onsi/gomega/ghttp/handlers.go:12:2: cannot find package "github.com/golang/protobuf/proto" in any of:
	/Users/lukashambsch/workspace/go/src/github.com/lukashambsch/gy

[2017-04-14 00:06] sdboyer commented on #377
Hmm, this is surprising. My guess would be that this occurs if you run `go test ./...` from the root of your project, which will try to run tests for packages under `vendor` (unless you're running go tip, where that's been changed). That could fail, because `dep` ignores dependencies needed solely by your dependencies' tests.

If you're only running your project's tests and there are necessary dep

[2017-04-14 00:11] brianstarke commented on #372
Agreed with @sdboyer on the first case, @ensonic... in this case we're not really sure which path to use (the symlink or the real path) and didn't want to make the decision for you since that would set the expectation that it worked as expected and there's a 50% chance it didn't :)  Prior to #247, you would have gotten the same error.

@Civil ... that definitely looks like a bug and definitely loo

[2017-04-14 00:41] lukashambsch commented on #377
You are correct, I'm running `go test ./...`. I can't believe I missed that. Thanks!

[2017-04-14 00:41] #377 closed

[2017-04-14 01:24] sdboyer commented on #362
To be clear, these failures are arising not from any of the direct git invocations by the dep testing harness (e.g. setting up GOPATH), but rather by the git calls being made from the `SourceManager`?

If so, then I think those issues should probably go away once we update gps again. Famous last words, but sdboyer/gps#196 should have resolved the parallelism issues.

[2017-04-14 01:35] tro3 commented on #362
Can't tell if it is the git processes, the go get processes, or the SourceManagers.  All I know is, when I modify the test harness to run in parallel, it no longer panics and all temp directories are created and cleaned up in parallel properly.  But the tests fail with incorrect repos being populated.  Different failures every time I run, and if run individually (with the `-run` option), each test

[2017-04-14 02:26] tro3 commented on #362
Looking at the logs, I get the following errors when running in parallel:

* `git submodule update --init --recursive package github.com/sdboyer/deptest: exit status 1`
* `panic: canary - why is checkout/whatever failing: ...` (Generated by `gps/source.go:160`)
* And sometimes there is no error - just differing results from the non-parallel case.

Does that provide a clue?  Still sounds like exter

[2017-04-14 02:27] tro3 commented on #362
Looking at the logs, I get the following errors when running in parallel:

* `git submodule update --init --recursive package github.com/sdboyer/deptest: exit status 1`
* `panic: canary - why is checkout/whatever failing: ...` (Generated by `gps/source.go:160`)
* And sometimes there is no error - just differing results from the non-parallel case.

Does that provide a clue?  Still sounds like exter

[2017-04-14 02:51] sdboyer commented on #362
Ah yeah, if you're getting that panic, then it's almost certainly the `SourceManager` calls, which are what'll be fixed by the new stuff.

[2017-04-14 03:53] tro3 commented on #362
Hmm. Should I submit a PR for the parallelization then, leaving t.Parallel() commented out?  When the new gps shows up, it can be uncommented to test.

[2017-04-14 03:58] sdboyer commented on #362
@tro3 sure, sounds reasonable.

@JackyChiu sorry, I know you were hoping to work on this one. Please don't be dispirited - there's plenty of other issues that could use work 😄

[2017-04-14 15:02] JackyChiu commented on #362
No worries at all! I was busy with exams, I'll look around for other issues to contribute to!

[2017-04-14 18:30] sdboyer commented on #296
We're running into issues with this over in #379, as well. It seems like we have a TODO list now - I'm hoping someone has the time to tackle an implementation?

[2017-04-14 18:35] sdboyer commented on #296
(maybe we'll just convert that issue to be the PR that fixes this)

[2017-04-14 18:44] sdboyer commented on #186
@carolynvs seems reasonable :)

What I'd done before was a more comprehensive refactoring of the glide manifest and lock format/struct itself to comply with the `gps.Manifest` and `gps.Lock` interfaces. That's not directly useful in and of itself, because our focus is not changing glide's own file formats.

However, I _did_ write autoconversion logic [from glide's current structs to that new struc

[2017-04-14 19:35] carolynvs opened #380 "Support importing glide config during dep init"
* `dep init` checks for existing Glide configuration files (`glide.yaml`/`glide.lock`) and uses them to populate the manifest and lock.
* Specify `-skip-tools` to skip importing existing dependency management config from other tools.

This is part of the epic #186.

**Behaviors**
* We only look for `glide.yaml` at the root of the project. ❓
* If a project is discovered by `dep init` that was not c

[2017-04-14 20:32] carolynvs commented on #380
I've updated the issue with my first stab at how this command should behave but have a few questions though that will need clarification.

[2017-04-14 23:24] sdboyer commented on #225
I've now got PRs up for all the obvious/outstanding issues in Masterminds/semver. Hopefully we'll get those merged soon, and will be able to get this in.

[2017-04-14 23:29] sdboyer opened #381 "Rename "ignores" to "ignored" in Gopkg.toml"
This was just laziness on my part. For consistency with `required`, `ignores` should be renamed to `ignored`.

[2017-04-14 23:55] sdboyer commented on #380
AAAAAAAAAAWESOME QUESTIONS 🎉 🎉

👍

Yes, but also, the inverse case - constraints given in `glide.yaml` without a corresponding imports should _not_ make it into the manifest.

If you can do this without touching #149 yet, then great 😄

So, this is actually a problem point. glide doesn't differentiate between constraint types in its manifest, which makes input untyped and ambiguous. Case in point -

[2017-04-15 00:02] sdboyer commented on #375
@kevingo totally reasonable request, thanks for posting the issue :)

[2017-04-15 00:02] #375 closed

[2017-04-15 00:05] sdboyer commented on #328
Closing this one out, I think it's answered adequately.

[2017-04-15 00:05] #328 closed

[2017-04-15 00:06] sdboyer commented on #312
Renaming and repurposing this issue as a reminder to remove what we have locally once we pull in the latest gps.

[2017-04-15 00:07] sdboyer commented on #309
While this seems like it could add value, I just don't think we have the bandwidth to do it ourselves. What I'm doing for #294 will have to suffice, at least for now.

Closing this out.

[2017-04-15 00:07] #309 closed

[2017-04-15 00:08] sdboyer commented on #311
Appreciate the thought, @trans, but as @jba says, this whole area is fraught enough as-is. Sorry 😢

[2017-04-15 00:08] #311 closed

[2017-04-15 00:08] sdboyer commented on #273
Oooh hey, we merged this 😄

[2017-04-15 00:08] #273 closed

[2017-04-15 00:09] sdboyer commented on #242
This oughtta be fixed once we merge in the latest gps, now that sdboyer/gps#196 is done

[2017-04-15 00:09] #242 closed

[2017-04-15 00:10] sdboyer commented on #318
We've got this now in the gps we're currently using, so closing this one out.

[2017-04-15 00:10] #318 closed

[2017-04-15 00:10] sdboyer commented on #224
this is now merged - woot!

[2017-04-15 00:10] #224 closed

[2017-04-15 00:12] sdboyer commented on #218
@ajessup Now that we've merged in #247, I'm curious if your original setup works.

@viridicist did the place that #247 ended up cover your case? It should work if your cwd is within the GOPATH, even if the symlink points outside of it (as long as it doesn't point into a _different_ GOPATH).

[2017-04-15 00:15] sdboyer commented on #41
I think we're doing much better with this now, especially with the harness. I'm gonna close this out in favor of more specific issues 😄

[2017-04-15 00:15] #41 closed

[2017-04-15 03:04] sdboyer commented on #363
I ran across this independently today, while hammering out some kinks in our semver lib. There's a PR open that will fix this: Masterminds/semver#53

[2017-04-15 03:05] sdboyer commented on #363
Thanks for filing the report! Sorry it took me a while to respond.

I actually ran across this independently today, while hammering out some kinks in our semver lib. There's a PR open that, once its merged and we merge in from upstream, will fix this: Masterminds/semver#53

[2017-04-15 03:44] ankitm123 commented on #296
I will take a look at it this weekend.

[2017-04-15 06:43] JustinBeckwith commented on #223
This is something I'm interested in as well.  For App Engine, we'd like to have some way to let users express to us the version of the go toolchain to use for builds.

Godep gives us a chance to set it here:
https://github.com/tools/godep#file-format

[2017-04-15 07:17] djui commented on #363
Nice! Thanks for the constant hard work.

[2017-04-15 10:12] subchen opened #383 "pkg in vendor includes more unused files, need to clean them"
I used `dep ensure` to download pkgs into vendor directory, and found there are more unused files, such as docs files, test files, etc...

for examples:
[code]

If I commit vendor directory into GIT repo (to build without network and speed up), it will be made repo more larger.

In my point, only `shutil.go` is necessary in my sample for build.
- includes `*.go`, `*.cgo` in pkg, instead of full GI

[2017-04-15 14:40] sdboyer commented on #296
@ankitm123 OK - @Civil also indicated they might try over the weekend. Neither of you fully committed, but just wanted to give you both a heads-up.

[2017-04-15 14:46] sdboyer commented on #383
Hi! Thanks for the issue 😄

We refer to this general category of work as "pruning." As of last week, there is a `dep prune` subcommand that will trim down the contents of your vendor directory, at least somewhat.

However, please do note that that subcommand is unlikely to stick around in the long term, because (to summarize) it presents challenges for verifying package contents, and because we do

[2017-04-15 14:46] #383 closed

[2017-04-15 14:51] sdboyer commented on #367
Thanks for the bug report!

It looks like this is probably basically the same issue as #351.

[2017-04-15 14:59] sdboyer commented on #223
@JustinBeckwith help is suuuuuper welcome 😉

Yeah, this certainly is one use case. I know that @freeformz has been clear about the benefits of being able to include additional information in these files for similar purposes.

Just musing, but - I think there's (at least) two interrelated concerns, here - indicating a minimum required version for a package, and allowing users to specify an exact, o

[2017-04-15 14:59] sdboyer commented on #223
Yeah, this likely entails manifest/lock changes, so I'm reorganizing it accordingly.

[2017-04-15 15:37] carolynvs commented on #225
I read through https://github.com/Masterminds/semver/issues/41 and I'm still confused on why if dep chooses to default to carets that any change in the semver lib would be required? Why couldn't `dep init` check for bare versions without constraint symbols (`~`, `^`) and add a caret at that time?

[2017-04-15 21:51] sdboyer commented on #300
OK, we've got the 👍 from everybody over there - seems like we can start the process of moving it over.

Not sure if I'll have time to do that this weekend, or not. I Also wouldn't mind if someone else were to tackle it 😄

[2017-04-15 22:02] sdboyer commented on #225
@carolynvs you might be right - it may be possible to do that. My concern is the breadth of inputs that lib currently allows (possibly wider than we really want to allow for dep - which is another topic of discussion). If we insert unconditionally, then:

1. It'd insert before invalid semver strings, which would actually just change the name (though this could be mitigated by running `semver.NewCo

[2017-04-15 23:01] pierrre opened #384 "could not set up solver for input hashing: must provide a ProjectAnalyzer"
Version: latest

I run `dep status`.
Output: `could not set up solver for input hashing: must provide a ProjectAnalyzer`

It used to work.

[2017-04-15 23:20] pierrre commented on #384
first "bad" commit: https://github.com/golang/dep/commit/00a5b76e3610c146f449be0011ca0cabda5baafc
(but I'm not sure)

[2017-04-15 23:37] pierrre opened #385 "Can't use the `master` version of a package"
`dep status` shows:
[code]

`Gopkg.toml`
[code]

`Gopkg.lock`
[code]

After I run `dep ensure --update`, this package still doesn't use the latest version.
Am I doing something wrong, or is it a bug ?

Thanks

[2017-04-15 23:52] carolynvs commented on #384
I have a fix will have a PR shortly

[2017-04-16 01:58] carolynvs commented on #385
I'm having trouble reproducing this. Does this look like what you have? If you are working from a public repo, that would help reproduce.

**original Gopkg.toml**
[code]

**original Gopkg.lock**
[code]

**Update**
[code]

**final Gopkg.lock**
[code]

[2017-04-16 02:04] carolynvs commented on #225
Is the union operator supported by dep? I'm not questioning if it should or not, just unsure about the scope of what we plan to support, e.g. only `=`, `~`, `^`, etc. We could just try to add the 🥕 and if it isn't a valid semver anymore, leave it alone. 😉

[2017-04-16 02:20] subchen opened #387 "solve error when run `dep init` using Go1.8.1"
I use `github.com/microcosm-cc/bluemonday` in my project.
When I run `dep init` in my project, I got following errors.

[code]

[2017-04-16 03:13] tro3 opened #389 "Symlink error on PC?"
In the test suite, I am getting a failure at `context_test.go:400`.  Per Travis, Mac and Linux pass, so I assume this is a PC-only thing?

[2017-04-16 08:03] y0ssar1an opened #391 "Panic on dep init"
[code]
I think this is a different bug than #351 because it bubbles up from the `source_manager.go` not `solver.go`. Also, it doesn't occur with [the Apr 12th version of `dep`](https://github.com/golang/dep/tree/b839831e75440c4c09f69d26b0b54853bba35092).

[2017-04-16 14:18] sdboyer commented on #385
@pierrre I'm guessing that, for your project, `github.com/gorilla/context` is probably a transitive dependency, not a direct one? Constraints given in a project's manifest are only applied if the dependent project is actually imported.

[2017-04-16 14:19] #381 closed

[2017-04-16 14:22] sdboyer commented on #391
Yeah, definitely different. That's a call that should be surrounded by a nil check. It doesn't happen reliably, right?

In any case, easy fix - thanks for the report!

[2017-04-16 14:23] pierrre commented on #385
@sdboyer yes, my direct dependency is `github.com/gorilla/mux`.
Is there a reason why I can't use a constraint for a transitive dependency ?
If I remember correctly, Composer (PHP package manager) allows it.

@carolynvs no sorry, it's a private repository.
In my code I just use `github.com/gorilla/mux`.

[2017-04-16 15:06] caarlos0 commented on #387
I'm also having this issue in several projects.

For example: https://github.com/getantibody/antibody/pull/175

[2017-04-16 15:12] sdboyer commented on #385
@pierrre If your constraint was the `master` branch, it never should've been able to produce that lock in the first place, and it certainly shouldn't persist after a `dep ensure`. It's unfortunately hard to say more without being able to look at the project directly. However, if you could paste the output of `dep hash-inputs` here, that would help.

[2017-04-16 15:13] sdboyer commented on #385
(feel free to redact the contents as needed)

[2017-04-16 15:27] sdboyer commented on #387
Hmm...

The fact that `golang.org/x/net/html` is given as the project root is suspicious. It suggests to me that either I got something wrong about how vanity URL/go get HTML HEAD metadata is supposed to work, or...well, or there's something else going on.

@subchen @caarlos0 is this a longstanding issue for you, or did it just start happening? I rewrote the import path -> project root deduction s

[2017-04-16 15:30] pierrre commented on #385
@sdboyer
[code]

Full `Gopkg.toml`
[code]

Full `Gopkg.lock`
[code]

@carolynvs  Should I also try to write a small project in a public repository ?
i'm just using the latest gorilla/mux.

[2017-04-16 16:00] caarlos0 commented on #387
@sdboyer I started to notice it yesterday because I started to migrate more repositories to golang/dep...

[2017-04-16 16:37] sdboyer commented on #385
@pierrre looks like your direct dependency is `github.com/gorilla/mux` (so your constraint is respected), but not `github.com/gorilla/context` (so your constraint is not respected).

And, I forgot to address your question earlier about why Composer works differently - it's because in Composer (and every other system I'm aware of), the manifest is responsible for both the concept of "REQUIREMENT" a

[2017-04-16 16:40] sdboyer commented on #387
OK, if it's new as of yesterday (i merged latest gps yesterday evening around 5:30 ET), then it could be a regression.

[2017-04-16 16:44] #384 closed

[2017-04-16 17:21] tro3 commented on #389
Well, after playing with this on my PC (Intel i7, Windows 10), os.Symlink does nothing in or out of `dep`.  So `TestResolveProjectRoot` can never pass.   Don't know how AppVeyor is passing, frankly.  There is clearly some os dependence of some sort.  I suppose as long as AppVeyor passes, this is nearly a non-issue (or at least a tough-to-address one), so I'll pull this for now.

[2017-04-16 17:21] #389 closed

[2017-04-16 18:31] caarlos0 commented on #387
@sdboyer the commit you refer to seems to be 7367dc941245eb0ebf5651db241ae203e8d5afe3, so I `cd $GOPATH/src/github.com/golang/dep` and `git checkout b839831e75440c4c09f69d26b0b54853bba35092`, which is the previous commit, and finally, `go install ./...`, and it seems to work.

So, I'm guessing it indeed is a regression.

[2017-04-16 18:32] sdboyer commented on #387
@caarlos0 OK great, thank you for bisecting that down 😄 tells me where i need to look.

hopefully can roll a 0.16.1 today

[2017-04-16 18:35] caarlos0 commented on #387
@sdboyer ok, thanks!

let me know if you need any help! :)

[2017-04-16 18:55] pierrre commented on #384
thank you !

[2017-04-16 19:03] pierrre commented on #385
Thank you for your detailed explanation.
It solves my problem.

I was trying to migrate one of my projects to `dep`.
I'm currently using `godep` with this logic:
- update dependencies (direct and transitive) in my $GOPATH to their latest version
- copy dependencies to my project with `godep`

I didn't understand why I couldn't update transitive dependencies to the latest available version.

[2017-04-16 19:03] #385 closed

[2017-04-16 22:03] sdboyer commented on #389
the horror of symlinks continues 😱

[2017-04-16 22:07] #387 closed

[2017-04-16 22:08] sdboyer commented on #216
@paddie @groob if either of you still happen to have a case handy for this and wouldn't mind testing with the latest dep to see if there's an improvement, I'd find it to be a great help 😄 I _think_ what'll happen silent success, where the rev from on disk ends up being ignored and the "default" version - latest semver tag if there is one, else default branch) gets selected.

[2017-04-16 22:12] sdboyer commented on #366
Ahhh...crap. I think I know why this is happening.

[2017-04-16 22:17] sdboyer commented on #366
OK, with gps v0.16.2, I think this should no longer be an error. Give it a whirl?

[2017-04-16 23:11] sdboyer commented on #300
OK, we've got the go-ahead from everyone. I'll look at what's involved in the issue migration this week.

[2017-04-16 23:37] kris-nova commented on #300
<-- Volunteer to move it if you want 😄

RE:

[2017-04-17 00:26] sdboyer commented on #300
@kris-nova that'd be amazing 😄😄😄😄

Looking at https://github.com/IQAndreas/github-issues-import, it seems like it might be helpful to have a 'neutral' account do the reposting of issues. If we could access @gopherbot for those purposes, that'd be great. If not, we can just make a new, disposable account for the migration.

[2017-04-17 01:46] kris-nova commented on #300
Any ideas who owns the @gopherbot things? I'll see if I can't use the twitters to find out as well.

[2017-04-17 01:57] sdboyer commented on #300
no idea on that one, unfortunately :/

[2017-04-17 03:28] mem commented on #296
I would appreciate it if you guys can take a look at the PR and provide feedback. This was done very very quickly. At least the tests need fixing.

[2017-04-17 03:37] kris-nova commented on #300
I'll see if my tweet gets any hit - otherwise I can make  a throw-away account 😞

[2017-04-17 12:44] sdboyer commented on #277
I made considerable progress on the WIP spec last night; a new approach to `dep ensure` is now at least mostly sketched out. It's certainly in a place where folks could start iterating on it, though we'll doubtless need to take it over the course of a few PRs. I'd prefer to avoid it, but we could also use a long-running feature branch if need be.

[2017-04-17 13:33] sdboyer commented on #300
I'm thinking maybe ... @rakyll or @spf13  would know who has access to that bot, and/or if it'd be appropriate to use for migrating these issues?

[2017-04-17 15:33] Civil opened #396 "Panic if 'dep ensure' is interrupted"
[code]
I'm on commit bca5bdb6c186220f1e4eb7ea5a552211c7d429b2, so that should include the fixes you've made about that.

[2017-04-17 15:37] sdboyer commented on #396
Oh, derp! I was just noticing we didn't have a test case for this last night, but didn't get round to writing one. And, now I see the bug. Will fix it in a jiffy.

[2017-04-17 17:20] kardianos commented on #300
@bradfitz has been fixing up the gopherbot recently.

[2017-04-17 19:25] sdboyer commented on #391
(now fixed)

[2017-04-17 19:25] #391 closed

[2017-04-17 21:48] carolynvs commented on #380
Is there any scenario where `Required` is populated from the glide config? Perhaps when they are using a dev tool that's specified in the glide.yaml, like golint, but isn't imported in any of their project's code?

[2017-04-18 00:26] velovix commented on #331
Man pages will be a complicated problem. Before Dep is merged into the toolchain, I don't think anybody will be installing it in any way other than `go get`. After Dep is merged into the toolchain, we'll be dealing with the fact that the Go command itself doesn't have man pages. There's an [issue for this](https://github.com/golang/go/issues/101), which happens to be the oldest open issue on the p

[2017-04-18 01:37] sdboyer commented on #380
I don't think so, as I believe glide's still relying on static analysis to determine what's actually needed (same as gps).

I'd say it'd be fine to print a message for each ineffectual constraint the conversion encounters, though.

[2017-04-18 02:43] y0ssar1an commented on #391
I can confirm this is fixed for me. Thanks for fixing it so quickly! 🥇

[2017-04-18 07:27] zacps commented on #331
Unfortunate, you're right that there doesn't seem to be anything we can do about it.

[2017-04-18 11:23] sdboyer commented on #331
So, on considering this further, and discussing a bit [on reddit](https://www.reddit.com/r/golang/comments/65vlmg/dep_status_week_of_april_17/dge8m5x/), I think that the only sane thing to do here is to prep docs in the final form we hope them to take - HTML files that live on golang.org.

[2017-04-18 11:53] jmank88 commented on #331
@sdboyer Following that trail...
This documentation: https://golang.org/cmd/go/
Appears to generated from this go file: https://golang.org/src/cmd/go/alldocs.go [on github](https://github.com/golang/go/blob/master/src/cmd/go/alldocs.go)
Which is generated by this process: https://golang.org/src/cmd/go/mkalldocs.sh [on github](https://github.com/golang/go/blob/master/src/cmd/go/mkalldocs.sh), which

[2017-04-18 13:52] sdboyer commented on #331
@jmank88 thanks for chasing that down. I'm kinda worried about that just to the extent that it might prevent us from adding helpful explanatory images/diagrams, but c'est la vie.

Is everything, even the [spec](https://golang.org/ref/spec), generated in this sort of way?

[2017-04-18 14:08] jmank88 commented on #331
Looks like `doc/go_spec.html` is hand written https://github.com/golang/go/commit/94b6011c78484357ef632f3cce3b382a0bc4c2cf , though I'm not sure how much variance from godoc style there is.

[2017-04-18 16:38] kevingo commented on #380
I just curiosity about why only support importing from glide instead of other existing tools to dep?

[2017-04-18 16:55] daenney commented on #331
What would be the advantage of using something like Hugo be (to push back to gh-pages or somewhere else) over maintaining a `docs/` folder that can be [configured to automatically be the source of GitHub Pages](https://github.com/blog/2233-publish-your-project-documentation-with-github-pages)? This keeps it really simple and means that without any further moving parts that could break a commit to

[2017-04-18 17:03] carolynvs commented on #380
@kevingo This issue is just for glide, see #186 for the epic. We plan on supporting more, glide is just the first one to be worked on.

[2017-04-18 17:06] kevingo commented on #380
@carolynvs Thanks for reply.

[2017-04-18 17:32] rakyll commented on #300
@bradfitz or @rsc can help with the gopherbot.

[2017-04-18 18:47] carolynvs commented on #331
I was going to suggest using `/docs` as well. It's quite helpful to be able to have a PR add a feature, tests, and update the docs all at once.

[2017-04-18 20:03] sdboyer commented on #380
Folks are welcome to jump in on the implementations for others at any time 😄 As I mention in #186, there's mostly-working implementations for several existing pkg mgrs out there already (I wrote them when converting glide to gps last fall)

[2017-04-19 09:21] Civil opened #398 "dep panic on ctrl+c (new one)"
[code]

This happens if I hit 'ctrl + c' almost immediately after starting 'dep ensure'.

I've tried to update to current master, but no luck.

[2017-04-19 13:38] AlekSi commented on #175
You may want to take a look at http://gonuts.io, back from Go 1.0 days.

[2017-04-19 13:44] AlekSi opened #399 "Incorrect version is selected"
[code]

`dep` from commit 477398819a549a19de3927435f70c43bb600e27c, `Gopkg.lock` does not contain this package.

Can I make logging more verbose?

[2017-04-19 16:26] ensonic commented on #376
That makes sense. It would be awesome to make sure this is mentioned somewhere to ensure people understand the scopes.

[2017-04-19 16:30] sdboyer commented on #376
Definitely. I've added a 'docs' label, which is equivalent to putting it on that TODO list :)

[2017-04-19 18:41] sdboyer commented on #399
Hi, thanks for posting an issue! 😄

And, eeek - that's the whole, unmodified trace output? If so, there's definitely a bug somewhere; it shouldn't be possible for the solver to move through those versions without reporting a failure reason. (There's no more verbose mode than that)

[2017-04-19 19:03] sdboyer commented on #398
Hmm - I changed a lot in that update with respect to lifecycle management within subcomponents of the SourceManager, but punted a bit on the overall lifecycle management (e.g., signals) with the expectation that we'd be coming to it in sdboyer/gps#159. Guess it needs some love sooner than that 😄

I'll have a look soon - thanks for posting the issue!

[2017-04-20 13:17] AlekSi commented on #399
It is both modified (project name, URLs are changed) and truncated (at `…`), but versions and error messages are not.

Here is another one:
[code]

Both `project` and `project2` are not present in lock file before running this command. Manifest is empty.
I tried to add tag `v0.10.0` to `project`, but this did not help.

[2017-04-20 13:28] AlekSi commented on #399
I added `traceInfo` to `solver.findValidVersion`, new output:
[code]

It doesn't make sense for me: all versions are importable, and `v0.1.0` is not so different from `v0.2.0`.

[2017-04-20 14:12] AlekSi commented on #399
Ok, I tracked that one down (there was _a lot_ of red herring on the way). Library package `project` contain `main.go` which starts like this:
[code]

Import path `.` is then passed to `intersectConstraintsWithImports` -> `DeduceProjectRoot` -> `deduceRootPath` -> `deduceKnownPaths` -> `normalizeURI`. Latest method returns error, but it's not printed for some reason.

What I think can be improved:

[2017-04-20 14:40] sdboyer commented on #399
Thanks for putting the time in on figuring this one out - you really dug in deep! 🎉

The question is, what more information would you want to see? Everything here kinda revolves around the solve tracer, which is tricky.

Solve tracing has generally been sufficient so far - as you discovered, once you instrumented it and added that error message, the issue here became a lot clearer. It's sufficient

[2017-04-20 15:34] carolynvs commented on #399
What with gps moving into dep, and dep already depending on `pkg/errors` (which may be my favorite lib of all time)... I'd be happy to help pepper it with wraps. 😇

[2017-04-20 15:34] kragniz opened #405 "Dep ensure silently updating lock file when encountering an orphaned commit"
Small repoducer here: https://github.com/kragniz/deptest

When running `dep ensure` on this project, my `Gopkg.lock` file gets modified to a different reviesion:

[code]

After looking at the verbose output, it appears that dep knows that the lock file references a particular revision, but bails on it:

    (1)	✗   Unable to update checked out version: fatal: reference is not a tree: 4dfc6a8a7e152

[2017-04-20 15:36] carolynvs commented on #405
I agree that if `-update` wasn't specified, if dep can't resolve something in the lock anymore, prompting the user or at the very least returning an error would be less unexpected/surprising.

[2017-04-20 17:31] sdboyer commented on #405
Ah, cool, glad we figured out the root cause. This is a tricky case.

First, I'm a bit surprised you still got that fatal message - I thought some of the last round of changes I made to gps would have caught that. Need more test cases!

Unfortunately, this particular issue - that you happened to be on an orphaned commit - is something that's very difficult to detect, as the methods we might use to

[2017-04-20 17:51] kragniz commented on #405
To clarify, the `fatal: reference is not a tree:` comes from the output of `dep ensure -v`.

It still seems odd that the lock file is changed without some explicit action from the user. My current mental model of the lock file is that it is the source of truth of the exact versions required by the project. From what you're saying, it seems more like a suggestion that will be ignored if something e

[2017-04-21 01:11] sdboyer commented on #405
Yep, that's what I meant. That error is coming straight back from git when a higher-order command (e.g. `git checkout`) failed; I'm miffed because I thought the changes I made would have made the solver explicitly check the revision's existence prior to getting to the point where a higher-order command fails.

`dep ensure` is that explicit action. We no doubt need to take more steps to communicate

[2017-04-21 01:22] sdboyer commented on #300
@kris-nova let's not wait on the bot - just make a new account for this purpose. Maybe with a cute avatar from gopherize.me 😄

[2017-04-21 10:04] atilkan opened #407 "Ensure"
I ensure you "get" would be shorter, easier. This is UX problem.

Don't kill the joy while trying to be different.

[2017-04-21 11:05] sdboyer commented on #407
Hi! We appreciate the issue.

"get" is not what "ensure" does. It would be misleading for us to name it that.

[2017-04-21 11:05] #407 closed

[2017-04-21 11:56] jmank88 opened #408 "panic: canary - *should* be impossible to have a pkg-only selection here"
With latest `dep` (536f25fa4f5e9fa353e5a1d4fdc22149a8d8fec0), running `dep init` on the latest github.com/iron-io/functions ([32278fe2e02e38737fe87be32975255b81712f17](https://github.com/iron-io/functions/commit/32278fe2e02e38737fe87be32975255b81712f17)) produces a panic that I don't see an open issue for.

[Full Log](https://gist.github.com/jmank88/06fa1359f78141088faf87f6d94bd2e2)
Relevant error

[2017-04-21 11:59] jmank88 commented on #408
It is reproducible, but it is not related to the preceeding `Cached ...` line (maybe that is obvious to someone looking at the code side)

[2017-04-21 12:31] kris-nova commented on #300
Word will get on it today 👍🏻

[2017-04-21 12:49] sdboyer commented on #300
@kris-nova sweet! lmk when you have it; if it needs perms for this repo i believe i can provide them

[2017-04-21 12:59] sdboyer commented on #408
@jmank88 canaries are working, this is probably a bug! 😄 thanks for the issue report.

Could you re-run with `dep init -v`? That'll give the solve trace output, which is essential for determining where things went wrong in the solving algorithm. Thanks!

[2017-04-21 13:10] franciscocpg opened #409 "Unable to update checked out version: fatal: Not a git repository (or any of the parent directories): .git"
### What version of Go are you using (go version)?
go version go1.8.1 linux/amd64

### What operating system and processor architecture are you using?
Linux 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### What did you do?
I am using the HEAD of master branch (commit `536f25f`) and after running `dep ensure -v` I got:
[code]
In fact the error is a bi

[2017-04-21 13:30] sdboyer commented on #409
hi! thanks for posting the issue!

Oi, that aws-sdk-go repo...I seem to see that a disproportionate amount of the time, givin' problems. Is the project you're working on public, so that I can more directly reproduce the error? And, is the error itself reproducible on subsequent `dep ensure` runs?

Clearly, it's able to retrieve a version list (because that's where `v1.8.15` comes from), but someho

[2017-04-21 14:44] fabulous-gopher opened #411 ""git.company.com:1234/group/project.git" is not a valid import path"
_From @liuliuhit on April 19, 2017 3:22_

I got this error message because of normalizeURI() function.

Notice `deduce.go ` line 75
pathvld = regexp.MustCompile(\`^([A-Za-z0-9-]+)(\.[A-Za-z0-9-]+)+(/[A-Za-z0-9-_.~]+)*$\`)

pathvld seems not support the uri pattern with port.

thanks😀

_Copied from original issue: sdboyer/gps#219_

[2017-04-21 14:45] fabulous-gopher opened #412 "Use longer variable names within solver"
_From @sdboyer on April 15, 2017 1:56_

I really went overboard on the whole short variable names thing within the solver. The algorithm is hard enough to follow, even for me, when variable names aren't descriptive. This issue is more or less a TODO to go through and change var names in a way that will make working in the solving algorithm less daunting.

_Copied from original issue: sdboyer/gps#2

[2017-04-21 14:45] fabulous-gopher opened #413 "Contributors: consent to relicensing for moving gps into dep"
_From @sdboyer on April 13, 2017 17:5_

Dearest lovely contributor peoples,

In order to move gps directly into dep and hack on it - which was something that was always kinda the goal anyway - we need to relicense the code; golang/dep#300. The Google lawyers have indicated it should be sufficient to have people reply to this thread with "I agree to relicense my contributions", and then make sure y

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @erizocosmico on April 13, 2017 17:8_

I agree to relicense my contributions
On Thu, 13 Apr 2017 at 19:06, sam boyer <notifications@github.com<mailto:notifications@github.com>> wrote:

Dearest lovely contributor peoples,

In order to move gps directly into dep and hack on it - which was something that was always kinda the goal anyway - we need to relicense the code; golang/dep#300<https://gi

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @zellyn on April 13, 2017 17:10_

"I agree to relicense my contributions".

I thought I'd signed the CLA already, but it let me do it again, so I did.

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @zbintliff on April 13, 2017 17:11_

I agree to relicense my contributions

Edit: I also already submitted the CLA for a work done on `dep`.

On Thu, Apr 13, 2017, 1:10 PM Zellyn Hunter <notifications@github.com>
wrote:

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @carolynvs on April 13, 2017 17:16_

I agree to relicense my contributions

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @spenczar on April 13, 2017 17:20_

I agree to relicense my contributions

edit: and i've signed the CLA :)

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @narqo on April 13, 2017 17:23_

I agree to relicense my contributions.

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @kamilchm on April 13, 2017 18:15_

I agree to relicense my contributions and I signed the Google CLA.

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @tomwilkie on April 13, 2017 18:22_

I agree to relicense my contributions
On Thu, 13 Apr 2017 at 14:15, Kamil Chmielewski <notifications@github.com>
wrote:

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @chx on April 13, 2017 18:40_

I agree to relicense my contributions

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @sdboyer on April 13, 2017 18:59_

Look at these rapid responses - awesome, thank you!

Could folks also please confirm that they've signed Google's CLA?

[2017-04-21 14:45] fabulous-gopher commented on #413
_From @chx on April 13, 2017 19:1_

I signed the Google CLA (is this issue the gps equivalent of drupalconfessions :P ? )

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @freeformz on April 13, 2017 19:25_

I agree to relicense my contributions and I've previously signed the Google CLA.

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @jstemmer on April 13, 2017 22:5_

I agree to relicense my contributions and they're already covered by the Google CLA.

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @ReSTARTR on April 14, 2017 1:4_

I agree to relicense my contributions and I've signed the Google CLA.

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @sakeven on April 14, 2017 2:40_

I agree to relicense my contributions

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @sdboyer on April 15, 2017 2:0_

@sakeven and you've signed the Google CLA?

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @kris-nova on April 15, 2017 2:58_

I agree to relicense my contributions and I've signed the Google CLA - how exciting!

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @sakeven on April 15, 2017 16:6_

@sdboyer yes

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @sdboyer on April 15, 2017 21:46_

@erizocosmico you've signed the Google CLA, right?

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @sdboyer on April 15, 2017 21:48_

consent from @adg - https://twitter.com/enneff/status/853363967384707072

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @erizocosmico on April 15, 2017 21:48_

Yep, I did back when I did my first PR on dep.
On Sat, 15 Apr 2017 at 23:46, sam boyer <notifications@github.com<mailto:notifications@github.com>> wrote:

@erizocosmico<https://github.com/erizocosmico> you've signed the Google CLA, right?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://githu

[2017-04-21 14:46] fabulous-gopher commented on #413
_From @sdboyer on April 15, 2017 21:49_

@erizocosmico ah right, i 'd forgotten you'd done one there, too. OK, looks like we're all set...

[2017-04-21 14:46] fabulous-gopher opened #414 "Allow (?) custom schemes on vanity imports"
_From @sdboyer on April 4, 2017 1:24_

It _should_ be possible to specify a custom scheme (http vs. https, possibly more) when relying on a vanity import source. But the deduction system poops out earlier than it should. Specifically, [this check](https://github.com/sdboyer/gps/blob/c7c43097d7e7ae5ed2841945fcdb4492b911d817/deduce_test.go#L639-L641) is wrong because it's actually failing on the wro

[2017-04-21 14:46] fabulous-gopher commented on #414
_From @sdboyer on April 4, 2017 1:25_

At least...it seems like specifying such a scheme should be possible. Maybe it shouldn't be. That's something we may want to figure out here, too 😄

[2017-04-21 14:46] fabulous-gopher opened #415 "Fix performance regression - network calls too early"
_From @sdboyer on April 4, 2017 1:21_

Fix the performance regression arising from how early we go out over the network to verify a source's upstream existence: https://github.com/sdboyer/gps/pull/196#issuecomment-289955050

This may be a nontrivial fix, as it would create a situation where it's possible for a source that initially *looks* good to become bad later.

_Copied from original issue: sd

[2017-04-21 14:47] fabulous-gopher opened #416 "Errors in `svn checkout` do not propagate correctly"
_From @spenczar on March 20, 2017 22:41_

`TestSvnRepo` panics for me on the current master:
[code]

This panic is happening because even though the `err = repo.Get()` line at L45 doesn't return an error, it is, in fact, failing. I hacked into the internals to print the command output, and I saw this:
[code]

Is it that the `svn` command exits with 0? No, it exits with 1:
[code]
So it appears that

[2017-04-21 14:47] fabulous-gopher commented on #416
_From @sdboyer on March 22, 2017 11:55_

Hmm, odd. (thanks for digging!)

Honestly, I haven't looked closely at the svn stuff (it's recently added, we didn't really support it before). All of the error handling there should follow a pretty standard pattern (that certainly does catch non-0 exit codes), so at first glance, it seems most likely that what we have just doesn't quite follow the pattern

[2017-04-21 14:47] fabulous-gopher commented on #416
_From @jstemmer on April 1, 2017 23:13_

There are a few things happening here.

I'm fairly certain that the reason that `err` didn't return an error even though the command failed was because of a bug in `runFromCwd`. I've fixed this in #204.

I don't know why you saw an SSL verification error, it works for me currently. You had to dig a bit to find this, because the errors returned from the `vcs

[2017-04-21 14:47] fabulous-gopher commented on #416
_From @sdboyer on April 1, 2017 23:28_

@jstemmer yeah, I'm convinced. I was also noting the actual errors not making it through the other night while working on #196. If you make a PR to fix `unwrapVcsError()`, I'll merge it 😄

[2017-04-21 14:47] fabulous-gopher commented on #416
_From @jstemmer on April 1, 2017 23:43_

Sorry, it looks like I was mistaken. I've ran a few tests with invalid repo urls and the original error only contains the string `exit status 1`. The actual error message is already captured from the command output and `unwrapVcsErr` propagates that correctly. For this particular case it wouldn't add much value to include the original error. I'd be interest

[2017-04-21 14:47] fabulous-gopher commented on #416
_From @sdboyer on April 2, 2017 2:56_

Eh...it was late, and I was debugging a massively concurrent test, so I don't remember exactly :/ It may have been that I didn't have the fix from #204 yet at that point (I later adapted it into #196).

[2017-04-21 14:47] fabulous-gopher opened #417 "Support empty ProjectRoot"
_From @sdboyer on March 20, 2017 16:3_

golang/dep#313 highlighted an issue where things don't behave very well if `ProjectRoot` is empty. This seems like a case we should explicitly support, though. This is kind of a stub issue for all that, but two quick thoughts:

* One set of work is refactoring `ListPackages()` and `PackageTree.ToReachMap()` to work differently when the root is empty
* The ot

[2017-04-21 14:48] fabulous-gopher opened #418 "`go get github.com/sdboyer/gps` fails because /vendor/ is not checked in"
_From @spenczar on March 10, 2017 14:49_

`gps` happens to require the 2.x branch of [github.com/Masterminds/semver](https://github.com/Masterminds/semver), which is not the master branch, but gps does not explicitly vendor its dependencies. That means `go get github.com/sdboyer/gps` (and its friends, like `go test`) don't work out of the box.

This took me about 30 minutes to suss out, which is a

[2017-04-21 14:48] fabulous-gopher commented on #418
_From @sdboyer on March 10, 2017 16:26_

Glad you're here! 👏 😄

Yeah, this is definitely not the best. Let's keep it simple for now, with a note in `CONTRIBUTING.md`. gps is going to move directly into dep soon (golang/dep#300), at which point we're probably going to be developing over there, so the considerations related to `vendor` will be different.

[2017-04-21 14:48] fabulous-gopher commented on #418
_From @spenczar on March 10, 2017 17:2_

Thanks for the warm welcome! 😄

I'll write a PR to add some text to `CONTRIBUTING.md`, that sounds like the right plan.

[2017-04-21 14:48] fabulous-gopher opened #419 "Adapt goimports' fast filepath.Walk impl for ListPackages"
_From @sdboyer on March 7, 2017 14:44_

`goimports` has [an optimized implementation of `filepath.Walk()`](https://github.com/golang/tools/blob/master/imports/fastwalk.go) that we should adapt for `ListPackages()`.

_Copied from original issue: sdboyer/gps#180_

[2017-04-21 14:48] fabulous-gopher commented on #419
_From @jstemmer on April 1, 2017 22:19_

I've had a quick look at the fastWalk implementation and it looks like it should be pretty easy to replace the current filepath.Walk implementation with this faster one. Some quick testing shows a consistent improvement in ListPackages performance, I can clean it up and prepare a PR.

Can we just copy the source into this repo with the licensing headers int

[2017-04-21 14:48] fabulous-gopher commented on #419
_From @sdboyer on April 1, 2017 23:38_

Ugh, licenses. We're already trying to figure that out in the reverse direction - golang/dep#300. Maybe it's best to just wait until after we finish that, as the licenses should then be compatible.

Also, a note - we may need it to be somewhat different from goimports' version, as our symlink needs may be a bit different - see #157 and #177.

[2017-04-21 14:48] fabulous-gopher commented on #419
_From @jstemmer on April 1, 2017 23:48_

Sure, I'll hold off on sending it for now and will keep it around in a local branch until gps is merged into dep.

I was vaguely aware that symlinks were being discussed in a couple of places but tried to avoid those discussions so far. I'll have a look through those issues and see what needs to be changed, thanks for linking them.

[2017-04-21 14:48] fabulous-gopher commented on #419
_From @sdboyer on April 2, 2017 1:21_

SGTM

That seems like a good act of self-care. I am _truly_ coming to despise symlinks.

[2017-04-21 14:49] fabulous-gopher opened #420 "Avoid erroneous import cycle loop detection in ToReachMap() arising from tests"
_From @sdboyer on March 6, 2017 20:48_

When tests are included as part of a `ToReachMap()` call, all import statements are collapsed together, regardless of whether they originate from the actual package or from tests in that package. As @adg and I observed on one larger project, this can create a situation where those test imports create the appearance of an import cycle. For example, if:

[code

[2017-04-21 14:49] fabulous-gopher opened #421 "Introduce, expose, and hash a solver version number"
_From @sdboyer on March 2, 2017 3:19_

The solver probably to be given a version number, and have it incremented whenever the solving algorithm changes in such a way that solving has a different answer set, given the same inputs.

This number must then be exposed via an addition to `Lock`, and incorporated in hashing.

_Copied from original issue: sdboyer/gps#173_

[2017-04-21 14:49] fabulous-gopher opened #422 "Test solver against random graphs"
_From @sdboyer on February 1, 2017 18:30_

Almost all of the tests I've written for gps' solver thus far are geared towards checking some aspect of correctness of the solver. Testing its performance has not been a priority. But the solver is tasked with constraint solving - an NP-hard search problem. Its performance (against real graphs) is something we have to care very much about.

Of course, th

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @timtadh on February 2, 2017 16:22_

One way to construct "worst case DAGs" for version control operations is to generate a graph in the form of a N-dimensional grid or lattice structure. This effectively makes every "non-edge" commit in the DAG a merge commit. Here is a simple example:

The numbers are the commits, edges indicate `parent-commit --> child-commit` or `previous-version --> nex

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @sdboyer on February 2, 2017 17:14_

Thanks, I do think this helps frame the problem.

Definitely - defining the structure of the random graphs strikes me as being what will probably take the most work. It also demands attention because it will need some design for flexibility - we are likely to add new dimensions to the solver over time, which the random graph generator would need to reflec

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @timtadh on February 2, 2017 17:36_

@sdboyer That paper is really more about cryptography. [Connamacher and Molloy's](https://arxiv.org/abs/1202.0042) paper is a better reference.

Doing some examples out by hand, the lattice approach looks promising as you can set it up to be:

1. As large as you like.
2. Generate maximum number of version conflicts at every level in the diamond.

However,

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @sdboyer on February 2, 2017 17:38_

Great. It's the weird cases in the middle that'll get us.

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @timtadh on February 2, 2017 21:8_

After giving this some more thought....

So previously we were thinking of dependency resolution as constraint solving and trying to generate conflicts. However, this is not the only way to look at. We can also look at in terms of a slightly wierd form of the subgraph isomorphism problem. This quick post will just go through an example. I am going to work

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @Groxx on February 2, 2017 21:14_

Just to chime in: I think it's important to generate _invalid_ graphs as well.  Attempts will fail, and it'd be best if they completed in a sane amount of time.

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @sdboyer on February 8, 2017 18:10_

It certainly makes sense that there would be a way to express the problem here as a weird version of subgraph isomorphism - both are NP-complete. The jump I'm not quite clear on is why that's helpful for the random input generation problem; as-is, this reads to me more like a thought on changing the core algorithm itself. Which is a discussion we can have

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @timtadh on February 8, 2017 21:46_

@sdboyer I will do a longer response later but I wanted to address one thing:

The selector (eg. `^1.0.0` or `~1.0.0`) can only select versions which exist. There are only countable versions for any particular project. Thus, expanding the constraint to the matched versions yields a countable number of nodes. Since, in practice there are a finite number of

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @sdboyer on February 8, 2017 21:54_

Sure, ofc, the actual problem we're solving will always be finite. Sounds like this probably isn't significant to our current concerns, then :)

Thanks!

[2017-04-21 14:49] fabulous-gopher commented on #422
_From @sdboyer on February 22, 2017 13:51_

bump :)

[2017-04-21 14:49] jmank88 commented on #408
`dep init -v` https://gist.github.com/jmank88/1d1cb545f774ff3d34afb9bd15670200

[2017-04-21 14:49] fabulous-gopher opened #423 "Incorporate context.Context into SourceManager"
_From @sdboyer on January 26, 2017 2:27_

We need to start using `context.Context` for handling cancellation-type behaviors within the `SourceManager`. There are two parts to this:

* A `context.Context` should be passed to `NewSourceManager()`, and the cancellation channel there used to replace the exposed signal handling system. (It's still fine to have a helper func that sets up a Context for t

[2017-04-21 14:49] fabulous-gopher commented on #423
_From @erizocosmico on January 27, 2017 23:10_

I can tackle this if it's okay with you :smile:

[2017-04-21 14:49] fabulous-gopher commented on #423
_From @sdboyer on January 28, 2017 1:9_

Oh man, that'd be...amazing. 🎉 😄 🎉  But, the refactor here is likely to amount to a rewrite of significant portions of the SourceManager system. It's daunting enough that I'm worried about it turning into one of those dangerous, neverendering refactors...and I wrote the damn thing.

Don't get me wrong - I *REALLY* want other people to take ownership over pa

[2017-04-21 14:49] fabulous-gopher commented on #423
_From @erizocosmico on January 28, 2017 1:13_

Yeah, totally, I'll start with #84. I've been taking a look at `SourceMgr`'s code and you're right, it's a big daunting for a first time working on this codebase.

[2017-04-21 14:49] fabulous-gopher commented on #423
_From @sdboyer on March 21, 2017 11:14_

(I'm now working on this in #196)

[2017-04-21 14:49] fabulous-gopher opened #424 "remove git binary dependency"
_From @mcuadros on January 25, 2017 14:48_

Using [`go-git`](https://godoc.org/gopkg.in/src-d/go-git.v4) a pure Go git implementation the dependency of the git binary can be removed, also this will give more flexibility at the time of work with git repositories

I will be glad of make a PR with the changes suggested

_Copied from original issue: sdboyer/gps#158_

[2017-04-21 14:49] fabulous-gopher commented on #424
_From @sdboyer on January 25, 2017 15:1_

Awesome! I'd love to get rid of the binary dependency, and wouldn't mind avoiding cgo-derived complications from relying on libgit2, either. At the same time, libgit2 offers guarantees about comparable behavior to git itself that I don't know if go-git also offers. If there's anything public/explicit about such guarantees, could you point me to them?

Ther

[2017-04-21 14:49] fabulous-gopher commented on #424
_From @mcuadros on January 25, 2017 15:17_

`go-git` is being develop to mimic the internal behavior of git, as libgit2 or jgit does. Every component at go-git should works as is expected at cgit.  Earlier versions of go-git has been tested against all the repositories at github.com due to the nature of our business. The v4 is still not stable or production ready but we expect to have a stable ver

[2017-04-21 14:49] fabulous-gopher commented on #424
_From @sdboyer on January 25, 2017 15:43_

sounds good enough to me to get started on a PR, at the very least :)

The two things I'd highlight as needing close attention are submodule cleanup (see Masterminds/vcs#60) and the [export behavior](https://github.com/sdboyer/gps/blob/186fc3061cd8ace20391ee709fe1af417a27ed1c/vcs_source.go#L35-L98). The latter could really be optimized once things like ve

[2017-04-21 14:49] fabulous-gopher commented on #424
_From @mcuadros on January 26, 2017 9:49_

Oh, I didn't though in submodules, was a more or less forgotten feature at go-git, we will work on it. And I will come back here.

[2017-04-21 14:49] fabulous-gopher commented on #424
_From @sdboyer on January 26, 2017 12:17_

Yeah, I also basically wish they didn't exist (as evidenced by the title of that issue).

I look forward to it!

[2017-04-21 14:50] fabulous-gopher opened #425 "Handle gopkg.in paths with e.g. "unstable" suffix"
_From @sdboyer on January 24, 2017 17:40_

First, quick background - gps has a set of "deducers," which are the way that it extracts project roots from import paths. These are entirely analogous to what `go get` uses today. However, we need more from them than does `go get`: these deducers also set up logic that will create and ultimately manage interaction with a source repository on disk (which

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @sdboyer on February 10, 2017 4:24_

@kris-nova this is the one you were looking at, right? please don't hesitate to ask questions, or even just to spitball - whatever helps you get over the hump with it!

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @alecthomas on February 13, 2017 1:46_

AFAICT, `1.2.3-unstable` falls under semver's notion of a [pre-release version](http://semver.org/#spec-item-9). eg. 1.2.3-alpha1.

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @sdboyer on February 13, 2017 4:47_

It definitely does. I think the question in my mind when I initially implemented this was, given that gopkg.in treats these import suffixes as general constraints rather than exact matches, should an `-unstable` suffix match just the literal suffix `-unstable`, or some wider set of versions.

Looking at niemeyer/gopkg#25, though, it seems like the exact m

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @alecthomas on March 10, 2017 5:29_

Any news on this?

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @sdboyer on March 10, 2017 11:52_

Nope, nobody's showed up yet to help. This is lower priority for me to work on myself than other things. If it has to fall to me to get done, it'll probably be a couple months.

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @kris-nova on March 10, 2017 15:10_

Ah sorry, I totally missed my mention on this! I can try to take a look sometime next week, and follow up then!

[2017-04-21 14:50] fabulous-gopher commented on #425
_From @sdboyer on March 10, 2017 16:26_

no problem :)

[2017-04-21 14:50] fabulous-gopher opened #426 "Strategy to deal with rate limiting"
_From @sdboyer on January 23, 2017 20:49_

Github repositories with popular projects are going to be (already, really) subject to rate limiting. We need a general strategy for working around this.

_Copied from original issue: sdboyer/gps#150_

[2017-04-21 14:50] fabulous-gopher opened #427 "Ensure semver build metadata is handled appropriately in SortFor{Upgrade,Downgrade}"
_From @sdboyer on January 15, 2017 20:16_

The version sorting funcs separate releases with prerelease versions out into their own category. However, I think they just ignore build metadata right now. This probably isn't right.

_Copied from original issue: sdboyer/gps#145_

[2017-04-21 14:50] fabulous-gopher commented on #427
_From @chx on March 12, 2017 5:58_

I will see what can I do.

[2017-04-21 14:50] fabulous-gopher commented on #427
_From @chx on March 12, 2017 17:40_

So what are we to do with this metadata? Just sort it lexicographically? `if lsv.Equal(rsv) { return lsv.metadata < rsv.metadata; }` ?

[2017-04-21 14:50] fabulous-gopher commented on #427
_From @sdboyer on March 12, 2017 17:53_

Right, so, what _should_ be done here is a bit of a question. Pulling in the docs on the method for reference:

[code]

So yes, within the subgrouping that is "semver with build metadata," we should sort first by proper semver rules, then lexicographically. The question is where that subgrouping should be placed. I can see three possibilities:

1. After the

[2017-04-21 14:50] fabulous-gopher opened #428 "Add check that hot-switching from default to alternate Source is "safe""
_From @sdboyer on January 15, 2017 20:0_

When `ProjectIdentifier.Source` is empty for a given project, it's possible for a later dependency on that same project to come along and specify a `ProjectIdentifier.Source`, and the solver will transparently allow the switch to the alternate source location.

This is useful because it allows (one) project to specify an alternate source location - primari

[2017-04-21 14:50] fabulous-gopher opened #429 "Get rid of Manifest.TestDependencies() entirely"
_From @sdboyer on January 12, 2017 5:36_

Because the constraint decls no longer imply "requirement," having a separate method on `Manifest` for declaring test deps is utterly pointless. They should all be lumped in together, and #44 can deal with marking anything that comes in through tests as test-only.

_Copied from original issue: sdboyer/gps#140_

[2017-04-21 14:50] fabulous-gopher commented on #429
_From @sdboyer on February 13, 2017 16:58_

note to self (ish) - getting rid of this should mean that `pcSliceToMap()` can probably also go.

[2017-04-21 14:50] fabulous-gopher opened #430 "Add tests to ensure semver leading 'v' doesn't mess us up"
_From @sdboyer on January 5, 2017 4:23_

When a constraint is specified with a leading `v`, but the underlying version lacks it, or vice versa, it's correct to elide that difference and have both cases match.

I don't think we do this now, but I'm honesty not sure. Need some tests to check.

_Copied from original issue: sdboyer/gps#135_

[2017-04-21 14:51] fabulous-gopher commented on #430
_From @sdboyer on January 5, 2017 4:25_

At least half of the importance here is just clearly identifying where in the solving algorithm the decision gets made about what form we actually use. I'm pretty sure it takes from the vcs when populating the solution, so we should always be good as long as the constraint `Match()`es the version, but being really clear about this would be a plus.

[2017-04-21 14:51] fabulous-gopher opened #431 "Implement persistent caching in SourceMgr"
_From @sdboyer on December 30, 2016 11:46_

With additional testing being done as part of the new tool, it's increasingly clear that we really, really need to get persistent, disk-backed caching into place. There are four basic things we need to cache:

2. Version lists - all the versions available for a source
3. Manifest and Lock - for a given rev and a particular analyzer, these should be perma

[2017-04-21 14:51] fabulous-gopher commented on #431
_From @sdboyer on April 4, 2017 14:36_

With #196 finally done, the road to this is pretty clear. There's even a [TODO](https://github.com/sdboyer/gps/blob/564fe672feaa09273e67e3e0e4adf3ef39241495/source.go#L415) exactly where a handle to it should be dropped in 😄

We do need to pick a storage lib for it. LevelDB would be fine, as would Bolt.

[2017-04-21 14:51] fabulous-gopher opened #432 "Convert solve tracing system to operate over a channel"
_From @sdboyer on December 23, 2016 2:0_

Right now, the solving tracer operates by writing directly to a `log.Logger`. This is suboptimal for implementors, as it means they can really do very little except pass the data through directly. It would be far better to instead optionally return a channel (probably from `Prepare()`) over which traceable events are sent, then abstract the current visuali

[2017-04-21 14:51] fabulous-gopher opened #433 "Ensure we're correct on case insensitivity (for github...?)"
_From @sdboyer on December 13, 2016 0:31_

GitHub thinks `github.com/Sirupsen/logrus` is the same as `github.com/sirupsen/logrus`. We need to make sure we handle this...correctly. Ish. Sort of. Ugh.

_Copied from original issue: sdboyer/gps#116_

[2017-04-21 14:51] fabulous-gopher opened #434 "Set up test cases where ProjectRoot decls in manifests/locks are not actual roots"
_From @sdboyer on October 14, 2016 14:3_

This is an important case - users will no doubt bump into it when getting used to gps-based tooling, and probably inadvertently down the road. It needs sane failure modes.

_Copied from original issue: sdboyer/gps#109_

[2017-04-21 14:51] fabulous-gopher opened #435 "Move wiki docs directly into repository and use a generator"
_From @sdboyer on September 15, 2016 0:50_

Because this is _SO_ much better than a separate wiki/repo, and allows integration of docs changes along with code work

_Copied from original issue: sdboyer/gps#100_

[2017-04-21 14:53] fabulous-gopher opened #436 "Special handling for import paths containing explicit 'vendor'?"
_From @sdboyer on July 20, 2016 1:26_

It's possible to directly import out of `vendor`. That is,

[code]

Doing so would cause errors in `PackageTree`'s extraction methods. A similar issue exists for godep with rewritten imports.

We need general handling for these cases.

_Copied from original issue: sdboyer/gps#70_

[2017-04-21 14:53] fabulous-gopher opened #437 "Create in-deptree metadata file"
_From @sdboyer on July 19, 2016 23:57_

`WriteDepTree()` should (?) drop a file at the root of all dir trees it writes out place (so, everything explicitly listed in a `Lock`) that indicates the version actually in use. This isn't foolproof, but is at least a pretty clear indicator of whether that vendor dir was created by a `gps`-based tool, or not. (We _could_ also go the step further of includi

[2017-04-21 14:53] fabulous-gopher opened #438 "Implement package type/api compatibility checking"
_From @sdboyer on July 19, 2016 19:29_

We need to add a satisfiability condition that ensures type compatibility between packages at a given version. Nontrivial, but also shouldn't be crazy-difficult. Once we add this, though, we'll really need to start persisting the `SourceMgr` caches to disk.

_Copied from original issue: sdboyer/gps#67_

[2017-04-21 14:53] fabulous-gopher opened #439 "Add logic to disallow import cycles"
_From @sdboyer on July 19, 2016 19:21_

There's a spot just _waiting_ to do it in the `checkProject()` and `checkPackage()` methods.

For now, it's probably fine to use an offline algorithm (e.g., [Tarjan SCC](https://en.wikipedia.org/wiki/Tarjan%27s_strongly_connected_components_algorithm)) to find cycles. That gives us linear time in the number of packages and dependencies. Brief searches sugges

[2017-04-21 14:53] fabulous-gopher opened #440 "Define relationship between preferred versions and ToChange/ChangeAll params"
_From @sdboyer on July 12, 2016 2:7_

Right now, preferred versions get added to the queue without regard for the `ToChange` and `ChangeAll` params. I'm not completely sure what the best behavior here is, but I think it should probably look like this:
- If `ChangeAll` is not set and `ToChange` does not have a given project in it, then add prefv to version queue as normal
- If `ChangeAll` IS set an

[2017-04-21 14:53] fabulous-gopher opened #441 "Add test cases for errors coming from `ProjectAnalyzer.GetManifestAndLock()`"
_From @sdboyer on July 12, 2016 0:41_

I don't think we've actually dealt with the possibility of `ProjectAnalyzer`s returning an error from `DeriveManifestAndLock()`. That's...a rather significant oversight.

_Copied from original issue: sdboyer/gps#63_

[2017-04-21 14:53] fabulous-gopher opened #442 "Improve and guard revision-as-constraint handling"
_From @sdboyer on July 6, 2016 4:19_

#51 left a nasty hole in dealing with #49: if a constraint specifies a revision that doesn't actually exist, it tosses out an error much later in the solve process than it maybe really should. This issue also extends to both preferred versions (#16) and lock versions.

There's a fair bit of logic included that's dedicated to ensuring specified revisions actual

[2017-04-21 14:54] fabulous-gopher commented on #442
_From @sdboyer on April 16, 2017 16:46_

We do have an implementation in now that follows path 1. I'm leaving this open, though, as it's something we might want to reconsider in the future.

[2017-04-21 14:54] fabulous-gopher opened #443 "Use tarred repositories (or something) to make SourceManager testing fast, easy, and controlled"
_From @sdboyer on July 6, 2016 0:32_

`archive/tar` exists. Rather than cloning repositories from remotes - which, even in the simple case, adds up to being quite slow - it'd be quite a bit better to have repositories stored within the vsolver repo that we can untar into place as needed for tests, rather than having to repeat expensive clone ops over and over again.

...maybe. Or maybe it's just a

[2017-04-21 14:54] fabulous-gopher opened #444 "Report over- and under-constrained projects from the Result"
_From @sdboyer on June 29, 2016 14:11_

In Masterminds/glide#485, we discussed the importance of informing the user when they might want to take some corrective actions in their manifest. The original impetus came from coreos/rkt#2735, where they were discussing their desire to name _all_ dependencies, transitive and not, in their manifest - and so, wanting something to compare between lock and ma

[2017-04-21 14:54] fabulous-gopher commented on #444
_From @sdboyer on June 29, 2016 14:19_

@davecheney and @kardianos - wanted to give you guys a quick heads-up about this discussion. Not to troll, chest-beat, start a fight, reopen old wounds, or anything like that - so please please, _do_ feel free to ignore if this just seems annoying.

Just, I know that the basic topic of "should the manifest have direct and transitive deps, or just direct deps

[2017-04-21 14:54] fabulous-gopher opened #445 "Keep tags on selected deps so we know the context of their inclusion"
_From @sdboyer on June 24, 2016 1:11_

We need to be able to keep track of the context in which a dep is included, so that we can write that out into the lock file.

"Context," as in, "did this arise from a test dependency, and ONLY a test dependency?" Tracking test-only deps is the immediate use case for glide, but this should be the gateway to being able to track arbitrary tag contexts. And that

[2017-04-21 14:54] fabulous-gopher opened #446 "Possible git problems with MSYS2 on windows"
_From @sdboyer on June 23, 2016 23:4_

An issue got reported a while ago against Masterminds/vcs - Masterminds/vcs#11 - that touches on interactions with git on windows. The corresponding issue for glide is Masterminds/glide#206.

I haven't seen this issue crop up yet with our windows testing...but then again, testing of actual on-disk interactions is pretty limited at this point (most tests are o

[2017-04-21 14:54] fabulous-gopher opened #447 "Comprehend Go1.4 import comment constraints"
_From @sdboyer on June 18, 2016 2:44_

[Go 1.4 introduced](https://docs.google.com/document/d/1jVFkZTcYbNLaTxXD9OcGfn7vYv5hWtPx9--lTx1gPMs/edit) import comment constraints that allow the source of a package to designate the import path at which a package must be placed in order for it to compile.

We need to read these comments and at least note their presence - it doesn't matter quite yet, but on

[2017-04-21 14:54] fabulous-gopher opened #448 "Allow control over parallel network activity"
_From @sdboyer on May 17, 2016 10:40_

A bug was reported to glide (https://github.com/Masterminds/glide/issues/411) about how concurrent git+ssh activity causes issues when the key hasn't been decrypted into an agent. To handle this case, `vsolver` must provide an option for fetching in serial so that the requests are made in serial, and each password input is recorded correctly.

In some imagina

[2017-04-21 14:54] fabulous-gopher opened #449 "Iron out rough edges in the trace output"
_From @sdboyer on May 4, 2016 19:39_

#21 wasn't perfect, and there are definitely still some rough edges left in the trace output. Let's call this a general tracking issue for working them out.

_Copied from original issue: sdboyer/gps#22_

[2017-04-21 14:55] fabulous-gopher opened #450 "Handle errors more sanely"
_From @sdboyer on May 4, 2016 2:32_

The simplest thing we can do to make errors sane is:
- Have one/a couple specific error interfaces that differentiate between errors as true satisfiability _failures_ vs. mechanical errors (i.e. those coming from the `SourceManager`)
- In service of the above, have a mechanism for wrapping up the errors from a `SourceManager` as their own type...ish?

Also, a t

[2017-04-21 14:55] fabulous-gopher opened #451 "Define behavior of solver when tags move in nasty ways"
_From @sdboyer on April 5, 2016 2:40_

Sometimes, branches move nonlinearly (e.g. force push), and sometimes, tags get moved. It's important to define how the `SourceManager` handles these cases to make sure we're not missing anything.

Here is, more or less, the order of considerations:
1. Cached repos are mirrors of their upstreams - even of bad citizen changes.
2. If a bad citizen-type change o

[2017-04-21 14:55] fabulous-gopher commented on #451
_From @sdboyer on June 22, 2016 4:32_

this actually doesn't need to be MVP, i don't think

[2017-04-21 14:55] fabulous-gopher commented on #451
_From @sdboyer on October 6, 2016 0:22_

We really don't care about nonlinear branch moves, I don't think, so it's just tag movement that we have to worry about.

[2017-04-21 14:55] fabulous-gopher opened #452 "Pre-filter version caches in sm adapter according to root manifest"
_From @sdboyer on April 1, 2016 14:18_

Similar to #3; the SourceManager should receive the root project's manifest from the solver. As it's the only manifest we _know_ will apply, it could be used to preemptively filter the version caches to contain only versions acceptable by those constraints, eliminating the need to redo those computations each and every time a version queue is created for one

[2017-04-21 14:55] fabulous-gopher commented on #452
_From @sdboyer on April 26, 2016 2:1_

This should be a responsibility of #14

[2017-04-21 17:00] franciscocpg commented on #409
Hi @sdboyer
It's not a public project, :(.
It happens all the time. I am not being able to have a valid `vendor` folder until I rollback to `b839831e75440c4c09f69d26b0b54853bba35092`.

I'm going to try to reproduce this situation in a new repository.

[2017-04-21 19:41] franciscocpg commented on #409
I am able to reproduce this problem with this simple go file in my linux machine
[code]

But there is something strange, this error doesn't happen in my macOS machine (same golang version and dep commit) so I started to suspect this is somehow related to cache folder.

After removing the folder `$GOPATH/pkg/dep/sources/https---github.com-aws-aws--sdk--go` and running dep ensure again the problem w

[2017-04-21 21:23] carolynvs commented on #380
@sdboyer Do you have a preference on whether or not the importers are defined in sub-package, e.g. `github.com/golang/dep/importer`? I started down that path initially then realized that I wanted things (like `dep.vlogf`). Depending on whether or not these importers are all in a sub-package will really change how I go about doing that! 😀

[2017-04-21 21:35] carolynvs opened #454 "ensure should never write to the manifest"
https://github.com/golang/dep/blob/master/cmd/dep/ensure.go#L163 is a bug per https://github.com/golang/dep/pull/404#issuecomment-295999219. `dep ensure` should never write to the manifest now that it is user managed.

[2017-04-22 01:10] vinicio commented on #384
I still get the same error running `dep prune` in latest version 536f25f.

[2017-04-22 03:45] sdboyer commented on #380
@carolynvs i don't really have a strong preference. i _do_ think they should be unexported, at least for now.

In general, I think we need to start leaning more towards not exporting things we don't have to - or putting them in an `internal` dir - as we move more towards stability.

[2017-04-22 03:47] #312 closed

[2017-04-22 03:54] sdboyer commented on #66
We've addressed this upstream with default timeout handling now, I think.

[2017-04-22 03:54] #66 closed

[2017-04-22 04:22] enzochiau opened #456 "Should the downloaded packages be stored in central location then symlink to the vendor directories"
At the moment the dependency packages are dowloaded to vendor directory directly. That would cause the same version of package be downloaded and duplication multiple times inside or cross the project(s).

For example, I create a 50 lines go code and imports 4 packages. It ends up 85M after run `dep init`. If I have another project which use the same 4 packages, it will be another 85M. It may be no

[2017-04-22 11:34] sdboyer commented on #384
@vinicio sorry about that - should be fixed now!

[2017-04-22 13:03] sdboyer commented on #456
Hi! Thanks for the issue.

They're not actually _downloaded_ there directly, but they are placed there directly. Look inside your `$GOPATH/pkg/dep` directory - you'll see a cloned (bzr, hg, git) repositories sitting there.

While disk space is not entirely immaterial, it's 2017 - there are a lot, lot of other problems we're optimizing for first.

[sym]linking out of the vendor tree creates its own

[2017-04-22 13:03] #456 closed

[2017-04-22 13:56] vinicio commented on #384
Thank you!

[2017-04-22 18:36] y0ssar1an commented on #296
`dep` is using [the `staticcheck` static analyzer](https://github.com/golang/dep/blob/master/.travis.yml#L26) now. `staticcheck` is currently set to `-ignore` the deprecation warnings about `filepath.HasPrefix`.
[code]
If you're submitting a PR for this, would you be so kind as to delete that flag (and the comment above) from the `.travis.yml` file? 🙏

[2017-04-22 21:14] carolynvs commented on #226
Looks like this was fixed by #227, can this be closed?

[2017-04-22 22:05] iand opened #458 "Support common source archive formats"
I proposed this in the Go issue tracker as https://github.com/golang/go/issues/19614 but it was put on hold pending a solution from dep. Since that's likely to be in the medium to long term I thought I'd better open this as a tracking issue so it doesn't get lost.

Summary from that issue:

Currently the go get command expects to interact with a source control system to check out source code. Ther

[2017-04-24 07:41] ensonic commented on #372
I still don't under stand the 'is linked to another path within a GOPATH' part. The gopath is "/home/ensonic/go" and my actual code is under "/home/ensonic/projects/foo". The latter is *not* inside the gopath, I just linked it into the gopath.
Please note, that I stopped doing this and now use a GOPATH with two segments.

[2017-04-24 11:03] AlekSi commented on #399
I think it should log as much as possible. The main use case for that information is a reporting of issues:
* if something is not clear from that log, more logging should be added;
* if there is a clear bug, it should be fixed;
* if there is a clear user's error, it should be logged normally in user-friendly language, not only in this debug log.

I don't think we could expect it from all users. De

[2017-04-24 13:25] sdboyer commented on #458
I was actually _just_ thinking about this over the weekend. Specifically, what a tar archive might look like (the need for supporting alternate source types has been clear to me for a long time). There's a ton of value in doing this, to the point that it might even be _necessary_ for some possible long term changes - for example, the [source cache](https://gist.github.com/sdboyer/def9b138af448f393

[2017-04-25 00:37] sdboyer commented on #226
ah yes, thank you 😄

[2017-04-25 00:37] #226 closed

[2017-04-25 01:01] dt opened #460 "Feature Request: preserve vendor/.git"
As discussed on #vendor gopherslack, some workflows involve storing `vendor` in its own git repo and then embedding it via a submodule -- this can be nice for large vendor dirs with high churn, where that history is uninteresting as it is derivable form the lock file.

 It would be nice if `dep` ensured that when it manipulated or otherwise (re-)generated a `vendor` directory, it preserved the pre

[2017-04-25 12:48] sdboyer commented on #399
Sure, I'm on board with these principles, but I was asking a more specific question (in fulfillment of the first bullet, really). I'm trying to understand if, _for this particular case_, there's more logging you think to be necessary beyond the bit you added.

[2017-04-25 12:53] AlekSi commented on #399
I think "try" error should always be logged when `-v` flag is present.

+1. So in this particular case bug should be fixed, not error message. 😆

[2017-04-25 12:56] sdboyer commented on #372
@ensonic yes, it seems like we do have a bug there. disallowing "linking to another GOPATH" is supposed to avoid the situation where you have multiple elements in your GOPATH, and a symlink points from one, into the other. We really need to have just _one_ GOPATH that we operate on (in `dep init` - the only time we touch GOPATH)`.

It would appear our logic isn't doing that quite correctly, though

[2017-04-25 13:00] sdboyer commented on #399
yep! we may need to wait until we get gps merged in directly, but that should hopefully happen pretty soon, now.

[2017-04-25 14:13] darkowlzz commented on #460
Has anybody started working on this? I would be very happy to work on this and get familiar with the code base.